Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

Add monkey_patching for cnn14 to handle torchaudio versions
  mteb/models/model_implementations/cnn14_model.py
Due: lint

Fix Sewd Model revision
  mteb/models/model_implementations/sewd_models.py
Due: lint

Add torch.no_grad to speecht5
  mteb/models/model_implementations/speecht5_models.py
Due: lint

Add Safey check for vggish
  mteb/models/model_implementations/vggish_models.py
Due: lint

Add proper wav2clip text encoder
  mteb/models/model_implementations/wav2clip_model.py
Due: lint

Add safety check to yamnet
  mteb/models/model_implementations/yamnet_models.py
Due: lint

Fix CV17/CV21 languages + Use new revision paths
  mteb/tasks/audio/any_2_any_retrieval/common_voice.py
Due: lint, format-tasks-citations

Update music_caps dataset path
  mteb/tasks/audio/any_2_any_retrieval/music_caps.py
Due: lint, format-tasks-citations

Fix sound_desc dataset name typo
  mteb/tasks/audio/any_2_any_retrieval/sound_descs.py
Due: lint, format-tasks-citations

Make birdset dataset handling more efficient
  mteb/tasks/audio/audio_multilabel_classification/eng/bird_set.py
Due: lint, format-tasks-citations

Use new subsampled version of fsd50_mini
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd50_hf.py
Due: lint, format-tasks-citations

fix speechcommands column name
  mteb/tasks/audio/audio_zeroshot_classification/eng/speech_commands.py
Due: lint, format-tasks-citations

Filter out empty samples in voice_gender_clustering
  mteb/tasks/audio/clustering/eng/voice_gender.py
Due: lint, format-tasks-citations

Fix label column name + Filter out empty audio samples
  mteb/tasks/audio/clustering/eng/vox_populi_accent_clustering.py
Due: lint, format-tasks-citations

Add missing import in init files
  mteb/tasks/audio/any_2_any_retrieval/__init__.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/__init__.py
Due: lint, format-tasks-citations

2.6.5
  pyproject.toml
Due: none

Add torch.no_grad to speecht5 (#3862)
  mteb/models/model_implementations/speecht5_models.py
Due: lint

Add proper text batching to Muq Model (#3856)
  mteb/models/model_implementations/muq_mulan_model.py
Due: lint

Update music_caps dataset path (#3854)
  mteb/tasks/audio/any_2_any_retrieval/music_caps.py
Due: lint, format-tasks-citations

[ADD] TVPLRetrieval description
  mteb/tasks/retrieval/vie/__init__.py
  mteb/tasks/retrieval/vie/climate_fevervn_retrieval.py
  mteb/tasks/retrieval/vie/db_pedia_vn_retrieval.py
  mteb/tasks/retrieval/vie/fevervn_retrieval.py
  mteb/tasks/retrieval/vie/green_node_table_markdown_retrieval.py
  mteb/tasks/retrieval/vie/hotpot_qavn_retrieval.py
  mteb/tasks/retrieval/vie/msmarcovn_retrieval.py
  mteb/tasks/retrieval/vie/nqvn_retrieval.py
  mteb/tasks/retrieval/vie/tvpl_retrieval.py
  mteb/tasks/retrieval/vie/vie_qu_ad_retrieval.py
  mteb/tasks/retrieval/vie/zac_legal_text_retrieval.py
Due: lint, format-tasks-citations

dataset: Vietnamese VN-MTEB TVPLRetrieval, NanoClimateFEVER-VN, NanoFEVER-VN, NanoDBPedia-VN, NanoNQ-VN, NanoHotpotQA-VN, NanoMSMARCO-VN (#3810)
  mteb/descriptive_stats/Retrieval/NanoClimateFEVER-VN.json
  mteb/descriptive_stats/Retrieval/NanoDBPedia-VN.json
  mteb/descriptive_stats/Retrieval/NanoFEVER-VN.json
  mteb/descriptive_stats/Retrieval/NanoHotpotQA-VN.json
  mteb/descriptive_stats/Retrieval/NanoMSMARCO-VN.json
  mteb/descriptive_stats/Retrieval/NanoNQ-VN.json
  mteb/descriptive_stats/Retrieval/TVPLRetrieval.json
  mteb/tasks/retrieval/vie/__init__.py
  mteb/tasks/retrieval/vie/climate_fevervn_retrieval.py
  mteb/tasks/retrieval/vie/db_pedia_vn_retrieval.py
  mteb/tasks/retrieval/vie/fevervn_retrieval.py
  mteb/tasks/retrieval/vie/hotpot_qavn_retrieval.py
  mteb/tasks/retrieval/vie/msmarcovn_retrieval.py
  mteb/tasks/retrieval/vie/nqvn_retrieval.py
  mteb/tasks/retrieval/vie/tvpl_retrieval.py
  mteb/tasks/retrieval/vie/zac_legal_text_retrieval.py
Due: lint, format-tasks-citations

test: Add CI workflow for HF Space Dockerfile validation
  .github/workflows/hf_space_docker.yml
Due: none

Add MAEB(audio-text) benchmark and improve task selection notebook
  mteb/benchmarks/benchmarks/benchmarks.py
  scripts/task_selection/task_selection_maeb_corr_and_cluster_mieb_method.py
Due: lint, format-benchmarks-citations

test: Add tests for _load_quickcache_from_remote method
  tests/test_result_cache.py
Due: lint

Add "no_revision" to revision field
  mteb/models/model_implementations/msclap_models.py
Due: lint

Move Imports + Link API
  mteb/models/model_implementations/msclap_models.py
Due: lint

Expand MAEB(audio-text) to full collection and fix msclap revision
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/models/model_implementations/msclap_models.py
Due: lint, format-benchmarks-citations

add missing files
  mteb/benchmarks/benchmarks/__init__.py
Due: lint, format-benchmarks-citations

Add LaTeX table generation script for MAEB benchmarks
  scripts/generate_maeb_latex_table.py
Due: lint

Add no_revision to revision field
  mteb/models/model_implementations/wav2clip_model.py
Due: lint

make lint
  scripts/task_selection/task_selection_maeb_corr_and_cluster_mieb_method.py
Due: lint

Added clip revision + torch padding
  mteb/models/model_implementations/wav2clip_model.py
Due: lint

test: Add HF Space Dockerfile using pre-built leaderboard image (#3838)
  .github/workflows/hf_space_docker.yml
  Dockerfile.hf-space
Due: none

Fix model revisions
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/speecht5_models.py
Due: lint

fix: Address type errors and formatting issues in _load_quickcache_from_remote implementation
  mteb/cache.py
  tests/test_result_cache.py
Due: lint

The pooling + dp fails to run.
  mteb/models/vllm_wrapper.py
Due: lint

delete script
  add_paramter_to_modelmeta.py
Due: lint

update bflhc/Octen-Embedding-8B revision
  mteb/models/model_implementations/octen_models.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
