Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

2.13.1
  pyproject.toml
Due: none

Update codefuse_models.py (#4643)
  mteb/models/model_implementations/codefuse_models.py
Due: lint

feat: always compute AMI alongside V-measure in clustering
  mteb/abstasks/clustering.py
Due: lint

refactor: move metric_funcs inside _evaluate_clustering_bootstrapped
  mteb/abstasks/clustering.py
Due: lint

test: cover v_measure + ami in clustering evaluation
  tests/test_abstasks/test_clustering_metrics.py
Due: lint

Save results for every hf_subset instead of task
  mteb/abstasks/abstask.py
  mteb/evaluate.py
Due: lint

revert loader for 100k, 500k, and 1M variant to Model2VecModel
  mteb/models/model_implementations/model2vec_models.py
Due: lint

rename variable
  mteb/abstasks/abstask.py
Due: lint

bump revisions
  mteb/models/model_implementations/model2vec_models.py
Due: lint

updated revision for rest of models
  mteb/models/model_implementations/andersborges.py
  mteb/models/model_implementations/model2vec_models.py
Due: lint

added evaluation phases merging logic and fix typecheck
  mteb/abstasks/retrieval.py
  mteb/abstasks/text/reranking.py
  mteb/results/task_result.py
  mteb/timing.py
Due: lint

added * seprator at all places in load_data
  mteb/abstasks/abstask.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/text/reranking.py
Due: lint

review: move video/audio defaults from wrapper __init__ to loader_kwargs
  mteb/models/model_implementations/jina_models.py
Due: lint

convert to mteb format
  mteb/_evaluators/retrieval_metrics.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/lmeb_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

rename stats
  mteb/descriptive_stats/Retrieval/LMEBMLDR.json
  mteb/descriptive_stats/Retrieval/ProceduralMemBench.json
Due: none

Fix/jina v5 omni video audio kwargs (#4652)
  mteb/models/model_implementations/jina_models.py
Due: lint

fix: route MIEB/MAEB task-types to correct LoRA adapter for jina v5 omni
  mteb/models/model_implementations/jina_models.py
Due: lint

changes from review
  mteb/timing.py
Due: lint

Fix LMEB metadata and retrieval metric typing
  mteb/_evaluators/retrieval_metrics.py
  mteb/tasks/retrieval/eng/lmeb_retrieval.py
Due: lint, format-tasks-citations

fix task
  mteb/abstasks/classification.py
  tests/mock_models.py
  tests/test_evaluate.py
Due: lint

set max frames
  mteb/models/model_implementations/facebook_jepa.py
Due: lint

Depreciate Model2VecModel and use SentenceTransformerEncoderWrapper instead (#4649)
  mteb/models/model_implementations/andersborges.py
  mteb/models/model_implementations/model2vec_models.py
  mteb/models/model_implementations/rasgaard_models.py
Due: lint

fix revision
  mteb/tasks/retrieval/eng/lmeb_retrieval.py
Due: lint, format-tasks-citations

fix subset name
  mteb/tasks/retrieval/eng/lmeb_retrieval.py
Due: lint, format-tasks-citations

try to fix
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

use finetuned config
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

add coreb retrieval tasks
  mteb/tasks/retrieval/code/__init__.py
  mteb/tasks/retrieval/code/coreb_retrieval.py
Due: lint, format-tasks-citations

lint
  mteb/tasks/retrieval/code/coreb_retrieval.py
Due: lint, format-tasks-citations

fix reme
  mteb/tasks/retrieval/eng/lmeb_retrieval.py
Due: lint, format-tasks-citations

added split/subset at all places
  mteb/evaluate.py
  mteb/results/task_result.py
  mteb/timing.py
Due: lint

change split/subset in other functions as well
  mteb/timing.py
Due: lint

add coreb reranking tasks
  mteb/tasks/reranking/__init__.py
  mteb/tasks/reranking/code/__init__.py
  mteb/tasks/reranking/code/coreb_reranking.py
Due: lint, format-tasks-citations

lint
  mteb/tasks/reranking/code/__init__.py
  mteb/tasks/reranking/code/coreb_reranking.py
Due: lint, format-tasks-citations

Re-upload dataset via push_dataset_to_hub, remove custom load_data
  mteb/tasks/retrieval/code/swebench_code_retrieval.py
Due: lint, format-tasks-citations

add descriptive statistics for SWEbenchCodeRetrieval
  mteb/descriptive_stats/Retrieval/SWEbenchCodeRetrieval.json
Due: none

feat: Add SWEbenchCodeRetrieval task for RTEB
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
  mteb/tasks/retrieval/code/__init__.py
  mteb/tasks/retrieval/code/swebench_code_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

add statistics
  mteb/descriptive_stats/Reranking/CorebC2CReranking.json
  mteb/descriptive_stats/Reranking/CorebC2TReranking.json
  mteb/descriptive_stats/Reranking/CorebT2CReranking.json
  mteb/descriptive_stats/Retrieval/CorebC2CRetrieval.json
  mteb/descriptive_stats/Retrieval/CorebC2TRetrieval.json
  mteb/descriptive_stats/Retrieval/CorebT2CRetrieval.json
Due: none

Remove SWEbenchCodeRetrieval from RTEB benchmarks for now
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

updated revision of all models
  mteb/models/model_implementations/bge_vl_models.py
Due: lint

dataset: Add SWEbenchCodeRetrieval task for RTEB (#4365)
  mteb/descriptive_stats/Retrieval/SWEbenchCodeRetrieval.json
  mteb/tasks/retrieval/code/__init__.py
  mteb/tasks/retrieval/code/swebench_code_retrieval.py
Due: lint, format-tasks-citations
