Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix: skip top_ranked ids missing from queries in cross-encoder search
  mteb/models/search_wrappers.py
  tests/test_models/test_search_cross_encoder.py
Due: lint

model: add KURE-Reranker-base and KURE-Reranker-nano
  mteb/models/model_implementations/korean_models.py
Due: lint

Remove TREC-DL(RCP) tasks and benchmark
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Retrieval/TRECDL2019RCPRetrieval.json
  mteb/descriptive_stats/Retrieval/TRECDL2020RCPRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/trecdl_rcp_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-benchmarks-citations, format-tasks-citations

Read model files as UTF-8 in extract_model_names.py
  scripts/extract_model_names.py
Due: lint

Set embed_dim for KURE rerankers and drop section banner
  mteb/models/model_implementations/korean_models.py
Due: lint

fix: skip top_ranked ids missing from queries in cross-encoder search (#5573)
  mteb/models/search_wrappers.py
  tests/test_models/test_search_cross_encoder.py
Due: lint

2.22.3
  pyproject.toml
Due: none

Drop embed_dim from KURE rerankers
  mteb/models/model_implementations/korean_models.py
Due: lint

fix: read model files as UTF-8 in extract_model_names.py (#5575)
  scripts/extract_model_names.py
Due: lint

2.22.4
  pyproject.toml
Due: none

add encodign everywhere
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_models.py
  docs/overview/create_available_tasks.py
  mteb/abstasks/abstask.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/task_metadata.py
  mteb/api/frames.py
  mteb/cache/result_cache.py
  mteb/deprecated_evaluator.py
  mteb/languages/iso_mappings.py
  mteb/load_results.py
  mteb/models/cache_wrappers/cache_backends/faiss_cache.py
  mteb/models/cache_wrappers/cache_backends/numpy_cache.py
  mteb/results/benchmark_results.py
  mteb/results/model_result.py
  mteb/results/task_result.py
  mteb/tasks/zeroshot_classification/eng/country211.py
  mteb/tasks/zeroshot_classification/eng/gtsrb.py
  mteb/tasks/zeroshot_classification/eng/imagenet1k.py
  mteb/tasks/zeroshot_classification/eng/patch_camelyon.py
  pyproject.toml
  tests/test_abstasks/test_predictions.py
  tests/test_cli.py
  tests/test_evaluate.py
  tests/test_models/model_loading.py
  tests/test_result_cache.py
  tests/test_result_cache_load_from_cache.py
  tests/test_results/test_benchmark_results.py
  tests/test_search_index/test_search_index.py
  tests/test_workflow/test_git_actions.py
Due: lint, format-tasks-citations

move scripts
  .github/workflows/update_leaderboard_models.yml
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  pyproject.toml
  tools/__init__.py
  tools/extract_datasets.py
  tools/extract_model_names.py
  tools/format_citations.py
  tools/generate_leaderboard_models.py
  tools/generate_og_images.py
  tools/generate_og_images_mpl.py
  tools/og-template/dots-icon.png
  tools/og-template/template.html
Due: lint

upd lint
  pyproject.toml
  tools/extract_datasets.py
  tools/extract_model_names.py
  tools/format_citations.py
  tools/generate_og_images.py
  tools/generate_og_images_mpl.py
Due: lint

add comment to pyproject
  pyproject.toml
Due: none

remove already enabled rules
  pyproject.toml
Due: none

Record retrieval search phases in TimingStack
  mteb/_evaluators/retrieval_evaluator.py
  mteb/models/hybrid_wrappers.py
  mteb/models/model_implementations/bb25.py
  mteb/models/model_implementations/bm25.py
  mteb/models/model_implementations/pylate_models.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/models_protocols.py
  mteb/models/openai_wrappers.py
  mteb/models/search_wrappers.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

Compute similarities on the available accelerator
  mteb/similarity_functions.py
Due: lint

Keep multi-vector embeddings off the GPU between encoding and scoring
  mteb/models/model_implementations/topk_embed_v1.py
  mteb/models/search_wrappers.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

fix: batch_size=1 dataloader for per-clip audio, reject zero caps
  mteb/models/modality_collators.py
  mteb/models/model_implementations/cnn14_model.py
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/msclap_models.py
  mteb/models/model_implementations/seamlessm4t_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/vggish_models.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/wavlm_models.py
  mteb/models/model_implementations/whisper_models.py
  mteb/models/model_implementations/yamnet_models.py
  tests/test_models/test_modality_collators.py
Due: lint

remove str fallback
  tools/extract_datasets.py
Due: lint

Pass the timer to search() instead of storing it on the wrapper
  mteb/_evaluators/retrieval_evaluator.py
  mteb/models/search_wrappers.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

Add KURE-Reranker training data
  mteb/models/model_implementations/korean_models.py
Due: lint

model: add KURE-Reranker-base and KURE-Reranker-nano (#5574)
  mteb/models/model_implementations/korean_models.py
Due: lint

Score ragged inputs in max_sim in groups of similar length
  mteb/similarity_functions.py
  tests/test_similarity_functions.py
Due: lint

Reuse the token-budget grouping from similarity_functions in MultiVectorWrapper
  mteb/models/sentence_transformer_wrapper.py
Due: lint

simplify comments
  mteb/models/sentence_transformer_wrapper.py
  mteb/similarity_functions.py
  tests/test_similarity_functions.py
Due: lint

fix: Add file encodings everywhere (#5577)
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_models.py
  docs/overview/create_available_tasks.py
  mteb/abstasks/abstask.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/task_metadata.py
  mteb/api/frames.py
  mteb/cache/result_cache.py
  mteb/deprecated_evaluator.py
  mteb/languages/iso_mappings.py
  mteb/load_results.py
  mteb/models/cache_wrappers/cache_backends/faiss_cache.py
  mteb/models/cache_wrappers/cache_backends/numpy_cache.py
  mteb/results/benchmark_results.py
  mteb/results/model_result.py
  mteb/results/task_result.py
  mteb/tasks/zeroshot_classification/eng/country211.py
  mteb/tasks/zeroshot_classification/eng/gtsrb.py
  mteb/tasks/zeroshot_classification/eng/imagenet1k.py
  mteb/tasks/zeroshot_classification/eng/patch_camelyon.py
  tests/test_abstasks/test_predictions.py
  tests/test_cli.py
  tests/test_evaluate.py
  tests/test_models/model_loading.py
  tests/test_result_cache.py
  tests/test_result_cache_load_from_cache.py
  tests/test_results/test_benchmark_results.py
  tests/test_search_index/test_search_index.py
  tests/test_workflow/test_git_actions.py
Due: lint, format-tasks-citations

Compute similarities on the available accelerator (#5579)
  mteb/models/model_implementations/topk_embed_v1.py
  mteb/models/search_wrappers.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/similarity_functions.py
  tests/test_similarity_functions.py
Due: lint

2.22.5
  pyproject.toml
Due: none

fix: SeamlessM4T crashed on every input with transformers 5
  mteb/models/model_implementations/seamlessm4t_models.py
Due: lint

Apply batched suggestions from code review
  mteb/tasks/clustering/spa/spanish_wiki_clustering_p2p.py
Due: lint, format-tasks-citations

Add ModelMeta for alphabrothers/alpha-sts-v0
  mteb/models/model_implementations/alphabrothers_models.py
Due: lint

marked core to test and test modules which can be run on mteb-core
  Makefile
  pyproject.toml
  tests/conftest.py
  tests/test_benchmarks/test_benchmark_score.py
  tests/test_benchmarks/test_create_table.py
  tests/test_benchmarks/test_get_benchmarks.py
  tests/test_benchmarks/test_names_must_be_unique.py
  tests/test_ensure_no_torch_at_import.py
  tests/test_filter_tasks.py
  tests/test_get_tasks.py
  tests/test_import_hygiene.py
  tests/test_languages.py
  tests/test_models/test_model_meta.py
  tests/test_result_cache_load_from_cache.py
  tests/test_results/test_benchmark_results.py
  tests/test_results/test_model_results.py
  tests/test_results/test_task_results.py
  tests/test_validate_metadata/test_citation_formatting.py
Due: lint

added mteb.api.app, mteb.data_cleaning and mteb.leaderboard so they will not import top-level torch in future
  tests/test_ensure_no_torch_at_import.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
