Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

remove vs
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Custom task grouping for leaderboard (#5174)
  mteb/api/aggregators.py
  mteb/api/app.py
  mteb/api/schemas.py
  mteb/benchmarks/_benchmark_metrics.py
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  tests/test_api/__init__.py
  tests/test_api/test_aggregators.py
  tests/test_benchmarks/test_benchmark_score.py
  tests/test_benchmarks/test_create_table.py
  tests/test_benchmarks/test_get_benchmarks.py
Due: lint, format-benchmarks-citations

Use MultiVectorWrapper
  mteb/models/model_implementations/topk_embed_v1.py
Due: lint

.
  pyproject.toml
Due: none

fix upload
  mteb/results/benchmark_results.py
Due: lint

Leaderboard integation with experiments (#4900)
  mteb/api/adapters.py
  mteb/api/aggregators.py
  mteb/api/frames.py
  mteb/api/schemas.py
  mteb/benchmarks/_create_table.py
  mteb/cache/result_cache.py
  mteb/models/model_meta.py
  mteb/results/benchmark_results.py
  mteb/results/model_result.py
  tests/test_benchmarks/test_create_table.py
  tests/test_models/test_model_meta.py
  tests/test_result_cache.py
  tests/test_result_cache_load_from_cache.py
  tests/test_results/test_benchmark_results.py
Due: lint, format-benchmarks-citations

update CI, remoce unnecessary tests and changes from review
  .github/workflows/test.yml
  Makefile
  mteb/_requires_package.py
  mteb/cli/build_cli.py
  mteb/evaluate.py
  mteb/models/model_meta.py
  pyproject.toml
  scripts/build_core_package.py
  tests/test_build_core_package.py
  tests/test_ensure_no_torch_at_import.py
  tests/test_evaluate.py
  tests/test_results/test_task_results.py
  tests/test_set_seed.py
Due: lint

feat: add expandable organization groups to leaderboard
  mteb/leaderboard/app.py
  mteb/leaderboard/organization.py
  mteb/leaderboard/table.py
  scripts/make_leaderboard.py
  tests/test_leaderboard_organization.py
Due: lint

model: add nvidia/llama-nemotron-rerank-vl-1b-v2
  mteb/models/model_implementations/nvidia_nemotron_vl_models.py
Due: lint

model: add nvidia/llama-nemotron-rerank-vl-1b-v2 (#5565)
  mteb/models/model_implementations/nvidia_nemotron_vl_models.py
Due: lint

add full_install to test requiring torch
  tests/test_results/test_benchmark_results.py
Due: lint

updates test naming, rename Filter and other changes from review
  docs/get_started/advanced_usage/cleaning_task_data.md
  mteb/data_cleaning/_filters.py
  mteb/data_cleaning/_retrieval.py
  tests/test_data_cleaning.py
Due: lint

refactor and move filter to individual files
  mteb/data_cleaning/__init__.py
  mteb/data_cleaning/_content_size.py
  mteb/data_cleaning/_duplicates.py
  mteb/data_cleaning/_filtering.py
  mteb/data_cleaning/_retrieval.py
  tests/test_data_cleaning.py
Due: lint

upd prescision
  tests/test_integrations/test_integration_with_datasets.py
Due: lint

test: check final scores in model-task integrations (#5321)
  tests/test_integrations/_model_info.py
  tests/test_integrations/test_integration_with_datasets.py
  tests/test_integrations/test_integration_with_sentencetransformers.py
  tests/test_integrations/test_model_task.py
Due: lint

modified each filter to act both as lower and upper bound
  docs/get_started/advanced_usage/cleaning_task_data.md
  docs/whats_new.md
  mteb/data_cleaning/__init__.py
  mteb/data_cleaning/_content_size.py
  mteb/data_cleaning/_filtering.py
  tests/test_data_cleaning.py
Due: lint

added quantile feature
  docs/get_started/advanced_usage/cleaning_task_data.md
  docs/whats_new.md
  mteb/data_cleaning/__init__.py
  mteb/data_cleaning/_content_size.py
  mteb/data_cleaning/_filtering.py
  tests/test_data_cleaning.py
Due: lint

remove benchmark file
  scripts/benchmark_core_package.py
Due: lint

add source datasets
  mteb/models/model_implementations/topk_embed_v1.py
Due: lint

fix: batch layer-norm speech encoders, share audio cap helpers
  mteb/models/modality_collators.py
  mteb/models/model_implementations/ast_model.py
  mteb/models/model_implementations/audio_flamingo.py
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/encodec_model.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/qwen3_voice_models.py
  mteb/models/model_implementations/seamlessm4t_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/voiceclap_models.py
  mteb/models/model_implementations/wav2clip_model.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/wavlm_models.py
  tests/test_models/test_audio_batch_independence.py
  tests/test_models/test_modality_collators.py
Due: lint

docs: what's new entry for the audio and video input changes
  docs/whats_new.md
Due: none

update tasks
  mteb/models/model_implementations/topk_embed_v1.py
Due: lint

feat: add Benchmark.task_metric_overrides for per-benchmark metric selection
  mteb/api/aggregators.py
  mteb/api/schemas.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/get_benchmark.py
  mteb/cache/result_cache.py
  mteb/leaderboard/app.py
  mteb/load_results.py
  mteb/results/benchmark_results.py
  mteb/results/task_result.py
  scripts/bench_leaderboard.py
  tests/test_api/test_aggregators.py
  tests/test_benchmarks/test_benchmark_score.py
  tests/test_result_cache_load_from_cache.py
  tests/test_results/test_benchmark_results.py
  tests/test_results/test_task_results.py
Due: lint, format-benchmarks-citations

test: update random-baseline video scores for evenly spaced frames
  tests/test_integrations/test_model_task.py
Due: lint

scripts: reproduce decontaminated BEIR with registered BGE models
  scripts/reproduce_decontaminated_beir.py
Due: lint

fix: cite the published LightOn decontamination release
  mteb/tasks/retrieval/eng/decontaminated_beir.py
  tests/test_validate_metadata/citation_allowlist.json
Due: lint, format-tasks-citations

scripts: allow separate FP16 reproduction runs
  scripts/reproduce_decontaminated_beir.py
Due: lint

scripts: use float32 embeddings for retrieval scoring
  scripts/reproduce_decontaminated_beir.py
Due: lint

scripts: show encoding progress for long corpus runs
  scripts/reproduce_decontaminated_beir.py
Due: lint

model: add ColNanoVDR late-interaction query towers (ColVec1.1-4b/8b) (#5518)
  mteb/models/model_implementations/colnanovdr_models.py
  mteb/models/model_implementations/nanovdr_models.py
  pyproject.toml
Due: lint

fix: point NeuCLIR2023Retrieval to the 2023 dataset
  mteb/descriptive_stats/Retrieval/NeuCLIR2023Retrieval.json
  mteb/tasks/retrieval/multilingual/neu_clir2023_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

fix: reproduce decontaminated ArguAna and SciDocs protocols
  mteb/descriptive_stats/Retrieval/SciDocsDecontaminated.json
  mteb/tasks/retrieval/eng/decontaminated_beir.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

changes from review
  mteb/models/model_meta.py
  pyproject.toml
  tests/test_ensure_no_torch_at_import.py
  tests/test_results/test_benchmark_results.py
Due: lint

removed custom quantile class
  docs/get_started/advanced_usage/cleaning_task_data.md
  docs/whats_new.md
  mteb/data_cleaning/__init__.py
  mteb/data_cleaning/_content_size.py
  tests/test_data_cleaning.py
Due: lint

define the v2 multilabel tasks as standalone classes
  mteb/tasks/multilabel_classification/eng/fsd2019_kaggle.py
  mteb/tasks/multilabel_classification/eng/pascal_voc2007.py
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
  mteb/tasks/multilabel_classification/multilingual/multi_eurlex_multilabel_classification.py
  mteb/tasks/multilabel_classification/nld/vabb_multi_label_classification.py
Due: lint, format-tasks-citations

fix: point NeuCLIR2023Retrieval to the 2023 dataset (#5570)
  mteb/descriptive_stats/Retrieval/NeuCLIR2023Retrieval.json
  mteb/tasks/retrieval/multilingual/neu_clir2023_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

2.22.2
  pyproject.toml
Due: none

dataset: add decontaminated BEIR retrieval suite (#5448)
  mteb/descriptive_stats/Retrieval/ArguAnaDecontaminated.json
  mteb/descriptive_stats/Retrieval/FiQADecontaminated.json
  mteb/descriptive_stats/Retrieval/NFCorpusDecontaminated.json
  mteb/descriptive_stats/Retrieval/QuoraRetrievalDecontaminated.json
  mteb/descriptive_stats/Retrieval/SciDocsDecontaminated.json
  mteb/descriptive_stats/Retrieval/SciFactDecontaminated.json
  mteb/descriptive_stats/Retrieval/Touche2020Decontaminated.json
  mteb/descriptive_stats/Retrieval/TrecCOVIDDecontaminated.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/decontaminated_beir.py
  scripts/reproduce_decontaminated_beir.py
  tests/test_models/test_model_meta.py
  tests/test_tasks/test_task_quality.py
  tests/test_validate_metadata/citation_allowlist.json
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
