Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

task: add uCO3D object-instance retrieval (i2v, v2v, t2v)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/UCO3DI2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/UCO3DT2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/UCO3DV2VRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/uco3d_retrieval.py
Due: lint, format-tasks-citations

task: add Greatest Hits audio-video material retrieval (a2v, v2a)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GreatestHitsA2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GreatestHitsV2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/greatest_hits_retrieval.py
Due: lint, format-tasks-citations

Add Hanno-Labs/dinghy-law-4b-v1 (legal embedding model)
  mteb/models/model_implementations/hanno_labs_models.py
Due: lint

Apply suggestions from code review
  mteb/models/model_implementations/hanno_labs_models.py
Due: lint

Add Hanno-Labs/dinghy-law-4b-v1 (legal embedding model) (#4992)
  mteb/models/model_implementations/hanno_labs_models.py
Due: lint

[MOEB]: Add Covers80 dataset (#4986)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/Covers80A2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/covers80_retrieval.py
  scripts/data/covers80_retrieval/create_data.py
Due: lint, format-tasks-citations

review: set languages and drop unneeded extras for SigLIP2
  mteb/models/model_implementations/siglip_models.py
Due: lint

Add KiteFishAI/Nano-Em1-0.6B-v2
  mteb/models/model_implementations/qwen3_models.py
Due: lint

Update mteb/tasks/retrieval/zxx/song_describer.py
  mteb/tasks/retrieval/zxx/song_describer.py
Due: lint, format-tasks-citations

simplifying implementation with AESDD fixed
  mteb/tasks/classification/ell/aesdd.py
Due: lint, format-tasks-citations

add the descriptive stats
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FLAREAudioT2VARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FLAREUnifiedT2VARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FLAREVisionT2VRetrieval.json
Due: none

fix: Update method signatures across Slovak tasks to standardize `dataset_transform` and `load_data` definitions
  mteb/tasks/bitext_mining/slk/opus_slovak_english_bitext_mining.py
  mteb/tasks/classification/slk/csfdsk_movie_review_sentiment_classification.py
  mteb/tasks/classification/slk/slovak_movie_review_sentiment_classification.py
  mteb/tasks/classification/slk/slovak_parla_sent_classification.py
  mteb/tasks/clustering/slk/pravda_sk_clustering.py
  mteb/tasks/clustering/slk/slovak_sum_url_clustering.py
  mteb/tasks/clustering/slk/sme_sum_category_clustering.py
  mteb/tasks/retrieval/slk/sk_quad_retrieval.py
  mteb/tasks/retrieval/slk/slovak_sum_retrieval.py
  mteb/tasks/retrieval/slk/sme_sum_retrieval.py
Due: lint, format-tasks-citations

model: add SigLIP2 family (15 checkpoints) (#4973)
  mteb/models/model_implementations/siglip_models.py
Due: lint

task: add CASTELLA audio moment retrieval (t2a) (#4984)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CASTELLAAMRRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/castella_amr.py
Due: lint, format-tasks-citations

Update model revision hash in qwen3_models.py
  mteb/models/model_implementations/qwen3_models.py
Due: lint

[MOEB] Add MIAO-based datasets
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/miao_retrieval.py
  scripts/data/miao_retrieval/create_data.py
Due: lint, format-tasks-citations

add descriptive stats
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MIAOA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MIAOI2ARetrieval.json
Due: none

Update Nano-Em1-0.6B-v2 model metadata
  mteb/models/model_implementations/qwen3_models.py
Due: lint

[MOEB] Add AESDD dataset (#4978)
  mteb/descriptive_stats/AudioClassification/AESDD.json
  mteb/tasks/classification/ell/__init__.py
  mteb/tasks/classification/ell/aesdd.py
Due: lint, format-tasks-citations

Address structural separator review feedback
  mteb/models/model_implementations/bge_structural_separator.py
  tests/test_models/test_bge_structural_separator.py
Due: lint

update links to code for Nemotron models
  mteb/models/model_implementations/nvidia_models.py
Due: lint

Update links to code for Nemotron models (#5002)
  mteb/models/model_implementations/nvidia_models.py
Due: lint

Update qwen3_models.py
  mteb/models/model_implementations/qwen3_models.py
Due: lint

task: also use recall_at_5 for Song Describer A2T (consistency)
  mteb/tasks/retrieval/zxx/song_describer.py
Due: lint, format-tasks-citations

task: add Song Describer text-music retrieval (t2a, a2t) (#4988)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SongDescriberA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SongDescriberT2ARetrieval.json
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/song_describer.py
Due: lint, format-tasks-citations

fix(bm25): fall back to language-agnostic tokenization for unknown languages
  mteb/models/model_implementations/bm25.py
Due: lint

Fix SIB200Classification.v2 dataset configuration
  mteb/tasks/classification/multilingual/sib200_classification.py
Due: lint, format-tasks-citations

model: add webAI ColVec1.1 models
  mteb/models/model_implementations/webai_models.py
Due: lint

edit create data
  scripts/data/miao_retrieval/create_data.py
Due: lint

[MOEB] Add models multi-modal-embed
  mteb/models/model_implementations/semantic_router_multimodal_models.py
Due: lint

Refactor training datasets format in qwen3_models.py
  mteb/models/model_implementations/qwen3_models.py
Due: lint

update description
  mteb/tasks/retrieval/eng/miao_retrieval.py
Due: lint, format-tasks-citations

fix URL
  mteb/tasks/retrieval/eng/flare_retrieval.py
Due: lint, format-tasks-citations

model: add ViCLIP video-language model (L-14, B-16)
  mteb/models/model_implementations/viclip_models.py
Due: lint

style: fix ruff formatting in viclip_models.py
  mteb/models/model_implementations/viclip_models.py
Due: lint

feat: add ImageBind model wrapper (Track 4, MOEB)
  mteb/models/model_implementations/imagebind_models.py
  pyproject.toml
Due: lint

fix: ruff lint fixes in imagebind_models.py
  mteb/models/model_implementations/imagebind_models.py
Due: lint
