Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

Apply suggestions from code review
  mteb/models/model_implementations/gte_models.py
Due: lint

model: add StaRSE model (#4936)
  mteb/models/model_implementations/ru_sentence_models.py
Due: lint

fix: load gte-Qwen2-7B-instruct in bf16 with trust_remote_code (#4935)
  mteb/models/model_implementations/gte_models.py
Due: lint

2.18.3
  pyproject.toml
Due: none

Enhance tensor conversion for floating point types
  mteb/similarity_functions.py
Due: lint

feat: add VllmEndpointWrapper for HTTP-based vLLM servers
  docs/get_started/advanced_usage/vllm_wrapper.md
  mteb/models/__init__.py
  mteb/models/vllm_endpoint_wrapper.py
  tests/test_models/test_vllm_endpoint_wrapper.py
Due: lint

style: format test file
  tests/test_models/test_openai_api_wrapper.py
Due: lint

feat: add OpenAIRerankWrapper and refactor to shared base class
  mteb/models/__init__.py
  mteb/models/openai_api_wrapper.py
  mteb/models/openai_wrappers.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_openai_rerank_wrapper.py
Due: lint

refactor: address PR review feedback
  mteb/models/__init__.py
  mteb/models/openai_api_wrapper.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_vllm_endpoint_wrapper.py
Due: lint

docs: update vLLM documentation for OpenAI-compatible API wrappers
  docs/get_started/advanced_usage/vllm_wrapper.md
  mteb/models/openai_wrappers.py
Due: lint

refactor: rename OpenAI wrapper classes for clarity
  docs/get_started/advanced_usage/vllm_wrapper.md
  mteb/models/__init__.py
  mteb/models/openai_wrappers.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_openai_rerank_wrapper.py
Due: lint

refactor: address PR review feedback on API wrapper design
  mteb/models/openai_wrappers.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_openai_rerank_wrapper.py
Due: lint

fix: resolve CI failures - mypy and test assertions
  mteb/models/openai_wrappers.py
  tests/test_models/test_openai_rerank_wrapper.py
Due: lint

docs: move OpenAI API wrappers to separate documentation page
  docs/get_started/advanced_usage/openai_api_wrappers.md
  docs/get_started/advanced_usage/vllm_wrapper.md
  mkdocs.yml
Due: none

fix: handle empty input in encode() and predict() methods
  mteb/models/openai_wrappers.py
Due: lint

style: remove unused noqa directives for PLR6301
  tests/mock_models.py
  tests/mock_tasks.py
  tests/test_evaluate.py
  tests/test_evaluators/test_ClusteringEvaluator.py
  tests/test_evaluators/test_PairClassificationEvaluator.py
  tests/test_evaluators/test_classification_metrics.py
  tests/test_integrations/test_encode_args_passed.py
  tests/test_integrations/test_prompts.py
  tests/test_models/test_cached_embedding_wrapper.py
  tests/test_result_cache.py
  tests/test_result_cache_load_from_cache.py
  tests/test_results/test_task_results.py
Due: lint

fix(EmotionAnalysisPlus): handle empty validation split + load real train split
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
Due: lint, format-tasks-citations

leaderboard: add MTEB(por, v1) to Language-specific section
  mteb/benchmarks/_leaderboard_menu.py
Due: lint, format-benchmarks-citations

run make lint
  mteb/benchmarks/_leaderboard_menu.py
Due: lint, format-benchmarks-citations

leaderboard: add MTEB(por, v1) to Language-specific section (#4938)
  mteb/benchmarks/_leaderboard_menu.py
Due: lint, format-benchmarks-citations

agentic: answer-mode retrieval benchmark (full pipeline)
  .gitignore
  mteb/agentic/README.md
  mteb/agentic/__init__.py
  mteb/agentic/corpus.py
  mteb/agentic/data.py
  mteb/agentic/evaluate.py
  mteb/agentic/evaluator.py
  mteb/agentic/harbor.py
  mteb/agentic/interface.py
  mteb/agentic/metrics.py
  mteb/agentic/models.py
  mteb/agentic/retrievers.py
  mteb/agentic/systems/__init__.py
  mteb/agentic/systems/_common.py
  mteb/agentic/systems/baselines.py
  mteb/agentic/systems/full_context.py
  mteb/agentic/systems/iterative_rag.py
  mteb/agentic/systems/rag.py
  mteb/agentic/systems/rlm.py
  mteb/agentic/systems/search_agent.py
  mteb/agentic/tasks/__init__.py
  mteb/agentic/tasks/browsecomp_plus.py
  mteb/agentic/tasks/hotpotqa.py
  mteb/agentic/tasks/longbench_v2.py
  mteb/agentic/tasks/multihop_rag.py
  mteb/agentic/tasks/musique.py
  mteb/agentic/tasks/oolong.py
  pyproject.toml
  tests/test_agentic.py
Due: lint

Apply suggestions from code review
  mteb/models/model_implementations/e5_omni_models.py
Due: lint

Cap Seq Length for Some Models (#4873)
  mteb/models/model_implementations/e5_omni_models.py
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

task: add MRMR reasoning-intensive multimodal retrieval (5 subsets)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/mrmr_retrieval.py
Due: lint, format-tasks-citations

task: add VimSketch query-by-vocal-imitation retrieval (a2a)
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/vim_sketch_retrieval.py
Due: lint, format-tasks-citations

task: add SPEECH-COCO spoken-caption image retrieval (a2i, i2a)
  mteb/abstasks/task_metadata.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/speech_coco.py
Due: lint, format-tasks-citations

task: add CLD composed audio retrieval (at2a)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/cld_at2a_retrieval.py
Due: lint, format-tasks-citations

model: Add fusion-embedding-2 (EximiusLabs/fusion-embedding-2-2b-preview)
  mteb/models/model_implementations/fusion_embedding_models.py
Due: lint

Cite the shared family paper from both generations
  mteb/models/model_implementations/fusion_embedding_models.py
Due: lint

model: Add fusion-embedding-2 (EximiusLabs/fusion-embedding-2-2b-preview) (#4952)
  mteb/models/model_implementations/fusion_embedding_models.py
Due: lint

test: detect symmetric STS pair leakage
  mteb/abstasks/sts.py
  mteb/types/statistics.py
  tests/mock_tasks.py
  tests/test_abstasks/test_sts_statistics.py
  tests/test_tasks/test_task_quality.py
Due: lint

task: add VimSketch imitation clustering (AudioClustering)
  mteb/tasks/clustering/zxx/__init__.py
  mteb/tasks/clustering/zxx/vim_sketch_clustering.py
Due: lint, format-tasks-citations

task: add MomentSeeker composed video retrieval (it2v, vt2v)
  mteb/abstasks/task_metadata.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/moment_seeker.py
Due: lint, format-tasks-citations

task: add SoundingEarth audio-image retrieval (a2i, i2a)
  mteb/abstasks/task_metadata.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/sounding_earth.py
Due: lint, format-tasks-citations

task: add LoVR clip-to-video retrieval (v2v)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/lovr_c2v.py
Due: lint, format-tasks-citations

Add NanoArguAna duplicate and qrel audit pilot
  experiments/moeb_dataset_audit/audit_exact_duplicates.py
  experiments/moeb_dataset_audit/audit_qrel_inconsistencies.py
  experiments/moeb_dataset_audit/inspect_duplicate_pair.py
  experiments/moeb_dataset_audit/load_one_task.py
Due: lint

add LightOn-rerank models (3 pointwise + 3 listwise)
  mteb/models/model_implementations/lighton_rerank_models.py
  mteb/models/search_wrappers.py
Due: lint

fix: ModelMeta Validation (#4904)
  mteb/cache/result_cache.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
