Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Update mixedbread_ai_models.py
  mteb/models/model_implementations/mixedbread_ai_models.py
Due: lint

model: Adding voyage-4 model (#3927)
  mteb/models/model_implementations/voyage_models.py
Due: lint

remove filter_queries_without_positives and update revision
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/retrieval.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/models/model_implementations/bm25.py
  mteb/tasks/retrieval/eng/bright_v1_1_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

added issue link
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

fix remove mean (Task)
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

lint
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

don't create top ranked if not necessary
  mteb/abstasks/retrieval.py
  mteb/tasks/retrieval/eng/bright_v1_1_retrieval.py
Due: lint, format-tasks-citations

fix vllm link
  docs/advanced_usage/vllm_wrapper.md
Due: none

fix: Minor logging fixes by activate `LOG` rule (#3820)
  docs/mmteb/validate_points.py
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/abstasks/text/reranking.py
  mteb/models/model_implementations/voyage_v.py
  pyproject.toml
  tests/test_models/model_loading.py
Due: lint

2.7.1
  pyproject.toml
Due: none

Update MAEB benchmarks with accurate task counts and documentation scripts
  mteb/benchmarks/benchmarks/benchmarks.py
  scripts/generate_maeb_overview_tables.py
  scripts/plot_maeb_language_counts.py
Due: lint, format-benchmarks-citations

fix: exclude private tasks from Borda rank calculation in RTEB
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

model: add pixie_models
  mteb/models/model_implementations/pixie_models.py
Due: lint

docs: fix vllm broken link (#3936)
  docs/advanced_usage/vllm_wrapper.md
Due: none

Apply lint formatting
  mteb/models/model_implementations/pixie_models.py
Due: lint

model: mixedbread-ai/mxbai-edge-colbert-v0-32m and mixedbread-ai/mxbai-edge-colbert-v0-17m (#3931)
  mteb/models/model_implementations/mdbr_models.py
  mteb/models/model_implementations/mixedbread_ai_models.py
Due: lint

upd vllm type
  mteb/models/vllm_wrapper.py
Due: lint

lintter
  tests/test_models/test_model_meta.py
Due: lint

rename file instead of merging main
  mteb/models/model_implementations/mdbr_models.py
  mteb/models/model_implementations/mixedbread_ai_models.py
Due: lint

fix tests
  tests/test_models/test_model_meta.py
Due: lint

correct tests
  tests/test_models/test_model_meta.py
Due: lint

remove `fill_missing_scores`
  mteb/cache.py
  mteb/results/task_result.py
  tests/test_result_cache.py
Due: lint

model: add pixie_models (#3938)
  mteb/models/model_implementations/pixie_models.py
Due: lint

fix: computation of results with missing scores (#3874)
  mteb/cache.py
  mteb/results/task_result.py
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/BelebeleRetrieval.json
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/model_meta.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/BelebeleRetrieval.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/model_meta.json
  tests/test_result_cache.py
Due: lint

fix: expose `ResultCache` directly as `mteb.ResultCache` (#3912)
  docs/usage/loading_results.md
  docs/whats_new.md
  mteb/__init__.py
  mteb/cache.py
Due: lint

merge in fixes to remove_private (#3940)
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

2.7.2
  pyproject.toml
Due: none

fix image text pair
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
Due: lint

fix num workers
  mteb/_create_dataloaders.py
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
Due: lint

add descriptions to the datasets
  mteb/tasks/audio/audio_classification/eng/expresso.py
  mteb/tasks/audio/audio_classification/eng/globe_v2_age_classification.py
  mteb/tasks/audio/audio_classification/eng/globe_v2_gender_classification.py
Due: lint, format-tasks-citations

add lass and cstr-vctk datasets
  mteb/tasks/audio/any_2_any_retrieval/__init__.py
  mteb/tasks/audio/any_2_any_retrieval/lass.py
  mteb/tasks/audio/audio_classification/eng/__init__.py
  mteb/tasks/audio/audio_classification/eng/cstr_vctk_accent_id.py
  mteb/tasks/audio/audio_classification/eng/cstr_vctk_gender_classification.py
Due: lint, format-tasks-citations

fix: correct inverted unload_data condition in evaluate
  mteb/evaluate.py
  tests/test_evaluate.py
Due: lint

Handle Empty Audio Array + Cache resampler
  mteb/models/model_implementations/msclap_models.py
Due: lint

Rename MAEB benchmark to MAEB+ across entire codebase
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/leaderboard/benchmark_selector.py
  scripts/generate_maeb_overview_tables.py
  scripts/plot_maeb_language_counts.py
Due: lint, format-benchmarks-citations

fix dataset loading
  mteb/abstasks/retrieval.py
Due: lint

update logging
  mteb/abstasks/retrieval_dataset_loaders.py
Due: lint

Delete model total and active parameters - model_parameters.csv
  model total and active parameters - model_parameters.csv
Due: none
