Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

Update pyproject.toml
  pyproject.toml
Due: none

fix - modify summary_table column's type
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
Due: lint

fix - modify summary_table column's type
  mteb/leaderboard/table.py
Due: lint

change to future
  .pre-commit-config.yaml
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/abstasks/_statistics_calculation.py
  mteb/models/model_implementations/colpali_models.py
  mteb/models/model_implementations/gme_v_models.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/nomic_models_vision.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/model_implementations/seed_1_6_embedding_models.py
  mteb/models/model_implementations/voyage_v.py
  mteb/types/_encoder_io.py
Due: lint

change to future
  .pre-commit-config.yaml
Due: none

remove transformers version
  pyproject.toml
Due: none

Add JMTEB-lite datasets
  mteb/tasks/retrieval/jpn/__init__.py
  mteb/tasks/retrieval/jpn/ja_cwir_retrieval_lite.py
  mteb/tasks/retrieval/jpn/jaqket_retrieval_lite.py
  mteb/tasks/retrieval/jpn/miracl_ja_retrieval_lite.py
  mteb/tasks/retrieval/jpn/mr_tydi_ja_retrieval_lite.py
Due: lint, format-tasks-citations

fix nv embed wrapper
  mteb/models/model_implementations/nvidia_models.py
Due: lint

fix typo
  mteb/tasks/retrieval/jpn/miracl_ja_retrieval_lite.py
Due: lint, format-tasks-citations

Added feature to fetch release_date in model_meta
  mteb/models/model_meta.py
Due: lint

Reformat and reupload datasets
  mteb/tasks/retrieval/jpn/ja_cwir_retrieval_lite.py
  mteb/tasks/retrieval/jpn/jaqket_retrieval_lite.py
  mteb/tasks/retrieval/jpn/miracl_ja_retrieval_lite.py
  mteb/tasks/retrieval/jpn/mr_tydi_ja_retrieval_lite.py
Due: lint, format-tasks-citations

Reformat and reupload datasets
  mteb/tasks/reranking/jpn/__init__.py
  mteb/tasks/reranking/jpn/j_qa_ra_reranking_lite.py
  mteb/tasks/reranking/jpn/ja_cwir_reranking_lite.py
Due: lint, format-tasks-citations

Fix
  mteb/models/model_meta.py
Due: lint

make lint
  mteb/models/model_meta.py
Due: lint

Add desc stats
  mteb/descriptive_stats/Reranking/JQaRARerankingLite.json
  mteb/descriptive_stats/Reranking/JaCWIRRerankingLite.json
  mteb/descriptive_stats/Retrieval/JaCWIRRetrievalLite.json
  mteb/descriptive_stats/Retrieval/JaqketRetrievalLite.json
  mteb/descriptive_stats/Retrieval/MIRACLJaRetrievalLite.json
  mteb/descriptive_stats/Retrieval/MrTyDiJaRetrievalLite.json
Due: none

fix: Make `PIL` optional (#3713)
  .pre-commit-config.yaml
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/classification.py
  mteb/models/cache_wrappers/cache_backends/_hash_utils.py
  mteb/models/model_implementations/colpali_models.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/gme_v_models.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/jasper_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/nomic_models_vision.py
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/model_implementations/seed_1_6_embedding_models.py
  mteb/models/model_implementations/voyage_v.py
  mteb/types/_encoder_io.py
  pyproject.toml
  tests/mock_tasks.py
Due: lint

fix citation
  mteb/tasks/retrieval/code/fresh_stack_retrieval.py
Due: lint, format-tasks-citations

2.3.11
  pyproject.toml
Due: none

Fix citation for freshstack (#3726)
  mteb/tasks/retrieval/code/fresh_stack_retrieval.py
Due: lint, format-tasks-citations

Added functionality in get_model_meta file
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
Due: lint

Added repository not found error catch
  mteb/models/model_meta.py
Due: lint

add adapted_from for datasets
  mteb/tasks/reranking/jpn/ja_cwir_reranking_lite.py
  mteb/tasks/retrieval/jpn/ja_cwir_retrieval_lite.py
  mteb/tasks/retrieval/jpn/jaqket_retrieval_lite.py
  mteb/tasks/retrieval/jpn/miracl_ja_retrieval_lite.py
  mteb/tasks/retrieval/jpn/mr_tydi_ja_retrieval_lite.py
Due: lint, format-tasks-citations

dataset: Add JMTEB-lite datasets (#3716)
  mteb/descriptive_stats/Reranking/JQaRARerankingLite.json
  mteb/descriptive_stats/Reranking/JaCWIRRerankingLite.json
  mteb/descriptive_stats/Retrieval/JaCWIRRetrievalLite.json
  mteb/descriptive_stats/Retrieval/JaqketRetrievalLite.json
  mteb/descriptive_stats/Retrieval/MIRACLJaRetrievalLite.json
  mteb/descriptive_stats/Retrieval/MrTyDiJaRetrievalLite.json
  mteb/tasks/reranking/jpn/__init__.py
  mteb/tasks/reranking/jpn/j_qa_ra_reranking_lite.py
  mteb/tasks/reranking/jpn/ja_cwir_reranking_lite.py
  mteb/tasks/retrieval/jpn/__init__.py
  mteb/tasks/retrieval/jpn/ja_cwir_retrieval_lite.py
  mteb/tasks/retrieval/jpn/jaqket_retrieval_lite.py
  mteb/tasks/retrieval/jpn/miracl_ja_retrieval_lite.py
  mteb/tasks/retrieval/jpn/mr_tydi_ja_retrieval_lite.py
Due: lint, format-tasks-citations

fix - remove _get_column_types
  mteb/leaderboard/table.py
Due: lint

meta to python
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

add citation
  mteb/models/model_implementations/google_models.py
Due: lint

Modify summary table column's type (#3714)
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
Due: lint

Add citation for `google/embeddinggemma-300m` (#3733)
  mteb/models/model_implementations/google_models.py
Due: lint

update test
  tests/test_models/test_model_meta.py
Due: lint

made fetch_release_date() static method
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
Due: lint

ModelMeta to python (#3732)
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

fix syntax error
  mteb/models/get_model_meta.py
Due: lint

fix arguments of static function
  mteb/models/model_meta.py
Due: lint

Add JMTEB-lite(v1) benchmark
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/reranking/jpn/j_qa_ra_reranking_lite.py
Due: lint, format-benchmarks-citations, format-tasks-citations

Switch to mteb's repo
  mteb/tasks/reranking/jpn/j_qa_ra_reranking_lite.py
  mteb/tasks/reranking/jpn/ja_cwir_reranking_lite.py
  mteb/tasks/retrieval/jpn/ja_cwir_retrieval_lite.py
  mteb/tasks/retrieval/jpn/jaqket_retrieval_lite.py
  mteb/tasks/retrieval/jpn/miracl_ja_retrieval_lite.py
  mteb/tasks/retrieval/jpn/mr_tydi_ja_retrieval_lite.py
Due: lint, format-tasks-citations

refactor `ModelMeta`
  mteb/deprecated_evaluator.py
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

add compute_metadata
  mteb/models/model_meta.py
Due: lint

add reference
  mteb/models/model_meta.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
