Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

remove comment
  tests/test_integrations/test_integration_with_datasets.py
Due: lint

fix(openai): add %s placeholder so retry logging does not raise TypeError (#5391)
  mteb/models/model_implementations/openai_models.py
Due: lint

task: add ChinaOpen multilingual video retrieval (t2v, v2t)
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/ChinaOpenT2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/ChinaOpenV2TRetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/chinaopen_retrieval.py
  scripts/data/chinaopen_retrieval/create_data.py
Due: lint, format-tasks-citations

2.20.9
  pyproject.toml
Due: none

fix: isolate embedding caches by prompt type (#5386)
  docs/get_started/advanced_usage/cache_embeddings.md
  mteb/models/cache_wrappers/cache_wrapper.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

2.20.10
  pyproject.toml
Due: none

fix: correct BEIR format and per-config dataset routing
  mteb/tasks/retrieval/eng/coco_modality_equivalence.py
  scripts/data/coco_modality_equivalence/create_data.py
Due: lint, format-tasks-citations

Fix ruff formatting in create_data.py
  scripts/data/coco_modality_equivalence/create_data.py
Due: lint

Add COCO modality equivalance task, analysis script and gap results
  mteb/tasks/retrieval/eng/coco_modality_equivalence.py
  results/modality_gap.json
  scripts/analysis/modality_gap.py
Due: lint, format-tasks-citations

Add directional asymmetry analysis script and results (issue #5360)
  results/directional_asymmetry.json
  scripts/analysis/directional_asymmetry.py
Due: lint

Add sampling budget analysis script and results (issue #5362)
  results/sampling_budget.json
  scripts/analysis/sampling_budget.py
Due: lint

feat(analysis): PCA latent dimensions analysis for MTEB issue #5367
  results/latent_dimensions.json
  scripts/analysis/latent_dimensions.py
Due: lint

docs: annotate **kwargs with Any in adding_a_dataset.md examples
  docs/contributing/adding_a_dataset.md
Due: none

ci: skip tests for docs-only PRs
  .github/workflows/test.yml
Due: none

Revert "ci: skip tests for docs-only PRs"
  .github/workflows/test.yml
Due: none

add: contamination report script for MOEB models
  scripts/moeb_contamination_report.py
Due: lint

fix: mark CLIP models as known-zero-shot (training_datasets=set())
  mteb/models/model_implementations/clip_models.py
Due: lint

docs: annotate **kwargs with Any in adding_a_dataset.md (#5395)
  docs/contributing/adding_a_dataset.md
Due: none

dataset: add TAU Urban Acoustic Scenes 2022 and VGGSound audio clustering tasks
  mteb/descriptive_stats/AudioClustering/TAUAcousticScenes2022MobileClustering.json
  mteb/descriptive_stats/AudioClustering/VGGSoundAudioClustering.json
  mteb/tasks/clustering/zxx/__init__.py
  mteb/tasks/clustering/zxx/tau_acoustic_scenes_clustering.py
  mteb/tasks/clustering/zxx/vggsound_audio_clustering.py
Due: lint, format-tasks-citations

dataset: simplify FineGrainOCR task evaluation
  mteb/tasks/clustering/multilingual/fine_grain_ocr_clustering.py
  scripts/data/finegrainocr_clustering/BASELINE_RESULTS.md
  scripts/data/finegrainocr_clustering/BUILD_SUMMARY.json
  scripts/data/finegrainocr_clustering/DATASET_CARD.md
  scripts/data/finegrainocr_clustering/README.md
  scripts/data/finegrainocr_clustering/analyze_archive.py
  scripts/data/finegrainocr_clustering/run_baselines.py
Due: lint, format-tasks-citations

feat: add model_type and similarity_fn_name overrides to ModelMeta.load_model (#5300)
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

changes from copilot review
  docs/whats_new.md
  mteb/quality/__init__.py
  mteb/quality/_filters.py
  tests/test_quality.py
Due: lint

lintter
  mteb/quality/_filters.py
Due: lint

fixed CI failure
  tests/test_quality.py
Due: lint

Add public NGNN general encoder and real-provider mock report
  mteb/models/model_implementations/ngnn.py
  mteb_mock_run_results.md
Due: lint

remove _get_symmetric_sides from abstask and kep in _filters.py
  mteb/abstasks/abstask.py
  mteb/abstasks/sts.py
  mteb/quality/_filters.py
Due: lint

Add ModelMeta for sshalimov04/ru-reranker-edge-150m
  mteb/models/model_implementations/ru_reranker_edge.py
Due: lint

fix: correct license to cc-by-sa-4.0 and add W17-4718 citation for French extension
  mteb/tasks/retrieval/multilingual/multi30k_retrieval.py
Due: lint, format-tasks-citations

fix: reformat BibTeX citations to pass citation formatting test
  mteb/tasks/retrieval/eng/dense_webvid_covr_retrieval.py
  mteb/tasks/retrieval/eng/webvid_covr_retrieval.py
Due: lint, format-tasks-citations

fix: sort BibTeX fields alphabetically to pass citation formatting test
  mteb/tasks/retrieval/multilingual/multi30k_retrieval.py
Due: lint, format-tasks-citations

fix lint
  mteb/tasks/retrieval/multilingual/spoken_wikipedia_retrieval.py
Due: lint, format-tasks-citations

test: cover MLDR split and positive qrels loading
  tests/test_tasks/test_load_data.py
Due: lint

test: allow shared videos across ChinaOpen language subsets
  tests/test_tasks/test_task_quality.py
Due: lint
