Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

changes from review
  mteb/models/hybrid_wrappers.py
  mteb/models/models_protocols.py
Due: lint

api: /benchmarks/{name}/leaders for slim home-page tiles
  mteb/api/aggregators.py
  mteb/api/routes.py
  mteb/api/schemas.py
Due: lint

remove misc
  mteb/api/metrics.py
  mteb/benchmarks/_leaderboard_menu.py
Due: lint, format-benchmarks-citations

remove try-except
  mteb/evaluate.py
Due: lint

Fix revision format for ingot_8b_r3 model
  mteb/models/model_implementations/ingot_models.py
Due: lint

dataset: split OBLIQ-Bench into one task class per subset
  mteb/descriptive_stats/Retrieval/OBLIQBenchCongressRetrieval.json
  mteb/descriptive_stats/Retrieval/OBLIQBenchMathRetrieval.json
  mteb/descriptive_stats/Retrieval/OBLIQBenchRetrieval.json
  mteb/descriptive_stats/Retrieval/OBLIQBenchTwitterRetrieval.json
  mteb/descriptive_stats/Retrieval/OBLIQBenchWildChatRetrieval.json
  mteb/descriptive_stats/Retrieval/OBLIQBenchWritingRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/obliq_bench_retrieval.py
Due: lint, format-tasks-citations

dataset: add OBLIQ-Bench retrieval (Tchuindjo et al. 2026) (#4710)
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/descriptive_stats/Retrieval/OBLIQBenchCongressRetrieval.json
  mteb/descriptive_stats/Retrieval/OBLIQBenchMathRetrieval.json
  mteb/descriptive_stats/Retrieval/OBLIQBenchTwitterRetrieval.json
  mteb/descriptive_stats/Retrieval/OBLIQBenchWildChatRetrieval.json
  mteb/descriptive_stats/Retrieval/OBLIQBenchWritingRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/obliq_bench_retrieval.py
  scripts/data/obliq_bench/create_data.py
Due: lint, format-tasks-citations

fix docs
  docs/overview/create_available_tasks.py
Due: lint

fix: revision of ingot-8b-r3 to follow single-char API convention (r3 → 3) (#4770)
  mteb/models/model_implementations/ingot_models.py
Due: lint

fix: Add SWEbenchCodeRetrieval to RTEB benchmarks (#4658)
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

2.14.4
  pyproject.toml
Due: none

API: /v1 prefix, per-language endpoint, scoped task languages, home menu
  mteb/api/adapters.py
  mteb/api/aggregators.py
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/api/settings.py
  mteb/benchmarks/_leaderboard_menu.py
Due: lint, format-benchmarks-citations

remove from protocols
  docs/get_started/advanced_usage/hybrid_model.md
  mteb/__init__.py
  mteb/models/__init__.py
  mteb/models/models_protocols.py
  tests/test_models/test_hybrid_search.py
Due: lint

update metadata
  mteb/models/model_implementations/hybrid_models.py
Due: lint

changes from review
  docs/whats_new.md
  mteb/_evaluators/retrieval_evaluator.py
Due: lint

remove models from historic_models
  tests/test_models/test_model_meta.py
Due: lint

added comments
  mteb/evaluate.py
Due: lint

update tests
  tests/test_evaluate.py
Due: lint

fix test
  tests/test_evaluate.py
Due: lint

API: language-scoped /scores, lenient means, facet metadata
  mteb/api/aggregators.py
  mteb/api/cache.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/benchmarks/_leaderboard_menu.py
Due: lint, format-benchmarks-citations

API: generate + serve per-entity OG hero cards
  Dockerfile
  mteb/api/app.py
  mteb/api/settings.py
  pyproject.toml
  scripts/generate_og_images.py
  scripts/generate_og_images_mpl.py
  scripts/og-template/dots-icon.png
  scripts/og-template/template.html
Due: lint

API: OG slug matches JS encodeURIComponent + nested model paths; open CORS to *
  Dockerfile
  mteb/api/settings.py
  scripts/generate_og_images.py
  scripts/generate_og_images_mpl.py
Due: lint

tmp
  pyproject.toml
  scripts/generate_og_images.py
  scripts/generate_og_images_mpl.py
Due: lint

fix pyproject
  pyproject.toml
Due: none

fix: Make project releasablle (#4777)
  pyproject.toml
Due: none

2.14.5
  pyproject.toml
Due: none

OG cards: use simplified task group instead of raw type
  scripts/generate_og_images.py
  scripts/generate_og_images_mpl.py
Due: lint

benchmarks: add MVEB benchmark suite + leaderboard Video menu (#4763)
  docs/overview/create_available_tasks.py
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

API: overlay num_models on the benchmark detail endpoint
  mteb/api/routes.py
Due: lint

api: pick leaders by rank instead of by score
  mteb/api/aggregators.py
Due: lint

upd menu
  mteb/benchmarks/_leaderboard_menu.py
Due: lint, format-benchmarks-citations

model: add NightOwl CodeEmbedding metadata
  mteb/models/model_implementations/shuu_model.py
Due: lint

fix: remove programming language codes from model metadata
  mteb/models/model_implementations/shuu_model.py
Due: lint

change to mapping
  docs/contributing/adding_a_dataset.md
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/sts.py
  mteb/tasks/pair_classification/eng/ave_dataset_pc.py
  mteb/tasks/pair_classification/eng/human_animal_cartoon_pc.py
  mteb/tasks/pair_classification/eng/meld_pc.py
  mteb/tasks/pair_classification/eng/music_avqa_pc.py
  mteb/tasks/pair_classification/eng/ravdess_av_pc.py
  mteb/tasks/pair_classification/eng/videocon_pc.py
  tests/mock_tasks.py
Due: lint, format-tasks-citations

change to mapping
  mteb/tasks/pair_classification/eng/ave_dataset_pc.py
  mteb/tasks/pair_classification/eng/human_animal_cartoon_pc.py
  mteb/tasks/pair_classification/eng/meld_pc.py
  mteb/tasks/pair_classification/eng/music_avqa_pc.py
  mteb/tasks/pair_classification/eng/ravdess_av_pc.py
Due: lint, format-tasks-citations

fix: update memory usage for NightOwl CodeEmbedding model
  mteb/models/model_implementations/shuu_model.py
Due: lint

update github
  .github/actions/free-disk-space/action.yml
  .github/workflows/dataset_loading.yml
  .github/workflows/documentation.yml
  .github/workflows/leaderboard_build.yml
  .github/workflows/leaderboard_docker.yml
  .github/workflows/leaderboard_refresh.yaml
  .github/workflows/lint.yml
  .github/workflows/model_loading.yml
  .github/workflows/reference_models.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_lowest.yml
  .github/workflows/typechecking.yml
  .github/workflows/update_leaderboard_models.yml
Due: none

remove remove
  .github/workflows/dataset_loading.yml
  .github/workflows/documentation.yml
  .github/workflows/leaderboard_build.yml
  .github/workflows/leaderboard_docker.yml
  .github/workflows/lint.yml
  .github/workflows/model_loading.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_lowest.yml
  .github/workflows/typechecking.yml
Due: none

upd
  .github/workflows/dataset_loading.yml
  .github/workflows/documentation.yml
  .github/workflows/leaderboard_build.yml
  .github/workflows/lint.yml
  .github/workflows/model_loading.yml
  .github/workflows/reference_models.yml
  .github/workflows/test.yml
  .github/workflows/test_lowest.yml
  .github/workflows/typechecking.yml
  .github/workflows/update_leaderboard_models.yml
Due: none
