Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

almost finish
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/_evaluators/sklearn_evaluator.py
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/_evaluators/text/summarization_evaluator.py
  mteb/abstasks/_stratification.py
  mteb/abstasks/abstask.py
  mteb/abstasks/aggregate_task_metadata.py
  mteb/abstasks/aggregated_task.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/sts.py
  mteb/abstasks/task_metadata.py
  mteb/abstasks/text/summarization.py
  mteb/abstasks/zeroshot_classification.py
  mteb/deprecated_evaluator.py
  mteb/languages/language_scripts.py
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
  mteb/results/model_result.py
  mteb/results/task_result.py
  mteb/types/statistics.py
Due: lint

fix search wrappers
  mteb/models/search_wrappers.py
Due: lint

add ci
  .github/workflows/typechecking.yml
Due: none

[MAEB] CLAP Token Length Error from Fleurs (#3710)
  mteb/models/model_implementations/clap_models.py
Due: lint

fix tests
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
  pyproject.toml
Due: lint

fix 3.10 types
  .github/workflows/typechecking.yml
  mteb/results/benchmark_results.py
Due: lint

rollback overload
  mteb/filter_tasks.py
Due: lint

fix task
  tests/mock_tasks.py
Due: lint

fix task
  mteb/tasks/pair_classification/fas/fars_tail.py
Due: lint, format-tasks-citations

try to run with kwargs
  mteb/models/model_meta.py
Due: lint

try to move kwargs
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
Due: lint

[UPDATE] Vietnamese clustering version 1 -> 2
  mteb/tasks/clustering/vie/__init__.py
  mteb/tasks/clustering/vie/reddit_clustering_p2p_vn.py
  mteb/tasks/clustering/vie/reddit_clustering_vn.py
  mteb/tasks/clustering/vie/stack_exchange_clustering_p2p_vn.py
  mteb/tasks/clustering/vie/stack_exchange_clustering_vn.py
  mteb/tasks/clustering/vie/twenty_newsgroups_clustering_vn.py
Due: lint, format-tasks-citations

[UPDATE] Vietnamese clustering version 1 -> 2 with lint
  mteb/tasks/clustering/vie/__init__.py
  mteb/tasks/clustering/vie/reddit_clustering_p2p_vn.py
  mteb/tasks/clustering/vie/reddit_clustering_vn.py
  mteb/tasks/clustering/vie/stack_exchange_clustering_p2p_vn.py
  mteb/tasks/clustering/vie/stack_exchange_clustering_vn.py
  mteb/tasks/clustering/vie/twenty_newsgroups_clustering_vn.py
Due: lint, format-tasks-citations

[VN-MTEB] add descriptive for clustering tasks
  mteb/descriptive_stats/Clustering/RedditClustering-VN.v2.json
  mteb/descriptive_stats/Clustering/RedditClusteringP2P-VN.v2.json
  mteb/descriptive_stats/Clustering/StackExchangeClustering-VN.v2.json
  mteb/descriptive_stats/Clustering/StackExchangeClusteringP2P-VN.v2.json
  mteb/descriptive_stats/Clustering/TwentyNewsgroupsClustering-VN.v2.json
Due: none

model: add octen_models
  mteb/models/model_implementations/octen_models.py
Due: lint

feat: add detailed timing logs to leaderboard initialization
  mteb/leaderboard/app.py
Due: lint

init
  mteb/models/vllm_wrapper.py
Due: lint

perf: optimize benchmark processing with caching and vectorized operations
  mteb/results/benchmark_results.py
Due: lint

fix naming
  mteb/models/model_implementations/colpali_models.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/colsmol_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/listconranker.py
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
  mteb/models/model_implementations/pylate_models.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/model_implementations/rerankers_custom.py
  mteb/models/model_implementations/rerankers_monot5_based.py
  mteb/models/model_meta.py
Due: lint

feat: Added `get_benchmark_result()` to BenchmarkResults to obtain a benchmark table (#3771)
  docs/usage/loading_results.md
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/cache.py
  mteb/results/benchmark_results.py
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/Banking77Classification.json
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/NanoSCIDOCSRetrieval.json
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/model_meta.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/Banking77Classification.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/NanoSCIDOCSRetrieval.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/model_meta.json
  tests/test_results/test_benchmark_results.py
Due: lint, format-benchmarks-citations

remove is_cross_encoder field and convert it into property
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/listconranker.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/model_implementations/rerankers_custom.py
  mteb/models/model_implementations/rerankers_monot5_based.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

2.5.0
  pyproject.toml
Due: none

fix clustering processing
  mteb/abstasks/clustering_legacy.py
Due: lint

fix: legacy clustering processing (#3791)
  mteb/abstasks/clustering_legacy.py
Due: lint

perf: optimize validate_and_filter_scores filtering logic
  mteb/results/task_result.py
Due: lint

2.5.1
  pyproject.toml
Due: none

Update mteb/leaderboard/app.py
  mteb/leaderboard/app.py
Due: lint

fix: ensure deterministic revision grouping in join_revisions()
  mteb/results/benchmark_results.py
Due: lint

Update docs/mieb/readme.md
  docs/mieb/readme.md
Due: none

better clustering fix
  mteb/abstasks/clustering_legacy.py
Due: lint

fix: ensure RTEB benchmarks are registered with lazy loading
  mteb/benchmarks/get_benchmark.py
Due: lint, format-benchmarks-citations

better clustering fix (#3793)
  mteb/abstasks/clustering_legacy.py
Due: lint

docs: update MIEB contributing guide for MTEB v2 AbsTask structure (#3787)
  docs/mieb/readme.md
Due: none

add issue link for document prompt
  mteb/models/model_implementations/octen_models.py
Due: lint

model: add octen_models (#3789)
  mteb/models/model_implementations/octen_models.py
Due: lint

refactor: use default lru_cache maxsize for _get_cached_model_metas
  mteb/results/benchmark_results.py
Due: lint

refactor: remove optimization markers from comments
  mteb/results/benchmark_results.py
Due: lint

Apply suggestion from @isaac-chung
  mteb/results/benchmark_results.py
Due: lint

Add leaderboard timing logs and join_revisions() speedups (#3790)
  mteb/leaderboard/app.py
  mteb/results/benchmark_results.py
Due: lint
