Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

fix: remove `set_float32_matmul_precision` (#3509)
  mteb/_evaluators/retrieval_metrics.py
Due: lint

2.1.2
  pyproject.toml
Due: none

fix aggregated task evaluation
  mteb/evaluate.py
  tests/mock_tasks.py
  tests/test_evaluate.py
Due: lint

fix: aggregated task evaluation (#3510)
  mteb/evaluate.py
  tests/mock_tasks.py
  tests/test_evaluate.py
Due: lint

2.1.3
  pyproject.toml
Due: none

Correcting the VoyageAI model URLs Handling the empty strings in requests
  mteb/models/model_implementations/voyage_models.py
Due: lint

Correcting the VoyageAI model URLs and handling empty strings (#3511)
  mteb/models/model_implementations/voyage_models.py
Due: lint

reupload winogrande
  mteb/descriptive_stats/Retrieval/WinoGrande.json
  mteb/tasks/retrieval/eng/wino_grande_retrieval.py
Due: lint, format-tasks-citations

fix: reupload winogrande (#3513)
  mteb/descriptive_stats/Retrieval/WinoGrande.json
  mteb/tasks/retrieval/eng/wino_grande_retrieval.py
Due: lint, format-tasks-citations

2.1.4
  pyproject.toml
Due: none

vidore_3_tasks
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/vidore3_bench_retrieval.py
Due: lint, format-tasks-citations

change main score to recall@1 for long version
  mteb/tasks/retrieval/eng/bright_subset_long_retrieval.py
  mteb/tasks/retrieval/eng/bright_subsets_long_retrieval.py
Due: lint, format-tasks-citations

update init
  mteb/tasks/retrieval/multilingual/__init__.py
Due: lint, format-tasks-citations

add benchmark
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

adding prompts to MTEB-NL
  mteb/tasks/classification/nld/dutch_book_review_sentiment_classification.py
  mteb/tasks/classification/nld/dutch_cola_classification.py
  mteb/tasks/classification/nld/dutch_government_bias_classification.py
  mteb/tasks/classification/nld/dutch_news_articles_classification.py
  mteb/tasks/classification/nld/dutch_sarcastic_headlines_classification.py
  mteb/tasks/classification/nld/iconclass_classification.py
  mteb/tasks/classification/nld/open_tender_classification.py
  mteb/tasks/classification/nld/vaccin_chat_nl_classification.py
  mteb/tasks/clustering/nld/dutch_news_articles_clustering_p2p.py
  mteb/tasks/clustering/nld/dutch_news_articles_clustering_s2s.py
  mteb/tasks/clustering/nld/iconclass_clustering_s2s.py
  mteb/tasks/clustering/nld/open_tender_clustering_p2p.py
  mteb/tasks/clustering/nld/open_tender_clustering_s2s.py
  mteb/tasks/clustering/nld/vabb_clustering_p2p.py
  mteb/tasks/clustering/nld/vabb_clustering_s2s.py
  mteb/tasks/multilabel_classification/nld/covid_disinformation_nl_multi_label_classification.py
  mteb/tasks/multilabel_classification/nld/vabb_multi_label_classification.py
  mteb/tasks/retrieval/nld/argu_ana_nl_retrieval.py
  mteb/tasks/retrieval/nld/bbsard_nl_retrieval.py
  mteb/tasks/retrieval/nld/dutch_news_articles_retrieval.py
  mteb/tasks/retrieval/nld/legal_qa_nl_retrieval.py
  mteb/tasks/retrieval/nld/nf_corpus_nl_retrieval.py
  mteb/tasks/retrieval/nld/open_tender_retrieval.py
  mteb/tasks/retrieval/nld/sci_fact_nl_retrieval.py
  mteb/tasks/retrieval/nld/scidocsnl_retrieval.py
  mteb/tasks/retrieval/nld/vabb_retrieval.py
Due: lint, format-tasks-citations

fix oopsies + linting
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/vidore3_bench_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

prompts for vabb_clustering fixed
  mteb/tasks/clustering/nld/vabb_clustering_p2p.py
  mteb/tasks/clustering/nld/vabb_clustering_s2s.py
Due: lint, format-tasks-citations

arguana-nl fixed
  mteb/tasks/retrieval/nld/argu_ana_nl_retrieval.py
Due: lint, format-tasks-citations

update retrieval/nld/__init__
  mteb/tasks/retrieval/nld/__init__.py
Due: lint, format-tasks-citations

descriptive stats for v2
  mteb/descriptive_stats/Retrieval/ArguAna-NL.v2.json
  mteb/descriptive_stats/Retrieval/NFCorpus-NL.v2.json
  mteb/descriptive_stats/Retrieval/SCIDOCS-NL.v2.json
  mteb/descriptive_stats/Retrieval/SciFact-NL.v2.json
Due: none

materialize corpus id to speed up evaluation
  mteb/models/search_wrappers.py
Due: lint

Fix code according to review
  mteb/tasks/Image/Any2AnyRetrieval/eng/RealMMRagBenchRetrieval.py
Due: lint, format-tasks-citations

add private tasks + apply some reco
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/vidore3_bench_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

update private datasets path
  mteb/tasks/retrieval/multilingual/vidore3_bench_retrieval.py
Due: lint, format-tasks-citations

model: add kalm_models.py ModelMeta
  mteb/models/model_implementations/kalm_models.py
Due: lint

adding tarka model
  mteb/models/model_implementations/tarka_models.py
Due: lint

addressing the comments
  mteb/models/model_implementations/tarka_models.py
Due: lint

model: Tarka-Embedding-150M-V1 (#3520)
  mteb/models/model_implementations/tarka_models.py
Due: lint

fix: materialize corpus id to speed up evaluation (#3518)
  mteb/models/search_wrappers.py
Due: lint

2.1.5
  pyproject.toml
Due: none

fix: model revision
  docs/images/logos/mteb_logo/mteb_logo_tight_hfhub.drawio
  docs/images/logos/mteb_logo/mteb_logo_tight_hfhub.png
  docs/images/logos/mteb_logo/mteb_logo_wide_github.drawio
  docs/images/logos/mteb_logo/mteb_logo_wide_github.png
  mteb/models/model_implementations/kalm_models.py
Due: lint

model: Added EmbeddingGemma-Scandi-300m
  mteb/models/model_implementations/emillykkejensen_models.py
Due: lint

fix: recover ESCIReranking for train data
  mteb/models/model_implementations/kalm_models.py
Due: lint

added other models
  mteb/models/model_implementations/emillykkejensen_models.py
Due: lint

model: Add `rasgaard/m2v-dfm-large`
  mteb/models/model_implementations/rasgaard_models.py
Due: lint

prompts in Dutch for MTEB-NL
  mteb/tasks/classification/nld/dutch_book_review_sentiment_classification.py
  mteb/tasks/classification/nld/dutch_cola_classification.py
  mteb/tasks/classification/nld/dutch_government_bias_classification.py
  mteb/tasks/classification/nld/dutch_news_articles_classification.py
  mteb/tasks/classification/nld/dutch_sarcastic_headlines_classification.py
  mteb/tasks/classification/nld/iconclass_classification.py
  mteb/tasks/classification/nld/open_tender_classification.py
  mteb/tasks/classification/nld/vaccin_chat_nl_classification.py
  mteb/tasks/clustering/nld/dutch_news_articles_clustering_p2p.py
  mteb/tasks/clustering/nld/dutch_news_articles_clustering_s2s.py
  mteb/tasks/clustering/nld/iconclass_clustering_s2s.py
  mteb/tasks/clustering/nld/open_tender_clustering_p2p.py
  mteb/tasks/clustering/nld/open_tender_clustering_s2s.py
  mteb/tasks/clustering/nld/vabb_clustering_p2p.py
  mteb/tasks/clustering/nld/vabb_clustering_s2s.py
  mteb/tasks/multilabel_classification/nld/covid_disinformation_nl_multi_label_classification.py
  mteb/tasks/multilabel_classification/nld/vabb_multi_label_classification.py
  mteb/tasks/pair_classification/nld/sick_nl_pair_classification.py
  mteb/tasks/pair_classification/nld/xlwic_nl_pair_classification.py
  mteb/tasks/retrieval/nld/argu_ana_nl_retrieval.py
  mteb/tasks/retrieval/nld/bbsard_nl_retrieval.py
  mteb/tasks/retrieval/nld/dutch_news_articles_retrieval.py
  mteb/tasks/retrieval/nld/legal_qa_nl_retrieval.py
  mteb/tasks/retrieval/nld/nf_corpus_nl_retrieval.py
  mteb/tasks/retrieval/nld/open_tender_retrieval.py
  mteb/tasks/retrieval/nld/scidocsnl_retrieval.py
  mteb/tasks/retrieval/nld/vabb_retrieval.py
  mteb/tasks/sts/nld/sick_nl_sts.py
Due: lint, format-tasks-citations

model: Add `rasgaard/m2v-dfm-large` (#3523)
  mteb/models/model_implementations/rasgaard_models.py
Due: lint

fix : Tarka V1 Model revision fix
  mteb/models/model_implementations/tarka_models.py
Due: lint

fix : Tarka V1 Model revision fix (#3525)
  mteb/models/model_implementations/tarka_models.py
Due: lint
