Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

align implementation
  mteb/cache.py
  tests/test_result_cache.py
Due: lint

upd docstring
  mteb/models/model_meta.py
Due: lint

Fix audio model loading and datasets v4+ AudioDecoder compatibility
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/wav2vec2_models.py
Due: lint

fix lint
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/wav2vec2_models.py
Due: lint

Update mteb/tasks/retrieval/kor/law_ir_ko.py
  mteb/tasks/retrieval/kor/law_ir_ko.py
Due: lint, format-tasks-citations

Update benchmark metadata
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

dataset: add 'law-ir_ko' dataset for IR task (#4052)
  mteb/descriptive_stats/Retrieval/LawIRKo.json
  mteb/tasks/retrieval/kor/__init__.py
  mteb/tasks/retrieval/kor/law_ir_ko.py
Due: lint, format-tasks-citations

Move 15 MIEB datasets to mteb HuggingFace org
  mteb/tasks/classification/eng/mnist_classification.py
  mteb/tasks/clustering/eng/tiny_image_net.py
  mteb/tasks/retrieval/eng/r_paris_i2i_retrieval.py
  mteb/tasks/retrieval/eng/rp2k_i2i_retrieval.py
  mteb/tasks/retrieval/eng/sketchy_i2i_retrieval.py
  mteb/tasks/retrieval/eng/sop_i2i_retrieval.py
  mteb/tasks/retrieval/eng/viz_wiz_it2t_retrieval.py
  mteb/tasks/retrieval/eng/vqa2_it2t_retrieval.py
  mteb/tasks/sts/eng/sts12_visual_sts.py
  mteb/tasks/sts/eng/sts13_visual_sts.py
  mteb/tasks/sts/eng/sts14_visual_sts.py
  mteb/tasks/sts/eng/sts15_visual_sts.py
  mteb/tasks/sts/eng/sts16_visual_sts.py
  mteb/tasks/zeroshot_classification/eng/mnist.py
Due: lint, format-tasks-citations

Move 7 clip-benchmark datasets to mteb HuggingFace org
  mteb/tasks/classification/eng/country211_classification.py
  mteb/tasks/classification/eng/fer2013_classification.py
  mteb/tasks/classification/eng/gtsrb_classification.py
  mteb/tasks/classification/eng/patch_camelyon_classification.py
  mteb/tasks/zeroshot_classification/eng/clevr.py
  mteb/tasks/zeroshot_classification/eng/country211.py
  mteb/tasks/zeroshot_classification/eng/fer2013.py
  mteb/tasks/zeroshot_classification/eng/gtsrb.py
  mteb/tasks/zeroshot_classification/eng/patch_camelyon.py
  mteb/tasks/zeroshot_classification/eng/rendered_sst2.py
Due: lint, format-tasks-citations

Update VisRAG datasets metadata, including one-line description and the domains
  mteb/tasks/retrieval/eng/visrag_ret_arxiv_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_chart_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_info_vqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_mp_docvqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_plot_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_slide_vqa_retrieval.py
Due: lint, format-tasks-citations

Update slideVQA domain
  mteb/tasks/retrieval/eng/visrag_ret_slide_vqa_retrieval.py
Due: lint, format-tasks-citations

updated based on review
  mteb/models/model_implementations/stephantulkens_models.py
Due: lint

docs: Outline for adding a task documentation
  docs/contributing/adding_a_dataset.md
Due: none

upd docs
  Makefile
  docs/contributing/adding_a_dataset.md
Due: none

install dependencies in ci
  .github/workflows/documentation.yml
Due: none

add example with retrieval
  docs/contributing/adding_a_dataset.md
Due: none

add cast instead of ignore
  mteb/_create_dataloaders.py
Due: lint

[MAEB] Use collator for processing (#4069)
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/ast_model.py
  mteb/models/model_implementations/audio_qwen2_models.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/cnn14_model.py
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/encodec_model.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/msclap_models.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/seamlessm4t_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/vggish_models.py
  mteb/models/model_implementations/wav2clip_model.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/wavlm_models.py
  mteb/models/model_implementations/whisper_models.py
  mteb/models/model_implementations/yamnet_models.py
  pyproject.toml
Due: lint

filled out the missing segments
  docs/contributing/adding_a_dataset.md
  mteb/tasks/classification/eng/poem_sentiment_classification.py
Due: lint, format-tasks-citations

lint and format
  docs/contributing/adding_a_dataset.md
  mteb/tasks/classification/eng/poem_sentiment_classification.py
Due: lint, format-tasks-citations

Add Aliases for VisRAG
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Fix bibtex format
  mteb/tasks/retrieval/eng/visrag_ret_arxiv_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_chart_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_info_vqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_mp_docvqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_plot_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_slide_vqa_retrieval.py
Due: lint, format-tasks-citations

Apply suggestions from code review
  docs/contributing/adding_a_dataset.md
  mteb/tasks/classification/eng/poem_sentiment_classification.py
Due: lint, format-tasks-citations

fix numerating and indent
  docs/contributing/adding_a_dataset.md
Due: none

add missing imports
  docs/contributing/adding_a_dataset.md
Due: none

fix links
  docs/contributing/adding_a_dataset.md
Due: none

docs: fix `AbsTaskClassification` docstring formatting and improve docstrings for some of the main tasks
  mteb/abstasks/abstask.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
Due: lint

format
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/retrieval.py
Due: lint

Apply suggestions from code review
  mteb/abstasks/abstask.py
  mteb/abstasks/clustering.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
Due: lint

docs: Improve docstring for some of the main abstasks (#4083)
  mteb/abstasks/abstask.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
Due: lint

add full example for retrieval dataset
  docs/contributing/adding_a_dataset.md
Due: none

model: Add Bayesian BM25 (bb25) baseline model
  mteb/models/model_implementations/bb25.py
  tests/test_models/test_bb25.py
  tests/test_models/test_model_meta.py
Due: lint

test: Compare bb25 against bm25s instead of hardcoded values
  tests/test_models/test_bb25.py
Due: lint

docs: Clarify alpha scaling comment with paper context
  mteb/models/model_implementations/bb25.py
Due: lint

style: Apply ruff format to bb25.py
  mteb/models/model_implementations/bb25.py
Due: lint

model: add voyage-4-nano model implementation
  mteb/models/model_implementations/voyage_models.py
Due: lint

apply suggestions
  mteb/models/model_meta.py
Due: lint

Depreceate GritLM Wrapper and use Sentence Transformers
  mteb/models/model_implementations/e5_instruct.py
  mteb/models/model_implementations/gritlm_models.py
Due: lint

fix: Add performance per language tab to more benchmarks (#4066)
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

docs: Outline for adding a task documentation (#4082)
  .github/workflows/documentation.yml
  Makefile
  docs/contributing/adding_a_dataset.md
  mteb/tasks/classification/eng/poem_sentiment_classification.py
Due: lint, format-tasks-citations
