Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

doc upd
  docs/advanced_usage/vllm_wrapper.md
  docs/images/visualizations/half_precision_inference.png
  mkdocs.yml
Due: none

add test
  Makefile
  mteb/models/vllm_wrapper.py
  tests/test_models/test_vllm.py
Due: lint

docs: add benchmark filtering examples (#3805)
  docs/usage/selecting_tasks.md
  pyproject.toml
Due: none

add default in model types
  mteb/leaderboard/app.py
Due: lint

test: update leaderboard tests for theme and head params
  tests/test_cli.py
Due: lint

apply suggestion
  mteb/models/get_model_meta.py
Due: lint

correct tests
  tests/test_results/test_benchmark_results.py
Due: lint

Update Makefile
  Makefile
Due: none

[UPDATE] dataset path
  mteb/descriptive_stats/Retrieval/NanoDBPedia-VN.json
  mteb/tasks/retrieval/vie/argu_ana_vn_retrieval.py
  mteb/tasks/retrieval/vie/climate_fevervn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_android_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_gis_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_mathematica_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_physics_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_programmers_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_stats_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_tex_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_unix_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_webmasters_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_wordpress_vn_retrieval.py
  mteb/tasks/retrieval/vie/db_pedia_vn_retrieval.py
  mteb/tasks/retrieval/vie/fevervn_retrieval.py
  mteb/tasks/retrieval/vie/fi_qa2018_vn_retrieval.py
  mteb/tasks/retrieval/vie/hotpot_qavn_retrieval.py
  mteb/tasks/retrieval/vie/msmarcovn_retrieval.py
  mteb/tasks/retrieval/vie/nf_corpus_vn_retrieval.py
  mteb/tasks/retrieval/vie/nqvn_retrieval.py
  mteb/tasks/retrieval/vie/quora_vn_retrieval.py
  mteb/tasks/retrieval/vie/sci_fact_vn_retrieval.py
  mteb/tasks/retrieval/vie/scidocsvn_retrieval.py
  mteb/tasks/retrieval/vie/touche2020_vn_retrieval.py
  mteb/tasks/retrieval/vie/treccovidvn_retrieval.py
  mteb/tasks/retrieval/vie/zac_legal_text_retrieval.py
Due: lint, format-tasks-citations

fix method
  mteb/models/get_model_meta.py
Due: lint

[UPDATE] nano db pedia retrieval
  mteb/tasks/retrieval/vie/db_pedia_vn_retrieval.py
Due: lint, format-tasks-citations

Update mteb/models/model_implementations/slm_models.py
  mteb/models/model_implementations/slm_models.py
Due: lint

add support for prompts
  mteb/models/vllm_wrapper.py
Due: lint

fix: import COLPALI_CITATION from colpali_models and add model_type
  mteb/models/model_implementations/slm_models.py
Due: lint

add training datasets
  mteb/models/model_implementations/slm_models.py
Due: lint

fix: remove section headers and use PyPI package instead of Git URL
  mteb/models/model_implementations/slm_models.py
  pyproject.toml
Due: lint

feat: filter BibTeX warnings in strict docs build
  Makefile
  scripts/build_docs_filtered.py
  scripts/build_docs_strict_filtered.py
  scripts/build_docs_strict_filtered.sh
Due: lint

Revert "Update make run-leaderboard to use new CLI and remove app.py main block"
  Makefile
  mteb/leaderboard/app.py
Due: lint

Update mteb/cli/build_cli.py
  mteb/cli/build_cli.py
Due: lint

docs: update leaderboard CLI usage
  docs/usage/leaderboard.md
Due: none

update docs to show defaults
  docs/usage/leaderboard.md
Due: none

fix: apply ruff formatting
  mteb/cli/build_cli.py
Due: lint

- demo
  benchmark_vllm3.1
  demo/__init__.py
  demo/benchmark_st.py
  demo/benchmark_st2.1
  demo/benchmark_st2.py
  demo/benchmark_st3.1
  demo/benchmark_st3.py
  demo/benchmark_vllm.py
  demo/benchmark_vllm2.1
  demo/benchmark_vllm2.py
  demo/benchmark_vllm3.1
  demo/benchmark_vllm3.py
  demo/embed.py
  demo/rerenk.py
Due: lint

make mypy happy
  mteb/models/vllm_wrapper.py
Due: lint

[UPDATE] size dataset from 1M corpus to 100k
  mteb/descriptive_stats/Retrieval/NanoClimateFEVER-VN.json
  mteb/descriptive_stats/Retrieval/NanoDBPedia-VN.json
  mteb/descriptive_stats/Retrieval/NanoFEVER-VN.json
  mteb/descriptive_stats/Retrieval/NanoHotpotQA-VN.json
  mteb/descriptive_stats/Retrieval/NanoMSMARCO-VN.json
  mteb/descriptive_stats/Retrieval/NanoNQ-VN.json
  mteb/tasks/retrieval/vie/climate_fevervn_retrieval.py
  mteb/tasks/retrieval/vie/db_pedia_vn_retrieval.py
  mteb/tasks/retrieval/vie/fevervn_retrieval.py
  mteb/tasks/retrieval/vie/hotpot_qavn_retrieval.py
  mteb/tasks/retrieval/vie/msmarcovn_retrieval.py
  mteb/tasks/retrieval/vie/nqvn_retrieval.py
Due: lint, format-tasks-citations

fix typehints
  mteb/models/instruct_wrapper.py
  mteb/models/vllm_wrapper.py
Due: lint

fix repo exists check
  mteb/models/model_meta.py
Due: lint

Allow passing device to model
  mteb/models/abs_encoder.py
  mteb/models/instruct_wrapper.py
  mteb/models/model_implementations/bmretriever_models.py
  mteb/models/model_implementations/cde_models.py
  mteb/models/model_implementations/e5_v.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/no_instruct_sentence_models.py
  mteb/models/model_implementations/nomic_models.py
  mteb/models/model_implementations/nvidia_models.py
  mteb/models/models_protocols.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

update generate_model_card with get_benchmark_result() (#3796)
  mteb/cache.py
  mteb/cli/build_cli.py
  mteb/cli/generate_model_card.py
  pyproject.toml
  tests/create_meta/model_card_benchmark_gold.md
  tests/test_results/test_benchmark_results.py
Due: lint

revert incorrect modification and fix typeerror
  mteb/models/abs_encoder.py
  mteb/models/instruct_wrapper.py
Due: lint

Update docs/usage/defining_the_model.md
  docs/usage/defining_the_model.md
Due: none

fix: dynamic mkdocs path discovery for CI
  scripts/build_docs_strict_filtered.py
Due: lint

update Bytedance/Seed1.6-embedding-1215 model
  mteb/models/model_implementations/seed_1_6_embedding_models_1215.py
Due: lint

fix: improve docs build script with clear warning counts
  scripts/build_docs_strict_filtered.py
Due: lint

Update the API of Bytedance/Seed1.6-embedding-1215 (#3814)
  mteb/models/model_implementations/seed_1_6_embedding_models_1215.py
Due: lint

fix: resolve 6 real docs build warnings
  docs/usage/defining_the_model.md
  mteb/_evaluators/__init__.py
  mteb/abstasks/classification.py
  mteb/abstasks/regression.py
  mteb/abstasks/retrieval.py
  mteb/results/benchmark_results.py
Due: lint

add test
  tests/test_models/test_model_meta.py
Due: lint

fix: remove broken PylateSearchEncoder reference
  docs/whats_new.md
Due: none

fix: repo exists check (#3813)
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
