Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

2.21.8
  pyproject.toml
Due: none

fix: dtype mismatch in rerank_top_ranked_documents reranking path
  mteb/models/search_wrappers.py
Due: lint

keep conversion
  mteb/models/search_wrappers.py
Due: lint

don't raise SparseEncoder/MultiVectorEncoder ImportError for unrelated models
  mteb/evaluate.py
Due: lint

remove comments
  mteb/models/sentence_transformer_wrapper.py
Due: lint

remove comments
  mteb/evaluate.py
Due: lint

feat: split the package into mteb and mteb-core
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/installation.md
  mteb/models/model_meta.py
  pyproject.toml
  scripts/benchmark_core_package.py
  scripts/build_core_package.py
  tests/test_build_core_package.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

renaming, docstring changes, and other minor fixes
  docs/get_started/advanced_usage/cleaning_task_data.md
  mteb/data_cleaning/_filters.py
  tests/test_data_cleaning.py
Due: lint

update tests
  tests/test_data_cleaning.py
Due: lint

Apply ignore_identical_ids to the float-gains metric consistently
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/retrieval.py
  tests/test_abstasks/test_retrieval_float_gains.py
Due: lint

fix bugs in docs
  docs/overview/index.md
  mteb/abstasks/task_metadata.py
  mteb/api/routes.py
  mteb/benchmarks/_create_table.py
  tests/test_abstasks/test_task_metadata.py
Due: lint, format-benchmarks-citations

raise the multilabel eval cap to 3000 and drop the v2 tasks it no longer affects
  mteb/abstasks/multilabel_classification.py
  mteb/descriptive_stats/AudioMultilabelClassification/AudioSetMini.v2.json
  mteb/descriptive_stats/AudioMultilabelClassification/BirdSet.v2.json
  mteb/descriptive_stats/AudioMultilabelClassification/FSD50K.v2.json
  mteb/descriptive_stats/MultilabelClassification/BrazilianToxicTweetsClassification.v2.json
  mteb/descriptive_stats/MultilabelClassification/KorHateSpeechMLClassification.v2.json
  mteb/descriptive_stats/MultilabelClassification/MalteseNewsClassification.v2.json
  mteb/descriptive_stats/MultilabelClassification/SensitiveTopicsClassification.v2.json
  mteb/tasks/multilabel_classification/eng/__init__.py
  mteb/tasks/multilabel_classification/eng/audio_set.py
  mteb/tasks/multilabel_classification/eng/fsd2019_kaggle.py
  mteb/tasks/multilabel_classification/eng/fsd50_hf.py
  mteb/tasks/multilabel_classification/eng/pascal_voc2007.py
  mteb/tasks/multilabel_classification/kor/__init__.py
  mteb/tasks/multilabel_classification/kor/kor_hate_speech_ml_classification.py
  mteb/tasks/multilabel_classification/mlt/__init__.py
  mteb/tasks/multilabel_classification/mlt/maltese_news_classification.py
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
  mteb/tasks/multilabel_classification/multilingual/multi_eurlex_multilabel_classification.py
  mteb/tasks/multilabel_classification/nld/vabb_multi_label_classification.py
  mteb/tasks/multilabel_classification/por/__init__.py
  mteb/tasks/multilabel_classification/por/brazilian_toxic_tweets_classification.py
  mteb/tasks/multilabel_classification/rus/__init__.py
  mteb/tasks/multilabel_classification/rus/sensitive_topics_classification.py
  mteb/tasks/multilabel_classification/zxx/__init__.py
  mteb/tasks/multilabel_classification/zxx/bird_set.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

feat: add VideoFramesWrapper to run image models on video tasks
  docs/api/model.md
  docs/get_started/advanced_usage/image_models_on_video.md
  mkdocs.yml
  mteb/models/__init__.py
  mteb/models/video_wrappers/__init__.py
  mteb/models/video_wrappers/video_frames_wrapper.py
  pyproject.toml
  tests/test_models/test_video_frames_wrapper.py
Due: lint

merged other task types
  mteb/abstasks/task_metadata.py
  tests/test_abstasks/test_task_metadata.py
Due: lint

feat: run image models on video tasks automatically in evaluate
  docs/get_started/advanced_usage/image_models_on_video.md
  mteb/cli/build_cli.py
  mteb/evaluate.py
  mteb/models/video_wrappers/__init__.py
  mteb/models/video_wrappers/video_frames_wrapper.py
  tests/test_cli.py
  tests/test_models/test_video_frames_wrapper.py
Due: lint

test: skip video wrapper tests when video dependencies are missing
  tests/test_models/test_video_frames_wrapper.py
Due: lint

feat: single-node multi-GPU encoding via `--device` list
  docs/get_started/usage/cli.md
  docs/get_started/usage/running_the_evaluation.md
  mteb/__main__.py
  mteb/cli/build_cli.py
Due: lint

make changes in scripts
  scripts/benchmark_core_package.py
  scripts/build_core_package.py
Due: lint

guards for not installing mteb and mteb-core simultaneously
  docs/installation.md
  mteb/_requires_package.py
  pyproject.toml
  scripts/build_core_package.py
Due: lint

update tests
  tests/test_ensure_no_torch_at_import.py
Due: lint

Clarify new SIB200 v3 configurations
  mteb/tasks/classification/multilingual/sib200_classification.py
Due: lint, format-tasks-citations

fix links related to get_tasks
  docs/api/task.md
  docs/get_started/usage/selecting_tasks.md
Due: none

fix bugs in docs (#5535)
  docs/api/task.md
  docs/get_started/usage/selecting_tasks.md
  docs/overview/index.md
  mteb/abstasks/task_metadata.py
  mteb/api/routes.py
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

remove todo comment
  pyproject.toml
Due: none

refactor(clustering): make the .v2 tasks standalone and cut the extra tests
  mteb/abstasks/clustering.py
  mteb/tasks/clustering/eng/arxiv_hierarchical_clustering.py
  mteb/tasks/clustering/nob/snl_hierarchical_clustering.py
  mteb/tasks/clustering/nob/vg_hierarchical_clustering.py
  tests/test_abstasks/test_clustering_metrics.py
Due: lint, format-tasks-citations

refactor: rename to Video2ImagesWrapper and expose fps/max_frames
  docs/api/model.md
  docs/get_started/advanced_usage/image_models_on_video.md
  mteb/evaluate.py
  mteb/models/__init__.py
  mteb/models/video_wrappers/__init__.py
  mteb/models/video_wrappers/video2images_wrapper.py
  tests/test_models/test_video2images_wrapper.py
Due: lint

refactor: move image-to-video wrapping out of evaluate.py
  mteb/evaluate.py
  mteb/models/video_wrappers/__init__.py
  mteb/models/video_wrappers/video2images_wrapper.py
Due: lint

feat: store default-protocol video results for image models as regular results
  docs/get_started/advanced_usage/image_models_on_video.md
  mteb/models/video_wrappers/video2images_wrapper.py
  tests/test_models/test_video2images_wrapper.py
Due: lint

Regenerate the mock run with the new document path
  mteb_mock_run_results.md
Due: none

add messaging at all places where torch is required
  mteb/_requires_package.py
  mteb/cli/build_cli.py
  mteb/evaluate.py
  mteb/models/model_meta.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

refactor: move DS1000Retrieval to v2 dataset format
  mteb/tasks/retrieval/code/ds1000_retrieval.py
Due: lint, format-tasks-citations

refactor: move DS1000Retrieval to v2 dataset format (#5542)
  mteb/tasks/retrieval/code/ds1000_retrieval.py
Due: lint, format-tasks-citations

Delete mteb_mock_run_results.md
  mteb_mock_run_results.md
Due: none

push the citation cache with the RELEASE token
  .github/workflows/citation_check.yml
Due: none
