Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

Refactor code to remove unnecessary dataloader. Use prompt_type
  mteb/models/model_implementations/eagerworks_models.py
  pyproject.toml
Due: lint

[MAEB] Make `Qwen2-Audio` support text (#3581)
  mteb/models/model_implementations/audio_qwen2_models.py
Due: lint

Correcting the cohere lstrip bug
  mteb/models/model_implementations/cohere_models.py
Due: lint

Update mteb/models/model_implementations/cohere_models.py
  mteb/models/model_implementations/cohere_models.py
Due: lint

fix: Correcting the cohere lstrip bug in `cohere` (#3610)
  mteb/models/model_implementations/cohere_models.py
Due: lint

2.1.18
  pyproject.toml
Due: none

feat: Add per-language table creation
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/leaderboard/app.py
  mteb/leaderboard/table.py
Due: lint, format-benchmarks-citations

refactor: Simplify per-language table creation by removing unnecessary comments and print statements
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

Update model revision. Move tokenizer config to file
  mteb/models/model_implementations/eagerworks_models.py
Due: lint

fix cache filtering
  mteb/cache.py
Due: lint

add test
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/MockMultilingualClusteringTask.json
  tests/test_result_cache.py
Due: lint

Add model Yuan-embedding-2.0 to MTEB
  mteb/models/model_implementations/yuan_models.py
Due: lint

add memory_usage_mb
  mteb/models/model_implementations/yuan_models.py
Due: lint

fix: Cache language filtering (#3612)
  mteb/cache.py
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/MockMultilingualClusteringTask.json
  tests/test_result_cache.py
Due: lint

lint
  mteb/models/model_implementations/yuan_models.py
Due: lint

[MAEB] Merge classification (#3590)
  mteb/_evaluators/sklearn_evaluator.py
  mteb/abstasks/__init__.py
  mteb/abstasks/audio/abs_task_audio_classification.py
  mteb/abstasks/classification.py
  mteb/abstasks/regression.py
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/audio/classification_evaluator.py
  mteb/tasks/audio/audio_classification/eng/ambient_acoustic_context.py
  mteb/tasks/audio/audio_classification/eng/beijing_opera.py
  mteb/tasks/audio/audio_classification/eng/bird_clef.py
  mteb/tasks/audio/audio_classification/eng/common_language_age_detection.py
  mteb/tasks/audio/audio_classification/eng/common_language_gender_detection.py
  mteb/tasks/audio/audio_classification/eng/common_language_language_classification.py
  mteb/tasks/audio/audio_classification/eng/cremad.py
  mteb/tasks/audio/audio_classification/eng/esc50.py
  mteb/tasks/audio/audio_classification/eng/fsdd.py
  mteb/tasks/audio/audio_classification/eng/gtzan_genre.py
  mteb/tasks/audio/audio_classification/eng/gunshot_triangulation.py
  mteb/tasks/audio/audio_classification/eng/iemocap_emotion.py
  mteb/tasks/audio/audio_classification/eng/iemocap_gender.py
  mteb/tasks/audio/audio_classification/eng/libri_count.py
  mteb/tasks/audio/audio_classification/eng/mridingham_stroke.py
  mteb/tasks/audio/audio_classification/eng/mridingham_tonic.py
  mteb/tasks/audio/audio_classification/eng/n_synth.py
  mteb/tasks/audio/audio_classification/eng/speech_commands.py
  mteb/tasks/audio/audio_classification/eng/spoke_n.py
  mteb/tasks/audio/audio_classification/eng/spoken_q_afor_ic.py
  mteb/tasks/audio/audio_classification/eng/tut_acoustic_scenes.py
  mteb/tasks/audio/audio_classification/eng/urban_sound8k.py
  mteb/tasks/audio/audio_classification/eng/vocal_sound.py
  mteb/tasks/audio/audio_classification/eng/vox_celeb_sa.py
  mteb/tasks/audio/audio_classification/eng/vox_lingua107_top10.py
  mteb/tasks/audio/audio_classification/eng/vox_populi_accent_id.py
  mteb/tasks/audio/audio_classification/multilingual/m_in_ds14.py
  mteb/tasks/audio/audio_classification/multilingual/sibfleurs.py
  mteb/tasks/audio/audio_classification/multilingual/vox_populi_gender_id.py
  mteb/tasks/audio/audio_classification/multilingual/vox_populi_language_id.py
  tests/mock_tasks.py
Due: lint, format-tasks-citations

model: Add IEITYuan/Yuan-embedding-2.0-zh model (#3613)
  mteb/models/model_implementations/yuan_models.py
Due: lint

merge multilabel classification
  mteb/_create_dataloaders.py
  mteb/abstasks/audio/__init__.py
  mteb/abstasks/audio/abs_task_multilabel_classification.py
  mteb/evaluation/__init__.py
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/audio/__init__.py
  mteb/tasks/audio/audio_multilabel_classification/eng/audio_set.py
  mteb/tasks/audio/audio_multilabel_classification/eng/bird_set.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd2019_kaggle.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd50_hf.py
  tests/mock_tasks.py
Due: lint, format-tasks-citations

2.1.19
  pyproject.toml
Due: none

fix mock task
  tests/mock_tasks.py
Due: lint

feat: make STS and PairClassification asymmetric (#3568)
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/sts.py
  mteb/descriptive_stats/PairClassification/TERRa.V2.json
  mteb/tasks/pair_classification/rus/__init__.py
  mteb/tasks/pair_classification/rus/terra.py
  tests/test_evaluators/test_PairClassificationEvaluator.py
  tests/test_evaluators/test_STSEvaluator.py
Due: lint, format-tasks-citations

feat: Enhance per-language table functionality
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/leaderboard/app.py
  mteb/leaderboard/table.py
Due: lint, format-benchmarks-citations

add birdset as trust_remote_code task
  tests/test_tasks/test_metadata.py
Due: lint

2.2.0
  pyproject.toml
Due: none

[MAEB] Merge multilabel classification (#3614)
  mteb/_create_dataloaders.py
  mteb/abstasks/audio/__init__.py
  mteb/abstasks/audio/abs_task_multilabel_classification.py
  mteb/evaluation/__init__.py
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/audio/__init__.py
  mteb/tasks/audio/audio_multilabel_classification/eng/audio_set.py
  mteb/tasks/audio/audio_multilabel_classification/eng/bird_set.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd2019_kaggle.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd50_hf.py
  tests/mock_tasks.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

add to init
  mteb/tasks/classification/heb/__init__.py
Due: lint, format-tasks-citations

feat: Enhance per-language table functionality with support flag and styling improvements
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

remove streaming backend
  mteb/models/search_encoder_index/__init__.py
  mteb/models/search_encoder_index/search_indexes/__init__.py
  mteb/models/search_encoder_index/search_indexes/streaming_search_index.py
Due: lint

Update mteb/evaluate.py
  mteb/evaluate.py
Due: lint

fix test
  tests/test_search_index/test_search_index.py
Due: lint

fix vidore loading
  mteb/tasks/retrieval/multilingual/vidore2_bench_retrieval.py
Due: lint, format-tasks-citations

fix: Avoiding stating warning if what is logged is not a warning
  mteb/models/search_wrappers.py
Due: lint

add doc
  docs/advanced_usage/retrieval_backend.md
  mkdocs.yml
Due: none

remove from cli
  mteb/cli/build_cli.py
  tests/test_cli.py
Due: lint

fix: Avoiding stating warning if what is logged is not a warning (#3619)
  mteb/models/search_wrappers.py
Due: lint

2.2.1
  pyproject.toml
Due: none

fix: vidore loading (#3618)
  mteb/tasks/retrieval/multilingual/vidore2_bench_retrieval.py
Due: lint, format-tasks-citations

add tests
  mteb/evaluate.py
  mteb/models/model_implementations/cohere_models.py
  mteb/results/model_result.py
  mteb/results/task_result.py
  tests/test_evaluate.py
Due: lint

add memory
  docs/advanced_usage/retrieval_backend.md
Due: none

add token to ds check
  .github/workflows/dataset_loading.yml
Due: none

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
