Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix add missing min_pixels to video processing_kwargs in e5_omni and tevatron (#4572)
  mteb/models/model_implementations/e5_omni_models.py
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

Apply suggestions from code review
  mteb/tasks/zeroshot_classification/eng/avmeme_exam_classification.py
Due: lint, format-tasks-citations

fix: Allow `get_tasks` to filter out a tasks (#4552)
  mteb/get_tasks.py
  mteb/leaderboard/benchmark_selector.py
Due: lint

dataset: Add elastic kb retrieval (#4487)
  mteb/descriptive_stats/Retrieval/ElasticKBRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/elastic_kb_retrieval.py
  tests/test_abstasks/test_private_tasks.py
Due: lint, format-tasks-citations

fix: remove preprocess=False
  mteb/leaderboard/app.py
Due: lint

[MVEB] expand clustering tasks with video-only mode
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/ave_dataset_clustering.py
  mteb/tasks/clustering/eng/music_avqa_clustering.py
  mteb/tasks/clustering/eng/ucf101_clustering.py
  mteb/tasks/clustering/eng/worldsense_1min_domain_clustering.py
Due: lint, format-tasks-citations

dataset: add news datasets (#4544)
  mteb/descriptive_stats/Retrieval/GlobalNewsRetrieval.json
  mteb/descriptive_stats/Retrieval/PublicNewsRetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/news_retrieval.py
  tests/test_abstasks/test_private_tasks.py
Due: lint, format-tasks-citations

Apply suggestions from code review
  mteb/models/model_implementations/language_bind_models.py
  pyproject.toml
Due: lint

2.12.36
  pyproject.toml
Due: none

lint fix
  mteb/tasks/clustering/eng/worldsense_1min_domain_clustering.py
Due: lint, format-tasks-citations

fix: remove unused dataset transform for CzechProductReviewSentimentClassification
  mteb/tasks/classification/ces/czech_product_review_sentiment_classification.py
Due: lint, format-tasks-citations

[MVEB] expand clustering tasks with video-only mode (#4576)
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/ave_dataset_clustering.py
  mteb/tasks/clustering/eng/music_avqa_clustering.py
  mteb/tasks/clustering/eng/ucf101_clustering.py
  mteb/tasks/clustering/eng/worldsense_1min_domain_clustering.py
Due: lint, format-tasks-citations

fix: remove unused dataset transform for CzechProductReviewSentimentClassification (#4577)
  mteb/tasks/classification/ces/czech_product_review_sentiment_classification.py
Due: lint, format-tasks-citations

clean
  mteb/leaderboard/app.py
Due: lint

fix logging
  mteb/results/model_result.py
Due: lint

Fix: Querit model revision and release_data (#4569)
  mteb/models/model_implementations/querit_models.py
Due: lint

fix typing
  mteb/results/model_result.py
Due: lint

clean up
  mteb/leaderboard/app.py
Due: lint

model: add IBM Granite multilingual r2 models (#4561)
  mteb/models/model_implementations/ibm_granite_models.py
  tests/test_get_tasks.py
Due: lint

activate strict
  Makefile
  docs/get_started/usage/cli.md
  docs/index.md
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_tasks.py
  mkdocs.yml
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

Add Kinetics700 and Kinetics600 zeroshot classification task (#4537)
  mteb/tasks/zeroshot_classification/eng/__init__.py
  mteb/tasks/zeroshot_classification/eng/kinetics600.py
  mteb/tasks/zeroshot_classification/eng/kinetics700.py
Due: lint, format-tasks-citations

Add AVMeme-Exam zero shot classification task (#4539)
  mteb/tasks/zeroshot_classification/eng/__init__.py
  mteb/tasks/zeroshot_classification/eng/avmeme_exam_classification.py
Due: lint, format-tasks-citations

Update mteb/cache/result_cache.py
  mteb/cache/result_cache.py
Due: lint

2.12.37
  pyproject.toml
Due: none

fix lint
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_tasks.py
Due: lint

Remove dataset_transform, bake transforms into re-uploaded datasets
  mteb/descriptive_stats/VideoPairClassification/AVSpeakerBenchPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/VideoConPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/VinogroundPairClassification.json
  mteb/tasks/pair_classification/eng/_video_pair_helpers.py
  mteb/tasks/pair_classification/eng/av_speakerbench_pc.py
  mteb/tasks/pair_classification/eng/videocon_pc.py
  mteb/tasks/pair_classification/eng/vinoground_pc.py
Due: lint, format-tasks-citations

docs: activate strict documentation (#4579)
  Makefile
  docs/get_started/usage/cli.md
  docs/index.md
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_tasks.py
  mkdocs.yml
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

model: bump default max_frames to 64 across omni video wrappers
  mteb/models/model_implementations/e5_omni_models.py
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_implementations/omni_embed_nemotron_models.py
  mteb/models/model_implementations/omnivinci_models.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/qwen_omni_lm.py
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

split doc
  docs/get_started/advanced_usage/result_cache.md
  docs/get_started/usage/loading_results.md
Due: none

fix: add setup instructions to docstring, remove uninstallable dep
  mteb/models/model_implementations/language_bind_models.py
  pyproject.toml
Due: lint

fix: update VideoCollator import path
  mteb/models/model_implementations/language_bind_models.py
Due: lint

fix: pass sample_rate tuple to audio processor
  mteb/models/model_implementations/language_bind_models.py
Due: lint

[MVEB] Add 3 native VideoPairClassification tasks (#4471)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/VideoPairClassification/AVSpeakerBenchPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/VideoConPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/VinogroundPairClassification.json
  mteb/tasks/pair_classification/eng/__init__.py
  mteb/tasks/pair_classification/eng/av_speakerbench_pc.py
  mteb/tasks/pair_classification/eng/videocon_pc.py
  mteb/tasks/pair_classification/eng/vinoground_pc.py
Due: lint, format-tasks-citations

lint
  mteb/models/model_implementations/language_bind_models.py
Due: lint

use full set, and set n_exp to 1
  mteb/tasks/classification/zxx/inat_sounds.py
Due: lint, format-tasks-citations

align splits for cross val
  mteb/tasks/classification/zxx/inat_sounds.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
