Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

make cli compatible with `v1`
  mteb/cli/build_cli.py
Due: lint

Apply suggestions from code review
  docs/usage/two_stage_reranking.md
Due: none

Clarify model usage in reranking example
  docs/usage/two_stage_reranking.md
Due: none

add two stage reranking in mkdocs
  mkdocs.yml
Due: none

fix tests
  tests/test_cli.py
Due: lint

cls and mlcls deduplication for MTEB-NL
  mteb/descriptive_stats/Classification/DutchGovernmentBiasClassification.json
  mteb/descriptive_stats/Classification/OpenTenderClassification.json
  mteb/descriptive_stats/Clustering/OpenTenderClusteringP2P.json
  mteb/descriptive_stats/Clustering/OpenTenderClusteringS2S.json
  mteb/descriptive_stats/MultilabelClassification/VABBMultiLabelClassification.json
  mteb/tasks/classification/nld/DutchGovernmentBiasClassification.py
  mteb/tasks/classification/nld/OpenTenderClassification.py
  mteb/tasks/clustering/nld/OpenTenderClusteringP2P.py
  mteb/tasks/clustering/nld/OpenTenderClusteringS2S.py
  mteb/tasks/multilabel_classification/nld/VABBMultiLabelClassification.py
Due: lint, format-tasks-citations

add co2 tracker None
  mteb/cli/build_cli.py
  tests/test_cli.py
Due: lint

add `save_predictions` to test
  tests/test_cli.py
Due: lint

SICK-NL deduplication for MTEB-NL
  mteb/descriptive_stats/PairClassification/SICKNLPairClassification.json
  mteb/descriptive_stats/STS/SICK-NL-STS.json
  mteb/tasks/pair_classification/nld/SICKNLPairClassification.py
  mteb/tasks/sts/nld/SICKNLSTS.py
Due: lint, format-tasks-citations

fix co2 help
  mteb/cli/build_cli.py
Due: lint

fix tasks selection
  mteb/leaderboard/app.py
Due: lint

benchmark use cache directly (#3376)
  mteb/benchmarks/benchmark.py
  mteb/leaderboard/app.py
Due: lint, format-benchmarks-citations

remove unused `type: ignore`
  mteb/tasks/classification/kor/KorFin.py
Due: lint, format-tasks-citations

fix `is_filled`
  mteb/abstasks/task_metadata.py
Due: lint

fix task filtering
  mteb/filter_tasks.py
Due: lint

update pyproject
  pyproject.toml
Due: none

Apply suggestions from code review
  pyproject.toml
Due: none

fully activate `N`
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/_stratification.py
  mteb/abstasks/abstask.py
  mteb/models/model_implementations/conan_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
  pyproject.toml
  scripts/data/toxic_conversations_50k/create_data.py
  scripts/format_citations.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

activate f403
  pyproject.toml
Due: none

add suppressed by to similar tasks
  mteb/get_tasks.py
  tests/test_models/test_model_meta.py
Due: lint

add script for renaming
  scripts/rename_to_snake_case.py
Due: lint

rename terra
  mteb/tasks/pair_classification/rus/__init__.py
  mteb/tasks/pair_classification/rus/terra.py
Due: lint, format-tasks-citations

fix classes for reranking tasks
  mteb/tasks/reranking/vie/ask_ubuntu_dup_questions_vn.py
  mteb/tasks/reranking/vie/sci_docs_reranking_vn.py
  mteb/tasks/reranking/vie/stack_overflow_dup_questions_vn.py
Due: lint, format-tasks-citations

feat: add TREC Deep Learning 2019 and 2020 retrieval tasks
  mteb/tasks/Retrieval/eng/TRECDLRetrieval.py
Due: lint, format-tasks-citations

make cli compatible with `v1` (#3386)
  mteb/cli/build_cli.py
  tests/test_cli.py
Due: lint

Update pyproject.toml
  pyproject.toml
Due: none

roll back version
  pyproject.toml
Due: none

rename `MTEB` to `deprecated_evaluator`
  mteb/__init__.py
  mteb/deprecated_evaluator.py
  pyproject.toml
Due: lint

Update pyproject for `v2` (#3389)
  pyproject.toml
Due: none

feat - issue #3381
  mteb/leaderboard/app.py
Due: lint

restructure agg tasks into lang subfolders
  mteb/tasks/aggregated_tasks/__init__.py
  mteb/tasks/aggregated_tasks/eng/cqadupstack_retrieval.py
  mteb/tasks/aggregated_tasks/eng/sts17_multilingual_visual_sts_eng.py
  mteb/tasks/aggregated_tasks/eng/sts_benchmark_multilingual_visual_sts_eng.py
  mteb/tasks/aggregated_tasks/fas/cqadupstack_retrieval_fa.py
  mteb/tasks/aggregated_tasks/fas/syn_per_chatbot_conv_sa_classification.py
  mteb/tasks/aggregated_tasks/nld/cqadupstack_nl_retrieval.py
  mteb/tasks/aggregated_tasks/pol/cqadupstack_retrieval_pl.py
  mteb/tasks/aggregated_tasks/sts17_multilingual_visual_sts.py
  mteb/tasks/aggregated_tasks/sts_benchmark_multilingual_visual_sts.py
Due: lint, format-tasks-citations

add inits
  mteb/tasks/aggregated_tasks/eng/__init__.py
  mteb/tasks/aggregated_tasks/fas/__init__.py
  mteb/tasks/aggregated_tasks/multilingual/__init__.py
  mteb/tasks/aggregated_tasks/multilingual/sts17_multilingual_vision_sts.py
  mteb/tasks/aggregated_tasks/multilingual/sts_benchmark_multilingual_visual_sts.py
  mteb/tasks/aggregated_tasks/nld/__init__.py
  mteb/tasks/aggregated_tasks/pol/__init__.py
Due: lint, format-tasks-citations

fix import
  mteb/tasks/aggregated_tasks/eng/__init__.py
Due: lint, format-tasks-citations
