Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

fix
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

remove comments
  mteb/api/aggregators.py
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

Move lenient-recompute functions out of mteb.api into _benchmark_metrics
  mteb/api/aggregators.py
  mteb/benchmarks/_benchmark_metrics.py
  tests/test_api/test_aggregators.py
  tests/test_benchmarks/test_benchmark_score.py
Due: lint, format-benchmarks-citations

simplify comments
  mteb/benchmarks/_benchmark_metrics.py
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

fix: combine subsets in run_settings.jsonl (#5099)
  docs/whats_new.md
  mteb/cache/result_cache.py
  mteb/results/task_result.py
  tests/test_run_settings_jsonl.py
Due: lint

Apply suggestions from code review
  mteb/api/aggregators.py
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

move import
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

Enable some ruff rules (#5108)
  docs/overview/create_available_models.py
  docs/overview/create_available_tasks.py
  mteb/_evaluators/evaluator.py
  mteb/abstasks/abstask.py
  mteb/cache/result_cache.py
  mteb/deprecated_evaluator.py
  mteb/get_tasks.py
  mteb/models/model_implementations/ibm_granite_models.py
  mteb/models/model_implementations/kalm_reranker.py
  mteb/models/model_implementations/portuguese_models.py
  mteb/models/model_implementations/querit_models.py
  mteb/tasks/sts/eng/sts_benchmark_sts.py
  mteb/types/_encoder_io.py
  mteb/types/statistics.py
  pyproject.toml
  tests/mock_models.py
  tests/test_models/test_model_meta.py
  tests/test_results/test_benchmark_results.py
Due: lint, format-tasks-citations

lint
  mteb/api/aggregators.py
Due: lint

fix test
  mteb/mocks/mock_tasks/retrieval.py
Due: lint

remove k values from mock
  mteb/mocks/mock_tasks/retrieval.py
Due: lint

2.18.17
  pyproject.toml
Due: none

fix: leaderboard partial split aggregation (#5102)
  mteb/benchmarks/_create_table.py
  tests/conftest.py
  tests/mock_mteb_cache/results/mteb__baseline-random-encoder/1/CataloniaTweetClassification.json
  tests/mock_mteb_cache/results/mteb__baseline-random-encoder/1/PoemSentimentClassification.v2.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/CataloniaTweetClassification.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/PoemSentimentClassification.v2.json
  tests/test_benchmarks/test_benchmark_score.py
  tests/test_benchmarks/test_create_table.py
Due: lint, format-benchmarks-citations

2.18.18
  pyproject.toml
Due: none

model: add RAVENEA-CLIP
  mteb/models/model_implementations/ravenea_models.py
  mteb_mock_run_results.md
Due: lint

fix: break MRR ties by doc id to match pytrec_eval (#5136)
  mteb/_evaluators/retrieval_metrics.py
  tests/test_evaluators/test_evaluation_metrics.py
Due: lint

Update mteb/models/sentence_transformer_wrapper.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

Potential fix for pull request finding
  mteb/models/sentence_transformer_wrapper.py
Due: lint

2.18.19
  pyproject.toml
Due: none

Delete .github/workflows/copilot_dataset_review.yml
  .github/workflows/copilot_dataset_review.yml
Due: none

Delete .github/instructions directory
  .github/instructions/dataset-pr.instructions.md
Due: none

ci: Revert copilot dataset pr review (#5177)
  .github/instructions/dataset-pr.instructions.md
  .github/workflows/copilot_dataset_review.yml
Due: none

lint
  mteb/models/sentence_transformer_wrapper.py
Due: lint

Add more zeroshot metrics
  mteb/abstasks/zeroshot_classification.py
Due: lint

remove
  mteb/abstasks/zeroshot_classification.py
Due: lint

add test for metrics
  tests/test_abstasks/test_zeroshot_classification.py
Due: lint

fix typing
  mteb/abstasks/zeroshot_classification.py
Due: lint

fix index
  mteb/mocks/mock_tasks/retrieval.py
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
Due: lint

remove unnecessary aggregations
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

remove files
  scripts/data/mars_vl_pairs/README.md
  tests/test_tasks/test_mars_vl_pairs.py
Due: lint

fix tests
  tests/test_integrations/test_encode_args_passed.py
Due: lint

dataset: add RAVENEA cultural image-to-text retrieval (#5135)
  mteb/descriptive_stats/Reranking/RAVENEAI2TRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/ravenea.py
  scripts/data/ravenea/create_data.py
Due: lint, format-tasks-citations

fix: cap retrieval top-k search depth to available results
  mteb/abstasks/retrieval.py
  mteb/mocks/mock_tasks/retrieval.py
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
Due: lint

add typehint
  mteb/abstasks/retrieval.py
Due: lint

fix: cap retrieval top-k search depth to available results (#5180)
  mteb/abstasks/retrieval.py
  mteb/mocks/mock_tasks/retrieval.py
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
Due: lint

add concurrency in dataset loading
  .github/workflows/dataset_loading.yml
Due: none
