Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

implement for bitext mining task
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/abstasks/text/bitext_mining.py
Due: lint

implement for STS task
  mteb/_evaluators/any_sts_evaluator.py
  mteb/abstasks/sts.py
Due: lint

implement for summarization task
  mteb/_evaluators/text/summarization_evaluator.py
  mteb/abstasks/text/summarization.py
Due: lint

implement for sklearn evaluator
  mteb/_evaluators/sklearn_evaluator.py
Due: lint

fix lintter
  .specstory/history/2026-04-23_09-55Z-testing-mechanism-for-new-datasets.md
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/_evaluators/sklearn_evaluator.py
  mteb/_evaluators/text/summarization_evaluator.py
  mteb/abstasks/aggregated_task.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/sts.py
  mteb/abstasks/text/bitext_mining.py
  mteb/abstasks/text/summarization.py
  mteb/abstasks/zeroshot_classification.py
Due: lint

Delete .specstory/history/2026-04-23_09-55Z-testing-mechanism-for-new-datasets.md
  .specstory/history/2026-04-23_09-55Z-testing-mechanism-for-new-datasets.md
Due: none

feat: route AudioPairClassification->retrieval and ImageClustering->text-matching
  mteb/models/model_implementations/jina_models.py
  tests/test_models/test_jina_v5_omni_wrapper.py
Due: lint

remove jieba as a dependency and add docs
  docs/get_started/usage/defining_the_model.md
  mteb/models/model_implementations/bm25.py
  pyproject.toml
Due: lint

fix: retrieval statistics calculation (#4671)
  mteb/abstasks/_statistics_calculation.py
  tests/mock_tasks.py
Due: lint

2.13.6
  pyproject.toml
Due: none

update tests
  mteb/results/task_result.py
  tests/test_run_settings_jsonl.py
Due: lint

bump mypy
  pyproject.toml
Due: none

minor changes from review
  mteb/cache/result_cache.py
  mteb/results/task_result.py
Due: lint

updated whats_new docs
  docs/whats_new.md
Due: none

fix(jina-omni): drop Compositionality routing
  mteb/models/model_implementations/jina_models.py
Due: lint

fix mypy on ci
  mteb/_create_dataloaders.py
  mteb/abstasks/retrieval.py
Due: lint

2.13.7
  pyproject.toml
Due: none

Fix training datasets
  mteb/models/model_implementations/sse_models.py
Due: lint

Remove contacts
  mteb/models/model_implementations/sse_models.py
Due: lint

fix(jina-omni): restore Compositionality->clustering, prior revert was wrong
  mteb/models/model_implementations/jina_models.py
Due: lint

simplify evaluator more
  mteb/_evaluators/sklearn_evaluator.py
  mteb/abstasks/classification.py
  tests/test_evaluators/test_ClassificationEvaluator.py
Due: lint

added support of run_settings.jsonl in submit_results
  docs/whats_new.md
  mteb/cache/result_cache.py
  mteb/results/task_result.py
  tests/test_result_cache.py
Due: lint

fix(jina-omni): restore explicit text task-type entries in model_prompts
  mteb/models/model_implementations/jina_models.py
  tests/test_models/test_jina_v5_omni_wrapper.py
Due: lint

refactor(jina-omni): extract _OMNI_MODEL_PROMPTS constant
  mteb/models/model_implementations/jina_models.py
Due: lint

change CPU per task to 1
  scripts/mveb_paper/run_eval_script.sh
Due: none

Switch directory allowing the bash to find if result already exists or not
  scripts/mveb_paper/run_eval_script.sh
Due: none

append num_frame as suffix in sbatch job name
  scripts/mveb_paper/run_eval_script.sh
Due: none

use absolute path for error and output log.
  scripts/mveb_paper/run_eval_script.sh
Due: none

remove contacts
  mteb/models/model_implementations/sse_models.py
Due: lint

task: align BrightPro prompts with BRIGHT-Pro paper convention
  mteb/tasks/retrieval/eng/bright_pro_retrieval.py
Due: lint, format-tasks-citations

fix: route empty instructions through callable instruction_template
  mteb/models/abs_encoder.py
  tests/test_integrations/test_get_task_instruction.py
Due: lint

model: add Rikka-Botan Stable Static Embedding (SSE) family (#4681)
  mteb/models/model_implementations/sse_models.py
Due: lint

store logs inside main directory rather than mteb/logs
  scripts/mveb_paper/run_eval_script.sh
Due: none

Address LMEB review comments
  mteb/tasks/retrieval/eng/lmeb_retrieval.py
Due: lint, format-tasks-citations

model: add openbmb/VisRAG-Ret visual document retriever (#4666-followup)
  mteb/models/model_implementations/visrag_models.py
  pyproject.toml
Due: lint

Supplement number of embedding parameters
  mteb/models/model_implementations/visrag_models.py
Due: lint

removed unnecessary function
  mteb/cache/result_cache.py
  mteb/results/task_result.py
Due: lint

benchmark: Add LMEB benchmark (#4614)
  mteb/_evaluators/retrieval_metrics.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Retrieval/ConvoMem.json
  mteb/descriptive_stats/Retrieval/CovidQA.json
  mteb/descriptive_stats/Retrieval/DeepPlanning.json
  mteb/descriptive_stats/Retrieval/EPBench.json
  mteb/descriptive_stats/Retrieval/ESGReports.json
  mteb/descriptive_stats/Retrieval/Gorilla.json
  mteb/descriptive_stats/Retrieval/KnowMeBench.json
  mteb/descriptive_stats/Retrieval/LMEBMLDR.json
  mteb/descriptive_stats/Retrieval/LMEB_SciFact.json
  mteb/descriptive_stats/Retrieval/LoCoMo.json
  mteb/descriptive_stats/Retrieval/LongMemEval.json
  mteb/descriptive_stats/Retrieval/LooGLE.json
  mteb/descriptive_stats/Retrieval/MemBench.json
  mteb/descriptive_stats/Retrieval/MemGovern.json
  mteb/descriptive_stats/Retrieval/NovelQA.json
  mteb/descriptive_stats/Retrieval/PeerQA.json
  mteb/descriptive_stats/Retrieval/ProceduralMemBench.json
  mteb/descriptive_stats/Retrieval/QASPER.json
  mteb/descriptive_stats/Retrieval/REALTALK.json
  mteb/descriptive_stats/Retrieval/ReMe.json
  mteb/descriptive_stats/Retrieval/TMD.json
  mteb/descriptive_stats/Retrieval/ToolBench.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/lmeb_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

minor changes from review
  mteb/abstasks/abstask.py
  mteb/abstasks/retrieval.py
  mteb/evaluate.py
  mteb/results/task_result.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
