Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

update cstr-vctk-gender dataset and correct dates
  mteb/tasks/audio/any_2_any_retrieval/lass.py
  mteb/tasks/audio/audio_classification/eng/cstr_vctk_accent_id.py
  mteb/tasks/audio/audio_classification/eng/cstr_vctk_gender_classification.py
Due: lint, format-tasks-citations

fix test
  tests/test_tasks/test_metadata.py
Due: lint

fix common voice naming
  mteb/tasks/audio/any_2_any_retrieval/multilingual/__init__.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/common_voice.py
Due: lint, format-tasks-citations

fix leaderboard
  mteb/benchmarks/_create_table.py
  mteb/leaderboard/app.py
Due: lint, format-benchmarks-citations

fix lass-synth issue and add descriptive stats
  mteb/descriptive_stats/AudioClassification/CSTRVCTKAccentID.json
  mteb/descriptive_stats/AudioClassification/CSTRVCTKGender.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LASSA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LASST2ARetrieval.json
  mteb/tasks/audio/any_2_any_retrieval/lass.py
Due: lint, format-tasks-citations

add tau 2022 mobile development set
  mteb/descriptive_stats/AudioClassification/TAUAcousticScenes2022Mobile.json
  mteb/tasks/audio/audio_classification/zxx/__init__.py
  mteb/tasks/audio/audio_classification/zxx/tau_acoustic_scenes_2022_mobile.py
Due: lint, format-tasks-citations

fix: correct inverted unload_data condition in evaluate (#3929)
  mteb/evaluate.py
  tests/test_evaluate.py
Due: lint

2.7.3
  pyproject.toml
Due: none

refactor: split `BRIGHT` benchmark into individual subset tasks (#3285)
  mteb/abstasks/retrieval.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Retrieval/BrightAopsRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightBiologyLongRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightBiologyRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightEarthScienceLongRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightEarthScienceRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightEconomicsLongRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightEconomicsRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightLeetcodeRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightPonyLongRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightPonyRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightPsychologyLongRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightPsychologyRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightRoboticsLongRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightRoboticsRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightStackoverflowLongRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightStackoverflowRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightSustainableLivingLongRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightSustainableLivingRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightTheoremQAQuestionsRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightTheoremQATheoremsRetrieval.json
  mteb/models/model_implementations/bge_models.py
  mteb/models/model_implementations/bm25.py
  mteb/models/model_implementations/reasonir_model.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/bright_retrieval.py
  mteb/tasks/retrieval/eng/bright_v1_1_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

Update mteb/tasks/audio/audio_classification/zxx/tau_acoustic_scenes_2022_mobile.py
  mteb/tasks/audio/audio_classification/zxx/tau_acoustic_scenes_2022_mobile.py
Due: lint, format-tasks-citations

2.7.4
  pyproject.toml
Due: none

add tau 2022 mobile development set (#3966)
  mteb/descriptive_stats/AudioClassification/TAUAcousticScenes2022Mobile.json
  mteb/tasks/audio/audio_classification/zxx/__init__.py
  mteb/tasks/audio/audio_classification/zxx/tau_acoustic_scenes_2022_mobile.py
Due: lint, format-tasks-citations

Filled active_parameter_overiride for ritLM/GritLM-8x7B and nomic-ai/nomic-embed-text-v2-moe
  mteb/models/model_implementations/gritlm_models.py
  mteb/models/model_implementations/nomic_models.py
Due: lint

2.7.5
  pyproject.toml
Due: none

reupload VoiceGenderClustering
  mteb/tasks/audio/clustering/eng/voice_gender.py
Due: lint, format-tasks-citations

fix category
  mteb/abstasks/task_metadata.py
Due: lint

simplify
  mteb/leaderboard/app.py
Due: lint

Adding voyage-4-large (2048d) model configs
  mteb/models/model_implementations/voyage_models.py
Due: lint

Adding voyage-4-large 2048d model configs
  mteb/models/model_implementations/voyage_models.py
Due: lint

simplify dataset loading
  mteb/tasks/audio/any_2_any_retrieval/multilingual/common_voice.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/google_svq.py
Due: lint, format-tasks-citations

simplify a bit loop
  mteb/tasks/audio/any_2_any_retrieval/multilingual/google_svq.py
Due: lint, format-tasks-citations

fix loading
  mteb/tasks/audio/any_2_any_retrieval/multilingual/common_voice.py
Due: lint, format-tasks-citations

fix svq loading
  mteb/tasks/audio/any_2_any_retrieval/multilingual/google_svq.py
Due: lint, format-tasks-citations

fix other tasks
  mteb/tasks/audio/any_2_any_retrieval/eng/clotho.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/common_voice.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/fleurs.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/google_svq.py
Due: lint, format-tasks-citations

fix tqdm import
  mteb/tasks/audio/any_2_any_retrieval/eng/clotho.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/fleurs.py
Due: lint, format-tasks-citations

rename compute_missing to fill_missing
  mteb/models/get_model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

Add to_disk and from_disk to ModelResults
  mteb/results/model_result.py
Due: lint

Add LASS and CSTR-VCTK (accents + gender) datasets (#3942)
  mteb/descriptive_stats/AudioClassification/CSTRVCTKAccentID.json
  mteb/descriptive_stats/AudioClassification/CSTRVCTKGender.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LASSA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LASST2ARetrieval.json
  mteb/tasks/audio/any_2_any_retrieval/lass.py
  mteb/tasks/audio/audio_classification/eng/__init__.py
  mteb/tasks/audio/audio_classification/eng/cstr_vctk_accent_id.py
  mteb/tasks/audio/audio_classification/eng/cstr_vctk_gender_classification.py
Due: lint, format-tasks-citations

fix signature
  mteb/results/model_result.py
Due: lint

fix loading aggregated tasks
  mteb/benchmarks/_create_table.py
  mteb/results/task_result.py
Due: lint, format-benchmarks-citations

add stats
  mteb/descriptive_stats/AudioClassification/VocalSound.json
  mteb/descriptive_stats/AudioClustering/VoiceGenderClustering.json
  mteb/descriptive_stats/AudioMultilabelClassification/SIBFLEURS.json
  mteb/descriptive_stats/AudioZeroshotClassification/RavdessZeroshot.json
  mteb/descriptive_stats/AudioZeroshotClassification/UrbanSound8kZeroshot.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ClothoA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ClothoT2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoice17A2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoice17T2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoice21A2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoice21T2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GoogleSVQA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GoogleSVQT2ARetrieval.json
  mteb/descriptive_stats/Image/ImageMultilabelClassification/FSD2019Kaggle.json
  pyproject.toml
Due: none

add rest statistics
  mteb/descriptive_stats/AudioClassification/ExpressoConv.json
  mteb/descriptive_stats/AudioClassification/ExpressoRead.json
  mteb/descriptive_stats/AudioClassification/GLOBEV2Age.json
  mteb/descriptive_stats/AudioClassification/GLOBEV2Gender.json
  mteb/descriptive_stats/AudioMultilabelClassification/FSD2019Kaggle.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/JamAltArtistA2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/JamAltLyricA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/JamAltLyricT2ARetrieval.json
  tests/test_tasks/test_metadata.py
Due: lint
