Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

fix: remove broken logo
  mteb/leaderboard/text_segments.py
Due: lint

Fix Leaderboard Issues
  mteb/benchmarks/benchmark.py
  mteb/models/model_implementations/sentence_transformers_models.py
  tests/test_models/test_model_meta.py
Due: lint, format-benchmarks-citations

Fix lint (final newline)
  tests/test_models/test_model_meta.py
Due: lint

Fix lint + finalize modality filtering
  mteb/models/get_model_meta.py
Due: lint

update: zhinao-chinesemodernbert info.
  mteb/models/model_implementations/zhinao_modernbert_models.py
Due: lint

lint
  mteb/models/model_implementations/zhinao_modernbert_models.py
Due: lint

Fix behaviour when getting metadata for non-existing models
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/bb25.py
  mteb/models/model_implementations/bm25.py
Due: lint

optionally pass embed_dim
  mteb/models/model_meta.py
Due: lint

Added potion-base-32m and potion-retrieval-32m
  mteb/models/model_implementations/model2vec_models.py
Due: lint

Rename variables
  docs/CONTRIBUTING.md
  docs/api/model.md
  mteb/models/compression_wrappers/compression_wrapper.py
  mteb/models/model_implementations/cohere_models.py
  mteb/models/model_implementations/cohere_v.py
  mteb/models/model_implementations/voyage_models.py
  mteb/models/model_meta.py
  mteb/types/__init__.py
  mteb/types/_encoder_io.py
  tests/test_models/test_compression_wrapper.py
Due: lint

model: Add potion-base-32M and potion-retrieval-32M and update Model2Vec citation (#4286)
  mteb/models/model_implementations/model2vec_models.py
Due: lint

fix: Revert gradio version bump
  pyproject.toml
Due: none

Fix naming of cross-encoder/ms-marco-TinyBERT-L2-v2
  docs/get_started/advanced_usage/two_stage_reranking.md
  tests/test_deprecated/test_MTEB_create_model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

fix: don't fetch from hub when calling `get_model_meta`, but do when calling `get_model` (#4284)
  docs/get_started/advanced_usage/two_stage_reranking.md
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/bb25.py
  mteb/models/model_implementations/bm25.py
  tests/test_deprecated/test_MTEB_create_model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

2.11.3
  pyproject.toml
Due: none

fix: optionally pass embed_dim (#4285)
  mteb/models/model_meta.py
Due: lint

Add test for unfiltered models and fix lint
  tests/test_models/test_model_meta.py
Due: lint

fix: Revert gradio version bump (#4287)
  pyproject.toml
Due: none

Fix final newline
  tests/test_models/test_model_meta.py
Due: lint

2.11.4
  pyproject.toml
Due: none

fix: ensure that `display_on_leaderboard` actually reflect whether the benchmark is displayed
  mteb/benchmarks/benchmark.py
  tests/test_benchmarks/test_get_benchmarks.py
Due: lint, format-benchmarks-citations

lint
  tests/test_models/test_model_meta.py
Due: lint

Show models with 0 active params on performance per model size plot
  mteb/leaderboard/figures.py
Due: lint

fix typing
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

fix: fix tasktype aggregation (#4283)
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

fix: Add modality filtering to get_model_metas (#4262)
  mteb/models/get_model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

Update it to show same Active Parameters count on hover
  mteb/leaderboard/figures.py
Due: lint

Fix double showing of Active Parameters in Hover Data
  mteb/leaderboard/figures.py
Due: lint

fix: ensure that `display_on_leaderboard` actually reflect whether the benchmark is displayed (#4288)
  mteb/benchmarks/benchmark.py
  tests/test_benchmarks/test_get_benchmarks.py
Due: lint, format-benchmarks-citations

feat: add image support for llamaindex/vdr-2b-multi-v1
  mteb/models/model_implementations/vdr_models.py
  tests/test_models/test_vdr_models.py
Due: lint

fix: resolve circular imports and add CI enforcement
  Makefile
  mteb/abstasks/task_metadata.py
  mteb/benchmarks/_create_table.py
  mteb/cache.py
  mteb/deprecated_evaluator.py
  mteb/models/abs_encoder.py
  mteb/results/task_result.py
  scripts/check_circular_imports.py
Due: lint, format-benchmarks-citations

fix: use top-level direct imports where possible, inline only where circular
  mteb/abstasks/task_metadata.py
  mteb/cache.py
  mteb/deprecated_evaluator.py
  mteb/models/abs_encoder.py
Due: lint

fix: remove CI script and fix circular import in abs_encoder
  Makefile
  mteb/models/abs_encoder.py
  scripts/check_circular_imports.py
Due: lint

feat: add language extraction from HF model cards to get_model_meta
  mteb/languages/__init__.py
  mteb/languages/iso_639_1_to_3.json
  mteb/languages/iso_639_3_to_default_script.json
  mteb/languages/iso_mappings.py
  mteb/models/model_meta.py
  pyproject.toml
  tests/test_languages.py
Due: lint

fix: resolve API models in performance-over-time plot
  mteb/leaderboard/figures.py
Due: lint
