Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix: set n_embedding_parameters for ColQwen-Omni
  mteb/models/model_implementations/colqwen_models.py
Due: lint

dataset: add CoVR-R
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CoVRRVT2VRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/covr_r_retrieval.py
Due: lint, format-tasks-citations

feat(benchmarks): report rank stability from a paired task bootstrap
  docs/api/benchmark.md
  mteb/benchmarks/rank_stability.py
  tests/test_benchmarks/test_rank_stability.py
Due: lint, format-benchmarks-citations

wip: Dasheng audio wrapper
  mteb/models/model_implementations/dasheng_models.py
Due: lint

model: add Dasheng audio encoders (base, 0.6B, 1.2B)
  mteb/models/model_implementations/dasheng_models.py
Due: lint

fix: deduplicate NSynth audio before retrieval split
  mteb/descriptive_stats/Image/Any2AnyRetrieval/NSynthInstrumentFamilyA2ARetrieval.json
  mteb/tasks/retrieval/zxx/n_synth_retrieval.py
Due: lint, format-tasks-citations

test: allow upstream NSynth audio duplicates in clustering task
  tests/test_tasks/test_task_quality.py
Due: lint

fix: rebuild VELOCITI-PC to avoid video duplication, rewrite description
  mteb/tasks/pair_classification/eng/velociti.py
Due: lint, format-tasks-citations

task: add ADVANCE audio-image retrieval (a2i, i2a)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ADVANCEA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ADVANCEI2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/advance.py
Due: lint, format-tasks-citations

dataset: set MorisienMTBitextMining license to MIT
  mteb/tasks/bitext_mining/mfe/morisien_mt_bitext_mining.py
Due: lint, format-tasks-citations

Drop the MLX model entries, keep only the framework annotation
  mteb/models/model_implementations/nemotron_mlx_models.py
  mteb_mock_run_results.md
  pyproject.toml
Due: lint

Add MLX builds of Nemotron-3-Embed-1B
  mteb/models/model_implementations/nemotron_mlx_models.py
  mteb/models/model_meta.py
  mteb_mock_run_results.md
  pyproject.toml
Due: lint

research: audit retrieval qrel ID membership
  experiments/moeb_dataset_audit/audit_qrel_id_membership.py
  experiments/moeb_dataset_audit/qrel_id_membership_audit.json
  experiments/moeb_dataset_audit/qrel_id_membership_audit_report.md
Due: lint

review: use apply_chat_template and call-time video kwargs
  mteb/models/model_implementations/gve_models.py
Due: lint

dataset: add SpokenCOCO
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpokenCOCOA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpokenCOCOI2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/spoken_coco_retrieval.py
Due: lint, format-tasks-citations

model: add facebook/SONAR text+speech wrapper
  mteb/models/model_implementations/sonar_models.py
  pyproject.toml
Due: lint

simplifying implementation and pinning revisions
  mteb/models/model_implementations/semantic_router_multimodal_models.py
Due: lint

fix lint
  mteb/models/model_implementations/semantic_router_multimodal_models.py
Due: lint

agentic: objects-only APIs and LiteLLM ChatModel (#4868 feedback)
  mteb/agentic/README.md
  mteb/agentic/__init__.py
  mteb/agentic/evaluate.py
  mteb/agentic/models.py
  tests/test_agentic.py
Due: lint

Use `AutoModelForImageTextToText` to make GmeQwen2VL transformers 5 compatible
  mteb/models/model_implementations/gme_v_models.py
Due: lint

Reapply "task: use natural domain names in BrightPro prompts"
  mteb/models/model_implementations/reasonir_model.py
  mteb/tasks/retrieval/eng/bright_pro_retrieval.py
Due: lint, format-tasks-citations

dataset: repoint MorisienMTBitextMining to mteb-hosted copy
  mteb/tasks/bitext_mining/mfe/morisien_mt_bitext_mining.py
Due: lint, format-tasks-citations

dataset: add MorisienMTBitextMining (Mauritian Creole, mfe) (#5110)
  mteb/descriptive_stats/BitextMining/MorisienMTBitextMining.json
  mteb/tasks/bitext_mining/__init__.py
  mteb/tasks/bitext_mining/mfe/__init__.py
  mteb/tasks/bitext_mining/mfe/morisien_mt_bitext_mining.py
Due: lint, format-tasks-citations

fix tests
  mteb/models/model_implementations/moca_models.py
  tests/test_tasks/test_task_quality.py
Due: lint

remove benchmark class
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

benchmark: add BRIGHT-Pro retrieval (7 StackExchange domains) (#4929)
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Retrieval/BrightProBiologyRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightProEarthScienceRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightProEconomicsRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightProPsychologyRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightProRoboticsRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightProStackoverflowRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightProSustainableLivingRetrieval.json
  mteb/models/model_implementations/moca_models.py
  mteb/models/model_implementations/reasonir_model.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/bright_pro_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-benchmarks-citations, format-tasks-citations

model: add Singaraj/morisien-embed (Mauritian Creole, mfe)
  mteb/models/model_implementations/morisien_models.py
Due: lint

add bright pro benchmark
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

model: add Singaraj/morisien-embed (Mauritian Creole, mfe) (#5125)
  mteb/models/model_implementations/morisien_models.py
Due: lint

add bright pro benchmark (#5129)
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

models: LLM retriever wrappers (query rewrite, HyDE, listwise rerank)
  mteb/models/__init__.py
  mteb/models/chat_models.py
  mteb/models/llm_retrievers.py
  tests/test_models/test_llm_retrievers.py
Due: lint

fix typecheck (litellm mypy override) and trim unused surface
  mteb/models/__init__.py
  mteb/models/chat_models.py
  mteb/models/llm_retrievers.py
  pyproject.toml
  tests/test_models/test_llm_retrievers.py
Due: lint

dataset: add DanRAG-Bench retrieval tasks
  mteb/descriptive_stats/Image/DocumentUnderstanding/DanRAGT2IRetrieval.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/DanRAGT2ITRetrieval.json
  mteb/tasks/retrieval/dan/__init__.py
  mteb/tasks/retrieval/dan/danrag_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

skip real-bm25 integration test when bm25s extra is absent
  tests/test_models/test_llm_retrievers.py
Due: lint

models: add multi-hop and tournament rerank retrievers (OBLIQ-Bench setups)
  mteb/models/__init__.py
  mteb/models/llm_retrievers.py
  tests/test_models/test_llm_retrievers.py
Due: lint

docstrings describe behavior only
  mteb/models/llm_retrievers.py
Due: lint

models: add MultiQueryRetriever (query variants fused with RRF)
  mteb/models/__init__.py
  mteb/models/llm_retrievers.py
  tests/test_models/test_llm_retrievers.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
