Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

docs: format downsampling example with pinned Ruff
  docs/contributing/downsampling.md
Due: none

update docs for task based threshold
  docs/get_started/advanced_usage/cleaning_task_data.md
  mteb/data_cleaning/_filters.py
  tests/test_data_cleaning.py
Due: lint

update docs
  docs/get_started/advanced_usage/cleaning_task_data.md
Due: none

made text wrapping in docs
  docs/get_started/advanced_usage/cleaning_task_data.md
Due: none

changes in docs
  docs/get_started/advanced_usage/cleaning_task_data.md
Due: none

Fix Querit model implementation: replace incomplete A0.4B model shard
  mteb/models/model_implementations/querit_models.py
Due: lint

ci: push the citation cache with the RELEASE token (#5544)
  .github/workflows/citation_check.yml
Due: none

Fix Querit model implementation: replace incomplete A0.4B model shard (#5551)
  mteb/models/model_implementations/querit_models.py
Due: lint

topk-embed-v1
  mteb/models/model_implementations/topk_embed_v1.py
  pyproject.toml
Due: lint

use search model
  mteb/models/model_implementations/topk_embed_v1.py
  pyproject.toml
Due: lint

fix: read MLQuestions CSV files as UTF-8
  mteb/tasks/retrieval/eng/ml_questions.py
  tests/test_tasks/test_load_data.py
Due: lint, format-tasks-citations

remove mteb-core[run], reverted docs changes, changes in .yml file and added tests
  .github/workflows/test.yml
  docs/installation.md
  mteb/_requires_package.py
  mteb/models/model_meta.py
  scripts/build_core_package.py
  tests/test_build_core_package.py
  tests/test_ensure_no_torch_at_import.py
  tests/test_evaluators/test_ImageTextPairClassificationEvaluator.py
  tests/test_models/test_model_meta.py
  tests/test_set_seed.py
Due: lint

reupload
  mteb/tasks/retrieval/eng/ml_questions.py
Due: lint, format-tasks-citations

Reupload MLQuestions (#5559)
  mteb/tasks/retrieval/eng/ml_questions.py
Due: lint, format-tasks-citations

dataset: add MathNetRetrieval
  mteb/descriptive_stats/Retrieval/MathNetRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/mathnet_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

Describe MathNet-Retrieve generation and verification
  mteb/tasks/retrieval/eng/mathnet_retrieval.py
Due: lint, format-tasks-citations

Use standard retrieval loader for MathNetRetrieval
  mteb/tasks/retrieval/eng/mathnet_retrieval.py
Due: lint, format-tasks-citations

fix: correct audio/video defaults flagged in source audit
  mteb/models/model_implementations/bedrock_models.py
  mteb/models/model_implementations/bidirlm_omni_models.py
  mteb/models/model_implementations/e5_omni_models.py
  mteb/models/model_implementations/ebind_models.py
  mteb/models/model_implementations/fusion_embedding_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/omniretriever_models.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/qwen3_vl_embedding_models.py
  mteb/models/model_implementations/qwen3_vl_reranker.py
  mteb/models/model_implementations/rzen_embed_model.py
  mteb/models/model_implementations/seamlessm4t_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/tevatron_omni_embed_models.py
  mteb/models/model_implementations/unime_v2_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/vlm2vec_models.py
  mteb/models/model_implementations/wemm_models.py
Due: lint

fix: uniform fps=2 and OmniRetriever eval-pipeline audio
  mteb/models/model_implementations/gve_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/omniretriever_models.py
  mteb/models/model_implementations/qwen3_vl_embedding_models.py
  mteb/models/model_implementations/qwen3_vl_reranker.py
  mteb/models/model_implementations/rzen_embed_model.py
  mteb/models/model_implementations/uembed_models.py
  mteb/models/model_implementations/unite_models.py
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

fix: sample video frames evenly across the whole clip
  mteb/models/modality_collators.py
Due: lint

fix: keep UEmbed at fps=1, its value on main
  mteb/models/model_implementations/uembed_models.py
Due: lint

fix: video frame sampling bugs
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/qwen3_vl_reranker.py
  mteb/models/model_implementations/unite_models.py
Due: lint

fix: encode audio clips one at a time where padding leaks into pooling
  mteb/models/model_implementations/cnn14_model.py
  mteb/models/model_implementations/encodec_model.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/qwen3_voice_models.py
  mteb/models/model_implementations/wav2clip_model.py
Due: lint

fix: encode speech-encoder clips one at a time
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/seamlessm4t_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/wavlm_models.py
Due: lint

fix: typecheck the evenly spaced frame indices
  mteb/models/modality_collators.py
Due: lint

bump version in what's new
  docs/whats_new.md
Due: none

feat: add sentence transformers multi vector models (#5338)
  docs/get_started/usage/defining_the_model.md
  docs/whats_new.md
  mteb/evaluate.py
  mteb/models/__init__.py
  mteb/models/model_meta.py
  mteb/models/search_wrappers.py
  mteb/models/sentence_transformer_wrapper.py
  tests/test_integrations/test_integration_with_sentencetransformers.py
  tests/test_models/test_multi_vector_encoder.py
Due: lint

2.22.0
  pyproject.toml
Due: none

optimize computation
  mteb/abstasks/_statistics_calculation.py
Due: lint

fix: handle experiments in embedding cache (#5418)
  mteb/evaluate.py
  mteb/models/cache_wrappers/cache_wrapper.py
  mteb/models/instruct_wrapper.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
  tests/test_evaluate.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

optimize computation
  mteb/abstasks/retrieval.py
Due: lint

fix: count single-colour images and flag unanswerable queries (#5347)
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/retrieval.py
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/WITT2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/VisualNewsI2TRetrieval.json
  mteb/mocks/mock_tasks/classification.py
  mteb/mocks/mock_tasks/clustering.py
  mteb/mocks/mock_tasks/pair_classification.py
  mteb/mocks/mock_tasks/regression.py
  mteb/mocks/mock_tasks/reranking.py
  mteb/mocks/mock_tasks/retrieval.py
  mteb/mocks/mock_tasks/sts.py
  mteb/mocks/mock_tasks/zeroshot_classification.py
  mteb/types/statistics.py
  tests/test_abstasks/test_image_statistics.py
  tests/test_tasks/test_task_quality.py
Due: lint

2.22.1
  pyproject.toml
Due: none

update after merge
  tests/test_integrations/test_integration_with_sentencetransformers.py
Due: lint

fix imports
  mteb/_content_hashes.py
Due: lint

add future
  tests/test_integrations/test_integration_with_sentencetransformers.py
Due: lint

don't recast dataset
  mteb/models/cache_wrappers/cache_wrapper.py
Due: lint

print actual and expected scores
  tests/test_integrations/_model_info.py
Due: lint

fix test & typing
  mteb/models/cache_wrappers/cache_backends/faiss_cache.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

fix test
  tests/test_integrations/test_integration_with_sentencetransformers.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
