Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

removed #todo tag
  mteb/models/model_implementations/pt_matryoshka_embedding_models.py
Due: lint

Update mteb/models/model_implementations/aegis_models.py
  mteb/models/model_implementations/aegis_models.py
Due: lint

Update mteb/models/model_implementations/pt_matryoshka_embedding_models.py
  mteb/models/model_implementations/pt_matryoshka_embedding_models.py
Due: lint

fix: unit tests citation
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/models/model_implementations/pt_matryoshka_embedding_models.py
Due: lint, format-benchmarks-citations

fix ModelMeta Validation
  mteb/models/model_meta.py
Due: lint

fix loader signature in other methods
  mteb/models/model_meta.py
Due: lint

revert changes in model_meta and add fix in result_cache
  mteb/cache/result_cache.py
  mteb/models/model_meta.py
Due: lint

Fix AfriMTEB task schema issues
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/classification/multilingual/afri_hate_classification.py
  mteb/tasks/classification/multilingual/kin_news_classification.py
  mteb/tasks/pair_classification/multilingual/afri_xnli.py
Due: lint, format-benchmarks-citations, format-tasks-citations

add as a method in modelmeta
  mteb/cache/result_cache.py
  mteb/models/model_meta.py
Due: lint

model: Add ModelMeta for minishlab/potion-code-16M-v2
  mteb/models/model_implementations/model2vec_models.py
Due: lint

model: Add ModelMeta for potion-code-16M-v2 (#4907)
  mteb/models/model_implementations/model2vec_models.py
Due: lint

added test for model_validate_json_resolved
  tests/test_models/test_model_meta.py
Due: lint

model: Add fusion-embedding-1 (EximiusLabs/fusion-embedding-1-2b-preview)
  mteb/models/model_implementations/fusion_embedding_models.py
Due: lint

Use commit SHA for ModelMeta revision
  mteb/models/model_implementations/fusion_embedding_models.py
Due: lint

moved models to portuguese_models.py
  mteb/models/model_implementations/legal_bertimbau_models.py
  mteb/models/model_implementations/portuguese_models.py
  mteb/models/model_implementations/pt_matryoshka_embedding_models.py
Due: lint

ran make lint
  mteb/models/model_implementations/portuguese_models.py
Due: lint

fix(EmotionAnalysisPlus): align task with pre-processed mirror export
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
Due: lint, format-tasks-citations

Fixed AfriSentiLangClassification: repointed dead HausaNLP dataset to mteb/afri_senti_lang mirror, removed redundant tweet->text preprocessing step
  mteb/tasks/classification/multilingual/afri_senti_lang_classification.py
Due: lint, format-tasks-citations

InjongoIntent: dropped eng config (as mteb mirror was missing eng/test split)
  mteb/tasks/classification/multilingual/injongo_intent.py
Due: lint, format-tasks-citations

models: added models for mteb-pt evaluation (#4894)
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/models/model_implementations/aegis_models.py
  mteb/models/model_implementations/portuguese_models.py
Due: lint, format-benchmarks-citations

Load via AutoModel trust_remote_code; add fusion-embedding extras group
  mteb/models/model_implementations/fusion_embedding_models.py
  pyproject.toml
Due: lint

Point code links at the renamed family repo (Eximius-Labs/fusion-embedding)
  mteb/models/model_implementations/fusion_embedding_models.py
Due: lint

feat: add LMEB memory-type grouping leaderborad
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

docs: add icon to hybrid model page
  docs/get_started/advanced_usage/hybrid_model.md
Due: none

upd spanish dataset repo
  mteb/tasks/classification/spa/spanish_news_classification.py
Due: lint, format-tasks-citations

fill empty citation
  mteb/tasks/classification/spa/spanish_news_classification.py
Due: lint, format-tasks-citations

fix: Change spanish dataset repo to mteb (#4917)
  mteb/tasks/classification/spa/spanish_news_classification.py
Due: lint, format-tasks-citations

2.18.1
  pyproject.toml
Due: none

Add KorNLI to MTEB(kor, v2)
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Add CO2 inference-cost estimate (gCO2/Mtoken) to model metadata
  mteb/api/schemas.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

Fix #4375: load MSR-VTT via standard retrieval format
  mteb/abstasks/retrieval.py
  mteb/tasks/retrieval/eng/msr_vtt.py
  scripts/upload_msr_vtt_retrieval.py
Due: lint, format-tasks-citations

fix: reconstruct main_score for legacy reranking and pair-classification results
  mteb/results/task_result.py
  tests/historic_results/MindSmallReranking.json
  tests/historic_results/SciDocsRR.json
  tests/historic_results/SprintDuplicateQuestions.json
  tests/test_results/test_task_results.py
Due: lint

Register Korean community embedding models (split out of #4870)
  mteb/models/model_implementations/korean_models.py
  mteb/models/model_implementations/pixie_models.py
Due: lint

Move new model registrations out to #4921 (review request)
  mteb/models/model_implementations/korean_models.py
  mteb/models/model_implementations/pixie_models.py
Due: lint

task: add Bright-Pro retrieval (7 StackExchange domains)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/bright_pro_retrieval.py
Due: lint, format-tasks-citations

benchmark: register BRIGHT-Pro as a Benchmark
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

task: align BrightPro prompts with BRIGHT-Pro paper convention
  mteb/tasks/retrieval/eng/bright_pro_retrieval.py
Due: lint, format-tasks-citations

Register Korean community embedding models (split from #4870) (#4921)
  mteb/models/model_implementations/korean_models.py
  mteb/models/model_implementations/pixie_models.py
Due: lint

model: Add VoiceNet voiceclap-large and voiceclap-small (#4864)
  mteb/models/model_implementations/voiceclap_models.py
Due: lint
