Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Update mteb/models/model_implementations/giga_models.py
  mteb/models/model_implementations/giga_models.py
Due: lint

docs: add FSD50KA2ARetrieval construction script
  scripts/data/fsd50k_a2a/create_data.py
Due: lint

2.19.7
  pyproject.toml
Due: none

docs: add EPICKitchens100Clustering construction script
  scripts/data/epic_kitchens100_clustering/create_data.py
Due: lint

cite both sources for multi-query retrieval
  mteb/models/llm_retrievers.py
Due: lint

name composed retrievers after their llm as well
  mteb/models/llm_retrievers.py
Due: lint

keep answer systems out of the mteb namespace
  mteb/models/answer_systems.py
Due: lint

model: add tsinghua-ee/WAVE-7B omni embedding model
  mteb/models/model_implementations/wave_models.py
  pyproject.toml
Due: lint

task: add visual-only Stanford I2V retrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/StanfordI2VVisualRetrieval.json
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/stanford_i2v_visual_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

Add UEmbed implementation. (#5200)
  mteb/models/model_implementations/uembed_models.py
  pyproject.toml
Due: lint

dataset: add MMEdit audio editing retrieval (#5246)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MMEditAT2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/mmedit_retrieval.py
  scripts/data/mmedit_retrieval/create_data.py
  scripts/data/mmedit_retrieval/diagnose_source_only.py
Due: lint, format-tasks-citations

feat: Add sparse encoder (#5087)
  mteb/abstasks/task_metadata.py
  mteb/models/__init__.py
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/model_implementations/splade_code_models.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/similarity_functions.py
  tests/test_abstasks/test_task_metadata.py
  tests/test_integrations/test_image_model_task.py
  tests/test_integrations/test_integration_with_datasets.py
  tests/test_integrations/test_mock_cross_encoder.py
  tests/test_integrations/test_model_task.py
  tests/test_models/test_model_meta.py
  tests/test_tasks/test_maeb_datasets.py
Due: lint

2.20.0
  pyproject.toml
Due: none

refactor: colocate Stanford I2V task variants
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/stanford_i2v_retrieval.py
  mteb/tasks/retrieval/zxx/stanford_i2v_visual_retrieval.py
Due: lint, format-tasks-citations

Update mteb/models/model_implementations/internvideo2_models.py
  mteb/models/model_implementations/internvideo2_models.py
Due: lint

chore: drop mock run results from the diff
  mteb_mock_run_results.md
Due: none

add script for processing data
  scripts/data/edir/create_data.py
Due: lint

lint format
  scripts/data/edir/create_data.py
Due: lint

dataset: add BridgeData V2 v2v robot manipulation retrieval (MOEB)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/BridgeV2VRetrieval.json
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/bridge_retrieval.py
  scripts/build_bridge_dataset.py
Due: lint, format-tasks-citations

add prompt
  mteb/tasks/retrieval/eng/edir_it2i_retrieval.py
Due: lint, format-tasks-citations

dataset: add RT-1 t2v/v2t robot manipulation retrieval (MOEB)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/RT1T2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/RT1V2TRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/rt1_retrieval.py
  scripts/build_rt1_datasets.py
Due: lint, format-tasks-citations

fix: apply explicit document prompts in GME
  mteb/models/model_implementations/gme_v_models.py
Due: lint

lint: format bridge construction script
  scripts/build_bridge_dataset.py
Due: lint

fix: classify BioVITA tasks as reranking
  mteb/tasks/reranking/eng/__init__.py
  mteb/tasks/reranking/eng/biovita.py
  mteb/tasks/retrieval/eng/__init__.py
Due: lint, format-tasks-citations

dataset: use MTEB IntPhys2 artifact
  mteb/tasks/zeroshot_classification/eng/intphys2.py
Due: lint, format-tasks-citations

dataset: add Beehive States audio classification task
  mteb/abstasks/classification.py
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/AudioClassification/BeehiveStatesClassification.json
  mteb/tasks/classification/zxx/__init__.py
  mteb/tasks/classification/zxx/beehive.py
  scripts/data/beehive/create_data.py
  tests/test_abstasks/test_classification.py
Due: lint, format-tasks-citations

task: add visual-only Stanford I2V retrieval (#5258)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/StanfordI2VVisualRetrieval.json
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/stanford_i2v_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

Add model: OpenGVLab/InternVideo2-CLIP-1B-224p-f8 (#5078)
  mteb/models/model_implementations/internvideo2_models.py
  pyproject.toml
Due: lint

Update giga_models.py
  mteb/models/model_implementations/giga_models.py
Due: lint

lint and remove extra fields
  mteb/models/model_implementations/giga_models.py
Due: lint

feat: add FineCVR composed video retrieval
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/finecvr_retrieval.py
  scripts/data/finecvr/create_data.py
Due: lint, format-tasks-citations

add giga models (#5252)
  mteb/models/model_implementations/giga_models.py
Due: lint

test: add FineCVR descriptive statistics
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FineCVRVT2VRetrieval.json
Due: none

model: add V-SPLADE
  mteb/models/model_implementations/v_splade_models.py
Due: lint

fix: remove unnecessary writer batch setting
  mteb/abstasks/task_metadata.py
  mteb/tasks/classification/zxx/beehive.py
Due: lint, format-tasks-citations

Update mteb/abstasks/classification.py
  mteb/abstasks/classification.py
Due: lint

test: remove unnecessary classification sampler test
  tests/test_abstasks/test_classification.py
Due: lint

dataset: add RT-1 t2v/v2t robot manipulation retrieval (MOEB) (#5260)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/RT1T2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/RT1V2TRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/rt1_retrieval.py
  scripts/build_rt1_datasets.py
Due: lint, format-tasks-citations

dataset: add Beehive States audio classification task (#5262)
  mteb/abstasks/classification.py
  mteb/descriptive_stats/AudioClassification/BeehiveStatesClassification.json
  mteb/tasks/classification/zxx/__init__.py
  mteb/tasks/classification/zxx/beehive.py
  scripts/data/beehive/create_data.py
Due: lint, format-tasks-citations

fix: resolve merge conflict in zxx/__init__.py
  mteb/tasks/retrieval/zxx/__init__.py
Due: lint, format-tasks-citations
