Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

revert coverage
  pyproject.toml
Due: none

CI: Set upper limit for xdist version (#3098)
  pyproject.toml
Due: none

Combine Plots and Tables into a Single (#3047)
  mteb/leaderboard/app.py
Due: lint

fix model implementations
  mteb/abstasks/task_metadata.py
  mteb/models/cohere_v.py
  mteb/models/model_implementations/codi_models.py
  mteb/models/model_implementations/cohere_v.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/mdbr_models.py
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
  mteb/models/model_implementations/qzhou_models.py
  mteb/models/model_implementations/samilpwc_models.py
  mteb/models/model_implementations/vi_vn_models.py
  mteb/models/model_implementations/vlm2vec_models.py
  mteb/models/vlm2vec_models.py
Due: lint

fix `validate_task_to_prompt_name`
  mteb/models/abs_encoder.py
  mteb/models/model_implementations/colbert_models.py
  mteb/models/wrapper.py
  tests/test_benchmark/test_benchmark.py
  tests/test_reproducible_workflow.py
Due: lint

align task prompt dict with `PromptType`
  mteb/abstasks/TaskMetadata.py
  mteb/models/codi_models.py
Due: lint

activate
  mteb/abstasks/TaskMetadata.py
Due: lint

add to overview
  mteb/models/overview.py
Due: lint

add dataset check on new PR
  .github/workflows/dataset_loading_pr.yml
  Makefile
  tests/test_tasks/test_all_abstasks.py
Due: lint

add extract datasets
  scripts/extract_datasets.py
Due: lint

use value instead of enum
  mteb/abstasks/TaskMetadata.py
Due: lint

run as module
  Makefile
  mteb/tasks/Image/ZeroShotClassification/eng/Birdsnap.py
  scripts/extract_datasets.py
Due: lint, format-tasks-citations

update startswith
  scripts/extract_datasets.py
  scripts/extract_model_names.py
Due: lint

update workflow name
  .github/workflows/dataset_loading_pr.yml
Due: none

add GitPython
  pyproject.toml
Due: none

align regression task with others
  docs/adding_a_model.md
  docs/usage/usage.md
  mteb/abstasks/AbsTaskTextRegression.py
  mteb/encoder_interface.py
  mteb/evaluation/evaluators/RegressionEvaluator.py
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/classification_evaluator.py
  mteb/models/model_implementations/codi_models.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
  mteb/models/model_implementations/qzhou_models.py
  mteb/models/model_implementations/samilpwc_models.py
Due: lint

remove model overview
  mteb/models/overview.py
Due: lint

remove partials
  mteb/models/model_implementations/bge_models.py
  mteb/models/model_implementations/ibm_granite_models.py
  mteb/models/model_implementations/kalm_models.py
  mteb/models/model_implementations/openai_models.py
  mteb/models/model_implementations/voyage_models.py
Due: lint

format
  mteb/abstasks/AbsTaskTextRegression.py
  mteb/evaluation/evaluators/RegressionEvaluator.py
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/classification_evaluator.py
  mteb/models/model_implementations/codi_models.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/openai_models.py
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
  mteb/models/model_implementations/qzhou_models.py
  mteb/models/model_implementations/samilpwc_models.py
Due: lint

export var
  scripts/extract_datasets.py
Due: lint

fix tests
  mteb/models/sentence_transformer_wrapper.py
  tests/test_models/test_model_meta.py
Due: lint

same shell session
  Makefile
Due: none

fix evaluators tests
  tests/test_benchmark/mock_models.py
  tests/test_evaluators/test_ClassificationEvaluator.py
  tests/test_evaluators/test_STSEvaluator.py
  tests/test_evaluators/test_SummarizationEvaluator.py
Due: lint

add trust remote code to bsard
  mteb/tasks/Retrieval/fra/BSARDRetrieval.py
  tests/test_TaskMetadata.py
  tests/test_evaluators/test_ClassificationEvaluator.py
Due: lint, format-tasks-citations

Update mteb/models/ordalietech_solon_embeddings_mini_beta_1_1.py
  mteb/models/ordalietech_solon_embeddings_mini_beta_1_1.py
Due: lint

Register OrdalieTech/Solon-embeddings-mini-beta-1.1 in overview (ModelMeta + loader)
  mteb/models/ordalietech_solon_embeddings_mini_beta_1_1.py
  mteb/models/overview.py
Due: lint

fix trust remote code test
  tests/test_TaskMetadata.py
Due: lint

add `RetrievalSplitData` to reranking
  mteb/abstasks/AbsTaskReranking.py
Due: lint

fix: Updating the default batch size calculation in the voyage models (#3091)
  mteb/models/voyage_models.py
Due: lint

1.38.50
  pyproject.toml
Due: none

fix: Add @classmethod for @field_validators in TaskMetadata (#3100)
  mteb/abstasks/TaskMetadata.py
Due: lint

Align task prompt dict with `PromptType` (#3101)
  mteb/abstasks/TaskMetadata.py
  mteb/models/codi_models.py
Due: lint

fix import
  mteb/models/ordalietech_solon_embeddings_mini_beta_1_1.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
