Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

add performance over time
  mteb/leaderboard/app.py
  mteb/leaderboard/figures.py
Due: lint

format citiatons and lint
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/classification/ukr/__init__.py
  mteb/tasks/classification/ukr/ukr_toxicity_classification.py
Due: lint, format-benchmarks-citations, format-tasks-citations

add descriptive statistics
  mteb/descriptive_stats/Classification/UkrTweetToxicityBinaryClassification.json
Due: none

fix citations
  mteb/tasks/classification/ukr/ukr_toxicity_classification.py
  pyproject.toml
Due: lint, format-tasks-citations

change default metric
  mteb/leaderboard/figures.py
Due: lint

dataset: Added Ukr Toxicity classification dataset (#4108)
  mteb/descriptive_stats/Classification/UkrTweetToxicityBinaryClassification.json
  mteb/tasks/classification/ukr/__init__.py
  mteb/tasks/classification/ukr/ukr_toxicity_classification.py
  pyproject.toml
Due: lint, format-tasks-citations

fix: add performance over time (#4134)
  mteb/leaderboard/app.py
  mteb/leaderboard/figures.py
Due: lint

2.8.5
  pyproject.toml
Due: none

Added Ukrainian news (titles) classification dataset
  mteb/descriptive_stats/Classification/UANewsTitleClassification.json
  mteb/tasks/classification/ukr/ukr_news_classification.py
Due: lint, format-tasks-citations

fix: missimg init change
  mteb/tasks/classification/ukr/__init__.py
Due: lint, format-tasks-citations

fix leaderboard build
  mteb/cache.py
Due: lint

rename bm25
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/bm25.py
  tests/test_models/test_model_meta.py
Due: lint

upd what's new
  docs/images/visualizations/hf_benchmark.png
  docs/whats_new.md
Due: none

fix test
  tests/test_result_cache_load_from_cache.py
Due: lint

docs: fix incorrect example in docs for MAEB (#4113)
  docs/whats_new.md
Due: none

Update mteb/models/model_implementations/pylate_models.py
  mteb/models/model_implementations/pylate_models.py
Due: lint

fix: leaderboard missing results (#4140)
  mteb/cache.py
  tests/test_result_cache_load_from_cache.py
Due: lint

Added warning to both class and function
  mteb/models/instruct_wrapper.py
Due: lint

2.8.6
  pyproject.toml
Due: none

Add exact embedding parameter value for KALM Model
  mteb/models/model_implementations/kalm_models.py
Due: lint

fix: pylate model prompts (#4120)
  mteb/models/model_implementations/pylate_models.py
Due: lint

fix: lotte wrong main metric (#4128)
  mteb/_evaluators/retrieval_metrics.py
  mteb/tasks/retrieval/eng/lotte_retrieval.py
Due: lint, format-tasks-citations

2.8.7
  pyproject.toml
Due: none

add hit_rate
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/retrieval.py
  mteb/types/_result.py
Due: lint

upd lotte metric
  mteb/tasks/retrieval/eng/lotte_retrieval.py
Due: lint, format-tasks-citations

add cache backend to doc
  docs/advanced_usage/cache_embeddings.md
  docs/advanced_usage/retrieval_backend.md
  docs/advanced_usage/two_stage_reranking.md
  docs/api/model.md
Due: none

duplicate bright repo
  mteb/tasks/retrieval/eng/bright_v1_1_retrieval.py
Due: lint, format-tasks-citations

Update docs/advanced_usage/cache_embeddings.md
  docs/advanced_usage/cache_embeddings.md
Due: none

Apply suggestions from code review
  docs/advanced_usage/cache_embeddings.md
  docs/advanced_usage/retrieval_backend.md
Due: none

remove duplicates
  docs/api/model.md
Due: none

fix tests
  tests/test_evaluators/test_RetrievalEvaluator.py
Due: lint

fix languages filtering scores
  mteb/leaderboard/app.py
  pyproject.toml
Due: lint

2.8.8
  pyproject.toml
Due: none

Adding video modality
  mteb/_create_dataloaders.py
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/abstasks/task_metadata.py
  mteb/types/_encoder_io.py
  mteb/types/_metadata.py
Due: lint

Add Kinetics-400 dataset
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/kinetics400_classification.py
Due: lint, format-tasks-citations

Add pe_av model
  mteb/models/model_implementations/pe_av_models.py
Due: lint

fix typo
  mteb/tasks/classification/eng/kinetics400_classification.py
Due: lint, format-tasks-citations

fix collator bug
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/pe_av_models.py
Due: lint
