Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Address review: MTEB(kor, v2), rename korean_models.py
  mteb/models/model_implementations/korean_models.py
Due: lint

Add CO₂ estimate per million tokens from active parameters
  mteb/api/schemas.py
  mteb/benchmarks/_create_table.py
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
  mteb/models/_carbon.py
  mteb/models/model_meta.py
  tests/test_models/test_carbon.py
Due: lint, format-benchmarks-citations

Actually add MTEB(kor, v2) + menu registration (was missing from prior commit)
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Fill training_datasets where documented (review follow-up)
  mteb/models/model_implementations/korean_models.py
Due: lint

BGE-m3-ko: training_datasets set() (author-confirmed, no mteb data in fine-tune)
  mteb/models/model_implementations/korean_models.py
Due: lint

Fix SlovakRTE label polarity
  mteb/tasks/pair_classification/slk/slovak_rte.py
Due: lint, format-tasks-citations

fix: Update dataset_transform signature
  mteb/tasks/pair_classification/slk/demagog_sknli.py
  mteb/tasks/pair_classification/slk/slovak_nli.py
  mteb/tasks/pair_classification/slk/slovak_rte.py
  mteb/tasks/sts/slk/slovak_sts.py
  mteb/tasks/sts/slk/slovak_sum_sts.py
Due: lint, format-tasks-citations

dataset: KorNLI
  mteb/descriptive_stats/PairClassification/KorNLI.json
  mteb/tasks/pair_classification/kor/__init__.py
  mteb/tasks/pair_classification/kor/kor_nli.py
Due: lint, format-tasks-citations

Move pixie_rune_v1_5 to pixie_models.py (review request)
  mteb/models/model_implementations/korean_models.py
  mteb/models/model_implementations/pixie_models.py
Due: lint

dataset: KorNLI (#4880)
  mteb/descriptive_stats/PairClassification/KorNLI.json
  mteb/tasks/pair_classification/kor/__init__.py
  mteb/tasks/pair_classification/kor/kor_nli.py
Due: lint, format-tasks-citations

dataset: add cleaned STSBenchmark v2
  mteb/descriptive_stats/STS/STSBenchmark.v2.json
  mteb/tasks/sts/eng/__init__.py
  mteb/tasks/sts/eng/sts_benchmark_sts.py
Due: lint, format-tasks-citations

Enable trust_remote_code for gte-multilingual-base
  mteb/models/model_implementations/gte_models.py
Due: lint

fix(JinaV5OmniWrapper): use Query/Document prefix for all text tasks
  mteb/models/model_implementations/jina_models.py
  tests/test_models/test_jina_v5_omni_wrapper.py
Due: lint

fix(JinaV5OmniWrapper): convert torchcodec NCHW video frames to channels-last
  mteb/models/model_implementations/jina_models.py
  tests/test_models/test_jina_v5_omni_wrapper.py
Due: lint

lint
  mteb/models/model_implementations/jina_models.py
Due: lint

fix unpack
  mteb/models/model_implementations/jina_models.py
Due: lint

fix(JinaV5OmniWrapper): text-task prefix + channels-last video frames (#4881)
  mteb/models/model_implementations/jina_models.py
  tests/test_models/test_jina_v5_omni_wrapper.py
Due: lint

2.16.3
  pyproject.toml
Due: none

add kalm-reranker-v1
  mteb/models/model_implementations/kalm_reranker.py
Due: lint

reformated kalm-reranker-v1
  mteb/models/model_implementations/kalm_reranker.py
Due: lint

Add instructor models (base, large, xl)
  mteb/models/model_implementations/instructor_models.py
Due: lint

Fix max_tokens: 8194 -> 8192 for all affected entries
  mteb/models/model_implementations/bge_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/korean_models.py
  mteb/models/model_implementations/ru_sentence_models.py
  mteb/models/model_implementations/vi_vn_models.py
Due: lint

Add LingoIITGN/qwen-indic-v1 to sentence_transformers_models.py
  mteb/models/model_implementations/sentence_transformers_models.py
Due: lint

Add ModelMeta for sionic-ai/comsat-embed-ja-8b-preview
  mteb/models/model_implementations/sionic_models.py
Due: lint

Fix typo in Defining Models section
  README.md
Due: none

Fix typo in Defining Models section (#4886)
  README.md
Due: none

Add ModelMeta for sionic-ai/comsat-embed-ja-8b-preview (#4885)
  mteb/models/model_implementations/sionic_models.py
Due: lint

always rebuild image
  .github/workflows/leaderboard_refresh.yaml
  Dockerfile
Due: none

ci: Always rebuild image for daily refresh (#4888)
  .github/workflows/leaderboard_refresh.yaml
  Dockerfile
Due: none

fix por benchmark (#4844)
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Update mteb/models/model_implementations/sentence_transformers_models.py
  mteb/models/model_implementations/sentence_transformers_models.py
Due: lint

Update ModelMeta with from_hub hardware values
  mteb/models/model_implementations/sentence_transformers_models.py
Due: lint

Add n_embedding_parameters for instructor models
  mteb/models/model_implementations/instructor_models.py
Due: lint

fix: add missing arXiv ID and update publication year for mFollowIR citations
  mteb/tasks/instruction_reranking/multilingual/m_follow_ir.py
Due: lint, format-tasks-citations

add missing arXiv ID and update publication year for mFollowIR citations (#4890)
  mteb/tasks/instruction_reranking/multilingual/m_follow_ir.py
Due: lint, format-tasks-citations

Add ModelMeta for sionic-ai/comsat-embed-ja-0.3b-preview
  mteb/models/model_implementations/sionic_models.py
Due: lint

models: added models for mteb-pt evaluation
  mteb/models/model_implementations/aegis_models.py
  mteb/models/model_implementations/legal_bertimbau_models.py
  mteb/models/model_implementations/pt_matryoshka_embedding_models.py
  mteb/models/model_implementations/serafim_models.py
Due: lint

fix: ran make lint
  mteb/models/model_implementations/aegis_models.py
  mteb/models/model_implementations/legal_bertimbau_models.py
  mteb/models/model_implementations/pt_matryoshka_embedding_models.py
  mteb/models/model_implementations/serafim_models.py
Due: lint

chore: fix Pydantic 2.11 deprecation warning
  mteb/abstasks/task_metadata.py
Due: lint
