Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

dataset: add Greatest Hits audio-video material retrieval (a2v, v2a) (#5003)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GreatestHitsA2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GreatestHitsV2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/greatest_hits_retrieval.py
Due: lint, format-tasks-citations

model: add malteos/most-embed-de (German retrieval, Nemotron-3-Embed-1B fine-tune)
  mteb/models/model_implementations/most_embed_models.py
Due: lint

dataset: add Stanford I2V retrieval
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/StanfordI2VRetrieval.json
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/stanford_i2v_retrieval.py
  scripts/data/stanford_i2v_retrieval/create_data.py
  tests/test_abstasks/test_task_metadata.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

Add KiteFishAI/Nano-Em1-0.6B-v2.1
  mteb/models/model_implementations/kite_fish_models.py
Due: lint

Add new training datasets to kite_fish_models.py
  mteb/models/model_implementations/kite_fish_models.py
Due: lint

Refactor training datasets to use dictionary format
  mteb/models/model_implementations/kite_fish_models.py
Due: lint

Change init func signature to capture torch_dtype and device_map
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

Add KiteFishAI/Nano-Em1-0.6B-v2.1 (#5150)
  mteb/models/model_implementations/kite_fish_models.py
Due: lint

model: add malteos/most-embed-de (German retrieval, Nemotron-3-Embed-1B fine-tune) (#5149)
  mteb/models/model_implementations/most_embed_models.py
Due: lint

Add CustomGrouping: multi-dimension custom task aggregations
  mteb/api/aggregators.py
  mteb/api/schemas.py
  mteb/benchmarks/_benchmark_metrics.py
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  tests/test_benchmarks/test_benchmark_score.py
  tests/test_benchmarks/test_get_benchmarks.py
Due: lint, format-benchmarks-citations

Add n embedding params
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

fix lint
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

fix import order
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

task: add BioVITA multimodal retrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/BioVITAA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/BioVITAA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/BioVITAI2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/BioVITAI2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/BioVITAT2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/BioVITAT2IRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/biovita.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

First commit
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/acm_composed_audio_retrieval.py
  scripts/data/acm_composed_audio/data_convertor.py
Due: lint, format-tasks-citations

Add SSW60 first commit
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/ssw60.py
  scripts/ssw60/dataset_creation.py
Due: lint, format-tasks-citations

Modify the license
  mteb/tasks/retrieval/eng/ssw60.py
Due: lint, format-tasks-citations

task: add InsAVE-80K composed video retrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/InsAVE80KVT2VRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/insave_vt2v_retrieval.py
  tests/test_tasks/test_insave_vt2v_loader.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

Apply suggestions from code review
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

dataset: add MMLongBench-Doc (#5138)
  mteb/descriptive_stats/Image/DocumentUnderstanding/MMLongBenchDocRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/mm_long_bench_doc_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

Add Audio flamingo 3 (#5080)
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

task: add CaReBench video retrieval (#5112)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CaReBenchT2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CaReBenchV2TRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/carebench_retrieval.py
  scripts/data/carebench_retrieval/create_data.py
Due: lint, format-tasks-citations

dataset: add SpokenCOCO (#5121)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpokenCOCOA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpokenCOCOI2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/spoken_coco_retrieval.py
Due: lint, format-tasks-citations

fix: load VELOCITI-PC metadata table via direct parquet download
  mteb/tasks/pair_classification/eng/velociti.py
Due: lint, format-tasks-citations

add Copilot review instructions for dataset PRs
  .github/instructions/dataset-pr.instructions.md
Due: none

Update mteb/tasks/retrieval/eng/real_mm_rag_retrieval.py
  mteb/tasks/retrieval/eng/real_mm_rag_retrieval.py
Due: lint, format-tasks-citations

fix: address RAVENEA review feedback
  mteb/descriptive_stats/Reranking/RAVENEAI2TRetrieval.json
  mteb/tasks/retrieval/eng/ravenea.py
  tests/test_tasks/test_ravenea.py
Due: lint, format-tasks-citations

fix: address Mars-VL-Pairs review feedback
  mteb/tasks/retrieval/eng/mars_vl_pairs.py
  tests/test_tasks/test_mars_vl_pairs.py
Due: lint, format-tasks-citations

fix: address MixBench sparse modality review
  mteb/_create_dataloaders.py
  mteb/abstasks/retrieval.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/tasks/retrieval/eng/mixbench_retrieval.py
  tests/test_tasks/test_mixbench.py
Due: lint, format-benchmarks-citations, format-tasks-citations

fix: address MixBench Copilot review
  mteb/models/sentence_transformer_wrapper.py
  scripts/data/mixbench/validate.py
  tests/test_tasks/test_mixbench.py
Due: lint

fix: require TLS verification for Mars recovery
  scripts/data/mars_vl_pairs/README.md
  scripts/data/mars_vl_pairs/create_data.py
Due: lint

fix: address FIVR Copilot review
  scripts/data/fivr/audit_availability.py
  scripts/data/fivr/create_data.py
Due: lint

reranker: add use_instructions flag instead of mutating kwargs
  mteb/models/model_implementations/qwen3_vl_reranker.py
Due: lint

dataset: add Stanford I2V audio
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/StanfordI2VRetrieval.json
  mteb/tasks/retrieval/zxx/stanford_i2v_retrieval.py
  scripts/data/stanford_i2v_retrieval/create_data.py
  tests/test_abstasks/test_task_metadata.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

model: add OmniRetriever-7B
  mteb/models/model_implementations/omniretriever_models.py
  pyproject.toml
  tests/test_models/test_omniretriever_wrapper.py
Due: lint

dataset: align Stanford I2V license metadata
  mteb/tasks/retrieval/zxx/stanford_i2v_retrieval.py
  scripts/data/stanford_i2v_retrieval/create_data.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
