Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix: Fix leaderboard _load_results to handle BenchmarkResults return type correctly
  mteb/leaderboard/app.py
Due: lint

style: Apply ruff formatting to fix indentation in _load_results docstring
  mteb/leaderboard/app.py
Due: lint

Fix Sewd Model revision (#3857)
  mteb/models/model_implementations/sewd_models.py
Due: lint

Add Safey check for vggish (#3850)
  mteb/models/model_implementations/vggish_models.py
Due: lint

model: Update bflhc/Octen-Embedding-8B revision (#3869)
  mteb/models/model_implementations/octen_models.py
Due: lint

Fix sound_desc dataset name typo (#3859)
  mteb/tasks/audio/any_2_any_retrieval/sound_descs.py
Due: lint, format-tasks-citations

[MAEB] Ensure that Yamnet handles empty audio snippets (#3846)
  mteb/models/model_implementations/yamnet_models.py
Due: lint

convert active_parameter to property
  mteb/models/model_meta.py
Due: lint

feat: Add --rebuild flag to bypass cache and force full rebuild
  mteb/cache.py
  mteb/cli/build_cli.py
  mteb/leaderboard/app.py
  tests/test_result_cache_load_from_cache.py
Due: lint

refactor: Simplify and consolidate test cases for load_from_cache
  tests/test_result_cache_load_from_cache.py
Due: lint

fix: Update test_leaderboard_cache_paths to include rebuild parameter
  tests/test_cli.py
Due: lint

docs: Add comprehensive docstring for get_leaderboard_app rebuild parameter
  mteb/leaderboard/app.py
Due: lint

feat: Add SAID-LAM encoder implementation with AbsEncoder protocol
  mteb/models/said_lam.py
Due: lint

docs: Document --rebuild flag for leaderboard CLI
  docs/usage/cli.md
  docs/usage/leaderboard.md
Due: none

Add Encodec Change Requests
  mteb/models/model_implementations/encodec_model.py
Due: lint

fix computation of results with missing scores
  mteb/cache.py
  mteb/results/task_result.py
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/BelebeleRetrieval.json
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/model_meta.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/BelebeleRetrieval.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/model_meta.json
  tests/test_result_cache.py
Due: lint

Handle min_length and validate time frames.
  mteb/models/model_implementations/encodec_model.py
Due: lint

update
  mteb/leaderboard/app.py
  mteb/models/model_implementations/slm_models.py
Due: lint

Add MAEB benchmark with all 96 audio modality tasks
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix uv lock
  pyproject.toml
Due: none

normalize names in prompts
  mteb/tasks/retrieval/eng/bright_v1_1_retrieval.py
Due: lint, format-tasks-citations

Change SpeechT5 Model Revision
  mteb/models/model_implementations/speecht5_models.py
Due: lint

Fix lint and type errors
  mteb/_create_dataloaders.py
  mteb/abstasks/classification.py
  tests/mock_tasks.py
Due: lint

Fix duplicate modalities kwarg in random_baseline ModelMeta
  mteb/models/model_implementations/random_baseline.py
Due: lint

fix docs
  mteb/models/vllm_wrapper.py
Due: lint

fix baselines
  mteb/models/model_implementations/random_baseline.py
Due: lint

invalidate hf cache for maeb
  .github/workflows/test.yml
Due: none

Fixes description
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd50_hf.py
Due: lint, format-tasks-citations

Fix UrbanSound8k task class naming conflict
  mteb/tasks/audio/audio_classification/eng/__init__.py
  mteb/tasks/audio/audio_classification/eng/urban_sound8k.py
Due: lint, format-tasks-citations

fix test
  tests/test_result_cache.py
Due: lint

Upgrade datasets to v4+ for Python 3.14 compatibility
  pyproject.toml
Due: none

Export SpeechCommandsZeroshotClassificationv02 task
  mteb/tasks/audio/audio_zeroshot_classification/eng/__init__.py
Due: lint, format-tasks-citations

Remove MonkeyPatch and Pin version
  mteb/models/model_implementations/cnn14_model.py
  pyproject.toml
Due: lint

run lint
  mteb/models/model_implementations/cnn14_model.py
Due: lint

lint
  mteb/tasks/audio/any_2_any_retrieval/__init__.py
Due: lint, format-tasks-citations

Fix JamAlt task class naming to match metadata names
  mteb/tasks/audio/any_2_any_retrieval/__init__.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/__init__.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/jam_alt.py
Due: lint, format-tasks-citations

run lint
  mteb/tasks/audio/any_2_any_retrieval/common_voice.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
