Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

rename & move
  docs/get_started/usage/submitting_results.md
  docs/whats_new.md
  mkdocs.yml
Due: none

update links
  docs/contributing/adding_a_model.md
  mteb/cache/result_cache.py
Due: lint

add penguin vl
  mteb/models/model_implementations/penguin_models.py
Due: lint

update requirements
  mteb/models/model_implementations/penguin_models.py
Due: lint

fix unpack
  mteb/models/model_implementations/penguin_models.py
Due: lint

add diving48
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/VideoClassification/Diving48Classification.V1.json
  mteb/descriptive_stats/VideoClassification/Diving48Classification.V2.json
  mteb/tasks/classification/zxx/__init__.py
  mteb/tasks/classification/zxx/diving48_classification.py
Due: lint, format-tasks-citations

model: bump default max_frames to 64 across omni video wrappers (#4580)
  mteb/models/model_implementations/e5_omni_models.py
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_implementations/omni_embed_nemotron_models.py
  mteb/models/model_implementations/omnivinci_models.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/qwen_omni_lm.py
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

add the boom_v1_5, i.e., ict_time_and_querit_embedding_v1 implementations in ict_time_and_querit_models.py
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

reformat ict_time_and_querit_models.py and adding the ict_time_and_querit_embedding implementation
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

[MVEB] Add AV-SpeakerBench video-centric QA task
  mteb/tasks/multichoice/eng/av_speaker_bench.py
Due: lint, format-tasks-citations

add AVSpeakerBench to __init__.py
  mteb/tasks/multichoice/eng/__init__.py
Due: lint, format-tasks-citations

add desc stats
  mteb/descriptive_stats/AudioClassification/INatSounds.json
Due: none

make lint
  mteb/tasks/multichoice/eng/__init__.py
Due: lint, format-tasks-citations

[MVEB] Add AV-SpeakerBench video-centric QA task (#4584)
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/av_speaker_bench.py
Due: lint, format-tasks-citations

[MVEB] Add OmniVideoBench video-centric QA task
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/omni_video_bench.py
Due: lint, format-tasks-citations

[MVEB] Add WorldQA video-centric QA task
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/worldqa.py
Due: lint, format-tasks-citations

lint
  mteb/tasks/multichoice/eng/__init__.py
Due: lint, format-tasks-citations

Make corpus_chunk_size tunable via the public evaluate() API
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/text/bitext_mining.py
  mteb/evaluate.py
Due: lint

refactor: support corpus_chunk_size via encode_kwargs instead of evaluate()
  docs/get_started/usage/running_the_evaluation.md
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/models/search_wrappers.py
  mteb/types/_encoder_io.py
Due: lint

fix: set languages to bgem3_languages and correct citation for aegis-embed
  mteb/models/model_implementations/aegis_models.py
Due: lint

fix: move Unpack import under TYPE_CHECKING for Python 3.10 compatibility
  mteb/models/model_implementations/tipsv2_models.py
Due: lint

dataset: Add INatSounds (#4346)
  mteb/descriptive_stats/AudioClassification/INatSounds.json
  mteb/tasks/classification/zxx/__init__.py
  mteb/tasks/classification/zxx/inat_sounds.py
  scripts/upload_inatsounds.py
Due: lint, format-tasks-citations

[MVEB] Add OmniVideoBench video-centric QA task (#4585)
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/omni_video_bench.py
Due: lint, format-tasks-citations

[MVEB] Add WorldQA video-centric QA task (#4586)
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/worldqa.py
Due: lint, format-tasks-citations

add x-clip models
  mteb/models/model_implementations/xclip_models.py
Due: lint

fix: convert video tensors to numpy for XCLIPProcessor
  mteb/models/model_implementations/xclip_models.py
Due: lint

fix: permute video tensors from NCHW to NHWC for XCLIPProcessor
  mteb/models/model_implementations/xclip_models.py
Due: lint

fix: use image_processor directly for X-CLIP video encoding
  mteb/models/model_implementations/xclip_models.py
Due: lint

[MVEB] Add vggsound zeroshot task
  mteb/tasks/zeroshot_classification/eng/__init__.py
  mteb/tasks/zeroshot_classification/eng/vggsound_zeroshot.py
Due: lint, format-tasks-citations

fix lint error
  mteb/tasks/zeroshot_classification/eng/vggsound_zeroshot.py
Due: lint, format-tasks-citations

fix the code of ict_time_and_querit_models
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

fix xclip-large-patch14 revision
  mteb/models/model_implementations/xclip_models.py
Due: lint

model: add Argus-Colqwen3.5-4b (fp32 + bf16 variants)
  mteb/models/model_implementations/argus_qwen35.py
Due: lint

lint
  mteb/models/model_implementations/argus_qwen35.py
Due: lint

Apply suggestions from code review
  mteb/models/model_implementations/argus_qwen35.py
Due: lint

argus: inherit ArgusColQwen35Wrapper from OpsColQwen3Wrapper
  mteb/models/model_implementations/argus_qwen35.py
Due: lint

fix the ict_time_and_querit_models.py
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

remove dataset_transform function
  mteb/tasks/zeroshot_classification/eng/vggsound_zeroshot.py
Due: lint, format-tasks-citations

[MVEB] Add x-clip model (#4590)
  mteb/models/model_implementations/xclip_models.py
Due: lint

fix: add **kwargs to dataset_transform overrides to match base class signature
  mteb/tasks/classification/eng/common_language_age_detection.py
  mteb/tasks/classification/eng/common_language_gender_detection.py
  mteb/tasks/classification/eng/common_language_language_classification.py
  mteb/tasks/classification/eng/iemocap_emotion.py
  mteb/tasks/classification/eng/iemocap_gender.py
  mteb/tasks/classification/eng/spoken_q_afor_ic.py
  mteb/tasks/classification/eng/vocal_sound.py
  mteb/tasks/classification/eng/vox_celeb_sa.py
  mteb/tasks/classification/eng/vox_populi_accent_id.py
  mteb/tasks/classification/multilingual/vox_populi_gender_id.py
  mteb/tasks/classification/multilingual/vox_populi_language_id.py
  mteb/tasks/classification/zxx/urban_sound8k.py
  mteb/tasks/clustering/eng/crema_d_clustering.py
  mteb/tasks/clustering/eng/vox_celeb_clustering.py
  mteb/tasks/clustering/multilingual/vox_populi_gender_clustering.py
  mteb/tasks/multilabel_classification/zxx/bird_set.py
  mteb/tasks/zeroshot_classification/zxx/urban_sound8k.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
