Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Replace custom SagaModel class with standard SentenceTransformerEncoderWrapper and model_prompts dict
  mteb/models/model_implementations/saga_models.py
Due: lint

chore: remove lingering comment
  mteb/models/model_implementations/saga_models.py
Due: lint

refactor: update to sentence transformers 5.4 and rely on encode function to get embedding
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

Apply suggestions from code review
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

fix: handle Transformers v5 BaseModelOutputWithPooling return types
  mteb/models/model_implementations/align_models.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/llm2clip_models.py
  mteb/models/model_implementations/siglip_models.py
  mteb/models/model_implementations/wav2clip_model.py
  tests/test_models/test_transformers_v5_compat.py
Due: lint

Feat: instruct with prompt args chat template
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

Fix: rely on EncodeKwargs for encoder function
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

Feat: improve readability
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

refactor: move Sequence handling into create_dataloader, simplify callers
  mteb/_create_dataloaders.py
  mteb/_evaluators/clustering_evaluator.py
  mteb/_evaluators/sklearn_evaluator.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
Due: lint

Refactor: Change how modality are passed to encode
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

[MVEB] PE-AV Model, Kinetics400 Dataset, RavdessAV Dataset (#4199)
  mteb/_create_dataloaders.py
  mteb/_evaluators/clustering_evaluator.py
  mteb/_evaluators/sklearn_evaluator.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
  mteb/abstasks/_data_filter/task_pipelines.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/abstasks/task_metadata.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/random_baseline.py
  mteb/tasks/video/__init__.py
  mteb/tasks/video/classification/__init__.py
  mteb/tasks/video/classification/eng/__init__.py
  mteb/tasks/video/classification/eng/kinetics400_classification.py
  mteb/tasks/video/clustering/__init__.py
  mteb/tasks/video/clustering/eng/__init__.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
  mteb/tasks/video/retrieval/eng/msr_vtt.py
  mteb/types/_encoder_io.py
Due: lint, format-tasks-citations

Apply suggestions from code review
  mteb/models/model_implementations/bidirlm_models.py
Due: lint

run lint
  mteb/models/model_implementations/bidirlm_models.py
Due: lint

distinguish between AV and V tasks
  mteb/tasks/video/classification/eng/__init__.py
  mteb/tasks/video/classification/eng/kinetics400.py
  mteb/tasks/video/classification/eng/kinetics400_classification.py
Due: lint, format-tasks-citations

model: add BidirLM text embedding family (270M, 0.6B, 1B, 1.7B) (#4374)
  mteb/models/model_implementations/bidirlm_models.py
Due: lint

move out of video folder and add zeroshot version
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/kinetics400.py
  mteb/tasks/video/classification/__init__.py
  mteb/tasks/video/classification/eng/__init__.py
  mteb/tasks/zeroshot_classification/eng/__init__.py
  mteb/tasks/zeroshot_classification/eng/kinetics400.py
Due: lint, format-tasks-citations

fix task type
  mteb/tasks/classification/eng/kinetics400.py
Due: lint, format-tasks-citations

add image and video to LCO embed model
  mteb/models/model_implementations/lco_embedding_models.py
Due: lint

add: NVIDIA Omni-Embed-Nemotron-3B model wrapper
  mteb/models/model_implementations/omni_embed_nemotron_models.py
Due: lint

fix: convert video frame tensors to PIL images for qwen_omni_utils
  mteb/models/model_implementations/omni_embed_nemotron_models.py
Due: lint

fix: add default system prompt to suppress Qwen audio output warning
  mteb/models/model_implementations/omni_embed_nemotron_models.py
Due: lint

add: Tevatron/OmniEmbed-v0.1 model wrapper
  mteb/models/model_implementations/omni_embed_models.py
Due: lint

fix: correct text max_length to 204800 per model card
  mteb/models/model_implementations/omni_embed_nemotron_models.py
Due: lint

add: NVIDIA OmniVinci omni-modal model wrapper
  mteb/models/model_implementations/omnivinci_models.py
Due: lint

add mteb/HMDB51 dataset
  mteb/descriptive_stats/VideoClassification/HMDB51.json
  mteb/tasks/__init__.py
  mteb/tasks/video/classification/eng/__init__.py
  mteb/tasks/video/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

update
  mteb/abstasks/task_metadata.py
Due: lint

Update mteb/tasks/__init__.py
  mteb/tasks/__init__.py
Due: lint, format-tasks-citations

Update mteb/tasks/video/classification/eng/hmdb51_classification.py
  mteb/tasks/video/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

update
  mteb/descriptive_stats/VideoClassification/HMDB51.json
  mteb/tasks/video/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

add back
  mteb/tasks/__init__.py
Due: lint, format-tasks-citations

Revert "add back"
  mteb/tasks/__init__.py
Due: lint, format-tasks-citations

Update mteb/models/model_implementations/saga_models.py
  mteb/models/model_implementations/saga_models.py
Due: lint

fix: Corrected incorrect model rename
  mteb/models/get_model_meta.py
Due: lint

fix: Corrected incorrect model rename (#4391)
  mteb/models/get_model_meta.py
Due: lint

2.12.17
  pyproject.toml
Due: none

fix: Handle quantization in sentence transformers as an experiment (#4367)
  mteb/models/instruct_wrapper.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/types/_encoder_io.py
  tests/test_evaluate.py
Due: lint

update task metadata based on discussions
  mteb/tasks/classification/eng/kinetics400.py
  mteb/tasks/zeroshot_classification/eng/kinetics400.py
Due: lint, format-tasks-citations

fix mveb task type mapping
  mteb/abstasks/task_metadata.py
  tests/test_tasks/test_metadata.py
Due: lint

2.12.18
  pyproject.toml
Due: none

fix: Add `is_beta` to task metadata
  mteb/abstasks/abstask.py
  mteb/abstasks/task_metadata.py
  mteb/filter_tasks.py
  mteb/get_tasks.py
  tests/test_abstasks/test_task_metadata.py
Due: lint
