Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Update mteb/tasks/retrieval/kor/law_ir_ko.py
  mteb/tasks/retrieval/kor/law_ir_ko.py
Due: lint, format-tasks-citations

statistics(), reference
  mteb/descriptive_stats/Retrieval/LawIRKo.json
  mteb/tasks/retrieval/kor/law_ir_ko.py
Due: lint, format-tasks-citations

format citation
  mteb/tasks/retrieval/kor/law_ir_ko.py
Due: lint, format-tasks-citations

author & howpublished rev
  mteb/tasks/retrieval/kor/law_ir_ko.py
Due: lint, format-tasks-citations

make lint
  mteb/tasks/retrieval/kor/law_ir_ko.py
Due: lint, format-tasks-citations

[maeb] Move datasets to mteb org (#4048)
  mteb/tasks/audio/any_2_any_retrieval/eng/spoken_s_qu_ad.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/google_svq.py
  mteb/tasks/audio/audio_classification/zxx/urban_sound8k.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd2019_kaggle.py
  mteb/tasks/audio/audio_zeroshot_classification/zxx/esc50.py
  mteb/tasks/audio/audio_zeroshot_classification/zxx/urban_sound8k.py
  mteb/tasks/audio/clustering/eng/ambient_acoustic_context_clustering.py
  mteb/tasks/audio/clustering/eng/crema_d_clustering.py
  mteb/tasks/audio/clustering/eng/vox_celeb_clustering.py
  mteb/tasks/audio/clustering/multlingual/vox_populi_gender_clustering.py
  mteb/tasks/audio/clustering/zxx/esc50_clustering.py
  mteb/tasks/audio/clustering/zxx/gtzan_genre_clustering.py
  mteb/tasks/audio/clustering/zxx/vehicle_sound_clustering.py
Due: lint, format-tasks-citations

fix revision
  mteb/tasks/classification/zxx/esc50.py
Due: lint, format-tasks-citations

description rev
  mteb/tasks/retrieval/kor/law_ir_ko.py
Due: lint, format-tasks-citations

Address comments
  mteb/models/model_meta.py
Due: lint

Add parameter for vlm2vec models
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

model: Add NIFE models
  mteb/models/model_implementations/stephantulkens_models.py
Due: lint

Add fetch_from_hf parameter
  mteb/models/model_meta.py
Due: lint

dataset: add 6 new VisRAG retrieval tasks and corresponding stats
  mteb/descriptive_stats/Retrieval/VisRAGRetArxivQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetChartQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetInfoVQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetMPDocVQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetPlotQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetSlideVQA.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/visrag_ret_arxiv_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_chart_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_info_vqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_mp_docvqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_plot_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_slide_vqa_retrieval.py
Due: lint, format-tasks-citations

fix a linter error
  mteb/tasks/retrieval/eng/visrag_ret_arxiv_qa_retrieval.py
Due: lint, format-tasks-citations

dataset: introduce VisRAG Retrieval Benchmark
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix: metadata update of VisRag
  mteb/tasks/retrieval/eng/visrag_ret_arxiv_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_chart_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_info_vqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_mp_docvqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_plot_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_slide_vqa_retrieval.py
Due: lint, format-tasks-citations

fix: constrain the transformers library version for jina-clip to avoid compatibility issue
  pyproject.toml
Due: none

add require package
  mteb/models/model_implementations/jina_clip.py
Due: lint

ad to conflicts
  pyproject.toml
Due: none

fix mscoco
  docs/contributing/adding_a_dataset.md
  mteb/tasks/retrieval/eng/mscoco_t2i_retrieval.py
  pyproject.toml
Due: lint, format-tasks-citations

Fix type annotation in _compute_license method
  mteb/abstasks/aggregate_task_metadata.py
Due: lint

fix jina clip
  mteb/models/model_implementations/jina_clip.py
Due: lint

fix: mscoco (#4062)
  docs/contributing/adding_a_dataset.md
  mteb/models/model_implementations/jina_clip.py
  mteb/tasks/retrieval/eng/mscoco_t2i_retrieval.py
  pyproject.toml
Due: lint, format-tasks-citations

2.7.25
  pyproject.toml
Due: none

Add MetaCLIP 2 model integration
  mteb/models/model_implementations/metaclip_models.py
Due: lint

Add Performance per language Tab to more benchmarks
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Add n_embedding_parameters for MetaCLIP 2 model
  mteb/models/model_implementations/metaclip_models.py
Due: lint

Remove task performance by type Tab when the Radar plot can't be generated
  mteb/leaderboard/app.py
Due: lint

fix: filter corrupted image in Birdsnap and drop unused splits in zero-shot tasks
  mteb/abstasks/zeroshot_classification.py
  mteb/tasks/classification/eng/birdsnap_classification.py
Due: lint, format-tasks-citations

fix: handle BaseModelOutputWithPooling in CLIP model wrapper
  mteb/models/model_implementations/clip_models.py
Due: lint

fix: add None check for dataset in zeroshot classification transform
  mteb/abstasks/zeroshot_classification.py
Due: lint
