Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix: add citations to models
  mteb/models/model_implementations/bm25.py
  mteb/models/model_implementations/bmretriever_models.py
  mteb/models/model_implementations/clip_models.py
  mteb/models/model_implementations/colpali_models.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/colsmol_models.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/ibm_granite_models.py
  mteb/models/model_implementations/inf_models.py
  mteb/models/model_implementations/jasper_models.py
  mteb/models/model_implementations/jina_clip.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/kalm_models.py
  mteb/models/model_implementations/lens_models.py
  mteb/models/model_implementations/lgai_embedding_models.py
  mteb/models/model_implementations/linq_models.py
  mteb/models/model_implementations/listconranker.py
  mteb/models/model_implementations/llm2clip_models.py
  mteb/models/model_implementations/mdbr_models.py
  mteb/models/model_implementations/moka_models.py
  mteb/models/model_implementations/qwen3_models.py
  mteb/models/model_implementations/qzhou_models.py
  mteb/models/model_implementations/reasonir_model.py
  mteb/models/model_implementations/siglip_models.py
  mteb/models/model_implementations/sonar_models.py
  mteb/models/model_implementations/stella_models.py
  mteb/models/model_implementations/text2vec_models.py
  mteb/models/model_implementations/vista_models.py
  mteb/models/model_implementations/vlm2vec_models.py
  mteb/models/model_implementations/youtu_models.py
Due: lint

make pair classification multimodal
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/abstasks/pair_classification.py
  tests/mock_tasks.py
  tests/task_grid.py
Due: lint

fix: add citation to models (#3403)
  mteb/models/model_implementations/bm25.py
  mteb/models/model_implementations/bmretriever_models.py
  mteb/models/model_implementations/clip_models.py
  mteb/models/model_implementations/colpali_models.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/colsmol_models.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/ibm_granite_models.py
  mteb/models/model_implementations/inf_models.py
  mteb/models/model_implementations/jasper_models.py
  mteb/models/model_implementations/jina_clip.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/kalm_models.py
  mteb/models/model_implementations/lens_models.py
  mteb/models/model_implementations/lgai_embedding_models.py
  mteb/models/model_implementations/linq_models.py
  mteb/models/model_implementations/listconranker.py
  mteb/models/model_implementations/llm2clip_models.py
  mteb/models/model_implementations/mdbr_models.py
  mteb/models/model_implementations/moka_models.py
  mteb/models/model_implementations/qwen3_models.py
  mteb/models/model_implementations/qzhou_models.py
  mteb/models/model_implementations/reasonir_model.py
  mteb/models/model_implementations/siglip_models.py
  mteb/models/model_implementations/sonar_models.py
  mteb/models/model_implementations/stella_models.py
  mteb/models/model_implementations/text2vec_models.py
  mteb/models/model_implementations/vista_models.py
  mteb/models/model_implementations/vlm2vec_models.py
  mteb/models/model_implementations/youtu_models.py
Due: lint

fix init path
  mteb/_evaluators/__init__.py
Due: lint

align with `v2`
  mteb/models/model_implementations/nvidia_models.py
  mteb/models/model_meta.py
Due: lint

fix test
  tests/test_evaluators/test_PairClassificationEvaluator.py
Due: lint

Correcting the get_tasks filtering issue
  tests/test_overview_filters.py
Due: lint

fix retrieval loading
  mteb/abstasks/retrieval.py
Due: lint

fix `_convert_to_fast`
  mteb/tasks/clustering/deu/blurbs_clustering_p2p.py
  mteb/tasks/clustering/deu/ten_k_gnad_clustering_p2p.py
  mteb/tasks/clustering/deu/ten_k_gnad_clustering_s2s.py
  mteb/tasks/retrieval/fra/alloprof_retrieval.py
Due: lint, format-tasks-citations

fix `CIFAR100Clustering`
  mteb/descriptive_stats/Image/ImageClustering/CIFAR100Clustering.json
  mteb/tasks/clustering/eng/cifar.py
Due: lint, format-tasks-citations

fix `CQADupstack*-NL`
  mteb/abstasks/retrieval.py
  mteb/descriptive_stats/Retrieval/CQADupstackWebmasters-NL.json
Due: lint

add Kluestats
  mteb/descriptive_stats/Clustering/KlueMrcDomainClustering.json
  mteb/descriptive_stats/Clustering/KlueYnatMrcCategoryClustering.json
Due: none

fix `IndicXnliPairClassification`
  mteb/abstasks/text/pair_classification.py
  mteb/descriptive_stats/PairClassification/IndicXnliPairClassification.json
Due: lint

fix `STL10`
  mteb/descriptive_stats/Image/ImageClassification/STL10.json
  mteb/tasks/classification/eng/stl10_classification.py
Due: lint, format-tasks-citations

fix `OpusparcusPC`
  mteb/abstasks/text/pair_classification.py
  mteb/descriptive_stats/PairClassification/OpusparcusPC.json
Due: lint

compute more pair classification
  mteb/descriptive_stats/PairClassification/ParsinluEntail.json
  mteb/descriptive_stats/PairClassification/PawsXPairClassification.json
  mteb/tasks/pair_classification/fas/fa_mteb_pair_classification.py
Due: lint, format-tasks-citations

fix for v2.0.0
  mteb/models/model_implementations/nvidia_models.py
Due: lint

add comments to pair classification
  mteb/abstasks/text/pair_classification.py
Due: lint

compute stats for CQADupstack*-NL
  mteb/descriptive_stats/Clustering/BlurbsClusteringP2P.v2.json
  mteb/descriptive_stats/Clustering/TenKGnadClusteringP2P.v2.json
  mteb/descriptive_stats/Clustering/TenKGnadClusteringS2S.v2.json
  mteb/descriptive_stats/Retrieval/CQADupstackGis-NL.json
  mteb/descriptive_stats/Retrieval/CQADupstackStats-NL.json
  mteb/descriptive_stats/Retrieval/CQADupstackWordpress-NL.json
  mteb/tasks/retrieval/nld/cqa_dupstack_gis_nl_retrieval.py
  mteb/tasks/retrieval/nld/cqa_dupstack_stats_nl_retrieval.py
  mteb/tasks/retrieval/nld/cqa_dupstack_webmasters_nl_retrieval.py
  mteb/tasks/retrieval/nld/cqa_dupstack_wordpress_nl_retrieval.py
Due: lint, format-tasks-citations

fix: datasets loading (#3421)
  mteb/abstasks/retrieval.py
  mteb/abstasks/text/pair_classification.py
  mteb/descriptive_stats/Clustering/BlurbsClusteringP2P.v2.json
  mteb/descriptive_stats/Clustering/KlueMrcDomainClustering.json
  mteb/descriptive_stats/Clustering/KlueYnatMrcCategoryClustering.json
  mteb/descriptive_stats/Clustering/TenKGnadClusteringP2P.v2.json
  mteb/descriptive_stats/Clustering/TenKGnadClusteringS2S.v2.json
  mteb/descriptive_stats/Image/ImageClassification/STL10.json
  mteb/descriptive_stats/Image/ImageClustering/CIFAR100Clustering.json
  mteb/descriptive_stats/PairClassification/IndicXnliPairClassification.json
  mteb/descriptive_stats/PairClassification/OpusparcusPC.json
  mteb/descriptive_stats/PairClassification/ParsinluEntail.json
  mteb/descriptive_stats/PairClassification/PawsXPairClassification.json
  mteb/descriptive_stats/Retrieval/CQADupstackGis-NL.json
  mteb/descriptive_stats/Retrieval/CQADupstackStats-NL.json
  mteb/descriptive_stats/Retrieval/CQADupstackWebmasters-NL.json
  mteb/descriptive_stats/Retrieval/CQADupstackWordpress-NL.json
  mteb/tasks/classification/eng/stl10_classification.py
  mteb/tasks/clustering/deu/blurbs_clustering_p2p.py
  mteb/tasks/clustering/deu/ten_k_gnad_clustering_p2p.py
  mteb/tasks/clustering/deu/ten_k_gnad_clustering_s2s.py
  mteb/tasks/clustering/eng/cifar.py
  mteb/tasks/pair_classification/fas/fa_mteb_pair_classification.py
  mteb/tasks/retrieval/fra/alloprof_retrieval.py
  mteb/tasks/retrieval/nld/cqa_dupstack_gis_nl_retrieval.py
  mteb/tasks/retrieval/nld/cqa_dupstack_stats_nl_retrieval.py
  mteb/tasks/retrieval/nld/cqa_dupstack_webmasters_nl_retrieval.py
  mteb/tasks/retrieval/nld/cqa_dupstack_wordpress_nl_retrieval.py
Due: lint, format-tasks-citations

Recalculating desc. stats - part3 (#3420)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LLaVAIT2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/METI2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MSCOCOI2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MSCOCOT2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MemotionT2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SketchyI2IRetrieval.json
  mteb/descriptive_stats/Image/ZeroShotClassification/MNISTZeroShot.json
  mteb/descriptive_stats/Reranking/MMarcoReranking.json
  mteb/descriptive_stats/Reranking/WebLINXCandidatesReranking.json
  mteb/descriptive_stats/Retrieval/Ko-StrategyQA.json
  mteb/descriptive_stats/Retrieval/LEMBNarrativeQARetrieval.json
  mteb/descriptive_stats/Retrieval/LEMBNeedleRetrieval.json
  mteb/descriptive_stats/Retrieval/LEMBPasskeyRetrieval.json
  mteb/descriptive_stats/Retrieval/LEMBQMSumRetrieval.json
  mteb/descriptive_stats/Retrieval/LEMBSummScreenFDRetrieval.json
  mteb/descriptive_stats/Retrieval/LEMBWikimQARetrieval.json
  mteb/descriptive_stats/Retrieval/LIMITRetrieval.json
  mteb/descriptive_stats/Retrieval/LIMITSmallRetrieval.json
  mteb/descriptive_stats/Retrieval/LeCaRDv2.json
  mteb/descriptive_stats/Retrieval/LegalBenchConsumerContractsQA.json
  mteb/descriptive_stats/Retrieval/LegalBenchCorporateLobbying.json
  mteb/descriptive_stats/Retrieval/LegalQuAD.json
  mteb/descriptive_stats/Retrieval/LegalSummarization.json
  mteb/descriptive_stats/Retrieval/LitSearchRetrieval.json
  mteb/descriptive_stats/Retrieval/MBPPRetrieval.json
  mteb/descriptive_stats/Retrieval/MIRACLRetrievalHardNegatives.json
  mteb/descriptive_stats/Retrieval/MIRACLRetrievalHardNegatives.v2.json
  mteb/descriptive_stats/Retrieval/MKQARetrieval.json
  mteb/descriptive_stats/Retrieval/MLQuestions.json
  mteb/descriptive_stats/Retrieval/MMarcoRetrieval.json
  mteb/descriptive_stats/Retrieval/MSMARCO-PLHardNegatives.json
  mteb/descriptive_stats/Retrieval/MSMARCOHardNegatives.json
  mteb/descriptive_stats/Retrieval/MedicalRetrieval.json
  mteb/descriptive_stats/Retrieval/QuoraRetrievalHardNegatives.json
  mteb/descriptive_stats/STS/KLUE-STS.json
  mteb/descriptive_stats/STS/KorSTS.json
  mteb/descriptive_stats/STS/LCQMC.json
Due: none

fix webfaqretrieval
  mteb/descriptive_stats/Retrieval/CQADupstackAndroidRetrieval.json
  mteb/descriptive_stats/Retrieval/FeedbackQARetrieval.json
  mteb/tasks/clustering/kor/klue_mrc_domain_clustering.py
  mteb/tasks/clustering/kor/klue_ynat_mrc_category_clustering.py
  mteb/tasks/retrieval/eng/cqa_dupstack_android_retrieval.py
  mteb/tasks/retrieval/eng/feedback_qa_retrieval.py
  mteb/tasks/retrieval/multilingual/web_faq_retrieval.py
Due: lint, format-tasks-citations

feat - add task_select.change
  mteb/leaderboard/app.py
Due: lint

remove non-public model without API
  mteb/models/model_implementations/codi_models.py
Due: lint

revert
  mteb/models/model_implementations/codi_models.py
Due: lint

fix: Remove links from models with a reference
  docs/overview/available_models/image_text.md
  docs/overview/available_models/text.md
  docs/overview/create_available_models.py
Due: lint

set OMP_NUM_THREADS during clustering to ensure reproducibility (#3400)
  mteb/abstasks/clustering.py
Due: lint

format
  docs/overview/create_available_models.py
Due: lint

remove non-public model without API (#3425)
  mteb/models/model_implementations/codi_models.py
Due: lint

fix: Remove links from models with a reference (#3426)
  docs/overview/available_models/image_text.md
  docs/overview/available_models/text.md
  docs/overview/create_available_models.py
Due: lint

add commit message
  mteb/abstasks/retrieval.py
Due: lint

Apply suggestions from code review
  docs/adding_a_benchmark.md
  mkdocs.yml
Due: none

add protocols link
  docs/adding_a_model.md
Due: none

move into subfolder
  README.md
  docs/contributing/adding_a_benchmark.md
  docs/contributing/adding_a_dataset.md
  docs/contributing/adding_a_model.md
  docs/mmteb/readme.md
  mkdocs.yml
Due: none

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
