Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

fix: re-add conflict
  pyproject.toml
Due: none

ci: Update actions (#4780)
  .github/workflows/dataset_loading.yml
  .github/workflows/documentation.yml
  .github/workflows/leaderboard_build.yml
  .github/workflows/leaderboard_docker.yml
  .github/workflows/leaderboard_refresh.yaml
  .github/workflows/lint.yml
  .github/workflows/model_loading.yml
  .github/workflows/reference_models.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_lowest.yml
  .github/workflows/typechecking.yml
  .github/workflows/update_leaderboard_models.yml
Due: none

remove script to maeb
  scripts/task_selection/benchmark_lite_vs_extended_correlation.py
Due: lint

fix imports
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

feat: Add evaluation runtime for indexing and retrieval (#4639)
  docs/api/results.md
  docs/whats_new.md
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/clustering_evaluator.py
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/_evaluators/retrieval_evaluator.py
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/_evaluators/text/summarization_evaluator.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
  mteb/abstasks/abstask.py
  mteb/abstasks/aggregated_task.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/abstasks/multilabel_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
  mteb/abstasks/text/bitext_mining.py
  mteb/abstasks/text/reranking.py
  mteb/abstasks/text/summarization.py
  mteb/abstasks/zeroshot_classification.py
  mteb/evaluate.py
  mteb/results/task_result.py
  mteb/timing.py
  tests/test_evaluate.py
  tests/test_evaluators/test_ClassificationEvaluator.py
  tests/test_evaluators/test_ClusteringEvaluator.py
  tests/test_evaluators/test_PairClassificationEvaluator.py
  tests/test_evaluators/test_RetrievalEvaluator.py
  tests/test_evaluators/test_STSEvaluator.py
  tests/test_evaluators/test_SummarizationEvaluator.py
  tests/test_results/test_task_results.py
  tests/test_timing.py
Due: lint

2.15.0
  pyproject.toml
Due: none

add warning & replace usages
  mteb/models/model_implementations/bge_vl_models.py
  mteb/models/model_implementations/e5_omni_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/mme5_models.py
  mteb/models/model_implementations/omni_embed_nemotron_models.py
  mteb/models/model_implementations/tevatron_omni_embed_models.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

fix typing
  mteb/models/instruct_wrapper.py
Due: lint

fix: remove *extended and MAEB+ (#4786)
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  scripts/task_selection/benchmark_lite_vs_extended_correlation.py
Due: lint, format-benchmarks-citations

model: Add video support to qwen3-vl embedding (#4699)
  mteb/models/instruct_wrapper.py
  mteb/models/model_implementations/qwen3_vl_embedding_models.py
Due: lint

fix typing
  mteb/models/sentence_transformer_wrapper.py
Due: lint

infer modalities
  mteb/models/model_meta.py
Due: lint

Merge multimodal sentence transformers (#4785)
  mteb/models/model_implementations/bge_vl_models.py
  mteb/models/model_implementations/e5_omni_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/mme5_models.py
  mteb/models/model_implementations/omni_embed_nemotron_models.py
  mteb/models/model_implementations/tevatron_omni_embed_models.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/types/_encoder_io.py
Due: lint

upd test
  tests/test_benchmarks/test_get_benchmarks.py
Due: lint

fix typecheck
  mteb/abstasks/retrieval.py
Due: lint

2.15.1
  pyproject.toml
Due: none

start refactor
  mteb/api/__init__.py
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/otel.py
  mteb/api/settings.py
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmark.py
  mteb/languages/iso_mappings.py
Due: lint, format-benchmarks-citations

start refactor
  Dockerfile
  Makefile
  mteb/api/README.md
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/metrics.py
  mteb/api/settings.py
  scripts/generate_og_images.py
  scripts/generate_og_images_mpl.py
Due: lint

simplify schemas
  mteb/api/adapters.py
  mteb/api/aggregators.py
  mteb/api/cache.py
  mteb/api/icons.py
  mteb/api/metrics.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/api/settings.py
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

simplify schemas
  mteb/api/REGRESSION_CASES.txt
  mteb/api/adapters.py
  mteb/api/aggregators.py
  mteb/api/cache.py
  mteb/api/otel.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/api/settings.py
  mteb/cache/result_cache.py
Due: lint

simplify imports
  mteb/api/aggregators.py
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/frames.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/api/serialization.py
  mteb/api/warmup.py
Due: lint

api: speed up table generation + disk-cache the per-benchmark split
  Dockerfile
  mteb/api/aggregators.py
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/frames.py
  mteb/api/icons.py
  mteb/api/settings.py
  mteb/api/warmup.py
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
  mteb/results/benchmark_results.py
Due: lint, format-benchmarks-citations

chore: pin languagebind extra dependencies
  pyproject.toml
Due: none

model: NightOwl-CodeEmbedding (#4791)
  mteb/models/model_implementations/shuu_model.py
Due: lint

api: fix correctness bugs + consolidate table builders
  mteb/api/aggregators.py
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/frames.py
  mteb/api/icons.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/api/warmup.py
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/leaderboard/table.py
Due: lint, format-benchmarks-citations

Add WAVE upstream as submodule for MTEB integration
  .gitmodules
Due: none

make zeroshot summary optional
  mteb/api/aggregators.py
  mteb/api/cache.py
  mteb/api/frames.py
  mteb/api/schemas.py
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

model: Add WAVE-7B omni embedding model (tsinghua-ee/WAVE-7B)
  MTEB-WAVE-7B.md
  mteb/models/model_implementations/wave_models.py
  pyproject.toml
Due: lint

model: Verify WAVE-7B on SLURM (A100) + pin reproducible deps
  MTEB-WAVE-7B.md
  pyproject.toml
Due: none

2.15.2
  pyproject.toml
Due: none

fix column
  mteb/api/README.md
  mteb/api/aggregators.py
  mteb/api/metrics.py
Due: lint

2.15.3
  pyproject.toml
Due: none

fix: Update Slovak citations and improve dataset references
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/clustering/slk/slovak_sum_url_clustering.py
  mteb/tasks/pair_classification/slk/demagog_sknli.py
  mteb/tasks/pair_classification/slk/slovak_nli.py
  mteb/tasks/pair_classification/slk/slovak_rte.py
  mteb/tasks/retrieval/slk/slovak_sum_retrieval.py
  mteb/tasks/sts/slk/slovak_sts.py
  pyproject.toml
Due: lint, format-benchmarks-citations, format-tasks-citations
