Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix: Added Git Actions using Command Pattern (#4329)
  Makefile
  mteb/_reversible_workflow/__init__.py
  mteb/_reversible_workflow/git_actions.py
  mteb/_reversible_workflow/reversible_workflow.py
  pyproject.toml
  tests/test_workflow/test_git_actions.py
  tests/test_workflow/test_reversible_workflow.py
Due: lint

added batch size
  mteb/models/model_implementations/google_gemini.py
Due: lint

2.12.28
  pyproject.toml
Due: none

format and fix tests
  mteb/models/model_implementations/google_embeddinggemma.py
  mteb/models/model_implementations/google_gemini.py
Due: lint

update gold
  tests/create_meta/existing_readme.md
  tests/create_meta/model_card_benchmark_gold.md
  tests/create_meta/model_card_gold.md
  tests/create_meta/model_card_gold_existing.md
  tests/create_meta/model_card_gold_without_frontmatter.md
Due: none

fix: rework gemini using asyncio (#4507)
  mteb/models/model_implementations/google_embeddinggemma.py
  mteb/models/model_implementations/google_gemini.py
  mteb/models/model_implementations/google_models.py
  mteb/models/model_implementations/google_text_embedding.py
Due: lint

fix: Allow kwargs in `push_dataset_to_hub` to allow pushing a private dataset (#4508)
  mteb/abstasks/abstask.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
  mteb/abstasks/text/bitext_mining.py
  mteb/abstasks/zeroshot_classification.py
Due: lint

2.12.29
  pyproject.toml
Due: none

remove release date
  mteb/models/model_meta.py
Due: lint

model: Update codefuse_models.py (#4477)
  mteb/models/model_implementations/codefuse_models.py
Due: lint

refactor: move generate_model_card to ModelMeta method (#4209)
  mteb/cli/build_cli.py
  mteb/cli/generate_model_card.py
  mteb/models/model_meta.py
  tests/create_meta/existing_readme.md
  tests/create_meta/model_card_benchmark_gold.md
  tests/create_meta/model_card_gold.md
  tests/create_meta/model_card_gold_existing.md
  tests/create_meta/model_card_gold_without_frontmatter.md
Due: lint

fix: Don't specify hf_subsets for aggregated tasks
  mteb/tasks/aggregated_tasks/eng/sts17_multilingual_visual_sts_eng.py
  mteb/tasks/aggregated_tasks/eng/sts_benchmark_multilingual_visual_sts_eng.py
  mteb/tasks/aggregated_tasks/multilingual/sts17_multilingual_vision_sts.py
  mteb/tasks/aggregated_tasks/multilingual/sts_benchmark_multilingual_visual_sts.py
  mteb/tasks/aggregated_tasks/nld/cqadupstack_nl_retrieval.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

format
  mteb/leaderboard/app.py
  mteb/results/benchmark_results.py
Due: lint

remove old files before merging main
  mteb/cache/__init__.py
  mteb/cache/_git_actions.py
  mteb/cache/_reversible_workflow.py
  pyproject.toml
Due: lint

restore pyproject.toml
  pyproject.toml
Due: none

removing already updated files to avoid merge conflicts
  mteb/models/model_meta.py
  pyproject.toml
Due: lint

fix: Don't specify hf_subsets for aggregated tasks (#4511)
  mteb/tasks/aggregated_tasks/eng/sts17_multilingual_visual_sts_eng.py
  mteb/tasks/aggregated_tasks/eng/sts_benchmark_multilingual_visual_sts_eng.py
  mteb/tasks/aggregated_tasks/multilingual/sts17_multilingual_vision_sts.py
  mteb/tasks/aggregated_tasks/multilingual/sts_benchmark_multilingual_visual_sts.py
  mteb/tasks/aggregated_tasks/nld/cqadupstack_nl_retrieval.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

revert most changes to benchmarkResults
  mteb/leaderboard/app.py
  mteb/results/benchmark_results.py
  scripts/bench_leaderboard_breakdown.py
  scripts/bench_leaderboard_perf.py
Due: lint

2.12.30
  pyproject.toml
Due: none

fix: update training datasets and revision hash
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

fix: add MSRVTT and COLPALI_TRAINING_DATA to training datasets
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

Update submit_results and tests
  mteb/cache/__init__.py
  mteb/cache/result_cache.py
  tests/test_leaderboard/test_integration.py
  tests/test_result_cache.py
Due: lint

[MVEB] Add Tevatron/OmniEmbed Model (#4410)
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

fix typechecking error
  mteb/cache/result_cache.py
Due: lint

apply suggestions from copilot
  mteb/cache/result_cache.py
  tests/test_result_cache.py
Due: lint

Update PR body with dummy link
  mteb/cache/result_cache.py
Due: lint

refactor: single model.forward() call for all modalities
  mteb/models/model_implementations/ebind_models.py
Due: lint

fix: raise ValueError instead of warning for variable frame counts
  mteb/models/model_implementations/ebind_models.py
Due: lint

add leaderboard bench
  scripts/bench_leaderboard.py
Due: lint

Remove HAC-specific task lookup test
  tests/test_get_tasks.py
Due: lint

[MVEB] Add Human-Animal-Cartoon classification and zeroshot tasks
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/human_animal_cartoon.py
  mteb/tasks/zeroshot_classification/eng/__init__.py
  mteb/tasks/zeroshot_classification/eng/human_animal_cartoon.py
  tests/test_get_tasks.py
Due: lint, format-tasks-citations

Add HAC descriptive statistics
  mteb/descriptive_stats/VideoClassification/HumanAnimalCartoonV.json
  mteb/descriptive_stats/VideoClassification/HumanAnimalCartoonVA.json
  mteb/descriptive_stats/VideoZeroshotClassification/HumanAnimalCartoonZeroShot.json
Due: none

fix issue with Github Rate Limiting
  mteb/cache/result_cache.py
Due: lint

[MVEB] Add the Nvidia/OmniVinci Model (#4476)
  mteb/models/model_implementations/omnivinci_models.py
  pyproject.toml
Due: lint

cleanup: remove unused logging import
  mteb/models/model_implementations/ebind_models.py
Due: lint

revert to pr#4383
  tests/test_tasks/test_metadata.py
Due: lint

remove hardcoded task names
  tests/test_tasks/test_metadata.py
Due: lint

add is_beta=True on the rest of the video tasks and set exclude_beta=True in test_metadata
  mteb/tasks/clustering/eng/hmdb51_clustering.py
  mteb/tasks/clustering/eng/ucf101_clustering.py
  mteb/tasks/retrieval/eng/valor_32k_retrieval.py
  mteb/tasks/zeroshot_classification/eng/kinetics400.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

ignore claude files
  .gitignore
Due: none

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
