Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix test
  tests/test_models/test_model_meta.py
Due: lint

fix lint
  pyproject.toml
Due: none

fix lint
  tests/test_cli.py
  tests/test_evaluators/test_ClassificationEvaluator.py
  tests/test_evaluators/test_ClusteringEvaluator.py
  tests/test_evaluators/test_PairClassificationEvaluator.py
  tests/test_evaluators/test_RetrievalEvaluator.py
  tests/test_evaluators/test_STSEvaluator.py
  tests/test_evaluators/test_SummarizationEvaluator.py
  tests/test_evaluators/test_evaluation_metrics.py
  tests/test_results/test_task_results.py
  tests/test_tasks/test_is_superseded.py
Due: lint

fix: use functools.cache for lazy loading instead of global statement
  mteb/languages/iso_mappings.py
Due: lint

fix: resolve CI lint errors (PLR0911, PLC2701, PLR6301)
  mteb/languages/__init__.py
  mteb/languages/iso_mappings.py
  mteb/models/model_meta.py
  tests/test_languages.py
Due: lint

feat: Add SWEbenchCodeRetrieval task for RTEB
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
  mteb/tasks/retrieval/code/__init__.py
  mteb/tasks/retrieval/code/swebench_code_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

fix: `colpali_engine` models query processing (#4361)
  mteb/models/model_implementations/colpali_models.py
Due: lint

format
  tests/test_languages.py
Due: lint

fix: add language extraction from HF model cards to get_model_meta (#4278)
  mteb/languages/__init__.py
  mteb/languages/iso_639_1_to_3.json
  mteb/languages/iso_639_3_to_default_script.json
  mteb/languages/iso_mappings.py
  mteb/models/model_meta.py
  tests/test_languages.py
Due: lint

2.12.16
  pyproject.toml
Due: none

handle sbert quants
  mteb/evaluate.py
  mteb/types/_encoder_io.py
  tests/test_evaluate.py
Due: lint

address review: simplify input_column_name, remove VideoInputItem, fix collator output
  mteb/_create_dataloaders.py
  mteb/_evaluators/sklearn_evaluator.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
  mteb/abstasks/_data_filter/task_pipelines.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/random_baseline.py
  mteb/tasks/video/classification/eng/kinetics400_classification.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
  mteb/tasks/video/retrieval/eng/msr_vtt.py
  mteb/types/_encoder_io.py
Due: lint, format-tasks-citations

fix: update clustering_evaluator to use Sequence instead of Mapping
  mteb/_evaluators/clustering_evaluator.py
Due: lint

fix: handle Sequence input_column_name in second create_dataloader call
  mteb/_evaluators/zeroshot_classification_evaluator.py
Due: lint

Re-upload dataset via push_dataset_to_hub, remove custom load_data
  mteb/tasks/retrieval/code/swebench_code_retrieval.py
Due: lint, format-tasks-citations

fix: skip statistics and text cleaning for multi-column video tasks
  mteb/abstasks/_data_filter/task_pipelines.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
Due: lint

fix: pass explicit None for TypedDict fields in multi-column statistics
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
Due: lint

feat: add BidirLM/BidirLM-Omni-2.5B-Embedding model implementation
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

move inside model encode
  mteb/evaluate.py
  mteb/models/instruct_wrapper.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

update type of prompt type
  mteb/types/_encoder_io.py
Due: lint

Apply suggestions
  mteb/models/model_implementations/e5_omni.py
Due: lint

fix: remove qa as a valid tag for metadata files
  mteb/abstasks/task_metadata.py
Due: lint

simplify data loading by reuploading the data
  mteb/tasks/retrieval/eng/browse_comp_plus_retrieval.py
Due: lint, format-tasks-citations

Attempt to fix python compatibility issue
  mteb/models/model_implementations/e5_omni.py
Due: lint

dataset: add BrowseComp-Plus (#4226)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Retrieval/BrowseCompPlusRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/browse_comp_plus_retrieval.py
Due: lint, format-tasks-citations

remove image/audio dependencies
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/models/model_implementations/ast_model.py
  mteb/models/model_implementations/audio_qwen2_models.py
  mteb/models/model_implementations/cnn14_model.py
  mteb/models/model_implementations/cohere_v.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/eagerworks_models.py
  mteb/models/model_implementations/encodec_model.py
  mteb/models/model_implementations/evaclip_models.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/jina_clip.py
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_implementations/llm2clip_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/moco_models.py
  mteb/models/model_implementations/nanovdr_models.py
  mteb/models/model_implementations/nomic_multimodal.py
  mteb/models/model_implementations/openclip_models.py
  mteb/models/model_implementations/ops_colqwen3_models.py
  mteb/models/model_implementations/qwen3_vl_embedding_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/slm_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/vggish_models.py
  mteb/models/model_implementations/vista_models.py
  mteb/models/model_implementations/vlm2vec_models.py
  mteb/models/model_implementations/voyage_v.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/wavlm_models.py
  mteb/models/model_implementations/whisper_models.py
  mteb/models/model_implementations/yamnet_models.py
Due: lint

fixes after merge
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

add deprecated function
  mteb/_requires_package.py
Due: lint

Add nicher92/saga-embed_v1 to MTEB models
  mteb/models/model_implementations/saga_models.py
Due: lint

Update training_datasets in ModelMeta
  mteb/models/model_implementations/saga_models.py
Due: lint

fix: fixed naming
  mteb/models/model_implementations/saga_models.py
Due: lint

fix tests
  mteb/models/instruct_wrapper.py
  mteb/models/sentence_transformer_wrapper.py
  tests/test_evaluate.py
Due: lint

address Kenneth review: rename collators, update docs, simplify annotations
  mteb/_create_dataloaders.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
  mteb/abstasks/_data_filter/task_pipelines.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/random_baseline.py
  mteb/tasks/video/classification/eng/kinetics400_classification.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
  mteb/tasks/video/retrieval/eng/msr_vtt.py
  mteb/types/_encoder_io.py
Due: lint, format-tasks-citations

docs: link to encoder I/O types for default column names in input_column_name
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
Due: lint

fix: raise NotImplementedError for multi-column task cleaning
  mteb/abstasks/_data_filter/task_pipelines.py
Due: lint

Add BidirLM embedding models (270M, 0.6B, 1B, 1.7B)
  mteb/models/model_implementations/bidirlm_models.py
Due: lint

model: add BidirLM text embedding family (270M, 0.6B, 1B, 1.7B)
  mteb/models/model_implementations/bidirlm_models.py
Due: lint

refactor: use tuples for input_column_name to avoid ClassVar
  mteb/tasks/video/classification/eng/kinetics400_classification.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
  mteb/tasks/video/retrieval/eng/msr_vtt.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
