Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

Add mteb/api FastAPI service and HF Space Dockerfile
  Dockerfile
  Makefile
  mteb/api/README.md
  mteb/api/REGRESSION_CASES.txt
  mteb/api/__init__.py
  mteb/api/adapters.py
  mteb/api/aggregators.py
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/icons.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/api/settings.py
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/languages/__init__.py
  mteb/languages/iso_mappings.py
  pyproject.toml
  scripts/bench_api.py
Due: lint, format-benchmarks-citations

fix typing
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

leaderboard: Speedup leaderboard (#4716)
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/cache/result_cache.py
  mteb/leaderboard/app.py
  mteb/leaderboard/cached_benchmark_results.py
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
  mteb/results/__init__.py
  mteb/results/benchmark_results.py
  mteb/results/model_result.py
  scripts/bench_leaderboard.py
  tests/test_results/test_benchmark_results.py
Due: lint, format-benchmarks-citations

Annotate cors_origins with NoDecode so env strings parse
  mteb/api/settings.py
Due: lint

Bust Docker layer cache when the api branch advances
  Dockerfile
Due: none

Move leaderboard_parquet_path onto ResultCache
  mteb/api/cache.py
  mteb/cache/result_cache.py
  mteb/leaderboard/app.py
  scripts/bench_leaderboard.py
Due: lint

Pre-fetch mteb/results HF dataset at build time
  Dockerfile
Due: none

Switch leaderboard cache loader to per-config HF dataset layout
  mteb/api/aggregators.py
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/routes.py
  mteb/api/settings.py
  mteb/results/benchmark_results.py
Due: lint

fix import
  mteb/api/cache.py
  mteb/results/benchmark_results.py
Due: lint

fix repo name
  Dockerfile
  mteb/api/settings.py
Due: lint

dataset: switch OBLIQ-Bench to pooled qrels and standard top_ranked configs
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/descriptive_stats/Retrieval/OBLIQBenchRetrieval.json
  mteb/tasks/retrieval/eng/obliq_bench_retrieval.py
  scripts/data/obliq_bench/create_data.py
  scripts/data/obliq_bench/run_eval.py
Due: lint, format-tasks-citations

dataset: trim verbose comments in OBLIQ-Bench data script
  scripts/data/obliq_bench/create_data.py
Due: lint

remove run_eval helper from OBLIQ-Bench data dir (local-only script)
  scripts/data/obliq_bench/run_eval.py
Due: lint

fix results
  mteb/results/benchmark_results.py
Due: lint

mveb_paper: add ResultCache-backed paper analysis scripts
  scripts/mveb_paper/analyze_video_and_audio_video.py
  scripts/mveb_paper/gen_mveb_tex_tables.py
  scripts/mveb_paper/plot_domain_distribution.py
  scripts/mveb_paper/rerun_audio_analysis.py
  scripts/mveb_paper/retrieval_direction_correlation.py
Due: lint

benchmarks: add MVEB benchmark suite + leaderboard Video menu
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

wip: phase 1 review fixes for GPU testing
  mteb/models/model_implementations/language_bind_models.py
Due: lint

mveb: enrich domain taxonomy + fix mislabeled action/egocentric/meme datasets
  mteb/abstasks/task_metadata.py
  mteb/tasks/classification/eng/avmeme_exam_classification.py
  mteb/tasks/classification/eng/breakfast_classification.py
  mteb/tasks/classification/eng/hmdb51_classification.py
  mteb/tasks/classification/eng/human_animal_cartoon.py
  mteb/tasks/classification/eng/kinetics400.py
  mteb/tasks/classification/eng/kinetics600.py
  mteb/tasks/classification/eng/kinetics700.py
  mteb/tasks/classification/eng/something_something_v2_classification.py
  mteb/tasks/classification/eng/ucf101_classification.py
  mteb/tasks/classification/zxx/diving48_classification.py
  mteb/tasks/clustering/eng/hmdb51_clustering.py
  mteb/tasks/clustering/eng/ucf101_clustering.py
  mteb/tasks/multichoice/eng/avmeme_exam.py
  mteb/tasks/multichoice/eng/egoschema.py
  mteb/tasks/multichoice/eng/nextqa.py
  mteb/tasks/multichoice/eng/perception_test.py
  mteb/tasks/pair_classification/eng/human_animal_cartoon_pc.py
  mteb/tasks/pair_classification/eng/videocon_pc.py
  mteb/tasks/pair_classification/eng/vinoground_pc.py
  mteb/tasks/retrieval/eng/activitynet_captions_retrieval.py
  mteb/tasks/retrieval/eng/avmeme_exam_retrieval.py
  mteb/tasks/retrieval/eng/vatex_retrieval.py
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
  mteb/tasks/zeroshot_classification/eng/avmeme_exam_classification.py
  mteb/tasks/zeroshot_classification/eng/breakfast_classification.py
  mteb/tasks/zeroshot_classification/eng/hmdb51.py
  mteb/tasks/zeroshot_classification/eng/human_animal_cartoon.py
  mteb/tasks/zeroshot_classification/eng/kinetics400.py
  mteb/tasks/zeroshot_classification/eng/kinetics600.py
  mteb/tasks/zeroshot_classification/eng/kinetics700.py
  mteb/tasks/zeroshot_classification/eng/ucf101.py
Due: lint, format-tasks-citations

refactor: trim LanguageBind compat shims to the two that are required
  mteb/models/model_implementations/language_bind_models.py
Due: lint

refactor: apply compat shims in the loader instead of at module import
  mteb/models/model_implementations/language_bind_models.py
Due: lint

make lint
  scripts/mveb_paper/gen_mveb_tex_tables.py
  scripts/mveb_paper/plot_domain_distribution.py
  scripts/mveb_paper/rerun_audio_analysis.py
Due: lint

Add noqa comments to suppress lint errors in descriptive_stats_analysis
  mteb/cli/descriptive_stats_analysis.py
Due: lint

Create dir before dumping results
  mteb/results/benchmark_results.py
Due: lint

leaderboard: Create dir before dumping results (#4765)
  mteb/results/benchmark_results.py
Due: lint

add train on to cache results
  mteb/api/aggregators.py
  mteb/api/cache.py
  mteb/api/schemas.py
  mteb/api/settings.py
  mteb/benchmarks/_create_table.py
  mteb/results/benchmark_results.py
Due: lint, format-benchmarks-citations

Lifespan warmup, /scores route, per-task num_models
  mteb/api/README.md
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

benchmarks: mark MVEB suite beta; drop extended from leaderboard menu
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

MVEB PAPER: add ResultCache-backed paper analysis scripts (#4762)
  mteb/cli/descriptive_stats_analysis.py
  scripts/mveb_paper/analyze_video_and_audio_video.py
  scripts/mveb_paper/gen_mveb_tex_tables.py
  scripts/mveb_paper/plot_domain_distribution.py
  scripts/mveb_paper/rerun_audio_analysis.py
  scripts/mveb_paper/retrieval_direction_correlation.py
Due: lint

test ci
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

match the two
  docs/references.bib
Due: none

docs: Fix citations in maeb and music avqa (#4650)
  mteb/tasks/clustering/eng/music_avqa_clustering.py
Due: lint, format-tasks-citations

docs: Update MIEB citation (#4751)
  docs/references.bib
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

api: expose Benchmark.language_view through the schema
  mteb/api/schemas.py
Due: lint

api: pick "Rank" over "Rank (Borda)" when both columns exist
  mteb/api/aggregators.py
Due: lint

benchmarks: customisable sort column + relabel MIEB's mean to TaskType
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

fix
  mteb/api/README.md
  mteb/api/app.py
  mteb/api/metrics.py
  mteb/api/otel.py
  mteb/api/routes.py
  mteb/api/settings.py
  mteb/api/static/favicon.png
  pyproject.toml
Due: lint

lint
  mteb/models/model_implementations/ingot_models.py
Due: lint

model: add jcorners/ingot-8b-r3 (API-backed) (#4725)
  mteb/models/model_implementations/ingot_models.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
