Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

api: consolidate cache layer + tighten aggregator helpers
  mteb/api/aggregators.py
  mteb/api/cache.py
  mteb/api/frames.py
  mteb/api/icons.py
  mteb/api/routes.py
  mteb/api/settings.py
  mteb/api/warmup.py
  mteb/languages/iso_mappings.py
Due: lint

Update mteb/benchmarks/benchmarks/benchmarks.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Update mteb/tasks/classification/slk/multi_eup_slovak_classification.py
  mteb/tasks/classification/slk/multi_eup_slovak_classification.py
Due: lint, format-tasks-citations

refactor and remove custom logic for cross-encoders
  mteb/models/hybrid_wrappers.py
  tests/test_models/test_hybrid_search.py
Due: lint

updated docs
  docs/get_started/usage/defining_the_model.md
  docs/whats_new.md
Due: none

fix
  Makefile
  scripts/generate_og_images.py
Due: lint

fix: Faithful text path + AV wiring for WAVE-7B; validate video on A100
  MTEB-WAVE-7B.md
  mteb/models/model_implementations/wave_models.py
  pyproject.toml
Due: lint

Apply suggestions from code review
  mteb/api/otel.py
  mteb/leaderboard/table.py
Due: lint

fix old lb
  mteb/leaderboard/app.py
Due: lint

ci: build API image from local source + consolidate workflows
  .dockerignore
  .github/workflows/api_docker.yml
  .github/workflows/hf_space_docker.yml
  .github/workflows/leaderboard_docker.yml
  .github/workflows/leaderboard_healthcheck.yml
  .github/workflows/leaderboard_refresh.yaml
  Dockerfile
Due: none

fix filter by model size
  mteb/leaderboard/app.py
Due: lint

add new version to multilingual
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix filter by model size (#4794)
  mteb/leaderboard/app.py
Due: lint

feat: Complete WAVE-7B faithfulness validation + portable setup script
  MTEB-WAVE-7B.md
  mteb/models/model_implementations/wave_models.py
  pyproject.toml
  scripts/setup_wave_env.sh
Due: lint

fix: use plain int indices in multilabel undersampling (datasets>=4)
  mteb/abstasks/multilabel_classification.py
Due: lint

chore: pin transformers in languagebind extra and add conflict entry
  pyproject.toml
Due: none

Add ColTurk-VDR-Qwen3VL-4B-v1.0 (late-interaction visual document retriever)
  mteb/models/model_implementations/colqwen_models.py
Due: lint

Apply review suggestions: n_embedding_parameters + adapted_from
  mteb/models/model_implementations/colqwen_models.py
Due: lint

model: add Verm1ion/ColTurk-VDR-Qwen3VL-4B-v1.0 (#4796)
  mteb/models/model_implementations/colqwen_models.py
Due: lint

fix: update revision for nightowl code embedding model
  mteb/models/model_implementations/shuu_model.py
Due: lint

simplify metrics
  mteb/api/metrics.py
  mteb/api/routes.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

benchmark: added MTEB-PT benchmark
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix: removed unnecessary commas
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

update healthcheck
  .github/workflows/leaderboard_healthcheck.yml
Due: none

ci: Update healthcheck for new leaderboard (#4802)
  .github/workflows/leaderboard_healthcheck.yml
Due: none

fix: update revision for NightOwl-CodeEmbedding (#4799)
  mteb/models/model_implementations/shuu_model.py
Due: lint

2.15.4
  pyproject.toml
Due: none

fix: ran make lint
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

use aggregations directly
  mteb/api/aggregators.py
  mteb/benchmarks/_benchmark_metrics.py
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/results/model_result.py
  tests/test_benchmarks/test_benchmark_score.py
Due: lint, format-benchmarks-citations

benchmarks: polish MVEB leaderboard names + icons
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

polish MVEB leaderboard names + icons (#4803)
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

setup hf trusted publishing
  .github/workflows/leaderboard_refresh.yaml
  .github/workflows/update_leaderboard_models.yml
Due: none

remove comment
  .github/workflows/update_leaderboard_models.yml
Due: none

fix qwen3
  mteb/models/model_implementations/qwen3_models.py
Due: lint

add descriptive stats
  mteb/api/README.md
  mteb/api/routes.py
Due: lint

add proper typehints for router
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/regression.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
  mteb/abstasks/text/bitext_mining.py
  mteb/abstasks/text/summarization.py
  mteb/abstasks/zeroshot_classification.py
  mteb/api/routes.py
  mteb/types/statistics.py
  pyproject.toml
Due: lint

expose split axis on /tasks/{name}/scores
  mteb/api/aggregators.py
  mteb/api/frames.py
  mteb/api/schemas.py
Due: lint

[MVEB] Split STARBench into per-config tasks (feasibility, interaction, prediction, sequence)
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/star_bench.py
Due: lint, format-tasks-citations

[MVEB] Split MVBench into per-config tasks (20 separate classes)
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/mvbench.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
