Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Remove mteb_mock_run_results.md
  mteb_mock_run_results.md
Due: none

Remove dataset_transform from AfriHate and KinNews classification
  mteb/tasks/classification/multilingual/afri_hate_classification.py
  mteb/tasks/classification/multilingual/kin_news_classification.py
Due: lint, format-tasks-citations

Add public_training_data link to judicialmind/legal-training-dataset
  mteb/models/model_implementations/greenleaf_models.py
Due: lint

fix: add strict=False to zip() calls in Slovak clustering tasks
  mteb/tasks/clustering/slk/pravda_sk_clustering.py
  mteb/tasks/clustering/slk/sme_sum_category_clustering.py
Due: lint, format-tasks-citations

dataset: Add multilingual MMarco retrieval task (#5068)
  mteb/descriptive_stats/Retrieval/MMarcoRetrievalMultilingual.json
  mteb/tasks/clustering/slk/pravda_sk_clustering.py
  mteb/tasks/clustering/slk/sme_sum_category_clustering.py
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/mmarco_retrieval.py
  mteb/tasks/retrieval/zho/cmteb_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

Remove AfriMTEB task dataset_transform() (#4905)
  mteb/tasks/classification/multilingual/afri_hate_classification.py
  mteb/tasks/classification/multilingual/kin_news_classification.py
  mteb/tasks/pair_classification/multilingual/afri_xnli.py
Due: lint, format-tasks-citations

ci: use --frozen flag in dataset_loading and lint install steps
  .github/workflows/dataset_loading.yml
  .github/workflows/lint.yml
Due: none

ci: use --frozen flag in documentation install step
  .github/workflows/documentation.yml
Due: none

ci: use --frozen flag in dataset_loading and lint install steps (#5277)
  .github/workflows/dataset_loading.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
Due: none

add stats
  mteb/descriptive_stats/AudioPairClassification/EMIDPairClassification.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/EMIDA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/EMIDI2ARetrieval.json
Due: none

fix types
  mteb/tasks/pair_classification/eng/emid_pc.py
Due: lint, format-tasks-citations

fix: pool GVE embeddings at the appended <|endoftext|> token
  mteb/models/model_implementations/gve_models.py
Due: lint

[MOEB] Add MUSE-VA A2I and I2A retrieval tasks
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MUSEVAA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MUSEVAI2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/muse_va_retrieval.py
  scripts/data/muse_va_retrieval/create_data.py
Due: lint, format-tasks-citations

lint: explicit strict=True in encode batch zip
  mteb/models/model_implementations/gve_models.py
Due: lint

[MOEB] Add Reflectra I2A retrieval task
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ReflectraI2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/reflectra_retrieval.py
  scripts/data/reflectra_retrieval/create_data.py
Due: lint, format-tasks-citations

pin data revision
  mteb/tasks/retrieval/eng/muse_va_retrieval.py
Due: lint, format-tasks-citations

add descriptive stats
  mteb/descriptive_stats/VideoClustering/BreakfastClustering.json
  mteb/descriptive_stats/VideoPairClassification/BreakfastPairClassification.json
Due: none

fix: download EVVE construction metadata
  scripts/data/evve/create_data.py
  scripts/data/evve/media-source-overrides.json
  scripts/data/evve/s2vs-2023-video-ids.txt
  scripts/data/evve/surviving-public-media-video-ids.txt
Due: lint

fix: pin updated EVVE dataset revision
  mteb/tasks/retrieval/zxx/evve_retrieval.py
Due: lint, format-tasks-citations

task: add ImagePairClassification task type with 5 tasks
  mteb/abstasks/task_metadata.py
  mteb/tasks/pair_classification/eng/__init__.py
  mteb/tasks/pair_classification/eng/dtd_pair_classification.py
  mteb/tasks/pair_classification/eng/eurosat_pair_classification.py
  mteb/tasks/pair_classification/eng/fer2013_pair_classification.py
  mteb/tasks/pair_classification/eng/fgvc_aircraft_pair_classification.py
  mteb/tasks/pair_classification/eng/oxford_flowers_pair_classification.py
  scripts/build_image_pair_classification.py
Due: lint, format-tasks-citations

dataset: add VCDB core audio retrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/VCDBCoreAudioRetrieval.json
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/vcdb_core_retrieval.py
  scripts/data/vcdb_retrieval/create_data.py
Due: lint, format-tasks-citations

dataset: document VCDB duplicate audio
  mteb/tasks/retrieval/zxx/vcdb_core_retrieval.py
  scripts/data/vcdb_retrieval/create_data.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

dataset: mark VCDB license unspecified
  mteb/tasks/retrieval/zxx/vcdb_core_retrieval.py
Due: lint, format-tasks-citations

Add clotho-moment retrieval task
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/clotho_moment.py
Due: lint, format-tasks-citations

update version
  mteb/tasks/retrieval/eng/clotho_moment.py
Due: lint, format-tasks-citations

task: add descriptive statistics for image pair classification tasks
  mteb/descriptive_stats/Image/ImagePairClassification/DTDPairClassification.json
  mteb/descriptive_stats/Image/ImagePairClassification/EuroSATPairClassification.json
  mteb/descriptive_stats/Image/ImagePairClassification/FER2013PairClassification.json
  mteb/descriptive_stats/Image/ImagePairClassification/FGVCAircraftPairClassification.json
  mteb/descriptive_stats/Image/ImagePairClassification/OxfordFlowersPairClassification.json
Due: none

Create speech edit acoustic AT2A dataset
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpeechEditAcousticRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/speech_edit_acoustic.py
  scripts/speech_edit_acoustic/data_prep.py
  tests/test_tasks/test_load_data.py
Due: lint, format-tasks-citations

reduce size and dedup
  mteb/descriptive_stats/Image/Any2AnyRetrieval/EMIDA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/EMIDI2ARetrieval.json
  mteb/tasks/retrieval/eng/emid_retrieval.py
  scripts/data/emid_retrieval/create_data.py
Due: lint, format-tasks-citations

remove deduped audio
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ReflectraI2ARetrieval.json
  mteb/tasks/retrieval/eng/reflectra_retrieval.py
  scripts/data/reflectra_retrieval/create_data.py
Due: lint, format-tasks-citations

update main_score
  mteb/tasks/retrieval/eng/speech_edit_acoustic.py
Due: lint, format-tasks-citations

update bibtex
  mteb/tasks/retrieval/eng/speech_edit_acoustic.py
Due: lint, format-tasks-citations

update bibtex title
  mteb/tasks/retrieval/eng/clotho_moment.py
Due: lint, format-tasks-citations

Update reference link to arxiv (abs)
  mteb/tasks/retrieval/eng/speech_edit_acoustic.py
Due: lint, format-tasks-citations

task: add EVVE event video retrieval (v2v) (#5197)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/EVVERetrieval.json
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/evve_retrieval.py
  scripts/data/evve/create_data.py
Due: lint, format-tasks-citations

ci: use Python 3.10 in dataset_loading workflow to share uv cache with lint
  .github/workflows/dataset_loading.yml
Due: none

ci: add 30m timeout and verbose output to dataset_loading install step
  .github/workflows/dataset_loading.yml
Due: none

ci: use Python 3.10 in dataset_loading workflow (#5286)
  .github/workflows/dataset_loading.yml
Due: none

ci: use minimal deps and fallback venv for dataset_loading workflow
  .github/workflows/dataset_loading.yml
Due: none

ci: use minimal deps and fallback venv for dataset_loading workflow (#5289)
  .github/workflows/dataset_loading.yml
Due: none

ci: isolate uv cache to diagnose dataset_loading hang
  .github/workflows/dataset_loading.yml
Due: none
