Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Rebuild SpanishWiki data from Wikimedia source
  scripts/data/spanish_wiki_clustering_v2/create_data.py
  scripts/data/spanish_wiki_clustering_v2/selection_manifest.jsonl
Due: lint

Format SpanishWiki transformation script
  scripts/data/spanish_wiki_clustering_v2/create_data.py
Due: lint

fix: avoid typo false positive in Spanish Wiki prompt
  mteb/tasks/clustering/spa/spanish_wiki_clustering_p2p_v2.py
Due: lint, format-tasks-citations

Allowlist Spanish Wiki dataset citation
  tests/test_validate_metadata/citation_allowlist.json
Due: none

Rename Spanish Wiki descriptive statistics
  mteb/descriptive_stats/Clustering/SpanishWikiClusteringP2P.json
Due: none

refactor: combine ChinaOpen T2V/V2T into a single shared-video dataset
  mteb/tasks/retrieval/multilingual/chinaopen_retrieval.py
  scripts/data/chinaopen_retrieval/create_data.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

chore: regenerate ChinaOpen descriptive stats against combined dataset
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/ChinaOpenT2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/ChinaOpenV2TRetrieval.json
  scripts/data/chinaopen_retrieval/create_data.py
Due: lint

dataset: Add chinaopen multilingual video (#5393)
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/ChinaOpenT2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/ChinaOpenV2TRetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/chinaopen_retrieval.py
  scripts/data/chinaopen_retrieval/create_data.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

fix: clean up stale comment and dead code from torch-free import refactor
  mteb/_set_seed.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

fix: remaining changes before making import mteb torch-free and mteb-core compatible (#5502)
  mteb/__init__.py
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/_requires_package.py
  mteb/_set_seed.py
  mteb/cli/build_cli.py
  mteb/models/model_meta.py
  mteb/results/task_result.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

model: move Voyage AI models to the mongodb/ namespace
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/voyage_models.py
  mteb/models/model_implementations/voyage_v.py
  scripts/refill_mieb_model_meta.py
  scripts/run_mieb_agg_task.py
  tests/test_models/model_load_failures.json
  tests/test_models/test_model_meta.py
Due: lint

model: keep voyage-4-nano weights loading from the voyageai HF repo
  mteb/models/model_implementations/voyage_models.py
Due: lint

2.21.6
  pyproject.toml
Due: none

Keep existing benchmarks unchanged
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

benchmark: add MTEB(Code, v1.1)
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  tests/test_benchmarks/test_get_benchmarks.py
Due: lint, format-benchmarks-citations

Use canonical SIB200 citation for v3
  mteb/tasks/classification/multilingual/sib200_classification.py
Due: lint, format-tasks-citations

model: add shekar-ai/Noql
  mteb/models/model_implementations/fa_models.py
Due: lint

Model/voyage mongodb rebranding (#5510)
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/voyage_models.py
  mteb/models/model_implementations/voyage_v.py
  scripts/refill_mieb_model_meta.py
  scripts/run_mieb_agg_task.py
  tests/test_models/model_load_failures.json
  tests/test_models/test_model_meta.py
Due: lint

model: add shekar-ai/Noql (#5512)
  mteb/models/model_implementations/fa_models.py
Due: lint

fix: make the multilabel classification evaluation cap work
  mteb/abstasks/abstask.py
  mteb/abstasks/multilabel_classification.py
  mteb/tasks/multilabel_classification/eng/audio_set.py
  mteb/tasks/multilabel_classification/eng/fsd2019_kaggle.py
  mteb/tasks/multilabel_classification/eng/fsd50_hf.py
  mteb/tasks/multilabel_classification/eng/pascal_voc2007.py
  mteb/tasks/multilabel_classification/kor/kor_hate_speech_ml_classification.py
  mteb/tasks/multilabel_classification/mlt/maltese_news_classification.py
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
  mteb/tasks/multilabel_classification/multilingual/multi_eurlex_multilabel_classification.py
  mteb/tasks/multilabel_classification/nld/vabb_multi_label_classification.py
  mteb/tasks/multilabel_classification/por/brazilian_toxic_tweets_classification.py
  mteb/tasks/multilabel_classification/rus/sensitive_topics_classification.py
  mteb/tasks/multilabel_classification/zxx/bird_set.py
  tests/test_abstasks/test_multilabel_classification.py
Due: lint, format-tasks-citations

Add support for continuous (float) relevance gains in retrieval tasks
  docs/contributing/adding_a_dataset.md
  docs/whats_new.md
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/types/__init__.py
  mteb/types/_encoder_io.py
  tests/test_abstasks/test_retrieval_float_gains.py
  tests/test_evaluators/test_retrieval_metrics_float_gains.py
Due: lint

add capped .v2 tasks for the multilabel tasks that have results
  mteb/descriptive_stats/AudioMultilabelClassification/AudioSetMini.v2.json
  mteb/descriptive_stats/AudioMultilabelClassification/BirdSet.v2.json
  mteb/descriptive_stats/AudioMultilabelClassification/FSD2019Kaggle.v2.json
  mteb/descriptive_stats/AudioMultilabelClassification/FSD50K.v2.json
  mteb/descriptive_stats/Image/ImageClassification/VOC2007.v2.json
  mteb/descriptive_stats/MultilabelClassification/BrazilianToxicTweetsClassification.v2.json
  mteb/descriptive_stats/MultilabelClassification/EmotionAnalysisPlus.v2.json
  mteb/descriptive_stats/MultilabelClassification/KorHateSpeechMLClassification.v2.json
  mteb/descriptive_stats/MultilabelClassification/MalteseNewsClassification.v2.json
  mteb/descriptive_stats/MultilabelClassification/MultiEURLEXMultilabelClassification.v2.json
  mteb/descriptive_stats/MultilabelClassification/SensitiveTopicsClassification.v2.json
  mteb/descriptive_stats/MultilabelClassification/VABBMultiLabelClassification.v2.json
  mteb/tasks/multilabel_classification/eng/__init__.py
  mteb/tasks/multilabel_classification/eng/audio_set.py
  mteb/tasks/multilabel_classification/eng/fsd2019_kaggle.py
  mteb/tasks/multilabel_classification/eng/fsd50_hf.py
  mteb/tasks/multilabel_classification/eng/pascal_voc2007.py
  mteb/tasks/multilabel_classification/kor/__init__.py
  mteb/tasks/multilabel_classification/kor/kor_hate_speech_ml_classification.py
  mteb/tasks/multilabel_classification/mlt/__init__.py
  mteb/tasks/multilabel_classification/mlt/maltese_news_classification.py
  mteb/tasks/multilabel_classification/multilingual/__init__.py
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
  mteb/tasks/multilabel_classification/multilingual/multi_eurlex_multilabel_classification.py
  mteb/tasks/multilabel_classification/nld/__init__.py
  mteb/tasks/multilabel_classification/nld/vabb_multi_label_classification.py
  mteb/tasks/multilabel_classification/por/__init__.py
  mteb/tasks/multilabel_classification/por/brazilian_toxic_tweets_classification.py
  mteb/tasks/multilabel_classification/rus/__init__.py
  mteb/tasks/multilabel_classification/rus/sensitive_topics_classification.py
  mteb/tasks/multilabel_classification/zxx/__init__.py
  mteb/tasks/multilabel_classification/zxx/bird_set.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

simplify experiments handling
  mteb/api/adapters.py
  mteb/api/aggregators.py
  mteb/api/frames.py
  mteb/models/model_meta.py
  mteb/results/benchmark_results.py
  mteb/results/model_result.py
  tests/test_results/test_benchmark_results.py
Due: lint

refactor
  mteb/api/adapters.py
  mteb/api/aggregators.py
  mteb/api/schemas.py
  mteb/benchmarks/_create_table.py
  mteb/cache/result_cache.py
  mteb/models/model_meta.py
  mteb/results/benchmark_results.py
  tests/test_models/test_model_meta.py
  tests/test_result_cache.py
  tests/test_results/test_benchmark_results.py
Due: lint, format-benchmarks-citations

simplify comments
  mteb/api/adapters.py
  mteb/models/model_meta.py
  mteb/results/benchmark_results.py
  tests/test_result_cache.py
Due: lint

fix typing
  mteb/results/benchmark_results.py
Due: lint

optimize loading
  mteb/cache/result_cache.py
  tests/test_result_cache_load_from_cache.py
Due: lint

model: add ColNanoVDR late-interaction query towers (ColVec1.1-4b/8b)
  mteb/models/model_implementations/colnanovdr_models.py
  mteb/models/model_implementations/nanovdr_models.py
  mteb_mock_run_results.md
  pyproject.toml
Due: lint

Fill in parameter counts for the ColNanoVDR models
  mteb/models/model_implementations/colnanovdr_models.py
Due: lint

add blogs
  docs/blog/.authors.yml
  docs/blog/index.md
  docs/blog/posts/mteb-leaderboard.md
  docs/blog/posts/mteb-v2.md
  mkdocs.yml
  pyproject.toml
Due: none

fix eof
  docs/blog/.authors.yml
Due: none

format
  docs/blog/posts/mteb-leaderboard.md
  docs/blog/posts/mteb-v2.md
Due: none

benchmarks: label MTEB(fas) as Persian
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

benchmarks: label MTEB(fas) as Persian (#5522)
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Encode ColNanoVDR documents with the teacher's own MTEB entry
  mteb/models/model_implementations/colnanovdr_models.py
Due: lint

fix: fix jina-v3 and arctic-embed dependencies (#5475)
  mteb/models/model_implementations/arctic_models.py
  pyproject.toml
Due: lint

2.21.7
  pyproject.toml
Due: none

rename vidore
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix: don't place pair classification thresholds between tied scores (#5465)
  mteb/abstasks/pair_classification.py
  tests/test_abstasks/test_pair_classification_metrics.py
Due: lint

simplify comments
  mteb/cache/result_cache.py
  mteb/models/model_meta.py
Due: lint
