Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

add: EBind evaluation results for review
  results/encord-team__ebind-full/encord-team__ebind-full/main/BeijingOpera.json
  results/encord-team__ebind-full/encord-team__ebind-full/main/ImageCoDeT2IRetrieval.json
  results/encord-team__ebind-full/encord-team__ebind-full/main/MSRVTTV2T.json
  results/encord-team__ebind-full/encord-team__ebind-full/main/NanoNQRetrieval.json
  results/encord-team__ebind-full/encord-team__ebind-full/main/model_meta.json
Due: none

fix: use exact HF commit SHAs and correct memory_usage_mb values
  mteb/models/model_implementations/ebind_models.py
Due: lint

add: EBind multi-modal embedding model wrapper
  mteb/models/model_implementations/ebind_models.py
  pyproject.toml
Due: lint

fix: add n_embedding_parameters for EBind model variants
  mteb/models/model_implementations/ebind_models.py
Due: lint

[MVEB] Add SomethingSomethingV2 video classification task
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/something_something_v2_classification.py
Due: lint, format-tasks-citations

Fix extras group comparison to be underscore/hyphen insensitive
  mteb/models/model_meta.py
Due: lint

Remove `skip_first` for jamaltartistit
  mteb/tasks/retrieval/multilingual/jam_alt.py
Due: lint, format-tasks-citations

Fix KeyError on aggregated tasks with dict eval_langs
  mteb/results/task_result.py
Due: lint

Remove `skip_first` for jamaltartistit (#4435)
  mteb/tasks/retrieval/multilingual/jam_alt.py
Due: lint, format-tasks-citations

fix: handle None text/image in multimodal retrieval tasks
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/random_baseline.py
Due: lint

fix: KeyError on aggregated tasks with eval_langs (#4439)
  mteb/results/task_result.py
Due: lint

2.12.22
  pyproject.toml
Due: none

refactor: add FPS-based video frame sampling to collator
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/random_baseline.py
Due: lint

refactor: switch PE-AV and random baseline to FPS-based frame sampling
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/random_baseline.py
Due: lint

Update mteb/tasks/retrieval/eng/youcook2_retrieval.py
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
Due: lint, format-tasks-citations

add stats
  mteb/descriptive_stats/Image/Any2AnyRetrieval/YouCook2A2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/YouCook2T2ARetrieval.json
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
Due: lint, format-tasks-citations

Update mteb/tasks/retrieval/eng/vatex_retrieval.py
  mteb/tasks/retrieval/eng/vatex_retrieval.py
Due: lint, format-tasks-citations

update
  mteb/descriptive_stats/Image/Any2AnyRetrieval/DiDeMoA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/DiDeMoT2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/didemo_retrieval.py
  mteb/tasks/retrieval/eng/msr_vtt.py
  mteb/tasks/retrieval/eng/vatex_retrieval.py
Due: lint, format-tasks-citations

update
  mteb/descriptive_stats/Image/Any2AnyRetrieval/YouCook2A2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/YouCook2T2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
Due: lint, format-tasks-citations

refactor: move audio unwrap to ST base wrapper, simplify omni-embed-nemotron
  mteb/models/model_implementations/omni_embed_nemotron_models.py
  mteb/models/sentence_transformer_wrapper.py
  pyproject.toml
  results/nvidia__omni-embed-nemotron-3b/nvidia__omni-embed-nemotron-3b/e0e93aaaa65d2422a8a0c1284116e71f7a0fe966/MSRVTTV2T.json
  results/nvidia__omni-embed-nemotron-3b/nvidia__omni-embed-nemotron-3b/e0e93aaaa65d2422a8a0c1284116e71f7a0fe966/RAVDESSAVClustering.json
  results/nvidia__omni-embed-nemotron-3b/nvidia__omni-embed-nemotron-3b/e0e93aaaa65d2422a8a0c1284116e71f7a0fe966/model_meta.json
Due: lint

fix: correct bibtex authors for SomethingSomethingV2
  mteb/tasks/classification/eng/something_something_v2_classification.py
Due: lint, format-tasks-citations

add: extra_requirements_groups for omni-embed-nemotron
  mteb/models/model_implementations/omni_embed_nemotron_models.py
Due: lint

dataset: Add 5 VideoPairClassification tasks
  mteb/abstasks/task_metadata.py
  mteb/tasks/pair_classification/eng/__init__.py
  mteb/tasks/pair_classification/eng/ave_dataset_pc.py
  mteb/tasks/pair_classification/eng/human_animal_cartoon_pc.py
  mteb/tasks/pair_classification/eng/meld_pc.py
  mteb/tasks/pair_classification/eng/music_avqa_pc.py
  mteb/tasks/pair_classification/eng/ravdess_av_pc.py
Due: lint, format-tasks-citations

remove columns with none
  mteb/tasks/clustering/eng/music_avqa_clustering.py
  mteb/tasks/retrieval/eng/fashion200k_i2t_retrieval.py
  mteb/tasks/retrieval/eng/nights_i2i_retrieval.py
  mteb/tasks/retrieval/eng/visual_news_i2t_retrieval.py
Due: lint, format-tasks-citations

[MVEB] Add SomethingSomethingV2 video classification task (#4434)
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/something_something_v2_classification.py
Due: lint, format-tasks-citations

Apply suggestions from code review
  mteb/tasks/retrieval/eng/fashion200k_i2t_retrieval.py
  mteb/tasks/retrieval/eng/nights_i2i_retrieval.py
  mteb/tasks/retrieval/eng/visual_news_i2t_retrieval.py
Due: lint, format-tasks-citations

fix: query filtering for audio (#4430)
  mteb/abstasks/retrieval.py
  mteb/abstasks/retrieval_dataset_loaders.py
Due: lint

Update mteb/tasks/retrieval/code/swebench_code_retrieval.py
  mteb/tasks/retrieval/code/swebench_code_retrieval.py
Due: lint, format-tasks-citations

2.12.23
  pyproject.toml
Due: none

model: add BidirLM/BidirLM-Omni-2.5B-Embedding (#4370)
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

Update task metadata to use transferred MTEB datasets.
  mteb/tasks/classification/multilingual/afri_hate_classification.py
  mteb/tasks/classification/multilingual/injongo_intent.py
  mteb/tasks/classification/multilingual/kin_news_classification.py
  mteb/tasks/classification/multilingual/sib200_classification.py
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
  mteb/tasks/pair_classification/multilingual/afri_xnli.py
Due: lint, format-tasks-citations

fix(tasks): revert unrelated AfriSenti changes
  mteb/tasks/classification/multilingual/afri_senti_classification.py
Due: lint, format-tasks-citations

[MVEB] Add Kinetics-600 video classification tasks
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/kinetics600.py
Due: lint, format-tasks-citations

[MVEB] Add Kinetics-700-2020 video classification tasks
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/kinetics700.py
Due: lint, format-tasks-citations

[MVEB] Add VGGSound audio-visual classification tasks
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/vggsound.py
Due: lint, format-tasks-citations

Add VATEX retrieval tasks (#4433)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/DiDeMoA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/DiDeMoT2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/didemo_retrieval.py
  mteb/tasks/retrieval/eng/vatex_retrieval.py
Due: lint, format-tasks-citations

Add YouCook2_val retrieval tasks (#4432)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
Due: lint, format-tasks-citations

add mteb/Shot2Story20K_test dataset
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/shot2story_retrieval.py
Due: lint, format-tasks-citations

fix(tasks): restore original AfriSenti task definition
  mteb/tasks/classification/multilingual/afri_senti_classification.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
