Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

docs: acknowledge language-index limitation in SONAR wrapper
  mteb/models/model_implementations/sonar_models.py
Due: lint

fix: batch SONAR audio encoding via tensors, document language-index choice
  mteb/models/model_implementations/sonar_models.py
Due: lint

[MOEB] task: add EPICKitchens100Clustering (#5221)
  mteb/descriptive_stats/VideoClustering/EPICKitchens100Clustering.json
  mteb/descriptive_stats/VideoClustering/EPICKitchens100ClusteringMini.json
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/epic_kitchens100_clustering.py
  scripts/data/epic_kitchens100_clustering/create_data.py
Due: lint, format-tasks-citations

update image embed dimension
  mteb/models/model_implementations/rzen_embed_model.py
Due: lint

feat(retrieval): add MetaWorld-MT50 i2v and v2i robotics retrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MetaWorldMT50I2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MetaWorldMT50V2IRetrieval.json
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/metaworld_retrieval.py
  scripts/data/metaworld_retrieval/create_data.py
Due: lint, format-tasks-citations

feat(retrieval): add YouCook2 i2v and v2i instructional cooking retrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/YouCook2I2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/YouCook2V2IRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/youcook2_i2v_retrieval.py
  scripts/data/youcook2_i2v_retrieval/create_data.py
Due: lint, format-tasks-citations

fix(retrieval): decode YouCook2 video inputs
  mteb/tasks/retrieval/eng/youcook2_i2v_retrieval.py
  scripts/data/youcook2_i2v_retrieval/create_data.py
Due: lint, format-tasks-citations

docs(scripts): add YouCook2 retrieval runner
  scripts/run_youcook2_retrieval.py
Due: lint

docs(scripts): add MetaWorld retrieval runner
  scripts/run_metaworld_mt50_retrieval.py
Due: lint

fix(retrieval): reproduce published ToolRet results
  mteb/descriptive_stats/Retrieval/ToolRetrievalInstruction.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/tool_retrieval.py
  scripts/reproduce_toolret.py
  tests/test_tasks/test_task_quality.py
  tests/test_tasks/test_tool_retrieval.py
Due: lint, format-tasks-citations

fix: make _evaluators and _create_dataloaders torch-free
  mteb/_create_dataloaders.py
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/clustering_evaluator.py
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/_evaluators/retrieval_evaluator.py
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/_evaluators/text/summarization_evaluator.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

fix: address OmniCVR review feedback
  mteb/descriptive_stats/Image/Any2AnyRetrieval/OmniCVRMiniVT2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/OmniCVRMiniVT2VRetrievalHardNegatives.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/OmniCVRVT2VRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/omni_cvr.py
  mteb/tasks/retrieval/eng/omni_cvr_mini.py
  scripts/data/omnicvr/create_data.py
Due: lint, format-tasks-citations

fix: include hidden benchmarks in task->benchmark membership index
  mteb/api/aggregators.py
Due: lint

feat(retrieval): reproduce ToolRet paper trends in the example script
  scripts/reproduce_toolret.py
Due: lint

Include all benchmark memberships in task scores (#5425)
  mteb/api/aggregators.py
Due: lint

fix(scripts): correct batching and refuse unsafe model fallbacks
  scripts/reproduce_toolret.py
Due: lint

feat(cache): add audio/video hashing and shared cross-task embedding cache
  mteb/models/cache_wrappers/cache_backend_protocol.py
  mteb/models/cache_wrappers/cache_backends/_hash_utils.py
  mteb/models/cache_wrappers/cache_wrapper.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

analysis: omni vs specialist within-modality penalty (issue #5361)
  results/omni_penalty.csv
  results/omni_penalty.rows.json
  scripts/analysis/omni_vs_specialist.py
Due: lint

feat(dataset): add GOT-10k I2V and V2I retrieval tasks
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/got10k_retrieval.py
  scripts/data/got10k_retrieval/create_data.py
Due: lint, format-tasks-citations

feat(dataset): add SpokenCOCO Audio-to-(Image+Text) retrieval task
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/spoken_coco_a2it_retrieval.py
  scripts/data/spokencoco_a2it/create_data.py
Due: lint, format-tasks-citations

fix: address final OmniCVR review comments
  mteb/descriptive_stats/Image/Any2AnyRetrieval/OmniCVRVT2VRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/omni_cvr.py
  mteb/tasks/retrieval/eng/omni_cvr_mini.py
Due: lint, format-tasks-citations

fix: exempt OmniCVRVT2VRetrieval from duplicate-video quality check
  tests/test_tasks/test_task_quality.py
Due: lint

revert mteb import
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/clustering_evaluator.py
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/_evaluators/retrieval_evaluator.py
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/_evaluators/text/summarization_evaluator.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
  mteb/similarity_functions.py
Due: lint

revert whitespace changes
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/clustering_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/_evaluators/retrieval_evaluator.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
Due: lint

lintter
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/_evaluators/text/summarization_evaluator.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

make _evaluators and _create_dataloaders torch-free (#5426)
  mteb/_create_dataloaders.py
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/_evaluators/text/summarization_evaluator.py
  mteb/similarity_functions.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

fix: make abstasks and model wrappers torch-free
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/models/cache_wrappers/cache_wrapper.py
  mteb/models/compression_wrappers/compression_wrapper.py
  mteb/models/instruct_wrapper.py
  mteb/models/modality_collators.py
  mteb/models/openai_wrappers.py
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
  mteb/models/search_wrappers.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/models/vllm_wrapper.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

fix: make abstasks and model wrappers torch-free (#5436)
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/models/cache_wrappers/cache_wrapper.py
  mteb/models/compression_wrappers/compression_wrapper.py
  mteb/models/instruct_wrapper.py
  mteb/models/modality_collators.py
  mteb/models/openai_wrappers.py
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
  mteb/models/search_wrappers.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/models/vllm_wrapper.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

2.20.12
  pyproject.toml
Due: none

fix(reranking): clarify ColDeR benchmark semantics
  mteb/tasks/reranking/eng/colder_reranking.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

feat(models): add alexmart1ns/BasinRAG ModelMeta
  mteb/models/model_implementations/basinrag_models.py
Due: lint

fix(models): update BasinRAG repository URL to Basinfy/BasinRAG
  mteb/models/model_implementations/basinrag_models.py
Due: lint

fix(models): update model name to Basinfy/BasinRAG
  mteb/models/model_implementations/basinrag_models.py
Due: lint

dataset: add Flickr audio-image-text retrieval (A2IT / IT2A)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Retrieval/FlickrAudioToImageTextRetrieval.json
  mteb/descriptive_stats/Retrieval/FlickrImageTextToAudioRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/flickr_audio_image_text_retrieval.py
Due: lint, format-tasks-citations

Use public NGNN inference library and pinned Hugging Face weights
  mteb/models/model_implementations/ngnn.py
  mteb_mock_run_results.md
Due: lint

Add change to make rzen embed compatible to >= 4.57.0
  mteb/models/model_implementations/rzen_embed_model.py
Due: lint

add rzen training data and embedding_params
  mteb/models/model_implementations/rzen_embed_model.py
Due: lint

Update commit hash for FlowVec
  mteb/models/model_implementations/sentence_transformers_models.py
Due: lint
