Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Adds logging
  mteb/models/model_implementations/mctct_model.py
Due: lint

Revert "Upgrade datasets to v4+ for Python 3.14 compatibility"
  pyproject.toml
Due: none

run lint
  mteb/models/model_implementations/wav2clip_model.py
Due: lint

remove numpy conversion
  mteb/models/model_implementations/seamlessm4t_models.py
Due: lint

run lint
  mteb/models/model_implementations/msclap_models.py
Due: lint

run lint
  mteb/models/model_implementations/encodec_model.py
Due: lint

ran lint
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd50_hf.py
Due: lint, format-tasks-citations

ran lint
  mteb/models/model_implementations/ast_model.py
Due: lint

[MAEB] Add AST Model minimum length (#3861)
  mteb/models/model_implementations/ast_model.py
Due: lint

simplify conflicts
  pyproject.toml
Due: none

remove torch
  pyproject.toml
  uv.lock
Due: none

add dataset: KoViDoRe v2
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Image/DocumentUnderstanding/KoVidore2CybersecurityRetrieval.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/KoVidore2EconomicRetrieval.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/KoVidore2EnergyRetrieval.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/KoVidore2HrRetrieval.json
  mteb/tasks/retrieval/kor/__init__.py
  mteb/tasks/retrieval/kor/kovidore2_bench_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

fix citation format
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/retrieval/kor/kovidore2_bench_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

fix: Add text modality to audio zeroshot classification tasks
  mteb/tasks/audio/audio_zeroshot_classification/eng/esc50.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/ravdess.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/speech_commands.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/urban_sound8k.py
Due: lint, format-tasks-citations

Add MAEB benchmarks to leaderboard with Audio tab
  mteb/benchmarks/benchmarks/__init__.py
  mteb/leaderboard/app.py
  mteb/leaderboard/benchmark_selector.py
Due: lint, format-benchmarks-citations

temporarily skip 3.14 in tests
  .github/workflows/test.yml
Due: none

fix: Add text modality to audio zeroshot classification tasks (#3878)
  mteb/tasks/audio/audio_zeroshot_classification/eng/esc50.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/ravdess.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/speech_commands.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/urban_sound8k.py
Due: lint, format-tasks-citations

Update MAEB_AUDIO_TEXT benchmark and contacts
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Remove zero-shot tasks from MAEB(audio) benchmark
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Use zxx-Zxxx language code for non-human audio tasks
  mteb/tasks/audio/any_2_any_retrieval/audio_caps.py
  mteb/tasks/audio/any_2_any_retrieval/music_caps.py
  mteb/tasks/audio/any_2_any_retrieval/sound_descs.py
  mteb/tasks/audio/any_2_any_retrieval/urban_sound8k_retrieval.py
  mteb/tasks/audio/audio_classification/eng/beijing_opera.py
  mteb/tasks/audio/audio_classification/eng/bird_clef.py
  mteb/tasks/audio/audio_classification/eng/esc50.py
  mteb/tasks/audio/audio_classification/eng/gtzan_genre.py
  mteb/tasks/audio/audio_classification/eng/gunshot_triangulation.py
  mteb/tasks/audio/audio_classification/eng/mridingham_stroke.py
  mteb/tasks/audio/audio_classification/eng/mridingham_tonic.py
  mteb/tasks/audio/audio_classification/eng/n_synth.py
  mteb/tasks/audio/audio_classification/eng/tut_acoustic_scenes.py
  mteb/tasks/audio/audio_classification/eng/urban_sound8k.py
  mteb/tasks/audio/audio_multilabel_classification/eng/bird_set.py
  mteb/tasks/audio/audio_pair_classification/eng/esc50.py
  mteb/tasks/audio/audio_reranking/eng/audio_caps_mini_reranking.py
  mteb/tasks/audio/audio_reranking/eng/esc50_audio_reranking.py
  mteb/tasks/audio/audio_reranking/eng/gtzan_audio_reranking.py
  mteb/tasks/audio/audio_reranking/eng/urban_sound8_k_audio_reranking.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/esc50.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/urban_sound8k.py
  mteb/tasks/audio/clustering/eng/esc50_clustering.py
  mteb/tasks/audio/clustering/eng/gtzan_genre_clustering.py
  mteb/tasks/audio/clustering/eng/music_genre.py
  mteb/tasks/audio/clustering/eng/vehicle_sound_clustering.py
Due: lint, format-tasks-citations

fix metadata test for SpeechCommandsZeroshotv0.02
  tests/test_tasks/test_metadata.py
Due: lint

Fix lint error: replace star import with explicit imports
  mteb/tasks/audio/any_2_any_retrieval/__init__.py
Due: lint, format-tasks-citations

fix metadata tests
  tests/test_tasks/test_metadata.py
Due: lint

[MAEB] init imports fix (#3845)
  mteb/tasks/audio/any_2_any_retrieval/__init__.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/__init__.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

[MAEB] Commonvoice Task Fix (#3847)
  mteb/tasks/audio/any_2_any_retrieval/common_voice.py
Due: lint, format-tasks-citations

[MAEB] fix speechcommands column name (#3853)
  mteb/tasks/audio/audio_zeroshot_classification/eng/speech_commands.py
Due: lint, format-tasks-citations

Fix formatting in vox_populi_accent_clustering.py
  mteb/tasks/audio/clustering/eng/vox_populi_accent_clustering.py
Due: lint, format-tasks-citations

Fix label column name + Filter out empty audio samples (#3860)
  mteb/tasks/audio/clustering/eng/vox_populi_accent_clustering.py
Due: lint, format-tasks-citations

Use zxx-Zxxx language code for non-human audio tasks (#3880)
  mteb/tasks/audio/any_2_any_retrieval/audio_caps.py
  mteb/tasks/audio/any_2_any_retrieval/music_caps.py
  mteb/tasks/audio/any_2_any_retrieval/sound_descs.py
  mteb/tasks/audio/any_2_any_retrieval/urban_sound8k_retrieval.py
  mteb/tasks/audio/audio_classification/eng/beijing_opera.py
  mteb/tasks/audio/audio_classification/eng/bird_clef.py
  mteb/tasks/audio/audio_classification/eng/esc50.py
  mteb/tasks/audio/audio_classification/eng/gtzan_genre.py
  mteb/tasks/audio/audio_classification/eng/gunshot_triangulation.py
  mteb/tasks/audio/audio_classification/eng/mridingham_stroke.py
  mteb/tasks/audio/audio_classification/eng/mridingham_tonic.py
  mteb/tasks/audio/audio_classification/eng/n_synth.py
  mteb/tasks/audio/audio_classification/eng/tut_acoustic_scenes.py
  mteb/tasks/audio/audio_classification/eng/urban_sound8k.py
  mteb/tasks/audio/audio_multilabel_classification/eng/bird_set.py
  mteb/tasks/audio/audio_pair_classification/eng/esc50.py
  mteb/tasks/audio/audio_reranking/eng/audio_caps_mini_reranking.py
  mteb/tasks/audio/audio_reranking/eng/esc50_audio_reranking.py
  mteb/tasks/audio/audio_reranking/eng/gtzan_audio_reranking.py
  mteb/tasks/audio/audio_reranking/eng/urban_sound8_k_audio_reranking.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/esc50.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/urban_sound8k.py
  mteb/tasks/audio/clustering/eng/esc50_clustering.py
  mteb/tasks/audio/clustering/eng/gtzan_genre_clustering.py
  mteb/tasks/audio/clustering/eng/music_genre.py
  mteb/tasks/audio/clustering/eng/vehicle_sound_clustering.py
Due: lint, format-tasks-citations

Merge maeb branch and fix formatting
  mteb/models/model_implementations/speecht5_models.py
Due: lint

[MAEB] Model Meta Revision Fix (#3868)
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/speecht5_models.py
Due: lint

update embedding parameters for model2vec models
  mteb/models/model_implementations/model2vec_models.py
  mteb/models/model_implementations/rasgaard_models.py
Due: lint
