Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

fix test
  mteb/api/app.py
  tests/test_api/test_aggregators.py
Due: lint

update skip rule
  tests/test_api/test_aggregators.py
Due: lint

simplify
  mteb/abstasks/task_metadata.py
Due: lint

fix: return the prompt itself from AbsEncoder.get_prompt
  mteb/models/abs_encoder.py
  tests/test_integrations/test_prompts.py
Due: lint

model: drop HF-only citation for bge-m3-italian
  mteb/models/model_implementations/italian_models.py
Due: lint

model: add albertobarnabo/bge-m3-italian (#5488)
  mteb/models/model_implementations/italian_models.py
Due: lint

Modify commit message to skip CI for citation cache
  .github/workflows/citation_check.yml
Due: none

2.21.1
  pyproject.toml
Due: none

ci: split citation checks and restore monthly refresh
  .github/workflows/citation_check.yml
Due: none

2.21.2
  pyproject.toml
Due: none

Add SIB200Classification v3
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Classification/SIB200Classification.v3.json
  mteb/tasks/classification/multilingual/__init__.py
  mteb/tasks/classification/multilingual/sib200_classification.py
Due: lint, format-benchmarks-citations, format-tasks-citations

Mark SIB200Classification.v3 train-test leakage as known
  tests/test_tasks/test_task_quality.py
Due: lint

fix: remaining changes before making import mteb torch-free and mteb-core compatible
  mteb/__init__.py
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/_requires_package.py
  mteb/_set_seed.py
  mteb/cli/build_cli.py
  mteb/models/model_meta.py
  mteb/results/task_result.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

fix(cde): resolve the prompt text, not its name, before encoding
  mteb/models/model_implementations/cde_models.py
Due: lint

test(cde): check the prompt text that reaches the model
  tests/test_models/test_cde_prompts.py
Due: lint

Delete tests/test_models/test_cde_prompts.py
  tests/test_models/test_cde_prompts.py
Due: lint

fix(cde): pass the prompt text, not its name, to the model (#5503)
  mteb/models/model_implementations/cde_models.py
Due: lint

2.21.3
  pyproject.toml
Due: none

make working natively
  mteb/api/aggregators.py
  mteb/api/schemas.py
  mteb/benchmarks/_create_table.py
  mteb/cache/result_cache.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
  tests/test_result_cache.py
Due: lint, format-benchmarks-citations

changes from review
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  tests/test_ensure_no_torch_at_import.py
Due: lint

fix: keep the benchmark when filtering BenchmarkResults by model
  mteb/results/benchmark_results.py
  tests/test_results/test_benchmark_results.py
Due: lint

fix(got10k): update descriptive stats to correct MTEB format with resolution/fps dicts
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GOT10kI2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GOT10kV2IRetrieval.json
Due: none

fix: keep the benchmark when filtering BenchmarkResults by model (#5507)
  mteb/results/benchmark_results.py
  tests/test_results/test_benchmark_results.py
Due: lint

2.21.4
  pyproject.toml
Due: none

Apply suggestion from @KennethEnevoldsen
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

ci: stop pinning uv to 0.10.12 in citation_check.yml
  .github/workflows/citation_check.yml
Due: none

fix: drop unverifiable misc citation from NQTablesRetrieval
  mteb/tasks/retrieval/eng/nq_tables_retrieval.py
Due: lint, format-tasks-citations

ci: split install and test steps in model_loading.yml, use --frozen
  .github/workflows/model_loading.yml
  Makefile
Due: none

2.21.5
  pyproject.toml
Due: none

don't compute `leniently`
  mteb/api/aggregators.py
  mteb/benchmarks/_benchmark_metrics.py
  tests/test_api/test_aggregators.py
  tests/test_benchmarks/test_benchmark_score.py
Due: lint, format-benchmarks-citations

dataset: add Spanish Wiki clustering v2 task
  mteb/tasks/clustering/spa/__init__.py
  mteb/tasks/clustering/spa/spanish_wiki_clustering_p2p_v2.py
Due: lint, format-tasks-citations

Rename Spanish Wiki clustering task
  mteb/tasks/clustering/spa/__init__.py
  mteb/tasks/clustering/spa/spanish_wiki_clustering_p2p.py
Due: lint, format-tasks-citations

dataset: add Spanish Wiki clustering v2 statistics
  mteb/descriptive_stats/Clustering/SpanishWikiClusteringP2P.v2.json
Due: none

Make SpanishWiki transformation publicly reproducible
  scripts/data/spanish_wiki_clustering_v2/create_data.py
Due: lint

Add SpanishWikiClustering v2 transformation script
  scripts/data/spanish_wiki_clustering_v2/create_data.py
Due: lint
