Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

fix multilabel models
  mteb/tasks/audio/audio_multilabel_classification/eng/audio_set.py
  mteb/tasks/audio/audio_multilabel_classification/eng/bird_set.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd2019_kaggle.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd50_hf.py
Due: lint, format-tasks-citations

remove audio_caps_mini_reranking
  mteb/tasks/audio/audio_reranking/eng/__init__.py
  mteb/tasks/audio/audio_reranking/eng/audio_caps_mini_reranking.py
Due: lint, format-tasks-citations

update audio datasets card generation
  mteb/abstasks/task_metadata.py
Due: lint

fix typehints
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/sts.py
  mteb/tasks/audio/clustering/multlingual/vox_populi_gender_clustering.py
Due: lint, format-tasks-citations

fix categories
  mteb/abstasks/task_metadata.py
Due: lint

Adding voyage-4-large and voyage-4-lite
  mteb/models/model_implementations/voyage_models.py
Due: lint

[MAEB] Add mctct safety check (#3848)
  mteb/models/model_implementations/mctct_model.py
Due: lint

[MAEB] Add proper wav2clip text encoder (#3849)
  mteb/models/model_implementations/wav2clip_model.py
Due: lint

[MAEB] Make seemlessm45 model more efficient (#3851)
  mteb/models/model_implementations/seamlessm4t_models.py
Due: lint

[MAEB] Add monkey_patching for cnn14 to handle torchaudio versions (#3852)
  pyproject.toml
Due: none

fix import
  mteb/models/model_implementations/encodec_model.py
Due: lint

fix lint
  mteb/models/model_implementations/msclap_models.py
Due: lint

[MAEB] Use new subsampled version of fsd50_mini (#3865)
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd50_hf.py
Due: lint, format-tasks-citations

remove duplicate loading of models
  mteb/models/model_meta.py
Due: lint

fix
  mteb/models/model_meta.py
Due: lint

lintter
  mteb/models/model_meta.py
Due: lint

remove separate method for embedding parameter calculation
  mteb/models/model_meta.py
Due: lint

add MAEB(audio-text, lite)
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/leaderboard/benchmark_selector.py
Due: lint, format-benchmarks-citations

[MAEB] Refactor audio benchmarks for model coverage optimization
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/leaderboard/benchmark_selector.py
  mteb/leaderboard/figures.py
Due: lint, format-benchmarks-citations

2.6.6
  pyproject.toml
Due: none

Fix leaderboard prerun using gr.update() objects instead of raw values
  mteb/leaderboard/app.py
Due: lint

[MAEB] Remove AudioCapsMiniReranking Task (#3883)
  mteb/tasks/audio/audio_reranking/eng/__init__.py
  mteb/tasks/audio/audio_reranking/eng/audio_caps_mini_reranking.py
Due: lint, format-tasks-citations

fix name of evaluator for multilabel tasks (#3882)
  mteb/tasks/audio/audio_multilabel_classification/eng/audio_set.py
  mteb/tasks/audio/audio_multilabel_classification/eng/bird_set.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd2019_kaggle.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd50_hf.py
Due: lint, format-tasks-citations

Fix leaderboard race conditions and remove AudioCapsMiniReranking
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/leaderboard/app.py
Due: lint, format-benchmarks-citations

add direct loading
  mteb/tasks/retrieval/kor/kovidore2_bench_retrieval.py
Due: lint, format-tasks-citations

lint format
  mteb/tasks/retrieval/kor/kovidore2_bench_retrieval.py
Due: lint, format-tasks-citations

fix embedding calculation to pass typecheck
  mteb/models/model_meta.py
Due: lint

model: add missing sentence transformers and jina models (#3808)
  mteb/models/model_implementations/jina_clip.py
  mteb/models/model_implementations/sentence_transformers_models.py
Due: lint

Update LaTeX table generator to use lite benchmarks
  scripts/generate_maeb_latex_table.py
Due: lint

Update audio datasets card generation (#3884)
  mteb/abstasks/task_metadata.py
Due: lint

Fix radar chart task type matching for Any2Any tasks
  mteb/leaderboard/figures.py
Due: lint

Add MAEB evaluation time analysis notebook
  scripts/maeb_eval_time_analysis.py
Due: lint

fix trust remote
  tests/test_tasks/test_metadata.py
Due: lint

Don't sync make lint (#3841)
  .github/workflows/lint.yml
  .github/workflows/typechecking.yml
  Makefile
Due: none
