Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

upd revision
  mteb/models/model_implementations/qwen3_vl_embedding_models.py
Due: lint

fix MultimodalInstructSentenceTransformerModel
  mteb/models/instruct_wrapper.py
Due: lint

Add video to bidirlm-omni (#4694)
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

fix: disable inner video sampler in BidirLM-Omni encoder
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

model add HeAR-s1.1 audio encoder (#4611)
  mteb/models/model_implementations/hear_s11_models.py
Due: lint

Task passing min frame and duration threshold for frame_scaling experiment
  mteb/cli/descriptive_stats_analysis.py
  mteb/cli/video_frame_scaling_tasks.md
Due: lint

update the threshold to 15 seconds for num_frames task
  mteb/cli/video_frame_scaling_tasks.md
Due: none

lint
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

benchmark: Add CoREB benchmark (#4665)
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Reranking/CorebC2CReranking.json
  mteb/descriptive_stats/Reranking/CorebC2TReranking.json
  mteb/descriptive_stats/Reranking/CorebT2CReranking.json
  mteb/descriptive_stats/Retrieval/CorebC2CRetrieval.json
  mteb/descriptive_stats/Retrieval/CorebC2TRetrieval.json
  mteb/descriptive_stats/Retrieval/CorebT2CRetrieval.json
  mteb/models/model_implementations/codefuse_models.py
  mteb/tasks/reranking/__init__.py
  mteb/tasks/reranking/code/__init__.py
  mteb/tasks/reranking/code/coreb_reranking.py
  mteb/tasks/retrieval/code/__init__.py
  mteb/tasks/retrieval/code/coreb_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

Fix family cap + phantom-task bug in MVEB selection pipeline (#4697)
  mteb/benchmarks/benchmarks/benchmarks.py
  scripts/mveb_paper/analyze_mveb_task_selection.py
  scripts/mveb_paper/mveb_task_selection_analysis.md
  scripts/mveb_paper/mveb_task_selection_output.md
Due: lint, format-benchmarks-citations

Change cpu per task = 1 and ram 16GB
  scripts/mveb_paper/run_eval_script.sh
Due: none

fix vidore embed_dim handling
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

fix import
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

fix vidore embed_dim handling (#4704)
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

update method for setting frames sampling
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

disable double sampling
  mteb/models/model_implementations/qwen3_vl_embedding_models.py
Due: lint

simplify
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

move imports inside
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

move imports inside
  mteb/models/model_implementations/qwen3_vl_embedding_models.py
Due: lint

add coreb to leaderboard & fix docs
  docs/contributing/adding_a_benchmark.md
  mteb/benchmarks/_leaderboard_menu.py
Due: lint, format-benchmarks-citations

add coreb to leaderboard & fix docs
  docs/contributing/adding_a_benchmark.md
Due: none

Add Hybrid Models in MTEB
  mteb/__init__.py
  mteb/models/__init__.py
  mteb/models/hybrid_wrappers.py
  tests/test_models/test_hybrid_search.py
Due: lint

update tests
  tests/test_models/test_hybrid_search.py
Due: lint

Add ModelMeta for Ingot-8B-R3 (JCorners/Ingot-8B-R3)
  mteb/models/model_implementations/ingot_models.py
Due: lint

change in retrieving name and modeltype
  mteb/models/hybrid_wrappers.py
  tests/test_models/test_hybrid_search.py
Due: lint

updated implementation for CrossEncoder which required top_ranked
  mteb/models/hybrid_wrappers.py
  tests/test_models/test_hybrid_search.py
Due: lint

fix: fill n_embedding_parameters + training_datasets per review
  mteb/models/model_implementations/ingot_models.py
Due: lint

change in structure from review
  mteb/models/hybrid_wrappers.py
  tests/test_models/test_hybrid_search.py
Due: lint

Added interface for HybridSearch
  mteb/__init__.py
  mteb/models/__init__.py
  mteb/models/hybrid_wrappers.py
  mteb/models/models_protocols.py
Due: lint

Fix bidirlm omni double frame sampling (#4700)
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

ingot: switch to Forge API loader (framework=["API"])
  mteb/models/model_implementations/ingot_models.py
Due: lint

Use venv defined inside directory
  scripts/mveb_paper/run_eval_script.sh
Due: none

dataset: add OBLIQ-Bench retrieval (Tchuindjo et al. 2026)
  mteb/descriptive_stats/Retrieval/OBLIQBenchRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/obliq_bench_retrieval.py
  scripts/data/obliq_bench/create_data.py
Due: lint, format-tasks-citations

dataset: apply OBLIQ-Bench per-query exclusions via top_ranked
  mteb/descriptive_stats/Retrieval/OBLIQBenchRetrieval.json
  mteb/tasks/retrieval/eng/obliq_bench_retrieval.py
  scripts/data/obliq_bench/create_data.py
Due: lint, format-tasks-citations

dataset: drop OBLIQ-Bench custom prompt
  mteb/tasks/retrieval/eng/obliq_bench_retrieval.py
Due: lint, format-tasks-citations

add flags to pass cpu and memory
  scripts/mveb_paper/run_eval_script.sh
Due: none

VLM2Vec-V2: batch the encode forward pass
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

explicitly pass cuda device since gpus are not used.
  scripts/mveb_paper/eval_suite.py
Due: lint

Register JCorners/Ingot-8B-R3 in MTEB model registry
  mteb/models/model_implementations/ingot_models.py
Due: lint

Required path change to make NCCL work
  scripts/mveb_paper/run_eval_script.sh
Due: none

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
