Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix argument names in tests
  mteb/cli/build_cli.py
  tests/test_cli.py
Due: lint

don't integrate toc and add refs
  docs/api/index.md
  docs/references.bib
  mkdocs.yml
Due: none

Add better logo for docs
  docs/images/logos/mteb_logo/dots-icon.png
  mkdocs.yml
Due: none

remove copyright notice from docs
  mkdocs.yml
Due: none

[v2] Refactor CLI to not use MTEB (#3119)
  README.md
  docs/api/benchmark.md
  docs/api/model.md
  docs/api/task.md
  docs/benchmarks.md
  docs/cli.md
  docs/usage/usage.md
  mkdocs.yml
  mteb/abstasks/AbsTask.py
  mteb/abstasks/TaskMetadata.py
  mteb/abstasks/task_metadata.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/benchmarks/get_benchmark.py
  mteb/cache.py
  mteb/cli/_display_tasks.py
  mteb/cli/build_cli.py
  mteb/evaluate.py
  mteb/evaluation/evaluators/text/__init__.py
  mteb/leaderboard/benchmark_selector.py
  mteb/load_results/task_results.py
  mteb/models/model_implementations/misc_models.py
  mteb/overview.py
  tests/test_TaskMetadata.py
  tests/test_cli.py
Due: lint, format-benchmarks-citations

Added an initial index.md
  docs/index.md
  docs/references.bib
  mkdocs.yml
  mteb/load_results/load_results.py
Due: lint

minor
  docs/index.md
Due: none

fix deprecated
  mteb/load_results/load_results.py
Due: lint

added cli docs
  docs/cli.md
  mkdocs.yml
Due: none

minor
  docs/index.md
  docs/whats_new.md
Due: none

minor fixes to cli docs
  docs/cli.md
Due: none

moved cli to usage
  docs/usage/cli.md
  mkdocs.yml
Due: none

addded docs for loading results
  docs/usage/loading_results.md
Due: none

model: EmbeddingGemma 300M
  mteb/models/google_models.py
Due: lint

added installation guide
  docs/getting_started.md
  docs/index.md
  docs/installation.md
  mkdocs.yml
Due: none

working multimodal retrieval
  mteb/abstasks/AbsTaskRetrieval.py
  mteb/abstasks/__init__.py
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/create_dataloaders.py
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/image/any2any_multichoice_evaluator.py
  mteb/evaluation/evaluators/image/any2any_retrieval_evaluator.py
  mteb/evaluation/evaluators/retrieval_metrics.py
  mteb/models/search_wrappers.py
  mteb/tasks/Image/Any2AnyMultiChoice/eng/BLINKIT2IMultiChoice.py
  mteb/tasks/Image/Any2AnyMultiChoice/eng/BLINKIT2TMultiChoice.py
  mteb/types/_result.py
Due: lint, format-tasks-citations

fixes
  mteb/abstasks/AbsTaskRetrieval.py
  mteb/abstasks/__init__.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
Due: lint

split up usage.md for better readability
  docs/references.bib
  docs/usage/defining_the_model.md
  docs/usage/get_started.md
  docs/usage/leaderboard.md
  docs/usage/running_the_evaluation.md
  docs/usage/selecting_tasks.md
  docs/usage/usage.md
  mkdocs.yml
Due: none

Deployed 87eb91c4 with MkDocs version: 1.6.1
  404.html
  adding_a_benchmark/index.html
  adding_a_dataset/index.html
  adding_a_model/index.html
  api/benchmark/index.html
  api/index.html
  api/model/index.html
  api/task/index.html
  benchmarks/index.html
  images/logos/mteb_logo/dots-icon.png
  index.html
  installation/index.html
  mieb/readme/index.html
  mmteb/final_author_list/index.html
  mmteb/points/index.html
  mmteb/points_table/index.html
  references.bib
  reproducible_workflow/index.html
  search/search_index.json
  tasks/index.html
  usage/cli/index.html
  usage/defining_the_model/index.html
  usage/get_started/index.html
  usage/leaderboard/index.html
  usage/loading_results/index.html
  usage/running_the_evaluation/index.html
  usage/selecting_tasks/index.html
  usage/usage/index.html
  whats_new/index.html
Due: none

fix imports
  mteb/evaluation/evaluators/__init__.py
Due: lint

fix imports
  mteb/evaluation/evaluators/image/__init__.py
Due: lint

removed truncation flag from clap
  mteb/models/clap_models.py
Due: lint

feat -format
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
  mteb/leaderboard/app.py
  mteb/leaderboard/benchmark_selector.py
  mteb/load_results/benchmark_results.py
Due: lint, format-benchmarks-citations

feat - format
  mteb/benchmarks/benchmark.py
  mteb/leaderboard/app.py
  mteb/leaderboard/table.py
Due: lint, format-benchmarks-citations

pass image column name
  mteb/create_dataloaders.py
Due: lint

fix retrieval loader
  mteb/abstasks/retrieval_dataset_loaders.py
Due: lint

Update mteb/load_results/benchmark_results.py
  mteb/load_results/benchmark_results.py
Due: lint

fix cv_recall
  mteb/evaluation/evaluators/retrieval_metrics.py
Due: lint

try add top ranked
  mteb/tasks/Image/Any2AnyMultiChoice/eng/BLINKIT2IMultiChoice.py
Due: lint, format-tasks-citations

make task reranking
  mteb/tasks/Image/Any2AnyMultiChoice/eng/BLINKIT2TMultiChoice.py
  mteb/tasks/Image/Any2AnyMultiChoice/eng/CVBench.py
Due: lint, format-tasks-citations

msclap fixed text padding error
  mteb/models/msclap_models.py
Due: lint

2d vs 1d audio fix
  mteb/models/msclap_models.py
Due: lint

update descriptive stats
  mteb/abstasks/AbsTaskRetrieval.py
  tests/test_benchmark/mock_tasks.py
  tests/test_tasks/test_metadata.py
Due: lint

fix tests
  mteb/create_dataloaders.py
  tests/test_benchmark/mock_tasks.py
  tests/test_evaluators/test_RetrievalEvaluator.py
Due: lint

fix queries statistics calculation
  mteb/abstasks/AbsTaskRetrieval.py
  tests/test_benchmark/mock_tasks.py
Due: lint

Add license and revision
  mteb/custom_validators.py
  mteb/models/google_models.py
Due: lint

model: EmbeddingGemma 300M (#3129)
  mteb/custom_validators.py
  mteb/models/google_models.py
Due: lint

msclap padding problem fix
  mteb/models/msclap_models.py
Due: lint

removed max len
  mteb/models/msclap_models.py
Due: lint

input ids
  mteb/models/msclap_models.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
