Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix the optional dependencies and lint the code
  mteb/models/youtu_models.py
  pyproject.toml
Due: lint

rename image to lower
  mteb/evaluation/evaluators/_Image/Any2AnyMultiChoiceEvaluator.py
  mteb/evaluation/evaluators/_Image/Any2AnyRetrievalEvaluator.py
  mteb/evaluation/evaluators/_Image/ImageTextPairClassificationEvaluator.py
  mteb/evaluation/evaluators/_Image/__init__.py
  mteb/evaluation/evaluators/__init__.py
Due: lint

ibid
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/image/Any2AnyMultiChoiceEvaluator.py
  mteb/evaluation/evaluators/image/Any2AnyRetrievalEvaluator.py
  mteb/evaluation/evaluators/image/ImageTextPairClassificationEvaluator.py
  mteb/evaluation/evaluators/image/__init__.py
Due: lint

fix: restructure evaluators into folders to match supported modalities
  mteb/abstasks/AbsTaskTextRegression.py
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/image/regression_evaluator.py
  mteb/evaluation/evaluators/text/bitext_mining_evaluator.py
  mteb/evaluation/evaluators/text/pair_classification_evaluator.py
  mteb/evaluation/evaluators/text/summarization_evaluator.py
  mteb/tasks/Summarization/eng/SummEvalSummarization.py
  mteb/tasks/Summarization/fra/SummEvalFrSummarization.py
Due: lint, format-tasks-citations

remove unused dependencies and reformat
  mteb/models/overview.py
  mteb/models/youtu_models.py
Due: lint

[v2] Refactor CLI to not use MTEB
  mteb/cli/_display_tasks.py
  mteb/cli/build_cli.py
Due: lint

move regression evaluator back
  mteb/evaluation/evaluators/regression_evaluator.py
Due: lint

rename image evalautors script to snakecase
  mteb/abstasks/AbsTaskTextRegression.py
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/image/__init__.py
  mteb/evaluation/evaluators/image/any2any_multichoice_evaluator.py
  mteb/evaluation/evaluators/image/any2any_retrieval_evaluator.py
  mteb/evaluation/evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/evaluation/evaluators/image/regression_evaluator.py
Due: lint

format
  mteb/evaluation/evaluators/image/__init__.py
Due: lint

correct input type
  mteb/cli/build_cli.py
Due: lint

re-add previous benchmark names and fix bright(long) naming issue
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/benchmarks/get_benchmark.py
  mteb/cli/_display_tasks.py
  mteb/cli/build_cli.py
  mteb/leaderboard/benchmark_selector.py
Due: lint, format-benchmarks-citations

fixed docs where relevant
  README.md
  docs/usage/usage.md
  mteb/cli/build_cli.py
Due: lint

Simplifying the quantization/output_dtype
  mteb/model_meta.py
  mteb/models/voyage_models.py
Due: lint

fix benchmarks.md
  docs/benchmarks.md
Due: none

langauges > languages
  mteb/abstasks/TaskMetadata.py
  mteb/abstasks/task_metadata.py
  mteb/cli/build_cli.py
  mteb/models/model_implementations/misc_models.py
  mteb/overview.py
Due: lint

remove commented out code
  tests/test_cli.py
Due: lint

update tests to new changes
  tests/test_cli.py
Due: lint

format
  tests/test_cli.py
Due: lint

add missing init
  mteb/evaluation/evaluators/text/__init__.py
Due: lint

[v2] Lots of docs updates
  docs/api/benchmark.md
  docs/api/model.md
  docs/api/task.md
  mkdocs.yml
  mteb/abstasks/AbsTask.py
  mteb/abstasks/task_metadata.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/get_benchmark.py
  mteb/cache.py
  mteb/evaluate.py
  mteb/load_results/task_results.py
  tests/test_TaskMetadata.py
Due: lint, format-benchmarks-citations

[v2] Use `mteb.evaluate` for two-stage retrieval (#3110)
  docs/usage/usage.md
  mteb/abstasks/AbsTask.py
  mteb/abstasks/AbsTaskRetrieval.py
Due: lint

restructure evaluators into folders to match supported modalities (#3118)
  mteb/abstasks/AbsTaskTextRegression.py
  mteb/evaluation/evaluators/Image/__init__.py
  mteb/evaluation/evaluators/__init__.py
  mteb/evaluation/evaluators/image/__init__.py
  mteb/evaluation/evaluators/image/any2any_multichoice_evaluator.py
  mteb/evaluation/evaluators/image/any2any_retrieval_evaluator.py
  mteb/evaluation/evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/evaluation/evaluators/regression_evaluator.py
  mteb/evaluation/evaluators/text/bitext_mining_evaluator.py
  mteb/evaluation/evaluators/text/pair_classification_evaluator.py
  mteb/evaluation/evaluators/text/summarization_evaluator.py
  mteb/tasks/Summarization/eng/SummEvalSummarization.py
  mteb/tasks/Summarization/fra/SummEvalFrSummarization.py
Due: lint, format-tasks-citations

fix based on comments
  mkdocs.yml
Due: none

format
  mteb/abstasks/AbsTask.py
  mteb/benchmarks/get_benchmark.py
Due: lint, format-benchmarks-citations

revise prompt_type
  mteb/models/youtu_models.py
Due: lint

convert overwrite strategy to choices
  mteb/cli/build_cli.py
Due: lint

feat - Split create_tables into static Benchmark methods
  mteb/benchmarks/benchmark.py
  mteb/leaderboard/app.py
  mteb/leaderboard/table.py
Due: lint, format-benchmarks-citations

replaced "_" with "-" throughout the cli
  README.md
  docs/cli.md
  mteb/cli/build_cli.py
Due: lint

format
  mteb/cli/_display_tasks.py
Due: lint

[v2] Lots of docs updates for API docs (#3120)
  docs/api/benchmark.md
  docs/api/model.md
  docs/api/task.md
  mkdocs.yml
  mteb/abstasks/AbsTask.py
  mteb/abstasks/task_metadata.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/get_benchmark.py
  mteb/cache.py
  mteb/evaluate.py
  mteb/load_results/task_results.py
  tests/test_TaskMetadata.py
Due: lint, format-benchmarks-citations

Update mteb/model_meta.py
  mteb/model_meta.py
Due: lint

Audio Retrieval Dataset: JLCorpus (#2927)
  mteb/tasks/Audio/Any2AnyRetrieval/JLCorpus.py
  mteb/tasks/Audio/Any2AnyRetrieval/__init__.py
Due: lint, format-tasks-citations

model: add Youtu-Embedding-V1 (#3115)
  mteb/models/overview.py
  mteb/models/youtu_models.py
  pyproject.toml
Due: lint

fix: add voyage quantization models (#3092)
  mteb/models/voyage_models.py
Due: lint

1.38.53
  pyproject.toml
Due: none

fix failing test
  tests/test_cli.py
Due: lint

Deprecated `load_results` and added an update page
  docs/api_overview.md
  docs/index.md
  docs/whats_new.md
  mkdocs.yml
  mteb/cache.py
  mteb/load_results/load_results.py
Due: lint

feat - delete get_rteb_benchmark.py;RTEB_BENCHMARK_ENTRIES changes
  mteb/benchmarks/get_rteb_benchmark.py
  mteb/leaderboard/app.py
  mteb/leaderboard/benchmark_selector.py
Due: lint, format-benchmarks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
