Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

task: add Lombard GRID audiovisual retrieval tasks
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LombardGridA2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LombardGridI2VARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LombardGridV2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LombardGridV2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LombardGridVA2VARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/lombard_grid_retrieval.py
  scripts/data/lombard_grid_retrieval/create_data.py
Due: lint, format-tasks-citations

dataset: add Afri-MCQA multilingual speech-image retrieval (a2i, i2a) (#5356)
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/AfriMCQAA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/AfriMCQAI2ARetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/afri_mcqa_retrieval.py
  scripts/data/afri_mcqa_retrieval/create_data.py
Due: lint, format-tasks-citations

add AudioImageClassification task type and move descriptive stats
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/AudioImageClassification/AfriMCQACategoryClassification.json
  mteb/tasks/classification/multilingual/afri_mcqa_category_classification.py
Due: lint, format-tasks-citations

dataset: add MTVQA multilingual image+text retrieval (it2t, 9 languages)
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/MTVQAIT2TRetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/mtvqa_retrieval.py
  scripts/data/mtvqa_retrieval/create_data.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

task: add Lombard GRID audiovisual retrieval tasks (#5337)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LombardGridA2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LombardGridV2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LombardGridV2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LombardGridVA2VARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/lombard_grid_retrieval.py
  scripts/data/lombard_grid_retrieval/create_data.py
Due: lint, format-tasks-citations

dataset: add CAMEO multilingual speech emotion classification (a2c, 5 languages) (#5366)
  mteb/descriptive_stats/AudioClassification/CAMEOEmotionClassification.json
  mteb/tasks/classification/multilingual/__init__.py
  mteb/tasks/classification/multilingual/cameo_emotion_classification.py
  scripts/data/cameo_emotion/create_data.py
Due: lint, format-tasks-citations

dataset: add GLAMI-1M retrieval (#5331)
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/GLAMI1MI2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/GLAMI1MT2IRetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/glami_1m_retrieval.py
  scripts/data/glami_1m/create_retrieval_data.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

dataset: add Omnilingual ASR speech-text retrieval (a2t, t2a, 50 new languages) (#5365)
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/OmnilingualASRA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/OmnilingualASRT2ARetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/omnilingual_asr_retrieval.py
  scripts/data/omnilingual_asr_retrieval/create_data.py
Due: lint, format-tasks-citations

Rebuild SpanishWiki data from Wikimedia source
  scripts/data/spanish_wiki_clustering_v2/create_data.py
  scripts/data/spanish_wiki_clustering_v2/selection_manifest.jsonl
Due: lint

dataset: add Lingua Libre spoken-word retrieval (36 new languages)
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/LinguaLibreA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/LinguaLibreT2ARetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/lingua_libre_retrieval.py
  scripts/data/lingua_libre/create_data.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

dataset: add Spoken Wikipedia speech-text retrieval (5 languages)
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/SpokenWikipediaA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/SpokenWikipediaT2ARetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/spoken_wikipedia_retrieval.py
  scripts/data/spoken_wikipedia/create_data.py
Due: lint, format-tasks-citations

get imagebind running on cluster
  mteb/models/modality_collators.py
  mteb/models/model_implementations/imagebind_models.py
Due: lint

Delete mteb_mock_run_results.md
  mteb_mock_run_results.md
Due: none

model: add BioVITA multimodal encoder (#5346)
  mteb/models/model_implementations/biovita_models.py
Due: lint

move AudioImageClassification stats out of the Image tree
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/AudioImageClassification/AfriMCQACategoryClassification.json
Due: lint

Enables SIM (flake8-simplify) Ruff Rule
  mteb/leaderboard/benchmark_selector.py
  mteb/leaderboard/event_logger/logger.py
  mteb/leaderboard/event_logger/models/events.py
  mteb/leaderboard/figures.py
  mteb/mocks/mock_tasks/bitext_mining.py
  mteb/mocks/mock_tasks/classification.py
  mteb/mocks/mock_tasks/clustering.py
  mteb/mocks/mock_tasks/pair_classification.py
  mteb/mocks/mock_tasks/regression.py
  mteb/mocks/mock_tasks/reranking.py
  mteb/mocks/mock_tasks/retrieval.py
  mteb/mocks/mock_tasks/sts.py
  mteb/mocks/mock_tasks/summarization.py
  mteb/mocks/mock_tasks/zeroshot_classification.py
  pyproject.toml
  tests/mock_models.py
  tests/test_abstasks/test_task_metadata.py
  tests/test_cli.py
  tests/test_deprecated/test_MTEB_splits.py
  tests/test_evaluate.py
  tests/test_evaluators/test_ClusteringEvaluator.py
  tests/test_integrations/test_encode_args_passed.py
  tests/test_integrations/test_modality.py
  tests/test_integrations/test_prompts.py
  tests/test_models/test_cached_embedding_wrapper.py
  tests/test_models/test_get_task_instruction.py
  tests/test_models/test_jina_v5_omni_wrapper.py
  tests/test_models/test_model_meta.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_openai_rerank_wrapper.py
  tests/test_result_cache.py
  tests/test_result_cache_load_from_cache.py
  tests/test_results/test_task_results.py
  tests/test_run_settings_jsonl.py
  tests/test_validate_metadata/test_citation_formatting.py
  tests/test_workflow/test_git_actions.py
Due: lint

dataset: add TAU Urban Acoustic Scenes 2022 clustering (a2a)
  mteb/descriptive_stats/AudioClustering/TAUAcousticScenes2022MobileClustering.json
  mteb/tasks/clustering/zxx/__init__.py
  mteb/tasks/clustering/zxx/tau_acoustic_scenes_2022_mobile_clustering.py
Due: lint, format-tasks-citations

cite the DCASE 2020 workshop paper, not just the Zenodo release
  mteb/tasks/clustering/zxx/tau_acoustic_scenes_2022_mobile_clustering.py
Due: lint, format-tasks-citations

recover 133 rows dropped by a category spelling mismatch
  mteb/descriptive_stats/AudioImageClassification/AfriMCQACategoryClassification.json
  mteb/tasks/classification/multilingual/afri_mcqa_category_classification.py
  scripts/data/afri_mcqa_classification/create_data.py
Due: lint, format-tasks-citations

dataset: add Afri-MCQA multiple choice visual QA (it2t, 16 African languages)
  mteb/descriptive_stats/Image/VisionCentricQA/AfriMCQAVisionCentricQA.json
  mteb/tasks/multichoice/__init__.py
  mteb/tasks/multichoice/multilingual/__init__.py
  mteb/tasks/multichoice/multilingual/afri_mcqa_multiple_choice.py
  scripts/data/afri_mcqa_multiple_choice/create_data.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

revert changes specific to pair classif eval
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/mocks/mock_tasks/pair_classification.py
Due: lint

model: improve MIRACL query prompt for voyage-4-large
  mteb/models/model_implementations/voyage_models.py
Due: lint

construct top_ranked candidate sets, and score by accuracy
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/MTVQAIT2TRetrieval.json
  mteb/tasks/retrieval/multilingual/mtvqa_retrieval.py
Due: lint, format-tasks-citations

fix: break ties by doc id when skipping the first retrieval result
  mteb/_evaluators/retrieval_metrics.py
Due: lint

test: cover skip_first_result tie-break against insertion order
  tests/test_evaluators/test_evaluation_metrics.py
Due: lint

model: improve MIRACL query prompt for voyage-4-large (#5374)
  mteb/models/model_implementations/voyage_models.py
Due: lint

fix: update stale tokenizer revisions
  mteb/models/model_implementations/misc_models.py
  mteb/models/model_implementations/sentence_transformers_models.py
  tests/test_models/test_sentence_transformers_models.py
Due: lint

test: remove brittle tokenizer fingerprints
  tests/test_models/test_sentence_transformers_models.py
Due: lint

fix: repair broken Vultron revision pins
  mteb/models/model_implementations/colqwen_models.py
Due: lint

fix: isolate embedding caches by prompt type
  docs/get_started/advanced_usage/cache_embeddings.md
  mteb/models/cache_wrappers/cache_wrapper.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

Enables ANN205 (missing-return-type-static-method) Ruff Rule
  mteb/models/model_implementations/bm25.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/omniretriever_models.py
  mteb/tasks/bitext_mining/multilingual/bible_nlp_bitext_mining.py
  pyproject.toml
Due: lint, format-tasks-citations

Enables `ANN401` (flake8-annotations: `any-type`)
  mteb/_create_dataloaders.py
  mteb/abstasks/_stratification.py
  mteb/abstasks/pair_classification.py
  mteb/api/aggregators.py
  mteb/api/settings.py
  mteb/get_tasks.py
  mteb/leaderboard/event_logger/logger.py
  mteb/leaderboard/event_logger/models/events.py
  mteb/models/instruct_wrapper.py
  mteb/models/model_implementations/bedrock_models.py
  mteb/models/model_implementations/bekko_models.py
  mteb/models/model_implementations/bge_structural_separator.py
  mteb/models/model_implementations/cosmos_embed_models.py
  mteb/models/model_implementations/geevec_models.py
  mteb/models/model_implementations/google_gemini.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/moca_models.py
  mteb/models/model_implementations/omniretriever_models.py
  mteb/models/model_implementations/omnivinci_models.py
  mteb/models/model_implementations/openai_models.py
  mteb/models/model_implementations/ume_r1.py
  mteb/models/model_implementations/unime_v2_models.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
  pyproject.toml
Due: lint

changes from copilot review
  mteb/leaderboard/event_logger/logger.py
  mteb/leaderboard/event_logger/models/events.py
Due: lint

fix: propagate ColQwen revision to all loaders
  mteb/models/model_implementations/colqwen_models.py
  tests/test_models/test_colqwen_models.py
Due: lint

test: verify prompt-specific cache directories
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

test: narrow ColQwen revision assertions
  tests/test_models/test_colqwen_models.py
Due: lint

fix: update Vultron revisions
  mteb/models/model_implementations/colqwen_models.py
  tests/test_models/test_colqwen_models.py
Due: lint
