Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix numbers
  docs/adding_a_benchmark.md
Due: none

fix: Correct logic for filtering public tasks in ModelResult class
  mteb/load_results/benchmark_results.py
Due: lint

fix: Correct logic for filtering public tasks in ModelResult class (#3230)
  mteb/load_results/benchmark_results.py
Due: lint

feat: Officially include RTEB in the leaderboard (#3222)
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
  mteb/leaderboard/app.py
  mteb/leaderboard/benchmark_selector.py
  mteb/leaderboard/table.py
  mteb/load_results/benchmark_results.py
Due: lint, format-benchmarks-citations

Refactor: Move zero-shot percentage calculation to the end of summary table creation which only apply to RTEB table.
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

1.39.0
  pyproject.toml
Due: none

Update RTEB benchmark name from "RTEB(beta)" to "RTEB" for consistency in display.
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

fix: Add rteb submission references and improve descriptions.
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

Added evaluation request
  .github/ISSUE_TEMPLATE/eval_request.yaml
Due: none

added field for tasks
  .github/ISSUE_TEMPLATE/eval_request.yaml
Due: none

fix: Add submission references for RTEB (#3233)
  .github/ISSUE_TEMPLATE/eval_request.yaml
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

1.39.1
  pyproject.toml
Due: none

Update mteb/benchmarks/benchmarks/benchmarks.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Update mteb/leaderboard/benchmark_selector.py
  mteb/leaderboard/benchmark_selector.py
Due: lint

Update mteb/load_results/load_results.py
  mteb/load_results/load_results.py
Due: lint

dataset: add human tasks and benchmark (#3214)
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/leaderboard/benchmark_selector.py
  mteb/load_results/load_results.py
  mteb/model_meta.py
  mteb/models/human.py
  mteb/models/overview.py
  mteb/tasks/Classification/__init__.py
  mteb/tasks/Classification/eng/HUMEEmotionClassification.py
  mteb/tasks/Classification/eng/HUMEToxicConversationsClassification.py
  mteb/tasks/Classification/eng/HUMETweetSentimentExtractionClassification.py
  mteb/tasks/Classification/multilingual/HUMEMultilingualSentimentClassification.py
  mteb/tasks/Classification/multilingual/MultilingualSentimentClassification.py
  mteb/tasks/Clustering/__init__.py
  mteb/tasks/Clustering/eng/HUMEArxivClusteringP2P.py
  mteb/tasks/Clustering/eng/HUMERedditClusteringP2P.py
  mteb/tasks/Clustering/eng/HUMEWikiCitiesClustering.py
  mteb/tasks/Clustering/multilingual/HUMESIB200ClusteringS2S.py
  mteb/tasks/Reranking/__init__.py
  mteb/tasks/Reranking/eng/HUMECore17InstructionReranking.py
  mteb/tasks/Reranking/eng/HUMENews21InstructionReranking.py
  mteb/tasks/Reranking/eng/HUMERobust04InstructionReranking.py
  mteb/tasks/Reranking/multilingual/HUMEWikipediaRerankingMultilingual.py
  mteb/tasks/STS/__init__.py
  mteb/tasks/STS/eng/HUMESICKR.py
  mteb/tasks/STS/eng/HUMESTS12.py
  mteb/tasks/STS/eng/HUMESTSBenchmark.py
  mteb/tasks/STS/multilingual/HUMESTS22.py
  tests/test_TaskMetadata.py
Due: lint, format-benchmarks-citations, format-tasks-citations

Remove 'HUME(v1)' from leaderboard benchmark
  mteb/leaderboard/benchmark_selector.py
Due: lint

lint
  mteb/leaderboard/benchmark_selector.py
Due: lint

Remove 'HUME(v1)' from leaderboard benchmark (#3236)
  mteb/leaderboard/benchmark_selector.py
Due: lint

furhter specified macro language "nor"
  mteb/models/cohere_models.py
  mteb/models/cohere_v.py
  mteb/models/gte_models.py
  mteb/models/qwen3_models.py
  mteb/models/rerankers_monot5_based.py
  mteb/tasks/BitextMining/multilingual/WebFAQBitextMining.py
  mteb/tasks/Image/Any2AnyRetrieval/multilingual/XM3600T2IRetrieval.py
  mteb/tasks/Reranking/multilingual/WikipediaRerankingMultilingual.py
  mteb/tasks/Retrieval/multilingual/MKQARetrieval.py
Due: lint, format-tasks-citations

docs: Update adding benchmark documentation (#3229)
  docs/adding_a_benchmark.md
Due: none

fix: Further specified macro-language code for Norwegian (#3228)
  mteb/models/cohere_models.py
  mteb/models/cohere_v.py
  mteb/models/gte_models.py
  mteb/models/qwen3_models.py
  mteb/models/rerankers_monot5_based.py
  mteb/tasks/BitextMining/multilingual/WebFAQBitextMining.py
  mteb/tasks/Classification/multilingual/MultilingualSentimentClassification.py
  mteb/tasks/Image/Any2AnyRetrieval/multilingual/XM3600T2IRetrieval.py
  mteb/tasks/Reranking/multilingual/WikipediaRerankingMultilingual.py
  mteb/tasks/Retrieval/multilingual/MKQARetrieval.py
  mteb/tasks/Retrieval/multilingual/WebFAQRetrieval.py
Due: lint, format-tasks-citations

1.39.2
  pyproject.toml
Due: none

fix max tokens
  mteb/models/gritlm_models.py
Due: lint

fix max tokens (#3243)
  mteb/models/gritlm_models.py
Due: lint

fix models
  mteb/benchmarks/benchmark.py
  mteb/models/abs_encoder.py
  mteb/models/instruct_wrapper.py
  mteb/models/model_implementations/bmretriever_models.py
  mteb/models/model_implementations/codefuse_models.py
  mteb/models/model_implementations/human.py
Due: lint, format-benchmarks-citations

fix imports
  mteb/abstasks/AbsTaskReranking.py
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

fix task import
  docs/adding_a_dataset.md
  mteb/abstasks/task_metadata.py
  mteb/tasks/Classification/eng/HUMEEmotionClassification.py
  mteb/tasks/Classification/eng/HUMEToxicConversationsClassification.py
  mteb/tasks/Classification/eng/HUMETweetSentimentExtractionClassification.py
  mteb/tasks/Classification/eng/__init__.py
  mteb/tasks/Classification/multilingual/HUMEMultilingualSentimentClassification.py
  mteb/tasks/Classification/multilingual/__init__.py
  mteb/tasks/Clustering/eng/HUMEArxivClusteringP2P.py
  mteb/tasks/Clustering/eng/HUMERedditClusteringP2P.py
  mteb/tasks/Clustering/eng/HUMEWikiCitiesClustering.py
  mteb/tasks/Clustering/eng/__init__.py
  mteb/tasks/Clustering/multilingual/HUMESIB200ClusteringS2S.py
  mteb/tasks/Clustering/multilingual/__init__.py
  mteb/tasks/MultiLabelClassification/swe/SwedishPatentCPCGroupClassification.py
  mteb/tasks/MultiLabelClassification/swe/SwedishPatentCPCSubclassClassification.py
  mteb/tasks/Reranking/eng/HUMECore17InstructionReranking.py
  mteb/tasks/Reranking/eng/HUMENews21InstructionReranking.py
  mteb/tasks/Reranking/eng/HUMERobust04InstructionReranking.py
  mteb/tasks/Reranking/eng/LocBenchReranking.py
  mteb/tasks/Reranking/eng/MultiSWEbenchReranking.py
  mteb/tasks/Reranking/eng/SWEPolyBenchReranking.py
  mteb/tasks/Reranking/eng/SWEbenchLiteReranking.py
  mteb/tasks/Reranking/eng/SWEbenchMultilingualReranking.py
  mteb/tasks/Reranking/eng/SWEbenchVerifiedReranking.py
  mteb/tasks/Reranking/eng/__init__.py
  mteb/tasks/Reranking/multilingual/HUMEWikipediaRerankingMultilingual.py
  mteb/tasks/Reranking/multilingual/__init__.py
  mteb/tasks/STS/eng/HUMESICKR.py
  mteb/tasks/STS/eng/HUMESTS12.py
  mteb/tasks/STS/eng/HUMESTSBenchmark.py
  mteb/tasks/STS/eng/__init__.py
  mteb/tasks/STS/multilingual/HUMESTS22.py
  mteb/tasks/STS/multilingual/__init__.py
Due: lint, format-tasks-citations

reupload HUME tasks
  mteb/abstasks/AbsTaskReranking.py
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Reranking/HUMECore17InstructionReranking.json
  mteb/descriptive_stats/Reranking/HUMENews21InstructionReranking.json
  mteb/descriptive_stats/Reranking/HUMERobust04InstructionReranking.json
  mteb/descriptive_stats/Reranking/HUMEWikipediaRerankingMultilingual.json
  mteb/tasks/Reranking/eng/HUMECore17InstructionReranking.py
  mteb/tasks/Reranking/eng/HUMENews21InstructionReranking.py
  mteb/tasks/Reranking/eng/HUMERobust04InstructionReranking.py
  mteb/tasks/Reranking/multilingual/HUMEWikipediaRerankingMultilingual.py
Due: lint, format-tasks-citations

reupload SWE tasks
  mteb/abstasks/AbsTaskReranking.py
  mteb/tasks/MultiLabelClassification/__init__.py
  mteb/tasks/MultiLabelClassification/swe/__init__.py
  mteb/tasks/Reranking/eng/HUMECore17InstructionReranking.py
  mteb/tasks/Reranking/eng/LocBenchReranking.py
  mteb/tasks/Reranking/eng/MultiSWEbenchReranking.py
  mteb/tasks/Reranking/eng/SWEPolyBenchReranking.py
  mteb/tasks/Reranking/eng/SWEbenchLiteReranking.py
  mteb/tasks/Reranking/eng/SWEbenchMultilingualReranking.py
  mteb/tasks/Reranking/eng/SWEbenchVerifiedReranking.py
Due: lint, format-tasks-citations

feat - delete print
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

feat - RTEB(beta)
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

feat - remove Zero-shot
  mteb/benchmarks/_create_table.py
  mteb/leaderboard/app.py
  mteb/leaderboard/table.py
Due: lint, format-benchmarks-citations

feat - add Japanese
  mteb/benchmarks/benchmarks/__init__.py
  mteb/leaderboard/benchmark_selector.py
Due: lint, format-benchmarks-citations

add stats
  mteb/descriptive_stats/Classification/HUMEEmotionClassification.json
  mteb/descriptive_stats/Classification/HUMEMultilingualSentimentClassification.json
  mteb/descriptive_stats/Classification/HUMEToxicConversationsClassification.json
  mteb/descriptive_stats/Classification/HUMETweetSentimentExtractionClassification.json
  mteb/descriptive_stats/Clustering/HUMEArxivClusteringP2P.json
  mteb/descriptive_stats/Clustering/HUMERedditClusteringP2P.json
  mteb/descriptive_stats/Clustering/HUMESIB200ClusteringS2S.json
  mteb/descriptive_stats/Clustering/HUMEWikiCitiesClustering.json
  mteb/descriptive_stats/MultilabelClassification/SwedishPatentCPCGroupClassification.json
  mteb/descriptive_stats/MultilabelClassification/SwedishPatentCPCSubclassClassification.json
  mteb/descriptive_stats/Reranking/LocBenchRR.json
  mteb/descriptive_stats/Reranking/MultiSWEbenchRR.json
  mteb/descriptive_stats/Reranking/SWEPolyBenchRR.json
  mteb/descriptive_stats/Reranking/SWEbenchLiteRR.json
  mteb/descriptive_stats/Reranking/SWEbenchMultilingualRR.json
  mteb/descriptive_stats/Reranking/SWEbenchVerifiedRR.json
  mteb/descriptive_stats/STS/HUMESICK-R.json
  mteb/descriptive_stats/STS/HUMESTS12.json
  mteb/descriptive_stats/STS/HUMESTS22.json
  mteb/descriptive_stats/STS/HUMESTSBenchmark.json
Due: none

Retry and token counting in Cohere models
  mteb/models/cohere_models.py
  mteb/models/cohere_v.py
Due: lint

feat - use mteb.get_benchmark
  mteb/leaderboard/benchmark_selector.py
Due: lint

fix - 3.9 test error
  pyproject.toml
Due: none

Revert "fix - 3.9 test error"
  pyproject.toml
Due: none

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
