Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

format citations
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Model: Add new model revision of Querit/Querit (#4669)
  mteb/models/model_implementations/querit_models.py
Due: lint

fix more citations
  mteb/tasks/reranking/code/coreb_reranking.py
  mteb/tasks/retrieval/code/coreb_retrieval.py
Due: lint, format-tasks-citations

fix statistics calculation
  mteb/descriptive_stats/Reranking/CorebC2CReranking.json
  mteb/descriptive_stats/Reranking/CorebC2TReranking.json
  mteb/descriptive_stats/Reranking/CorebT2CReranking.json
Due: none

fix statistics calculation
  mteb/abstasks/_statistics_calculation.py
  tests/mock_tasks.py
Due: lint

fix fleurs
  mteb/tasks/retrieval/multilingual/fleurs.py
Due: lint, format-tasks-citations

remove try catch for voxpopuli
  mteb/tasks/classification/multilingual/vox_populi_language_id.py
Due: lint, format-tasks-citations

updadte sound descs
  mteb/tasks/retrieval/zxx/sound_descs.py
Due: lint, format-tasks-citations

Move directory creation to write-time call. (#4667)
  mteb/abstasks/abstask.py
  mteb/abstasks/task_metadata.py
Due: lint

style: ruff format test_jina_v5_omni_wrapper.py
  tests/test_models/test_jina_v5_omni_wrapper.py
Due: lint

fix: OgmaWrapper inherit from AbsEncoder (#4670)
  mteb/models/model_implementations/axiotic_models.py
Due: lint

style: fix ruff check lint errors in test_jina_v5_omni_wrapper.py
  tests/test_models/test_jina_v5_omni_wrapper.py
Due: lint

2.13.2
  pyproject.toml
Due: none

fix: align VLM2Vec-V2 video handling with official inference setup
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

finish missing metadata
  mteb/descriptive_stats/AudioMultilabelClassification/AudioSet.json
  mteb/descriptive_stats/AudioMultilabelClassification/BirdSet.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FleursA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FleursT2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SoundDescsA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SoundDescsT2ARetrieval.json
  mteb/tasks/multilabel_classification/zxx/bird_set.py
  mteb/tasks/retrieval/zxx/sound_descs.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

fix: drop unsqueeze on pixel_values_videos / video_grid_thw
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

review: fps=2.0 for MTEB consistency, drop max_pixels override
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

review: set max_pixels=360*420 internally (no arg)
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

fix: tolerate off-by-one frame metadata in resample_video
  mteb/models/modality_collators.py
Due: lint

review: drop max_pixels override (@Samoed)
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

review: re-add max_pixels=360*420 for video; switch dtype to "auto"
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

review: drop verbose explanatory comments
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

review: hardcode torch_dtype=bfloat16 default
  mteb/models/model_implementations/vlm2vec_models.py
Due: lint

Update documentation for caching by default in task.calculate_descriptive_statistics()
  docs/contributing/adding_a_dataset.md
  mteb/abstasks/abstask.py
Due: lint

lintter
  docs/contributing/adding_a_dataset.md
Due: none

remove extra logging
  mteb/abstasks/abstask.py
Due: lint

fix indentation
  mteb/abstasks/abstask.py
Due: lint

Add tracking of run settings
  mteb/cache/result_cache.py
  mteb/evaluate.py
  mteb/results/__init__.py
  mteb/results/task_result.py
Due: lint

fix: match UME-R1's official video config (fps=1, max_pixels=360*420)
  mteb/models/model_implementations/ume_r1.py
Due: lint

review: keep fps=2.0 (MTEB convention)
  mteb/models/model_implementations/ume_r1.py
Due: lint

changes from comments and fix test
  mteb/cache/result_cache.py
  tests/test_results/test_task_results.py
Due: lint

review: use UME-R1's URL-example pixel budget (4/256 * 28*28)
  mteb/models/model_implementations/ume_r1.py
Due: lint

[MVEB] Add STARBench video-centric QA task
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/star_bench.py
Due: lint, format-tasks-citations

[MVEB] Add MVBench video-centric QA task
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/mvbench.py
Due: lint, format-tasks-citations

dataset: downsample MIRACLReranking using top-70 candidates
  mteb/descriptive_stats/Reranking/MIRACLRerankingDownsampled.json
  mteb/tasks/reranking/multilingual/__init__.py
  mteb/tasks/reranking/multilingual/miracl_reranking_downsampled.py
  scripts/data/miracl_reranking/create_data.py
Due: lint, format-tasks-citations

Add MVEB running script
  scripts/mveb_paper/eval_suite.py
  scripts/mveb_paper/run_eval_script.sh
Due: lint

fix spaces
  scripts/mveb_paper/run_eval_script.sh
Due: none

fix path to eval_suite.py
  scripts/mveb_paper/run_eval_script.sh
Due: none

no need for uv
  scripts/mveb_paper/run_eval_script.sh
Due: none
