Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

remove free space
  .github/actions/free-disk-space/action.yml
Due: none

rename step
  .github/workflows/documentation.yml
  .github/workflows/typechecking.yml
Due: none

fix conda wargning
  .github/workflows/test.yml
Due: none

add concurrency to lb
  .github/workflows/leaderboard_docker.yml
Due: none

API: pre-serialize + pre-gzip bytes cache, drop ETag middleware
  mteb/api/adapters.py
  mteb/api/aggregators.py
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/icons.py
  mteb/api/metrics.py
  mteb/api/otel.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/api/settings.py
  mteb/benchmarks/benchmark.py
  pyproject.toml
  scripts/bench_api_inproc.py
Due: lint, format-benchmarks-citations

API: drop redundant schema caches, off-thread serialize, single-flight bytes
  mteb/api/aggregators.py
  mteb/api/cache.py
  mteb/api/routes.py
Due: lint

API: 304 includes Vary, leaders metric before build, typed bytes locks
  mteb/api/cache.py
  mteb/api/routes.py
Due: lint

fix vidore aggregation
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix benchmarks visibility on model cards
  mteb/api/aggregators.py
  mteb/api/cache.py
Due: lint

Update BidirLM models patched for transformers 5.x
  mteb/models/model_implementations/bidirlm_models.py
Due: lint

fix: PC multimodal support (#4645)
  docs/contributing/adding_a_dataset.md
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/sts.py
  mteb/models/model_implementations/random_baseline.py
  mteb/tasks/pair_classification/eng/ave_dataset_pc.py
  mteb/tasks/pair_classification/eng/human_animal_cartoon_pc.py
  mteb/tasks/pair_classification/eng/meld_pc.py
  mteb/tasks/pair_classification/eng/music_avqa_pc.py
  mteb/tasks/pair_classification/eng/ravdess_av_pc.py
  mteb/tasks/pair_classification/eng/videocon_pc.py
  tests/mock_tasks.py
  tests/task_grid.py
Due: lint, format-tasks-citations

2.14.6
  pyproject.toml
Due: none

fix: Update BidirLM models patched for transformers 5.x and addition of LongEmbed benchmark instructions (#4781)
  mteb/models/model_implementations/bidirlm_models.py
Due: lint

update condition
  mteb/_evaluators/retrieval_evaluator.py
Due: lint

2.14.7
  pyproject.toml
Due: none

make lint
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
Due: lint

updated docs
  docs/api/results.md
  docs/whats_new.md
Due: none

changes from review
  mteb/evaluate.py
Due: lint

fix: Load aggregated results from task results (#4719)
  mteb/evaluate.py
  tests/test_evaluate.py
Due: lint

upds
  mteb/_create_dataloaders.py
  mteb/abstasks/retrieval.py
  mteb/api/aggregators.py
  mteb/api/app.py
  mteb/api/cache.py
  mteb/api/metrics.py
  mteb/api/routes.py
  mteb/api/schemas.py
  mteb/benchmarks/benchmark.py
  mteb/languages/iso_mappings.py
  mteb/results/benchmark_results.py
Due: lint, format-benchmarks-citations

2.14.8
  pyproject.toml
Due: none

remove concurrences
  .github/workflows/dataset_loading.yml
  .github/workflows/documentation.yml
  .github/workflows/lint.yml
  .github/workflows/typechecking.yml
Due: none

fix typing
  docs/contributing/adding_a_benchmark.md
  mteb/_create_dataloaders.py
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/retrieval.py
  mteb/models/modality_collators.py
Due: lint

fix typing
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
Due: lint

fix tests
  mteb/abstasks/zeroshot_classification.py
  tests/test_abstasks/test_predictions.py
  tests/test_evaluators/test_ClusteringEvaluator.py
Due: lint

remove torchcodec from missing imports
  pyproject.toml
Due: none

fix zero shot
  mteb/abstasks/zeroshot_classification.py
Due: lint

simpliffy wrapper
  mteb/models/instruct_wrapper.py
  mteb/models/model_implementations/qwen3_vl_embedding_models.py
Due: lint

2.14.9
  pyproject.toml
Due: none

merge multimodal
  mteb/models/sentence_transformer_wrapper.py
  mteb/types/_encoder_io.py
Due: lint

fix: update NightOwl CodeEmbedding model metadata
  mteb/models/model_implementations/shuu_model.py
Due: lint

fix: update revision for NightOwl CodeEmbedding model
  mteb/models/model_implementations/shuu_model.py
Due: lint

refactor: move LanguageBind compat fixes into the pinned source snapshot
  mteb/models/model_implementations/language_bind_models.py
Due: lint

chore: slim languagebind extra and drop __pycache__ from pinned source
  mteb/models/model_implementations/language_bind_models.py
  pyproject.toml
Due: lint

fix: remove *extended and MAEB+
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

tmp
  mteb/api/aggregators.py
  mteb/api/schemas.py
Due: lint

fix: re-add missing dependencies
  pyproject.toml
Due: none

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
