Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

Fix bibtex format, description and contacts for JMTEB v2
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Model: add e5-nl models (#3646)
  mteb/models/model_implementations/clips_models.py
Due: lint

remove unnecessary items on disk
  .github/workflows/dataset_loading.yml
  .github/workflows/documentation.yml
  .github/workflows/leaderboard_build.yml
  .github/workflows/lint.yml
  .github/workflows/model_loading.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

don't remove on windows
  .github/workflows/test.yml
Due: none

update
  mteb/benchmarks/_create_table.py
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
Due: lint, format-benchmarks-citations

remove more items
  .github/workflows/dataset_loading.yml
  .github/workflows/documentation.yml
  .github/workflows/leaderboard_build.yml
  .github/workflows/lint.yml
  .github/workflows/model_loading.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Fix bib of JMTEB
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix based on comments
  mteb/models/model_implementations/google_models.py
Due: lint

fix cohere
  mteb/models/model_implementations/cohere_models.py
Due: lint

removed incorrect text
  mteb/leaderboard/app.py
Due: lint

ci: remove unnecessary items on disk (#3664)
  .github/workflows/dataset_loading.yml
  .github/workflows/documentation.yml
  .github/workflows/leaderboard_build.yml
  .github/workflows/lint.yml
  .github/workflows/model_loading.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: GoogleTextEmbeddingModel were given multiple `model_name` (#3658)
  mteb/models/model_implementations/google_models.py
Due: lint

model: Added dfm-sentence-encoder models (#3655)
  mteb/models/model_implementations/kennethenevoldsen_models.py
Due: lint

docs: Add direct image links to the readme
  README.md
Due: none

fix: Remove "Unknown" for int on leaderboard causing them to be unsortable (#3653)
  mteb/benchmarks/_create_table.py
  mteb/leaderboard/app.py
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
  mteb/models/model_implementations/google_models.py
  mteb/models/model_implementations/kennethenevoldsen_models.py
  mteb/models/model_implementations/linq_models.py
Due: lint, format-benchmarks-citations

fix: cohere import error (#3665)
  mteb/models/model_implementations/cohere_models.py
Due: lint

fix: Reduce the number of decimals for the number of parameters
  mteb/leaderboard/table.py
Due: lint

docs: Add direct image links to the readme (#3667)
  README.md
Due: none

fix: Reduce the number of decimals for the number of parameters (#3668)
  mteb/leaderboard/table.py
Due: lint

Updated the memory usage and public training code
  mteb/models/model_implementations/kowshik24_models.py
Due: lint

Fix dataset version
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix: remove docker system prune command
  .github/workflows/release.yml
Due: none

fix: remove docker system prune command (#3671)
  .github/workflows/release.yml
Due: none

2.3.3
  pyproject.toml
Due: none

fix: `get_model` now correctly assumed `SentenceTransformer` if unkown
  mteb/models/get_model_meta.py
Due: lint

fix: `get_model` now correctly assumed `SentenceTransformer` (#3673)
  mteb/models/get_model_meta.py
Due: lint

2.3.4
  pyproject.toml
Due: none

resolve search wrapper warning
  mteb/models/search_wrappers.py
Due: lint

change git clone depth
  mteb/cache.py
Due: lint

fix: correct public_training_code syntax and initialize training_datasets as an empty set
  mteb/models/model_implementations/kowshik24_models.py
Due: lint

Add sarashina embedding models
  mteb/models/model_implementations/sarashina_embedding_models.py
Due: lint

Add ruri models
  mteb/models/model_implementations/ruri_models.py
Due: lint

fix public training data info
  mteb/models/model_implementations/sarashina_embedding_models.py
Due: lint

fix typo and add trust_remote_code when necessary
  mteb/models/model_implementations/ruri_models.py
Due: lint

fix prompt setting for v2 model
  mteb/models/model_implementations/sarashina_embedding_models.py
Due: lint

init task filter
  mteb/abstasks/_data_filter/__init__.py
  mteb/abstasks/_data_filter/classificationefilter.py
Due: lint

fix typehint
  mteb/abstasks/_data_filter/classificationefilter.py
Due: lint

Use InstructionSentenceTransformerModel wrapper for instruction model
  mteb/models/model_implementations/sarashina_embedding_models.py
Due: lint

add v4
  mteb/descriptive_stats/Classification/HebrewSentimentAnalysis.v4.json
  mteb/tasks/classification/heb/__init__.py
  mteb/tasks/classification/heb/hebrew_sentiment_analysis.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
