Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

dataset: add descriptive statistics for SQuADKorV1Retrieval
  mteb/descriptive_stats/Retrieval/SQuADKorV1Retrieval.json
Due: none

bibtex fix
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

descriptive stats added
  mteb/descriptive_stats/Classification/TurkishConstitutionalCourt.json
Due: none

descriptive stats file name fix
  mteb/descriptive_stats/Classification/TurkishConstitutionalCourtViolation.json
Due: none

fix method
  mteb/models/sentence_transformer_wrapper.py
Due: lint

format citation
  mteb/tasks/retrieval/kor/squad_kor_v1_retrieval.py
Due: lint, format-tasks-citations

dataset: add SQuADKorV1Retrieval task for Korean (#3779)
  mteb/descriptive_stats/Retrieval/SQuADKorV1Retrieval.json
  mteb/tasks/retrieval/kor/__init__.py
  mteb/tasks/retrieval/kor/squad_kor_v1_retrieval.py
Due: lint, format-tasks-citations

Fix dataset duplicates/overlap and bibtex
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

Fix dataset duplicates, remove validation, and clean BibTeX
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

Update c2llm via sentence_transformer_wrapper
  mteb/models/model_implementations/codefuse_models.py
Due: lint

Format TurkishConstitutionalCourtViolation task with ruff
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

add documentation
  docs/usage/loading_results.md
Due: none

added actual results
  docs/usage/loading_results.md
Due: none

add c2llm languages
  mteb/models/model_implementations/codefuse_models.py
Due: lint

upd statistics
  mteb/descriptive_stats/Classification/TurkishConstitutionalCourtViolation.json
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

format
  mteb/models/model_implementations/codefuse_models.py
Due: lint

try out 3.14 again with python_full_version
  .github/workflows/test.yml
  pyproject.toml
Due: none

specify torch version for pylate dep
  pyproject.toml
Due: none

try to skip colpali
  pyproject.toml
Due: none

Update docs/usage/loading_results.md
  docs/usage/loading_results.md
Due: none

add actual results
  docs/usage/loading_results.md
Due: none

model: add c2llm & fix f2llm (#3782)
  mteb/models/model_implementations/codefuse_models.py
Due: lint

dataset: Add Turkish Constitutional Court violation classification task (#3777)
  mteb/descriptive_stats/Classification/TurkishConstitutionalCourtViolation.json
  mteb/tasks/classification/tur/__init__.py
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

try split torch
  pyproject.toml
Due: none

Renaming model forward_passages to forward_images
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

lint
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

Updates on ColEmbed 3B and 1B model wrapper to support MTEB 2 image dataloader (#3783)
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

save kwargs passed to get_model in model_meta
  mteb/models/get_model_meta.py
Due: lint

roll back pyproject
  pyproject.toml
Due: none

add save_kwargs to load_model
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
Due: lint

removed copy of meta
  mteb/models/get_model_meta.py
Due: lint

Optimize CLI test performance with lazy imports
  activate_mteb.sh
  mteb/__init__.py
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
  mteb/cli/_display_tasks.py
  mteb/cli/build_cli.py
  mteb/deprecated_evaluator.py
  mteb/descriptive_stats/Classification/TurkishConstitutionalCourtViolation.json
  mteb/models/model_meta.py
  mteb/results/task_result.py
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-benchmarks-citations, format-tasks-citations

remove extra file
  activate_mteb.sh
Due: none

Update mteb/models/model_meta.py
  mteb/models/model_meta.py
Due: lint

docs: update MIEB contributing guide for MTEB v2 AbsTask structure
  docs/mieb/readme.md
Due: none

install more types
  mteb/deprecated_evaluator.py
  pyproject.toml
Due: lint

Revert "docs: update MIEB contributing guide for MTEB v2 AbsTask structure"
  docs/mieb/readme.md
Due: none

fix: update documentation build for lazy loading compatibility
  AGENTS.md
  Makefile
  docs/api/benchmark.md
  docs/api/model.md
  docs/api/task.md
  mteb/__init__.py
Due: lint
