Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

always work with metadata copy
  Makefile
  mteb/models/get_model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

simplify test
  tests/test_models/test_model_meta.py
Due: lint

fix corner cases and add doc
  docs/whats_new.md
  mteb/cache.py
  mteb/models/get_model_meta.py
  tests/test_result_cache.py
Due: lint

add one more test
  docs/whats_new.md
  tests/test_result_cache.py
Due: lint

fix when model loading from meta with experiment
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

remove additional typos from pyppproject
  pyproject.toml
Due: none

Update mteb/tasks/classification/ukr/ukr_toxicity_classification.py
  mteb/tasks/classification/ukr/ukr_toxicity_classification.py
Due: lint, format-tasks-citations

Change quantization level to string enum
  mteb/models/compression_wrappers/compression_wrapper.py
Due: lint

add: citation
  mteb/models/model_implementations/jina_models.py
Due: lint

model: Add NIFE models (#4058)
  mteb/models/model_implementations/stephantulkens_models.py
  mteb/models/model_meta.py
Due: lint

Update mteb/models/model_meta.py
  mteb/models/model_meta.py
Due: lint

Update mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/jina_models.py
Due: lint

model: Add the model ManiacLabs/miniac-embed (#4096)
  mteb/models/model_implementations/maniac_labs_models.py
Due: lint

fix: use different mapping strategy
  mteb/models/model_implementations/jina_models.py
Due: lint

Change enum type to HelpfulStrEnum
  mteb/models/compression_wrappers/compression_wrapper.py
Due: lint

fix implementation
  mteb/models/model_implementations/jina_models.py
Due: lint

add: jina-embeddings-v5-text family (#4102)
  mteb/models/model_implementations/jina_models.py
Due: lint

fix: refactor `from_*` function in model metas (#4101)
  mteb/evaluate.py
  mteb/models/model_meta.py
  tests/test_integrations/test_integration_with_sentencetransformers.py
Due: lint

2.8.2
  pyproject.toml
Due: none

docs: fix incorrect example in docs
  docs/whats_new.md
Due: none

start integration of eval results
  mteb/abstasks/_eval/__init__.py
  mteb/abstasks/_eval/eval_model.py
  mteb/abstasks/_eval/eval_result_model.py
  mteb/abstasks/abstask.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/bm25.py
  mteb/results/model_result.py
  mteb/results/task_result.py
  pyproject.toml
Due: lint

add method for pushing
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  pyproject.toml
Due: lint, format-benchmarks-citations

simplify
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

add comment to description
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

simplify imports
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

update revision and release_date for ManiacLabs/miniac-embed
  mteb/models/model_implementations/maniac_labs_models.py
Due: lint

make lint
  mteb/models/model_meta.py
Due: lint

updating to correct revision for miniac-embed (#4116)
  mteb/models/model_implementations/maniac_labs_models.py
Due: lint

fix test
  tests/test_models/test_model_meta.py
Due: lint

fix models
  mteb/abstasks/_eval/eval_model.py
  mteb/abstasks/_eval/eval_result_model.py
  mteb/abstasks/abstask.py
  mteb/results/model_result.py
  mteb/results/task_result.py
Due: lint

fix documentation
  mteb/models/model_meta.py
Due: lint

fix pair classification
  mteb/abstasks/pair_classification.py
  pyproject.toml
Due: lint

fix pylate model prompts
  mteb/models/model_implementations/pylate_models.py
Due: lint

fix log message
  mteb/models/model_implementations/pylate_models.py
Due: lint

fix: Pair classification convert to dict (#4119)
  mteb/abstasks/pair_classification.py
  pyproject.toml
Due: lint

simplify a bit
  mteb/models/model_implementations/pylate_models.py
Due: lint

2.8.3
  pyproject.toml
Due: none

fix imoprt
  mteb/models/model_implementations/pylate_models.py
Due: lint

customize collection name
  mteb/benchmarks/benchmark.py
  mteb/tasks/retrieval/eng/lotte_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

add method for creating collection for benchmark (#4115)
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/retrieval/eng/lotte_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations
