Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

2.18.20
  pyproject.toml
Due: none

snake_case the question_answering tasks module
  mteb/tasks/__init__.py
  mteb/tasks/question_answering/__init__.py
  mteb/tasks/question_answering/eng/__init__.py
  mteb/tasks/question_answering/eng/browse_comp_plus_qa.py
Due: lint, format-tasks-citations

add concurrency in dataset loading (#5182)
  .github/workflows/dataset_loading.yml
Due: none

trigger ci
  README.md
Due: none

Move the filters to mteb.quality and support every modality, only added dedupliation filter
  docs/api/task.md
  mteb/abstasks/_data_filter/dataset_filters.py
  mteb/abstasks/abstask.py
  mteb/abstasks/aggregated_task.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/abstasks/multilabel_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/regression.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
  mteb/abstasks/text/bitext_mining.py
  mteb/abstasks/text/summarization.py
  mteb/abstasks/zeroshot_classification.py
  mteb/quality/__init__.py
  mteb/quality/_apply.py
  mteb/quality/_deduplication.py
  mteb/quality/_retrieval.py
  mteb/quality/_row_filters.py
  tests/test_quality.py
Due: lint

docker: drop the unused data-cache COPY from the og-builder stage
  Dockerfile
Due: none

Exclude corrupted video
  scripts/webvid_covr/data_prep.py
Due: lint

run uv check --fix
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/ssw60.py
Due: lint, format-tasks-citations

task: split MomentSeeker full-video into moment-level subtasks + aggregates
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTI2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTV2VRetrieval.json
  mteb/tasks/aggregated_tasks/eng/__init__.py
  mteb/tasks/aggregated_tasks/eng/moment_seeker.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/moment_seeker.py
Due: lint, format-tasks-citations

Add task stats
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ACMComposedAudioRetrieval.json
  mteb/tasks/retrieval/eng/acm_composed_audio_retrieval.py
Due: lint, format-tasks-citations

First commit dense_webvid_retrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/DenseWebVidCoVRVT2VRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/dense_webvid_covr_retrieval.py
  scripts/dense_webvid_covr/data_prep.py
Due: lint, format-tasks-citations

Add SSW60 dataset (#5154)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SSW60A2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SSW60I2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/ssw60.py
  scripts/ssw60/dataset_creation.py
Due: lint, format-tasks-citations

task: add descriptive statistics for the 6 MomentSeeker level subtasks
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTI2VEventLevelRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTI2VGlobalLevelRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTI2VObjectLevelRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTV2VEventLevelRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTV2VGlobalLevelRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTV2VObjectLevelRetrieval.json
Due: none

model: add UNITE (friedrichor/Unite-Base-Qwen2-VL-2B)
  mteb/models/model_implementations/unite_models.py
Due: lint

model: fix UNITE metadata (memory, revision, training data)
  mteb/models/model_implementations/unite_models.py
Due: lint

model: lint fixes for UNITE wrapper
  mteb/models/model_implementations/unite_models.py
Due: lint

update revision
  mteb/tasks/retrieval/eng/acm_composed_audio_retrieval.py
Due: lint, format-tasks-citations

remove the code related to other filters
  mteb/abstasks/abstask.py
  mteb/quality/__init__.py
  mteb/quality/_row_filters.py
  mteb/results/task_result.py
Due: lint

run lint
  mteb/tasks/retrieval/eng/acm_composed_audio_retrieval.py
  scripts/data/acm_composed_audio/data_convertor.py
Due: lint, format-tasks-citations

data: add FGMCaps
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FGMCapsA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FGMCapsT2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/fgmcaps_retrieval.py
Due: lint, format-tasks-citations

update docs based on review and based on only deduplication filter
  docs/api/task.md
  docs/contributing/adding_a_dataset.md
  docs/get_started/advanced_usage/cleaning_task_data.md
  mkdocs.yml
Due: none

update number of parameters
  mteb/models/model_implementations/semantic_router_multimodal_models.py
Due: lint

remove dead dataloader code
  mteb/_evaluators/zeroshot_classification_evaluator.py
Due: lint

lint format
  mteb/tasks/retrieval/eng/__init__.py
Due: lint, format-tasks-citations

Remove dead dataloader code (#5192)
  mteb/_evaluators/zeroshot_classification_evaluator.py
Due: lint

data: add FGMCaps (#5191)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FGMCapsA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FGMCapsT2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/fgmcaps_retrieval.py
Due: lint, format-tasks-citations

model: add OmniRet omni-modal retriever
  mteb/models/model_implementations/omniret.py
  pyproject.toml
Due: lint

dataset: add IncompeBench
  mteb/descriptive_stats/Image/Any2AnyRetrieval/IncompeBenchRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/incompe_bench_retrieval.py
Due: lint, format-tasks-citations

model: load UNITE via base Qwen2VL class, subclassing breaks key remapping on transformers 5.x
  mteb/models/model_implementations/unite_models.py
Due: lint

model: fix UNITE video path, tensor-aware frame resize and fps sampling
  mteb/models/model_implementations/unite_models.py
Due: lint

model: cap UNITE video frames at 360*420 to match reference inference
  mteb/models/model_implementations/unite_models.py
Due: lint

citation: credit the MorisienMTBitextMining task construction
  mteb/tasks/bitext_mining/mfe/morisien_mt_bitext_mining.py
Due: lint, format-tasks-citations

model: OmniRet metadata and modality coercion fixes
  mteb/models/model_implementations/omniret.py
Due: lint

feat: add OpenAIEndpointWrapper for HTTP-based vLLM servers (#4834)
  docs/get_started/advanced_usage/openai_api_wrappers.md
  docs/get_started/advanced_usage/vllm_wrapper.md
  docs/whats_new.md
  mkdocs.yml
  mteb/models/__init__.py
  mteb/models/openai_wrappers.py
  pyproject.toml
  scripts/serve_vllm_models.sh
  scripts/test_openai_wrappers_live.py
  tests/mock_models.py
  tests/test_evaluate.py
  tests/test_evaluators/test_ClusteringEvaluator.py
  tests/test_evaluators/test_PairClassificationEvaluator.py
  tests/test_evaluators/test_classification_metrics.py
  tests/test_integrations/test_encode_args_passed.py
  tests/test_integrations/test_prompts.py
  tests/test_models/test_cached_embedding_wrapper.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_openai_rerank_wrapper.py
  tests/test_result_cache_load_from_cache.py
  tests/test_results/test_task_results.py
Due: lint

2.19.0
  pyproject.toml
Due: none

citation: credit the MorisienMTBitextMining task construction (#5195)
  mteb/tasks/bitext_mining/mfe/morisien_mt_bitext_mining.py
Due: lint, format-tasks-citations
