Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

address comments
  mteb/cache.py
  mteb/results/benchmark_results.py
Due: lint

fix import
  mteb/results/benchmark_results.py
Due: lint

fix tests
  mteb/results/benchmark_results.py
Due: lint

fix_mod_embedding_oom
  mteb/models/model_implementations/mod_models.py
Due: lint

fix_mod_embedding_oom (#3774)
  mteb/models/model_implementations/mod_models.py
Due: lint

change BenchmarkResults to Pydantic dataclass
  mteb/results/benchmark_results.py
Due: lint

change benchmark to pydantic dataclass
  mteb/benchmarks/benchmark.py
  mteb/results/benchmark_results.py
Due: lint, format-benchmarks-citations

fix tests
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

fix model
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix
  mteb/benchmarks/benchmark.py
  mteb/results/benchmark_results.py
Due: lint, format-benchmarks-citations

lint
  mteb/benchmarks/benchmark.py
  mteb/results/benchmark_results.py
Due: lint, format-benchmarks-citations

fix pre commit
  .pre-commit-config.yaml
Due: none

remove future
  mteb/results/benchmark_results.py
Due: lint

fix pre commit (#3775)
  .pre-commit-config.yaml
Due: none

Add Turkish Constitutional Court violation classification task
  mteb/tasks/classification/tur/__init__.py
  mteb/tasks/classification/tur/turkish_constitutional_court.py
  mteb/tasks/classification/tur/turkish_constitutional_court.stats.json
  results/results/intfloat__multilingual-e5-small/fd1525a9fd15316a2d503bf26ab031a61d056e98/TurkishConstitutionalCourtViolation.json
  results/results/intfloat__multilingual-e5-small/fd1525a9fd15316a2d503bf26ab031a61d056e98/model_meta.json
  results/results/sentence-transformers__paraphrase-multilingual-MiniLM-L12-v2/bf3bf13ab40c3157080a7ab344c831b9ad18b5eb/TurkishConstitutionalCourtViolation.json
  results/results/sentence-transformers__paraphrase-multilingual-MiniLM-L12-v2/bf3bf13ab40c3157080a7ab344c831b9ad18b5eb/model_meta.json
Due: lint, format-tasks-citations

Format Turkish task files with ruff
  mteb/tasks/classification/tur/__init__.py
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

fix after review
  mteb/benchmarks/benchmark.py
  mteb/cache.py
  mteb/results/benchmark_results.py
  tests/task_grid.py
Due: lint, format-benchmarks-citations

add test
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/Banking77Classification.json
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/NanoSCIDOCSRetrieval.json
  tests/mock_mteb_cache/results/baseline__random-encoder-baseline/1/model_meta.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/Banking77Classification.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/NanoSCIDOCSRetrieval.json
  tests/mock_mteb_cache/results/sentence-transformers__all-MiniLM-L6-v2/8b3219a92973c328a8e22fadcfa821b5dc75636a/model_meta.json
  tests/test_results/test_benchmark_results.py
Due: lint

reapply comments from review
  mteb/results/benchmark_results.py
Due: lint

Update mteb/tasks/classification/tur/turkish_constitutional_court.py
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

Fix dataset revision to pinned commit hash
  mteb/tasks/classification/tur/__init__.py
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

fixes commonvoice21 lang codes
  mteb/tasks/audio/any_2_any_retrieval/common_voice.py
Due: lint, format-tasks-citations

fix - delete demo script
  mteb/leaderboard/logger_demo.py
Due: lint

fix - format and check
  mteb/leaderboard/app.py
  mteb/leaderboard/event_logger/__init__.py
  mteb/leaderboard/event_logger/logger.py
  mteb/leaderboard/event_logger/models/__init__.py
  mteb/leaderboard/event_logger/models/base.py
  mteb/leaderboard/event_logger/models/events.py
  mteb/leaderboard/event_logger/storage/mongodb.py
Due: lint

Fix language filtering bug
  mteb/tasks/audio/any_2_any_retrieval/common_voice.py
Due: lint, format-tasks-citations

Decodes Audio Bytes to Arrays
  mteb/tasks/audio/any_2_any_retrieval/common_voice.py
Due: lint, format-tasks-citations

dataset: add SQuADKorV1Retrieval task for Korean
  mteb/tasks/retrieval/kor/__init__.py
  mteb/tasks/retrieval/kor/squad_kor_v1_retrieval.py
Due: lint, format-tasks-citations

update reference website of Seed1.6-embedding-1215
  mteb/models/model_implementations/seed_1_6_embedding_models_1215.py
Due: lint

Use standard CLIP model for text encoder
  mteb/models/model_implementations/wav2clip_model.py
Due: lint

fix numpy.ndarray mismatch
  mteb/models/model_implementations/wav2clip_model.py
Due: lint

Fix: update reference website of Seed1.6-embedding-1215 (#3780)
  mteb/models/model_implementations/seed_1_6_embedding_models_1215.py
Due: lint

add more types
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/_stratification.py
  mteb/abstasks/task_metadata.py
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
  mteb/models/search_wrappers.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/similarity_functions.py
  pyproject.toml
Due: lint

remove mock benchmark
  tests/task_grid.py
  tests/test_results/test_benchmark_results.py
Due: lint

Remove results directory from task PR
  mteb/tasks/classification/tur/turkish_constitutional_court.stats.json
  results/results/intfloat__multilingual-e5-small/fd1525a9fd15316a2d503bf26ab031a61d056e98/TurkishConstitutionalCourtViolation.json
  results/results/intfloat__multilingual-e5-small/fd1525a9fd15316a2d503bf26ab031a61d056e98/model_meta.json
  results/results/sentence-transformers__paraphrase-multilingual-MiniLM-L12-v2/bf3bf13ab40c3157080a7ab344c831b9ad18b5eb/TurkishConstitutionalCourtViolation.json
  results/results/sentence-transformers__paraphrase-multilingual-MiniLM-L12-v2/bf3bf13ab40c3157080a7ab344c831b9ad18b5eb/model_meta.json
Due: none

task dataset path updated
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

load data deleted
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

add c2llm & fix f2llm
  mteb/models/model_implementations/codefuse_models.py
Due: lint

ruff formatted
  mteb/tasks/classification/tur/turkish_constitutional_court.py
Due: lint, format-tasks-citations

remove 3.14
  .github/workflows/test.yml
Due: none

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
