Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Deployed b38df51c8 with MkDocs version: 1.6.1
  overview/available_benchmarks/index.html
  overview/create_available_benchmarks.py
  search/search_index.json
Due: lint

Adding JapaneseCode1Retrieval as the first non-public dataset
  mteb/tasks/Retrieval/__init__.py
  mteb/tasks/Retrieval/code/JapaneseCode1Retrieval.py
Due: lint, format-tasks-citations

fix: make sentence_transformers an optional import
  mteb/MTEB.py
  mteb/evaluate.py
  mteb/models/get_model_meta.py
  mteb/models/instruct_wrapper.py
  mteb/models/model_implementations/jasper_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
  mteb/models/model_implementations/ops_moa_models.py
  mteb/models/model_implementations/rerankers_custom.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

try to upload all
  mteb/abstasks/AbsTaskAnyZeroShotClassification.py
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/tasks/BitextMining/multilingual/BibleNLPBitextMining.py
  mteb/tasks/BitextMining/multilingual/FloresBitextMining.py
Due: lint, format-tasks-citations

fix zeroshot upload
  mteb/abstasks/AbsTaskAnyZeroShotClassification.py
Due: lint

add comment to trust remote code
  mteb/abstasks/task_metadata.py
Due: lint

Transformed dataset
  mteb/tasks/Retrieval/code/JapaneseCode1Retrieval.py
Due: lint, format-tasks-citations

Adding as private dataset to tests
  tests/test_tasks/test_private_tasks.py
Due: lint

reupload legal bench
  mteb/tasks/Classification/eng/LegalBenchClassification.py
Due: lint, format-tasks-citations

fix datasets
  tests/test_TaskMetadata.py
Due: lint

remove exceptions
  tests/test_TaskMetadata.py
Due: lint

fix tests
  tests/create_meta/model_card_gold.md
  tests/create_meta/model_card_gold_without_frontmatter.md
Due: none

fix bitext loading
  mteb/abstasks/AbsTask.py
  mteb/tasks/BitextMining/multilingual/FloresBitextMining.py
  mteb/tasks/BitextMining/multilingual/IN22ConvBitextMining.py
  mteb/tasks/BitextMining/multilingual/IN22GenBitextMining.py
  mteb/tasks/BitextMining/multilingual/IndicGenBenchFloresBitextMining.py
  mteb/tasks/BitextMining/multilingual/NTREXBitextMining.py
Due: lint, format-tasks-citations

fix bitext
  mteb/tasks/BitextMining/multilingual/FloresBitextMining.py
  mteb/tasks/BitextMining/multilingual/IN22GenBitextMining.py
  mteb/tasks/BitextMining/multilingual/NTREXBitextMining.py
Due: lint, format-tasks-citations

Correct the private task test
  tests/test_tasks/test_private_tasks.py
Due: lint

try to fix retrieval
  mteb/create_dataloaders.py
Due: lint

fix
  mteb/tasks/Retrieval/jpn/NLPJournalAbsArticleRetrieval.py
Due: lint, format-tasks-citations

fix revisions
  mteb/tasks/Retrieval/jpn/NLPJournalAbsIntroRetrieval.py
  mteb/tasks/Retrieval/jpn/NLPJournalTitleAbsRetrieval.py
  mteb/tasks/Retrieval/jpn/NLPJournalTitleIntroRetrieval.py
Due: lint, format-tasks-citations

remove comment
  mteb/models/sentence_transformer_wrapper.py
Due: lint

add missing import
  mteb/MTEB.py
Due: lint

[v2] don't import transformers on intialization
  mteb/MTEB.py
  mteb/abstasks/AbsTask.py
  mteb/abstasks/AbsTaskClusteringFast.py
  mteb/evaluate.py
  mteb/models/model_implementations/align_models.py
  mteb/models/model_implementations/blip2_models.py
  mteb/models/model_implementations/blip_models.py
  mteb/models/model_implementations/cde_models.py
  mteb/models/model_implementations/clip_models.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/colsmol_models.py
  mteb/models/model_implementations/dino_models.py
  mteb/models/model_implementations/e5_v.py
  mteb/models/model_implementations/gme_v_models.py
  mteb/models/model_implementations/granite_vision_embedding_models.py
  mteb/models/model_implementations/jina_clip.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/listconranker.py
  mteb/models/model_implementations/llm2clip_models.py
  mteb/models/model_implementations/no_instruct_sentence_models.py
  mteb/models/model_implementations/nomic_models.py
  mteb/models/model_implementations/nomic_models_vision.py
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
  mteb/models/model_implementations/repllama_models.py
  mteb/models/model_implementations/rerankers_custom.py
  mteb/models/model_implementations/rerankers_monot5_based.py
  mteb/models/model_implementations/siglip_models.py
  mteb/models/model_implementations/vlm2vec_models.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/set_seed.py
Due: lint

[v2] build benchmark registry only when needed
  mteb/__init__.py
  mteb/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/benchmarks/get_benchmark.py
Due: lint, format-benchmarks-citations

format
  mteb/MTEB.py
Due: lint

added mteb_model_mete to cachewrapper
  mteb/models/model_implementations/cache_wrapper.py
Due: lint

Use the sample dataset as a reference
  mteb/tasks/Retrieval/code/JapaneseCode1Retrieval.py
Due: lint, format-tasks-citations

fix crossencoder
  mteb/models/get_model_meta.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

format
  mteb/models/get_model_meta.py
Due: lint

Use the sample dataset as a reference
  .github/workflows/test.yml
Due: none

fix ds loading
  .github/workflows/dataset_loading_pr.yml
  .github/workflows/test.yml
Due: none

allow on forks
  .github/workflows/dataset_loading.yml
  .github/workflows/dataset_loading_pr.yml
Due: none

upd aciton
  .github/workflows/dataset_loading_pr.yml
Due: none

remove paths
  .github/workflows/dataset_loading_pr.yml
Due: none

try to trigger ci
  .github/workflows/dataset_loading_pr.yml
Due: none

add ref
  .github/workflows/dataset_loading_pr.yml
Due: none

add permissions
  .github/workflows/dataset_loading_pr.yml
Due: none

add paths back
  .github/workflows/dataset_loading_pr.yml
Due: none

fix based on corrections
  docs/overview/available_benchmarks.md
  docs/overview/available_models/text.md
  docs/overview/available_tasks/any2anymultilingualretrieval.md
  docs/overview/available_tasks/any2anyretrieval.md
  docs/overview/available_tasks/bitextmining.md
  docs/overview/available_tasks/classification.md
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/compositionality.md
  docs/overview/available_tasks/documentunderstanding.md
  docs/overview/available_tasks/imageclassification.md
  docs/overview/available_tasks/imageclustering.md
  docs/overview/available_tasks/instructionreranking.md
  docs/overview/available_tasks/instructionretrieval.md
  docs/overview/available_tasks/multilabelclassification.md
  docs/overview/available_tasks/pairclassification.md
  docs/overview/available_tasks/regression.md
  docs/overview/available_tasks/reranking.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/sts.md
  docs/overview/available_tasks/summarization.md
  docs/overview/available_tasks/visioncentricqa.md
  docs/overview/available_tasks/visualsts(eng).md
  docs/overview/available_tasks/visualsts(multi).md
  docs/overview/available_tasks/zeroshotclassification.md
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_models.py
  docs/overview/create_available_tasks.py
  mteb/overview.py
  pyproject.toml
Due: lint

Deployed ada80e2ab with MkDocs version: 1.6.1
  api/task/index.html
  overview/available_benchmarks/index.html
  overview/available_models/text/index.html
  overview/available_tasks/any2anymultilingualretrieval/index.html
  overview/available_tasks/any2anyretrieval/index.html
  overview/available_tasks/bitextmining/index.html
  overview/available_tasks/classification/index.html
  overview/available_tasks/clustering/index.html
  overview/available_tasks/compositionality/index.html
  overview/available_tasks/documentunderstanding/index.html
  overview/available_tasks/imageclassification/index.html
  overview/available_tasks/imageclustering/index.html
  overview/available_tasks/instructionreranking/index.html
  overview/available_tasks/instructionretrieval/index.html
  overview/available_tasks/multilabelclassification/index.html
  overview/available_tasks/pairclassification/index.html
  overview/available_tasks/regression/index.html
  overview/available_tasks/reranking/index.html
  overview/available_tasks/retrieval/index.html
  overview/available_tasks/sts/index.html
  overview/available_tasks/summarization/index.html
  overview/available_tasks/visioncentricqa/index.html
  overview/available_tasks/visualsts(eng)/index.html
  overview/available_tasks/visualsts(multi)/index.html
  overview/available_tasks/zeroshotclassification/index.html
  overview/create_available_benchmarks.py
  overview/create_available_models.py
  overview/create_available_tasks.py
  search/search_index.json
  sitemap.xml.gz
Due: lint
