Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

update dataset path after uploading to mteb hf and remove custom formating
  mteb/tasks/retrieval/multilingual/nanobeir_multilingual.py
Due: lint, format-tasks-citations

fix: drop duplicate train documents in SyntheticText2SQL corpus
  mteb/tasks/retrieval/code/synthetic_text2_sql_retrieval.py
Due: lint, format-tasks-citations

Add Byrne-Embed model implementation (Quazim0t0/Byrne-Embed)
  mteb/models/model_implementations/byrne_models.py
Due: lint

Change leaderboard to refresh
  .github/workflows/leaderboard_refresh.yaml
Due: none

Change leaderboard to refresh (#4848)
  .github/workflows/leaderboard_refresh.yaml
Due: none

Byrne-Embed: load via trust_remote_code AutoModel (drop snapshot_download)
  mteb/models/model_implementations/byrne_models.py
Due: lint

added description for each dataset and revert reference link
  mteb/tasks/retrieval/multilingual/nanobeir_multilingual.py
Due: lint, format-tasks-citations

update table format
  mteb/cli/build_cli.py
Due: lint

refactor: introduce SyntheticText2SQL.v2 with duplicate-drop fix
  mteb/tasks/retrieval/code/__init__.py
  mteb/tasks/retrieval/code/synthetic_text2_sql_retrieval.py
Due: lint, format-tasks-citations

refactor: Simplify Multi-EuP Slovak classification tasks by removing custom dataset loader and mixin
  mteb/tasks/classification/slk/multi_eup_slovak_classification.py
Due: lint, format-tasks-citations

add reason column
  mteb/cli/build_cli.py
Due: lint

fix: Update SkMTEB tasks after resolving conflicts and update reference with arXiv link
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix: drop opposite-modality column in HatefulMemes/SciMMIR/Memotion
  mteb/tasks/retrieval/eng/hateful_memes_i2t_retrieval.py
  mteb/tasks/retrieval/eng/hateful_memes_t2i_retrieval.py
  mteb/tasks/retrieval/eng/memotion_i2t_retrieval.py
  mteb/tasks/retrieval/eng/memotion_t2i_retrieval.py
  mteb/tasks/retrieval/eng/sci_mmir_i2t_retrieval.py
  mteb/tasks/retrieval/eng/sci_mmir_t2i_retrieval.py
Due: lint, format-tasks-citations

fix typecheck error
  mteb/cli/build_cli.py
Due: lint

Add vultr/VultronRetrieverCore-Qwen3.5-4.5B ModelMeta
  mteb/models/model_implementations/colqwen_models.py
Due: lint

Add vultr/VultronRetrieverCore-Qwen3.5-4.5B (#4850)
  mteb/models/model_implementations/colqwen_models.py
Due: lint

feat: add VllmEndpointWrapper for HTTP-based vLLM servers
  docs/get_started/advanced_usage/vllm_wrapper.md
  mteb/models/__init__.py
  mteb/models/vllm_endpoint_wrapper.py
  tests/test_models/test_vllm_endpoint_wrapper.py
Due: lint

refactor: address PR review feedback on API wrapper design
  mteb/models/openai_wrappers.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_openai_rerank_wrapper.py
Due: lint

docs: update vLLM documentation for OpenAI-compatible API wrappers
  docs/get_started/advanced_usage/vllm_wrapper.md
  mteb/models/openai_wrappers.py
Due: lint

style: format test file
  tests/test_models/test_openai_api_wrapper.py
Due: lint

refactor: address PR review feedback
  mteb/models/__init__.py
  mteb/models/openai_api_wrapper.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_vllm_endpoint_wrapper.py
Due: lint

feat: add OpenAIRerankWrapper and refactor to shared base class
  mteb/models/__init__.py
  mteb/models/openai_api_wrapper.py
  mteb/models/openai_wrappers.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_openai_rerank_wrapper.py
Due: lint

fix: handle empty input in encode() and predict() methods
  mteb/models/openai_wrappers.py
Due: lint

fix: resolve CI failures - mypy and test assertions
  mteb/models/openai_wrappers.py
  tests/test_models/test_openai_rerank_wrapper.py
Due: lint

style: remove unused noqa directives for PLR6301
  tests/mock_models.py
  tests/mock_tasks.py
  tests/test_evaluate.py
  tests/test_evaluators/test_ClusteringEvaluator.py
  tests/test_evaluators/test_PairClassificationEvaluator.py
  tests/test_evaluators/test_classification_metrics.py
  tests/test_integrations/test_encode_args_passed.py
  tests/test_integrations/test_prompts.py
  tests/test_models/test_cached_embedding_wrapper.py
  tests/test_result_cache.py
  tests/test_result_cache_load_from_cache.py
  tests/test_results/test_task_results.py
Due: lint

refactor: rename OpenAI wrapper classes for clarity
  docs/get_started/advanced_usage/vllm_wrapper.md
  mteb/models/__init__.py
  mteb/models/openai_wrappers.py
  tests/test_models/test_openai_api_wrapper.py
  tests/test_models/test_openai_rerank_wrapper.py
Due: lint

fix: use text task prefixes for gemini-embedding-2; improve doc prefix
  mteb/models/model_implementations/google_gemini.py
  tests/test_models/test_google_gemini.py
Due: lint

fix: use text task prefixes for gemini-embedding-2; improve doc prefix (#4851)
  mteb/models/model_implementations/google_gemini.py
  tests/test_models/test_google_gemini.py
Due: lint

2.16.1
  pyproject.toml
Due: none

Add overview benchmark
  mteb/abstasks/aggregated_task.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/cache/result_cache.py
  mteb/tasks/aggregated_tasks/__init__.py
  mteb/tasks/aggregated_tasks/overview.py
  tests/test_abstasks/test_aggregate_task.py
Due: lint, format-benchmarks-citations, format-tasks-citations

fix errors
  mteb/abstasks/aggregated_task.py
  mteb/cache/result_cache.py
Due: lint

fix logic and errors
  mteb/abstasks/aggregate_task_metadata.py
  mteb/abstasks/aggregated_task.py
  tests/test_abstasks/test_aggregate_task.py
Due: lint

Add adapted_from to 2B/4B/9B Prism reranker models
  mteb/models/model_implementations/prism_models.py
Due: lint

fix: guard leaderboard benchmark query
  mteb/leaderboard/app.py
  tests/test_leaderboard/test_benchmark_query.py
Due: lint

Fix empty leaderboard task info
  mteb/leaderboard/app.py
  tests/test_leaderboard/test_leaderboard.py
Due: lint

perf(leaderboard): lazy load benchmark plots
  mteb/leaderboard/app.py
  mteb/leaderboard/lazy_plots.py
  tests/test_leaderboard/test_lazy_plots.py
Due: lint

refactor to use python package and added temp tests
  mteb/models/model_implementations/language_bind_models.py
  pyproject.toml
  tests/test_models/test_language_bind.py
Due: lint

Add LiquidAI LFM2.5-Embedding-350M and LFM2.5-ColBERT-350M models
  mteb/models/model_implementations/liquid_models.py
Due: lint

Add mixedbread-ai mxbai-rerank-base-v2 and mxbai-rerank-large-v2
  mteb/models/model_implementations/mixedbread_ai_models.py
  pyproject.toml
Due: lint
