Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

implement fixes
  docs/whats_new.md
Due: none

update description to explain beta status
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix: missing values
  mteb/models/model_implementations/jina_models.py
Due: lint

fix: remove useless code
  mteb/models/model_implementations/jina_models.py
Due: lint

add HuggingFace reference link and model revision
  mteb/models/model_implementations/maniac_labs_models.py
Due: lint

training_datasets: use dataset names only (drop author/org prefix)
  mteb/models/model_implementations/maniac_labs_models.py
Due: lint

fix: Remove MAEB+ and MAEB(extended) from leaderboard and add "beta" to all MAEB (#4103)
  docs/whats_new.md
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/leaderboard/benchmark_selector.py
Due: lint, format-benchmarks-citations

remove citation (leave blank)
  mteb/models/model_implementations/maniac_labs_models.py
Due: lint

fixes from review
  mteb/models/model_meta.py
Due: lint

format
  mteb/models/model_meta.py
Due: lint

reworked computation of embedding size
  mteb/models/model_meta.py
Due: lint

minor fixes
  mteb/models/model_meta.py
Due: lint

fixed failed tests and typecheck
  mteb/evaluate.py
  mteb/models/model_meta.py
  tests/test_integrations/test_integration_with_sentencetransformers.py
Due: lint

fixes from review
  mteb/models/model_implementations/stephantulkens_models.py
  mteb/models/model_meta.py
Due: lint

fixed revision
  mteb/models/model_implementations/stephantulkens_models.py
Due: lint

fix: Remove duplicate citations and add test to prevent it going forward (#4032)
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/models/model_implementations/bge_models.py
  mteb/models/model_implementations/gte_models.py
  mteb/models/model_implementations/kalm_models.py
  mteb/models/model_implementations/misc_models.py
  mteb/models/model_implementations/rerankers_custom.py
  mteb/models/model_implementations/rerankers_monot5_based.py
  mteb/tasks/bitext_mining/multilingual/nusa_translation_bitext_mining.py
  mteb/tasks/classification/eng/imagenet1k.py
  mteb/tasks/classification/eng/patent_classification.py
  mteb/tasks/classification/multilingual/nusa_x_senti.py
  mteb/tasks/classification/slk/slovak_movie_review_sentiment_classification.py
  mteb/tasks/classification/zho/cmteb_classification.py
  mteb/tasks/clustering/eng/big_patent_clustering.py
  mteb/tasks/clustering/eng/image_net.py
  mteb/tasks/pair_classification/eng/vocal_sound.py
  mteb/tasks/pair_classification/multilingual/paws_x_pair_classification.py
  mteb/tasks/pair_classification/multilingual/pub_chem_wiki_pair_classification.py
  mteb/tasks/reranking/eng/sci_docs_reranking.py
  mteb/tasks/reranking/eng/vocal_sound_audio_reranking.py
  mteb/tasks/reranking/multilingual/x_glue_wpr_reranking.py
  mteb/tasks/reranking/zho/cmteb_reranking.py
  mteb/tasks/retrieval/eng/bright_retrieval.py
  mteb/tasks/retrieval/eng/bright_v1_1_retrieval.py
  mteb/tasks/retrieval/eng/narrative_qa_retrieval.py
  mteb/tasks/retrieval/eng/ra_rb_code_retrieval.py
  mteb/tasks/retrieval/eng/sci_mmir_i2t_retrieval.py
  mteb/tasks/retrieval/eng/sci_mmir_t2i_retrieval.py
  mteb/tasks/retrieval/jpn/jaqket_retrieval_lite.py
  mteb/tasks/retrieval/zho/cmteb_retrieval.py
  mteb/tasks/zeroshot_classification/eng/imagenet1k.py
  tests/test_get_tasks.py
Due: lint, format-benchmarks-citations, format-tasks-citations

benchmark: add 6 new VisRAG retrieval tasks and corresponding stats (#4059)
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Retrieval/VisRAGRetArxivQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetChartQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetInfoVQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetMPDocVQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetPlotQA.json
  mteb/descriptive_stats/Retrieval/VisRAGRetSlideVQA.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/visrag_ret_arxiv_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_chart_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_info_vqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_mp_docvqa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_plot_qa_retrieval.py
  mteb/tasks/retrieval/eng/visrag_ret_slide_vqa_retrieval.py
Due: lint, format-benchmarks-citations, format-tasks-citations

2.8.1
  pyproject.toml
Due: none

remove query prompt from loader_kwargs
  mteb/models/model_implementations/maniac_labs_models.py
Due: lint

model: Add E5-Omni model implementation and dependencies
  mteb/models/model_implementations/e5_omni.py
Due: lint

Fix multiple issues mentioned in the review
  mteb/models/model_implementations/e5_omni.py
Due: lint

fix: linter run with import order updated
  mteb/models/model_implementations/e5_omni.py
Due: lint

Remove unused processor_path parameter and directly use model_name
  mteb/models/model_implementations/e5_omni.py
Due: lint

Use the original model's processor
  mteb/models/model_implementations/e5_omni.py
Due: lint

add memory usage of both checkpoints in e5-omni
  mteb/models/model_implementations/e5_omni.py
Due: lint

Remove additional no_grad and trust_remote_code
  mteb/models/model_implementations/e5_omni.py
Due: lint

upd num parameters
  mteb/models/model_implementations/e5_omni.py
Due: lint

Update n_embedding_parameters for e5_omni models in ModelMeta
  mteb/models/model_implementations/e5_omni.py
Due: lint

fix: padding in template according to the model card; handle the "None" issue in multiple modalities; Remove the incorrect "Passage:" in prompt
  mteb/models/model_implementations/e5_omni.py
Due: lint

fix: apply the truncation of 512 tokens on text-only inputs to avoid mismatched token size between the placeholder tokens and the truncated input
  mteb/models/model_implementations/e5_omni.py
Due: lint

fix: remove static method `_to_text` as in MTEB text is consisting of {title} {text} already
  mteb/models/model_implementations/e5_omni.py
Due: lint

fix: prepare inputs for generation added; update model metadata
  mteb/models/model_implementations/e5_omni.py
Due: lint

Remove quantization from CLI and update compression wrapper
  mteb/cli/build_cli.py
  mteb/models/compression_wrappers/compression_wrapper.py
  tests/test_cli.py
  tests/test_models/test_compression_wrapper.py
Due: lint

don't change logic for modelmeta
  mteb/cache.py
  tests/test_result_cache.py
Due: lint

Added Ukr Toxicity classification dataset
  mteb/tasks/classification/ukr/__init__.py
  mteb/tasks/classification/ukr/ukr_toxicity_classification.py
Due: lint, format-tasks-citations

fix typing
  mteb/models/model_meta.py
Due: lint

try to run with `-n auto`
  Makefile
Due: none
