Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

added private lex retrieval task
  mteb/descriptive_stats/Retrieval/GatedSyntheticLEXRetrieval.json
  mteb/tasks/retrieval/dan/__init__.py
  mteb/tasks/retrieval/dan/private_lex.py
  pyproject.toml
Due: lint, format-tasks-citations

Fixed task type name
  mteb/tasks/zeroshot_classification/eng/ucf101.py
Due: lint, format-tasks-citations

reverted version to the original value
  pyproject.toml
Due: none

remove cast to typedict response
  mteb/cache/result_cache.py
Due: lint

added missing fields: bibtex_citation, sample_creation, reference
  mteb/tasks/retrieval/dan/private_lex.py
Due: lint, format-tasks-citations

rename push to create_pr
  docs/contributing/adding_a_model.md
  docs/get_started/advanced_usage/result_cache.md
  mteb/cache/result_cache.py
  tests/test_result_cache.py
Due: lint

update CopyResultsAction to restore tracked files if submission workflow fails
  mteb/cache/result_cache.py
Due: lint

remove unused variable
  mteb/cache/result_cache.py
Due: lint

added remote_repo_path as property
  mteb/cache/result_cache.py
Due: lint

change logger to log full message once
  mteb/cache/result_cache.py
Due: lint

added static helper methods to git_utils.py
  mteb/_reversible_workflow/git_utils.py
  mteb/cache/result_cache.py
Due: lint

updated docs
  docs/contributing/adding_a_model.md
  docs/get_started/advanced_usage/result_cache.md
Due: none

update docs with correct example and formatting
  docs/contributing/adding_a_model.md
  docs/get_started/advanced_usage/result_cache.md
Due: none

[MVEB] Add descriptive statistics for Kinetics-600 classification tasks
  mteb/descriptive_stats/VideoClassification/Kinetics600V.json
  mteb/descriptive_stats/VideoClassification/Kinetics600VA.json
Due: none

Add ave dataset classification (#4485)
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/ave_dataset_classification.py
Due: lint, format-tasks-citations

Delete mteb/descriptive_stats/VideoClassification/MusicAVQACLSClassification.json
  mteb/descriptive_stats/VideoClassification/MusicAVQACLSClassification.json
Due: none

Delete mteb/descriptive_stats/VideoClassification/MusicAVQACLSVideoClassification.json
  mteb/descriptive_stats/VideoClassification/MusicAVQACLSVideoClassification.json
Due: none

Add is_beta flag to MELD classification tasks
  mteb/tasks/classification/eng/meld_classification.py
Due: lint, format-tasks-citations

Remove duplicate classification entry
  mteb/tasks/classification/eng/__init__.py
Due: lint, format-tasks-citations

update: is_public, sample creation and eval_splits
  mteb/tasks/retrieval/eng/elastic_kb_retrieval.py
  results/intfloat__multilingual-e5-small/fd1525a9fd15316a2d503bf26ab031a61d056e98/ElasticKBRetrieval.json
  results/intfloat__multilingual-e5-small/fd1525a9fd15316a2d503bf26ab031a61d056e98/model_meta.json
  results/mteb__baseline-random-encoder/1/ElasticKBRetrieval.json
  results/mteb__baseline-random-encoder/1/model_meta.json
Due: lint, format-tasks-citations

Refactor dataset_transform to use stratified subsampling
  mteb/tasks/classification/eng/meld_classification.py
Due: lint, format-tasks-citations

Add is_beta flag to worldsense classification
  mteb/tasks/classification/eng/worldsense_classification.py
Due: lint, format-tasks-citations

rename audio video task
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/meld_classification.py
Due: lint, format-tasks-citations

rename audio video task
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/music_avqa_classification.py
Due: lint, format-tasks-citations

rename audio video task
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/worldsense_classification.py
  mteb/tasks/clustering/eng/hmdb51_clustering.py
  mteb/tasks/clustering/eng/ucf101_clustering.py
Due: lint, format-tasks-citations

rename audio video task
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/avmeme_exam_classification.py
Due: lint, format-tasks-citations

Add music avqa cls (#4499)
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/music_avqa_classification.py
Due: lint, format-tasks-citations

update: descriptive stats on added eval_splits
  mteb/descriptive_stats/Retrieval/ElasticKBRetrieval.json
Due: none

Add MELD Dataset Classification (#4500)
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/meld_classification.py
Due: lint, format-tasks-citations

Add WorldSense Dataset Classification (#4501)
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/worldsense_classification.py
Due: lint, format-tasks-citations

Add AVMeme Dataset Classification (#4503)
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/avmeme_exam_classification.py
Due: lint, format-tasks-citations

[Mveb] kinetics600 classification (#4442)
  mteb/descriptive_stats/VideoClassification/Kinetics600V.json
  mteb/descriptive_stats/VideoClassification/Kinetics600VA.json
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/kinetics600.py
Due: lint, format-tasks-citations

add is_beta=True,
  mteb/tasks/classification/eng/avmeme_exam_classification.py
Due: lint, format-tasks-citations

Add vt2a at2v tasks for valid video retrieval tasks (#4505)
  mteb/abstasks/task_metadata.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
  mteb/tasks/retrieval/eng/avmeme_exam_retrieval.py
  mteb/tasks/retrieval/eng/didemo_retrieval.py
  mteb/tasks/retrieval/eng/msr_vtt.py
  mteb/tasks/retrieval/eng/shot2story_retrieval.py
  mteb/tasks/retrieval/eng/valor_32k_retrieval.py
  mteb/tasks/retrieval/eng/vatex_retrieval.py
  mteb/tasks/retrieval/eng/vggsound_av_retrieval.py
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
Due: lint, format-tasks-citations

fix issue with resubmission
  mteb/cache/result_cache.py
  tests/test_result_cache.py
Due: lint

fix merge conflict tests
  tests/test_result_cache.py
Due: lint

Add mveb clf tasks (#4523)
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/avmeme_exam_classification.py
  mteb/tasks/classification/eng/meld_classification.py
  mteb/tasks/classification/eng/music_avqa_classification.py
  mteb/tasks/classification/eng/worldsense_classification.py
Due: lint, format-tasks-citations

[MVEB] Add EgoSchema video-centric QA task
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/egoschema.py
Due: lint, format-tasks-citations

[MVEB] Add PerceptionTest video-centric QA task
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/perception_test.py
Due: lint, format-tasks-citations

[MVEB] Add AVQA video-centric QA task
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/avqa.py
Due: lint, format-tasks-citations
