Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

style: lint formatting
  mteb/models/model_implementations/lco_embedding_models.py
Due: lint

refactor: replace process_mm_info with direct processor calls for LCO
  mteb/models/model_implementations/lco_embedding_models.py
Due: lint

[MVEB] Add Qwen Omni Video Support (#4412)
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

fix license, domains, date, and va2t/t2va prompts for AudioCaps-AV
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
Due: lint, format-tasks-citations

refine VGGSound-AV: guard av_caption map and improve descriptions/prompts
  mteb/tasks/retrieval/eng/vggsound_av_retrieval.py
Due: lint, format-tasks-citations

fix: save PIL images to temp PNG for omnivinci processor
  mteb/models/model_implementations/omnivinci_models.py
Due: lint

fix AudioCaps-AV descriptions and prompts to reflect audio-only captions
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
Due: lint, format-tasks-citations

Revert "fix license, domains, date, and va2t/t2va prompts for AudioCaps-AV"
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
Due: lint, format-tasks-citations

Revert "fix AudioCaps-AV descriptions and prompts to reflect audio-only captions"
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
Due: lint, format-tasks-citations

fix: force VILA vision tower to bf16 to match LLM dtype
  mteb/models/model_implementations/omnivinci_models.py
Due: lint

fix: load omnivinci as fp16 + handle CMYK images
  mteb/models/model_implementations/omnivinci_models.py
Due: lint

fix: replace map with direct column ops to avoid Arrow offset overflow
  mteb/_create_dataloaders.py
Due: lint

add: elastic-kb-retrieval
  mteb/descriptive_stats/Retrieval/ElasticKBRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/elastic_kb_retrieval.py
  results/intfloat__multilingual-e5-small/fd1525a9fd15316a2d503bf26ab031a61d056e98/ElasticKBRetrieval.json
  results/intfloat__multilingual-e5-small/fd1525a9fd15316a2d503bf26ab031a61d056e98/model_meta.json
  results/mteb__baseline-random-encoder/1/ElasticKBRetrieval.json
  results/mteb__baseline-random-encoder/1/model_meta.json
Due: lint, format-tasks-citations

update dataset card
  mteb/tasks/retrieval/eng/elastic_kb_retrieval.py
Due: lint, format-tasks-citations

add mteb/AudioCaps_AV dataset (#4478)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
Due: lint, format-tasks-citations

[MVEB] Adding HMDB51 Task (Clustering)
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/hmdb51_clustering.py
Due: lint, format-tasks-citations

setting email and username in config only when not set
  tests/test_workflow/test_git_actions.py
Due: lint

fix: normalize package name
  README.md
Due: none

fix: normalize package name (#4491)
  README.md
Due: none

2.12.27
  pyproject.toml
Due: none

Fix floating-point non-determinism in GPU operations
  mteb/__init__.py
Due: lint

add mteb/VGGSound_AV_RETRIEVAL dataset (#4479)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/vggsound_av_retrieval.py
Due: lint, format-tasks-citations

[MVEB] Omni Embed Nemotron (#4388)
  mteb/models/model_implementations/omni_embed_nemotron_models.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
  pyproject.toml
  tests/mock_models.py
Due: lint

[MVEB] Adding HMDB51 Task (Clustering) (#4488)
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/hmdb51_clustering.py
Due: lint, format-tasks-citations

fix last import
  mteb/models/sentence_transformer_wrapper.py
Due: lint

fix: remove hardcoded dtype and trim docstring per reviewer feedback
  mteb/models/model_implementations/omnivinci_models.py
Due: lint

add resolutions
  mteb/abstasks/_statistics_calculation.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MSRVTTT2V.json
  mteb/types/statistics.py
  tests/mock_tasks.py
Due: lint

fix: trim docstring, fix lint set literal
  mteb/models/model_implementations/omnivinci_models.py
Due: lint

refactor: use unified processor for all modalities via temp files
  mteb/models/model_implementations/ebind_models.py
Due: lint

Revert "refactor: use unified processor for all modalities via temp files"
  mteb/models/model_implementations/ebind_models.py
Due: lint

fix: update collator imports to new mteb.models.modality_collators location
  mteb/models/model_implementations/ebind_models.py
Due: lint

fix: update VideoCollator import to new modality_collators location
  mteb/models/model_implementations/omnivinci_models.py
Due: lint

add v2a and a2v tasks to MSR-VTT
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/msr_vtt.py
Due: lint, format-tasks-citations

Revert "add v2a and a2v tasks to MSR-VTT"
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/msr_vtt.py
Due: lint, format-tasks-citations

add v2a and a2v tasks to DiDeMo
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/didemo_retrieval.py
Due: lint, format-tasks-citations

add v2a and a2v tasks to YouCook2
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
Due: lint, format-tasks-citations

add v2a and a2v tasks to Shot2Story20K
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/shot2story_retrieval.py
Due: lint, format-tasks-citations
