Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

refactor: omnivinci wrapper cleanup
  mteb/models/model_implementations/omnivinci_models.py
  pyproject.toml
Due: lint

2.12.26
  pyproject.toml
Due: none

refactor: replace process_mm_info with direct processor calls for LCO
  mteb/models/model_implementations/lco_embedding_models.py
Due: lint

style: lint formatting
  mteb/models/model_implementations/lco_embedding_models.py
Due: lint

add: e5-omni-3B and e5-omni-7B model implementations
  mteb/models/model_implementations/e5_omni_models.py
Due: lint

fix: use hyphenated extra name multimodal-sbert for pip compatibility
  mteb/models/model_implementations/e5_omni_models.py
  mteb/models/model_implementations/omni_embed_nemotron_models.py
Due: lint

fix: normalize multimodal_sbert to multimodal-sbert in pyproject.toml
  pyproject.toml
Due: none

refactor: drop monkey-patches, use MP4 round-trip for video
  mteb/models/model_implementations/omnivinci_models.py
  pyproject.toml
Due: lint

deps: align omnivinci extra with VILA inference needs
  pyproject.toml
Due: none

deps: declare flash-attn in omnivinci extra + document wheel bootstrap
  mteb/models/model_implementations/omnivinci_models.py
  pyproject.toml
Due: lint

Update codefuse_models.py
  mteb/models/model_implementations/codefuse_models.py
Due: lint

add mteb/AudioCaps_AV dataset
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
Due: lint, format-tasks-citations

add mteb/VGGSound_AV_RETRIEVAL dataset
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/vggsound_av_retrieval.py
Due: lint, format-tasks-citations

add mteb/AVMeme-Exam dataset
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/avmeme_exam_retrieval.py
Due: lint, format-tasks-citations

Remove monkeypatch from tests and update tests
  tests/test_workflow/test_git_actions.py
Due: lint

update skip rule
  tests/test_abstasks/test_task_metadata.py
Due: lint

fix default branch in test
  tests/test_workflow/test_git_actions.py
Due: lint

update to video captions
  mteb/tasks/retrieval/eng/vggsound_av_retrieval.py
Due: lint, format-tasks-citations

activate video statistics check
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MSRVTTV2T.json
  tests/test_tasks/test_metadata.py
Due: lint

move collators
  mteb/_create_dataloaders.py
  mteb/models/modality_collators.py
  mteb/models/model_implementations/ast_model.py
  mteb/models/model_implementations/audio_qwen2_models.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/cnn14_model.py
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/encodec_model.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/msclap_models.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/qwen_omni_lm.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/model_implementations/seamlessm4t_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/wav2clip_model.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/wavlm_models.py
  mteb/models/model_implementations/whisper_models.py
Due: lint

fix test and cleanup
  tests/test_workflow/test_git_actions.py
Due: lint

add missing tasks
  tests/test_tasks/test_metadata.py
Due: lint

move statistics functions
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/classification.py
Due: lint

update column format
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/sts.py
  mteb/types/_metadata.py
  tests/mock_tasks.py
  tests/task_grid.py
Due: lint

dataset: [MVEB] Add 3 native VideoPairClassification tasks
  mteb/abstasks/task_metadata.py
  mteb/tasks/pair_classification/eng/__init__.py
  mteb/tasks/pair_classification/eng/_video_pair_helpers.py
  mteb/tasks/pair_classification/eng/av_speakerbench_pc.py
  mteb/tasks/pair_classification/eng/videocon_pc.py
  mteb/tasks/pair_classification/eng/vinoground_pc.py
Due: lint, format-tasks-citations

apply changes from review
  Makefile
  mteb/_reversible_workflow/git_actions.py
Due: lint

add mteb/AVMeme-Exam dataset (#4480)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/avmeme_exam_retrieval.py
Due: lint, format-tasks-citations

add mteb/panda-70m dataset (#4469)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/panda70m_retrieval.py
Due: lint, format-tasks-citations

Add import for AVMemeExam retrieval classes
  mteb/tasks/retrieval/eng/__init__.py
Due: lint, format-tasks-citations

remove: e5-omni models and results per reviewer request
  mteb/models/model_implementations/e5_omni_models.py
  results/nvidia__omni-embed-nemotron-3b/nvidia__omni-embed-nemotron-3b/e0e93aaaa65d2422a8a0c1284116e71f7a0fe966/MSRVTTV2T.json
  results/nvidia__omni-embed-nemotron-3b/nvidia__omni-embed-nemotron-3b/e0e93aaaa65d2422a8a0c1284116e71f7a0fe966/RAVDESSAVClustering.json
  results/nvidia__omni-embed-nemotron-3b/nvidia__omni-embed-nemotron-3b/e0e93aaaa65d2422a8a0c1284116e71f7a0fe966/model_meta.json
Due: lint

add: e5-omni-3B and e5-omni-7B model implementations
  mteb/models/model_implementations/e5_omni_models.py
  pyproject.toml
Due: lint

fix: address PR review - batch encoding, drop requires_package calls
  mteb/models/model_implementations/omnivinci_models.py
Due: lint

fix: address PR review - unified batch encoding, remove results
  mteb/models/model_implementations/ebind_models.py
  results/encord-team__ebind-full/encord-team__ebind-full/main/BeijingOpera.json
  results/encord-team__ebind-full/encord-team__ebind-full/main/ImageCoDeT2IRetrieval.json
  results/encord-team__ebind-full/encord-team__ebind-full/main/MSRVTTV2T.json
  results/encord-team__ebind-full/encord-team__ebind-full/main/NanoNQRetrieval.json
  results/encord-team__ebind-full/encord-team__ebind-full/main/model_meta.json
Due: lint

fixed lint and test failures
  mteb/tasks/classification/eng/ave_dataset_classification.py
  mteb/tasks/zeroshot_classification/eng/ravdess.py
Due: lint, format-tasks-citations

fix: use fixed num_frames=8 instead of fps for EBind video sampling
  mteb/models/model_implementations/ebind_models.py
Due: lint

fix: Remove RAVDESS files from AVE branch
  AVEDatasetClassification_results.json
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/ave_dataset_classification.py
  mteb/tasks/classification/eng/ravdess_av_classification.py
  mteb/tasks/zeroshot_classification/eng/ravdess.py
Due: lint, format-tasks-citations

fix: handle variable frame counts with per-video fallback and warning
  mteb/models/model_implementations/ebind_models.py
Due: lint

fix: remove unnecessary dtype cast per reviewer feedback
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

add image to LCO embed model (#4384)
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_meta.py
Due: lint
