Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

change action
  .github/workflows/test.yml
Due: none

add ffmpeg version check
  .github/workflows/test.yml
Due: none

last last revise
  mteb/models/model_implementations/querit_models.py
Due: lint

try v7
  .github/workflows/test.yml
Due: none

last last last revison
  mteb/models/model_implementations/querit_models.py
Due: lint

try to debug
  .github/workflows/test.yml
Due: none

model: added nomic-ai/nomic-embed-code (#4006)
  mteb/models/model_implementations/nomic_models.py
Due: lint

try install from ppa
  .github/workflows/test.yml
Due: none

Update mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

revise
  mteb/models/model_implementations/querit_models.py
Due: lint

add faiss back
  Makefile
Due: none

Simplify structure
  mteb/models/model_meta.py
Due: lint

remove torch from dependencies
  pyproject.toml
Due: none

remove torchcodec from imports
  tests/test_abstasks/test_task_metadata.py
  tests/test_tasks/test_maeb_datasets.py
Due: lint

update pyproject
  Makefile
  pyproject.toml
Due: none

Add model_type to sparseEncoder models
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
  mteb/models/model_meta.py
Due: lint

remove transformers speech
  pyproject.toml
Due: none

lint
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

Adding nvidia/nemotron-colembed models (#3941)
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

rename bm25s to baseline/bm25s
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/bm25.py
  mteb/models/model_meta.py
Due: lint

Update mteb/models/get_model_meta.py
  mteb/models/get_model_meta.py
Due: lint

remove logger message
  mteb/models/get_model_meta.py
Due: lint

Add MAEB domain distribution script and update plot styles
  .gitignore
  scripts/analyze_maeb_task_selection.py
  scripts/plot_maeb_language_counts.py
  scripts/print_maeb_domain_distribution.py
Due: lint

change the instruction
  mteb/models/model_implementations/querit_models.py
Due: lint

fix: sanitize type for label during array conversion
  mteb/abstasks/pair_classification.py
Due: lint

try to run updated lock
  .github/workflows/test.yml
  Makefile
Due: none

fix fleurs citation
  mteb/tasks/audio/any_2_any_retrieval/multilingual/fleurs.py
Due: lint, format-tasks-citations

fix fleurs citation (#4010)
  mteb/tasks/audio/any_2_any_retrieval/multilingual/fleurs.py
Due: lint, format-tasks-citations

unify cremad citations
  mteb/tasks/audio/audio_classification/eng/cremad.py
  mteb/tasks/audio/clustering/eng/crema_d_clustering.py
Due: lint, format-tasks-citations

last revison
  mteb/models/model_implementations/querit_models.py
Due: lint

fix rest
  mteb/models/model_implementations/vggish_models.py
  mteb/models/model_implementations/yamnet_models.py
  mteb/tasks/audio/any_2_any_retrieval/eng/emo_vdb.py
  mteb/tasks/audio/audio_classification/eng/speech_commands.py
  mteb/tasks/audio/audio_classification/zxx/urban_sound8k.py
  mteb/tasks/audio/audio_multilabel_classification/eng/audio_set.py
  mteb/tasks/audio/audio_reranking/zxx/esc50_audio_reranking.py
  mteb/tasks/audio/audio_reranking/zxx/urban_sound8_k_audio_reranking.py
  mteb/tasks/audio/audio_zeroshot_classification/zxx/urban_sound8k.py
Due: lint, format-tasks-citations

remove detection logic of sparsencoder
  mteb/models/model_meta.py
Due: lint

Fix citations (#4012)
  mteb/models/model_implementations/vggish_models.py
  mteb/models/model_implementations/yamnet_models.py
  mteb/tasks/audio/any_2_any_retrieval/eng/emo_vdb.py
  mteb/tasks/audio/audio_classification/eng/cremad.py
  mteb/tasks/audio/audio_classification/eng/speech_commands.py
  mteb/tasks/audio/audio_classification/zxx/urban_sound8k.py
  mteb/tasks/audio/audio_multilabel_classification/eng/audio_set.py
  mteb/tasks/audio/audio_reranking/zxx/esc50_audio_reranking.py
  mteb/tasks/audio/audio_reranking/zxx/urban_sound8_k_audio_reranking.py
  mteb/tasks/audio/audio_zeroshot_classification/zxx/urban_sound8k.py
  mteb/tasks/audio/clustering/eng/crema_d_clustering.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
