Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

correct typing
  mteb/_evaluators/retrieval_evaluator.py
  mteb/abstasks/retrieval.py
Due: lint

updated docs
  docs/contributing/adding_a_model.md
  docs/contributing/submitting_results.md
  docs/get_started/usage/loading_results.md
  docs/whats_new.md
  mkdocs.yml
Due: none

fix links
  docs/whats_new.md
  mteb/cache/result_cache.py
Due: lint

fix: Add AfriMTEB and AFriE5 (#4124)
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Classification/AfriHateClassification.json
  mteb/descriptive_stats/Classification/InjongoIntent.json
  mteb/descriptive_stats/Classification/KinNewsClassification.json
  mteb/descriptive_stats/Classification/SIB200Classification.v2.json
  mteb/descriptive_stats/MultilabelClassification/EmotionAnalysisPlus.json
  mteb/descriptive_stats/PairClassification/AfriXNLI.json
  mteb/models/model_implementations/e5_instruct.py
  mteb/tasks/classification/multilingual/__init__.py
  mteb/tasks/classification/multilingual/afri_hate_classification.py
  mteb/tasks/classification/multilingual/injongo_intent.py
  mteb/tasks/classification/multilingual/kin_news_classification.py
  mteb/tasks/classification/multilingual/sib200_classification.py
  mteb/tasks/multilabel_classification/multilingual/__init__.py
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
  mteb/tasks/pair_classification/multilingual/__init__.py
  mteb/tasks/pair_classification/multilingual/afri_xnli.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-benchmarks-citations, format-tasks-citations

fix link
  docs/whats_new.md
Due: none

Update whats_new.md
  docs/whats_new.md
Due: none

tests: add test for column pass check (#4641)
  tests/test_models/test_modality_columns_passed.py
Due: lint

[MVEB] Add MUSIC-AVQA V/VA PairClassification (#4635)
  mteb/tasks/pair_classification/eng/__init__.py
  mteb/tasks/pair_classification/eng/music_avqa_pc.py
Due: lint, format-tasks-citations

feat: Add submit_results to ResultsCache (#4239)
  docs/contributing/adding_a_model.md
  docs/contributing/submitting_results.md
  docs/get_started/usage/loading_results.md
  docs/whats_new.md
  mkdocs.yml
  mteb/_reversible_workflow/git_actions.py
  mteb/_reversible_workflow/git_utils.py
  mteb/cache/__init__.py
  mteb/cache/result_cache.py
  mteb/types/__init__.py
  mteb/types/_result.py
  tests/test_leaderboard/test_integration.py
  tests/test_result_cache.py
  tests/test_result_cache_load_from_cache.py
  tests/test_workflow/test_git_actions.py
Due: lint

2.13.0
  pyproject.toml
Due: none

fix PC multimodal
  mteb/_create_dataloaders.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/models/model_implementations/random_baseline.py
  mteb/tasks/pair_classification/eng/videocon_pc.py
  tests/mock_tasks.py
  tests/task_grid.py
Due: lint, format-tasks-citations

Update mteb/models/modality_collators.py
  mteb/models/modality_collators.py
Due: lint

fix errors on ci
  mteb/models/cache_wrappers/cache_backends/numpy_cache.py
  mteb/models/modality_collators.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

fix modality get
  mteb/_evaluators/pair_classification_evaluator.py
Due: lint

upd
  mteb/_reversible_workflow/git_utils.py
Due: lint

fix tolerate off-by-one frame metadata in compute_video_hashes (#4625)
  mteb/abstasks/_statistics_calculation.py
Due: lint

fix tasks
  tests/mock_tasks.py
Due: lint

update test
  tests/test_tasks/test_metadata.py
Due: lint

data: add stats for V/VA pair classification tasks
  mteb/descriptive_stats/VideoPairClassification/AVEDatasetVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/AVEDatasetVPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/HumanAnimalCartoonVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/HumanAnimalCartoonVPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/MELDVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/MELDVPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/MusicAVQAVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/MusicAVQAVPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/RAVDESSAVVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/RAVDESSAVVPairClassification.json
Due: none

apply changes from review
  mteb/_evaluators/retrieval_evaluator.py
  mteb/abstasks/abstask.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/text/reranking.py
  mteb/evaluate.py
  mteb/timing.py
Due: lint

data: add stats for V/VA pair classification tasks (#4646)
  mteb/descriptive_stats/VideoPairClassification/AVEDatasetVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/AVEDatasetVPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/HumanAnimalCartoonVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/HumanAnimalCartoonVPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/MELDVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/MELDVPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/MusicAVQAVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/MusicAVQAVPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/RAVDESSAVVAPairClassification.json
  mteb/descriptive_stats/VideoPairClassification/RAVDESSAVVPairClassification.json
Due: none

update to handle overwritten load_data
  mteb/evaluate.py
  mteb/timing.py
Due: lint

pin uv version in pyproject
  .github/workflows/documentation.yml
  .github/workflows/leaderboard_build.yml
  .github/workflows/lint.yml
  .github/workflows/model_loading.yml
  .github/workflows/test.yml
  .github/workflows/test_lowest.yml
  .github/workflows/typechecking.yml
  .github/workflows/update_leaderboard_models.yml
  pyproject.toml
Due: none

Activate statistics check for beta tasks (#4647)
  tests/test_tasks/test_metadata.py
Due: lint

upd makefile
  Makefile
Due: none

fix category
  tests/mock_tasks.py
Due: lint

model: jina-embeddings-v5-omni models (#4604)
  mteb/models/model_implementations/jina_models.py
Due: lint

Depreceate Model2VecModel and use SentenceTransformerEncoderWrapper instead
  mteb/models/model_implementations/andersborges.py
  mteb/models/model_implementations/model2vec_models.py
  mteb/models/model_implementations/rasgaard_models.py
Due: lint

Add MVEB paper LaTeX generation scripts
  scripts/mveb_paper/generate_video_models_latex.py
  scripts/mveb_paper/generate_video_tasks_latex.py
Due: lint

update revision for all NeuML models
  mteb/models/model_implementations/model2vec_models.py
Due: lint

removed model2vec extra group
  pyproject.toml
Due: none

revert pyproject.toml and remove extra_requirement_groups
  mteb/models/model_implementations/model2vec_models.py
  pyproject.toml
Due: lint

task: add Bright-Pro retrieval (7 StackExchange domains)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/bright_pro_retrieval.py
Due: lint, format-tasks-citations

fix: pass video and audio processing kwargs to Jina v5 omni configs
  mteb/models/model_implementations/jina_models.py
Due: lint

refactor: move Jina v5 omni defaults into wrapper __init__
  mteb/models/model_implementations/jina_models.py
Due: lint

refactor: use explicit positional args in JinaV5OmniWrapper.__init__
  mteb/models/model_implementations/jina_models.py
Due: lint

changes from review
  mteb/_evaluators/retrieval_evaluator.py
  mteb/timing.py
Due: lint

fix: pin jina omni revisions without vllm dependency
  mteb/models/model_implementations/jina_models.py
Due: lint

fix: pin jina omni vllm-free revisions (#4653)
  mteb/models/model_implementations/jina_models.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
