Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

add models citations
  mteb/models/model_implementations/ast_model.py
  mteb/models/model_implementations/audio_qwen2_models.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/cnn14_model.py
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/encodec_model.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/msclap_models.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/seamlessm4t_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/wav2clip_model.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/wavlm_models.py
  mteb/models/model_implementations/whisper_models.py
Due: lint

update qwen citation
  mteb/models/model_implementations/audio_qwen2_models.py
Due: lint

add missing citations
  mteb/models/model_implementations/vggish_models.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/yamnet_models.py
Due: lint

add statistics to overview
  scripts/generate_maeb_overview_tables.py
Due: lint

add pair classification
  scripts/generate_maeb_overview_tables.py
Due: lint

Rename columns for better visibility
  mteb/benchmarks/_create_table.py
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
  mteb/leaderboard/text_segments.py
Due: lint, format-benchmarks-citations

Add audio-only average column to MAEB table
  scripts/generate_maeb_latex_table.py
Due: lint

Update scripts/generate_maeb_overview_tables.py
  scripts/generate_maeb_overview_tables.py
Due: lint

upd description
  mteb/leaderboard/app.py
Due: lint

[MAEB] add statistics to overview (#3981)
  scripts/generate_maeb_overview_tables.py
Due: lint

add urban sound
  mteb/descriptive_stats/AudioClassification/UrbanSound8k.json
Due: none

update revision for colembed 3b
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

add colembed 4b, 8b model meta
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

Adding nvidia/nemotron-colembed models
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

fix colembed-3b-v2 model name
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

[MAEB] add models citations (#3980)
  mteb/models/model_implementations/ast_model.py
  mteb/models/model_implementations/audio_qwen2_models.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/cnn14_model.py
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/encodec_model.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/msclap_models.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/seamlessm4t_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/vggish_models.py
  mteb/models/model_implementations/wav2clip_model.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/wavlm_models.py
  mteb/models/model_implementations/whisper_models.py
  mteb/models/model_implementations/yamnet_models.py
Due: lint

fix test
  mteb/tasks/pair_classification/fas/fars_tail.py
  tests/test_search_index/test_search_index.py
Due: lint, format-tasks-citations

test run
  .github/workflows/test.yml
  Makefile
Due: none

remove leaderboard from test
  Makefile
Due: none

upd test command
  Makefile
Due: none

update revisions
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

fix - Generate a fallback session ID based on request fingerprint
  mteb/leaderboard/app.py
Due: lint

Create ops_colqwen3_models.py
  mteb/models/model_implementations/ops_colqwen3_models.py
Due: lint

Made mteg.get_model compatible with CrossEncoders and SparseEncoders
  mteb/models/model_meta.py
Due: lint

update loader for sparseEncoder
  mteb/models/model_meta.py
Due: lint

fix import
  mteb/models/model_meta.py
Due: lint

add kwargs to pub chem load data
  mteb/tasks/pair_classification/eng/pub_chem_smilespc.py
Due: lint, format-tasks-citations

fix: add kwargs to pub chem load data (#3990)
  mteb/tasks/pair_classification/eng/pub_chem_smilespc.py
Due: lint, format-tasks-citations

2.7.9
  pyproject.toml
Due: none

dataset: Add ERESS reranking task
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Reranking/ERESSReranking.json
  mteb/tasks/reranking/eng/__init__.py
  mteb/tasks/reranking/eng/ecommerce_product_relevance_reranking.py
Due: lint, format-tasks-citations

fix(models): update invalid bge-small-en revision
  mteb/models/model_implementations/bge_models.py
Due: lint

fix(models): correct get_prompt_name call in NomicWrapper
  mteb/models/model_implementations/nomic_models.py
Due: lint

querit_models_add
  mteb/models/model_implementations/querit_models.py
Due: lint

Refactor OpsColQwen3 model and processor classes
  mteb/models/model_implementations/ops_colqwen3_models.py
Due: lint

Update model revision in ops_colqwen3_models.py
  mteb/models/model_implementations/ops_colqwen3_models.py
Due: lint

fix: `BAAI/bge-small-en` model revision (#3993)
  mteb/models/model_implementations/bge_models.py
Due: lint

fix: NomicWrapper `get_prompt_name` call (#3995)
  mteb/models/model_implementations/nomic_models.py
Due: lint

2.7.10
  pyproject.toml
Due: none

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
