Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

Fix: lint error
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

fix retrieval dataset loading
  mteb/abstasks/retrieval.py
  tests/mock_tasks.py
Due: lint

feat: add required_dependencies field to ModelMeta
  mteb/models/model_implementations/e5_v.py
  mteb/models/model_implementations/evaclip_models.py
  mteb/models/model_implementations/lco_embedding_models.py
  mteb/models/model_implementations/nvidia_models.py
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
  mteb/models/model_implementations/vista_models.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

lint
  mteb/models/model_implementations/align_models.py
  mteb/models/model_implementations/siglip_models.py
  tests/test_models/test_transformers_v5_compat.py
Due: lint

moving video clustering tasks to clustering
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/ravdess_av_clustering.py
  mteb/tasks/clustering/eng/worldsense_1min_domain_clustering.py
  mteb/tasks/video/__init__.py
  mteb/tasks/video/clustering/__init__.py
  mteb/tasks/video/clustering/eng/__init__.py
Due: lint, format-tasks-citations

uncomment Video task
  mteb/abstasks/task_metadata.py
Due: lint

Update mteb/abstasks/task_metadata.py
  mteb/abstasks/task_metadata.py
Due: lint

fix: double retrieval dataset loading (#4399)
  mteb/abstasks/retrieval.py
  tests/mock_tasks.py
Due: lint

add regression test
  tests/test_integrations/test_integration_with_datasets.py
Due: lint

fix: handle Transformers v5 BaseModelOutputWithPooling return types i… (#4328)
  mteb/models/model_implementations/align_models.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/llm2clip_models.py
  mteb/models/model_implementations/siglip_models.py
  mteb/models/model_implementations/wav2clip_model.py
Due: lint

Update mteb/tasks/classification/eng/hmdb51_classification.py
  mteb/tasks/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

2.12.20
  pyproject.toml
Due: none

fix test
  tests/test_models/test_model_meta.py
Due: lint

fix lint
  mteb/tasks/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

Refactor: args encode
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

Refactor: Import from Bidir
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

comments update
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

ci: add workflow to auto-update leaderboard model list
  .github/workflows/update_leaderboard_models.yml
  scripts/generate_leaderboard_models.py
Due: lint

Simplify get instruction (ne need for _lookup_prompt stripped)
  mteb/models/model_implementations/bidirlm_omni_models.py
Due: lint

fix: address review - reuse _check_model_modalities, trim workflow triggers
  .github/workflows/reference_models.yml
  tests/test_benchmarks/test_reference_models.py
Due: lint

fix: restore TARGET_BENCHMARKS definition, remove stale _get_target_benchmarks call
  tests/test_benchmarks/test_reference_models.py
Due: lint

fix: inline modality check to avoid private import, filter image-only tasks
  tests/test_benchmarks/test_reference_models.py
Due: lint

fix: use strict modality subset check to exclude image/multimodal tasks
  tests/test_benchmarks/test_reference_models.py
Due: lint

fix: restore RETRIEVAL_ONLY_MODELS for BM25 task filtering
  tests/test_benchmarks/test_reference_models.py
Due: lint

add HMDB51 dataset (#4398)
  mteb/abstasks/task_metadata.py
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

add results
  results/mveb/results/facebook__pe-av-small-16-frame/9f888eea95c83622212bb742e91bf01d3b46fe96/WorldSense1MinDomainClustering.json
  results/mveb/results/facebook__pe-av-small-16-frame/9f888eea95c83622212bb742e91bf01d3b46fe96/model_meta.json
  results/mveb/results/mteb__baseline-random-encoder/1/WorldSense1MinDomainClustering.json
  results/mveb/results/mteb__baseline-random-encoder/1/model_meta.json
Due: none

refactor: remove qwen_omni_utils dependency from omni-embed-nemotron wrapper
  mteb/models/model_implementations/omni_embed_nemotron_models.py
Due: lint

update license
  mteb/tasks/clustering/eng/worldsense_1min_domain_clustering.py
Due: lint, format-tasks-citations

fix: correct OmniEmbed-v0.1 model loading and encoding to match model card
  mteb/models/model_implementations/omni_embed_models.py
Due: lint

fix: correct OmniEmbed-v0.1 n_parameters and memory_usage_mb
  mteb/models/model_implementations/omni_embed_models.py
Due: lint

fix: use mteb extras convention for requires_package install instructions
  mteb/models/model_implementations/omni_embed_models.py
  pyproject.toml
Due: lint

fix: address PR review - lint, vidore training datasets, lowercase vars
  mteb/models/model_implementations/omni_embed_nemotron_models.py
Due: lint

fix: lint - rename BASE_MODEL to base_model and reformat
  mteb/models/model_implementations/omni_embed_models.py
Due: lint

fix: remove duplicate qwen_omni_utils extra (already in upstream main)
  pyproject.toml
Due: none

fix: add n_embedding_parameters and use exact n_parameters from hub
  mteb/models/model_implementations/omni_embed_models.py
Due: lint

feat: add video support to Qwen Omni models and remove qwen_omni_utils dependency
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

add mteb/MSVD dataset
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/msvd_v2t_retrieval.py
Due: lint, format-tasks-citations

Add RAVDESS_AV classification task
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/ravdess_av_classification.py
Due: lint, format-tasks-citations

fix: Correct typo in RavdessZeroshot bibtex title
  mteb/tasks/zeroshot_classification/eng/ravdess.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
