Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

fix: video and omni wrappers that never ran correctly
  mteb/models/model_implementations/aurola_omni_models.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/cosmos_embed_models.py
  mteb/models/model_implementations/language_bind_models.py
  mteb/models/model_implementations/rzen_embed_model.py
  mteb/models/model_implementations/ume_r1.py
  mteb/models/model_implementations/viclip_models.py
Due: lint

fix: check the audio cap before importing transformers
  mteb/models/model_implementations/audio_qwen2_models.py
  mteb/models/model_implementations/wavlm_models.py
Due: lint

fix: final audit pass on comments, frame rates and one-at-a-time reasons
  docs/whats_new.md
  mteb/models/modality_collators.py
  mteb/models/model_implementations/aurola_omni_models.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/fusion_embedding_models.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/omni_embed_nemotron_models.py
  mteb/models/model_implementations/omnivinci_models.py
  mteb/models/model_implementations/pe_av_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/wavlm_models.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

fix: handle lowercase maxsim in ModelMeta.from_hub
  mteb/models/model_meta.py
Due: lint

fix: handle lowercase maxsim in ModelMeta.from_hub (#5605)
  mteb/models/model_meta.py
Due: lint

2.24.1
  pyproject.toml
Due: none

feat: Add feature to remove train leakage in mteb.data_cleaning
  docs/get_started/advanced_usage/cleaning_task_data.md
  docs/whats_new.md
  mteb/data_cleaning/__init__.py
  mteb/data_cleaning/_filtering.py
  mteb/data_cleaning/_leakage.py
  tests/test_data_cleaning.py
Due: lint

fix: apply script filter in AbsTask.filter_languages
  mteb/abstasks/abstask.py
  tests/test_abstasks/test_filter_languages.py
Due: lint

fix: apply script filter in AbsTask.filter_languages
  mteb/abstasks/abstask.py
Due: lint

Make the RCP tasks plain AbsTaskRetrieval (review)
  mteb/abstasks/retrieval.py
  mteb/mocks/mock_tasks/retrieval.py
  mteb/tasks/retrieval/eng/bright_rcp_retrieval.py
  mteb/tasks/retrieval/eng/nano_beir_rcp_retrieval.py
  mteb/tasks/retrieval/multilingual/vidore3_rcp_retrieval.py
  tests/test_abstasks/test_retrieval_float_gains.py
  tests/test_evaluators/test_retrieval_metrics_float_gains.py
Due: lint, format-tasks-citations

fix: omni-embed-nemotron attention mode, invalid extras groups, MuQ on transformers 5
  docs/whats_new.md
  mteb/models/model_implementations/ebind_models.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/omni_embed_nemotron_models.py
  mteb/models/model_implementations/omnivinci_models.py
Due: lint

refactor: drop the unused one-at-a-time switch from the sentence-transformers wrapper
  mteb/models/sentence_transformer_wrapper.py
Due: lint

fix: apply the script filter to subsets in AbsTask.filter_languages
  mteb/abstasks/abstask.py
  tests/test_get_tasks.py
Due: lint

add requirement group pplx
  mteb/models/model_implementations/perplexity_models.py
Due: lint

update tests
  tests/test_abstasks/test_filter_languages.py
  tests/test_filter_tasks.py
Due: lint

Merge the shared BRIGHT and ViDoRe v3 citations into the module citation (review)
  mteb/tasks/reranking/eng/bright_rcp_reranking.py
  mteb/tasks/retrieval/multilingual/vidore3_rcp_reranking.py
Due: lint, format-tasks-citations

Test the float-gains metric in the metric tests (review)
  mteb/mocks/mock_tasks/retrieval.py
  tests/test_abstasks/test_retrieval_float_gains.py
  tests/test_evaluators/test_retrieval_metrics_float_gains.py
  tests/test_integrations/test_model_task.py
Due: lint

Move the RCP benchmarks out of this PR (review)
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-benchmarks-citations

fix: apply script filter in AbsTask.filter_languages (#5608)
  mteb/abstasks/abstask.py
  tests/test_filter_tasks.py
Due: lint

fix: ColQwen2.5-Omni fps from its checkpoint config; CLAP fusion only fuses long clips
  docs/whats_new.md
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/colqwen_models.py
Due: lint

Expect main's new retrieval statistic in the float-gains mock
  mteb/mocks/mock_tasks/retrieval.py
Due: lint

2.24.2
  pyproject.toml
Due: none

Add requirement group for `pplx-embed-v1` (#5610)
  mteb/models/model_implementations/perplexity_models.py
Due: lint

fix: apply script filter in exclusive_language_filter branch of filter_languages
  mteb/abstasks/abstask.py
  tests/test_filter_tasks.py
Due: lint

Replace reranking subsets with named candidates and isolated results
  docs/get_started/advanced_usage/two_stage_reranking.md
  mteb/abstasks/first_stage_predictions.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/abstasks/task_metadata.py
  mteb/benchmarks/benchmark.py
  mteb/cache/result_cache.py
  mteb/evaluate.py
  mteb/results/benchmark_results.py
  mteb/results/model_result.py
  mteb/results/task_result.py
  tests/test_abstasks/test_named_first_stage_predictions.py
  tests/test_abstasks/test_reranking_subsets.py
  tests/test_results/test_task_results.py
Due: lint, format-benchmarks-citations

Add ViDoRe reranking tasks with pinned first-stage predictions
  docs/get_started/advanced_usage/vidore_prepared_reranking.md
  mkdocs.yml
  mteb/descriptive_stats/Reranking/Vidore3ComputerScienceReranking.json
  mteb/descriptive_stats/Reranking/Vidore3EnergyReranking.json
  mteb/descriptive_stats/Reranking/Vidore3FinanceEnReranking.json
  mteb/descriptive_stats/Reranking/Vidore3FinanceFrReranking.json
  mteb/descriptive_stats/Reranking/Vidore3HrReranking.json
  mteb/descriptive_stats/Reranking/Vidore3IndustrialReranking.json
  mteb/descriptive_stats/Reranking/Vidore3PharmaceuticalsReranking.json
  mteb/descriptive_stats/Reranking/Vidore3PhysicsReranking.json
  mteb/tasks/reranking/multilingual/__init__.py
  mteb/tasks/reranking/multilingual/vidore3_reranking.py
  scripts/run_vidore_reranking.py
  tests/test_tasks/test_vidore3_prepared_reranking.py
Due: lint, format-tasks-citations

used reference mechanism with leakage as one use
  docs/get_started/advanced_usage/cleaning_task_data.md
  docs/whats_new.md
  mteb/data_cleaning/_duplicates.py
  mteb/data_cleaning/_filtering.py
  mteb/data_cleaning/_leakage.py
  tests/test_data_cleaning.py
Due: lint

Move the float-gains metric tests into the metrics test file
  tests/test_evaluators/test_evaluation_metrics.py
  tests/test_evaluators/test_retrieval_metrics_float_gains.py
Due: lint

RCP task modules: list every metadata field that differs from the original
  mteb/tasks/reranking/eng/bright_rcp_reranking.py
  mteb/tasks/reranking/eng/nano_beir_rcp_reranking.py
  mteb/tasks/retrieval/multilingual/vidore3_rcp_reranking.py
Due: lint, format-tasks-citations

Declare prepared predictions on existing ViDoRe tasks
  docs/get_started/advanced_usage/vidore_prepared_reranking.md
  mkdocs.yml
  mteb/descriptive_stats/Reranking/Vidore3ComputerScienceReranking.json
  mteb/descriptive_stats/Reranking/Vidore3EnergyReranking.json
  mteb/descriptive_stats/Reranking/Vidore3FinanceEnReranking.json
  mteb/descriptive_stats/Reranking/Vidore3FinanceFrReranking.json
  mteb/descriptive_stats/Reranking/Vidore3HrReranking.json
  mteb/descriptive_stats/Reranking/Vidore3IndustrialReranking.json
  mteb/descriptive_stats/Reranking/Vidore3PharmaceuticalsReranking.json
  mteb/descriptive_stats/Reranking/Vidore3PhysicsReranking.json
  mteb/tasks/reranking/multilingual/__init__.py
  mteb/tasks/reranking/multilingual/vidore3_reranking.py
  mteb/tasks/retrieval/multilingual/vidore3_bench_retrieval.py
  scripts/run_vidore_reranking.py
  tests/test_tasks/test_vidore3_prepared_reranking.py
Due: lint, format-tasks-citations

Clarify mutually exclusive reranking source arguments
  mteb/abstasks/retrieval.py
  tests/test_abstasks/test_named_first_stage_predictions.py
Due: lint

Select and record reranker document modalities
  docs/get_started/advanced_usage/two_stage_reranking.md
  docs/get_started/advanced_usage/vidore_prepared_reranking.md
  mteb/abstasks/first_stage_predictions.py
  mteb/abstasks/retrieval.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/tasks/retrieval/multilingual/vidore3_bench_retrieval.py
  scripts/run_vidore_reranking.py
  tests/test_abstasks/test_named_first_stage_predictions.py
  tests/test_models/test_cross_encoder_document_modalities.py
  tests/test_tasks/test_vidore3_prepared_reranking.py
Due: lint, format-tasks-citations

update implementation
  mteb/abstasks/abstask.py
  mteb/languages/language_scripts.py
  mteb/results/task_result.py
  mteb/tasks/classification/multilingual/ru_nlu_intent_classification.py
  tests/test_filter_tasks.py
Due: lint, format-tasks-citations

fix: apply script filter in exclusive_language_filter branch of filter_languages (#5612)
  mteb/abstasks/abstask.py
  mteb/languages/language_scripts.py
  mteb/results/task_result.py
  mteb/tasks/classification/multilingual/ru_nlu_intent_classification.py
  tests/test_filter_tasks.py
Due: lint, format-tasks-citations

update implementation
  mteb/models/sentence_transformer_wrapper.py
Due: lint

2.24.3
  pyproject.toml
Due: none

Fix CI regressions in reranking experiment metadata and tests
  docs/get_started/advanced_usage/two_stage_reranking.md
  docs/get_started/advanced_usage/vidore_prepared_reranking.md
  mteb/models/model_meta.py
  tests/test_models/test_cross_encoder_document_modalities.py
  tests/test_models/test_model_meta.py
Due: lint
