Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Reverting voyage-4 (as the tokenizer is not yet available publicly)
  mteb/models/model_implementations/voyage_models.py
Due: lint

Update tests/test_result_cache.py
  tests/test_result_cache.py
Due: lint

fix: expose `ResultCache` directly as `mteb.ResultCache`
  mteb/__init__.py
Due: lint

docs: Update docs usage of `ResultCache`
  docs/usage/loading_results.md
  docs/whats_new.md
  mteb/cache.py
Due: lint

fix: KoVidore2EnergyRetrieval revision fix
  mteb/descriptive_stats/Image/DocumentUnderstanding/KoVidore2EnergyRetrieval.json
  mteb/tasks/retrieval/kor/kovidore2_bench_retrieval.py
Due: lint, format-tasks-citations

fix: KoVidore2EnergyRetrieval revision fix (#3913)
  mteb/descriptive_stats/Image/DocumentUnderstanding/KoVidore2EnergyRetrieval.json
  mteb/tasks/retrieval/kor/kovidore2_bench_retrieval.py
Due: lint, format-tasks-citations

2.6.8
  pyproject.toml
Due: none

add more stats
  mteb/descriptive_stats/AudioClassification/FSDD.json
  mteb/descriptive_stats/AudioClassification/GTZANGenre.json
  mteb/descriptive_stats/AudioClassification/GunshotTriangulation.json
  mteb/descriptive_stats/AudioClassification/IEMOCAPEmotion.json
  mteb/descriptive_stats/AudioClassification/IEMOCAPGender.json
  mteb/descriptive_stats/AudioClassification/LibriCount.json
  mteb/descriptive_stats/AudioClassification/MridinghamStroke.json
  mteb/descriptive_stats/AudioClassification/MridinghamTonic.json
  mteb/descriptive_stats/AudioClassification/NSynth.json
  mteb/descriptive_stats/AudioClassification/SpeechCommands.json
  mteb/descriptive_stats/AudioClassification/SpokeNEnglish.json
  mteb/descriptive_stats/AudioClassification/SpokenQAForIC.json
  mteb/descriptive_stats/AudioClassification/TUTAcousticScenes.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MusicCapsA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MusicCapsT2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpokenSQuADT2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/UrbanSound8KA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/UrbanSound8KT2ARetrieval.json
Due: none

fix model load test
  Makefile
  uv.lock
Due: none

fix saving
  mteb/evaluate.py
Due: lint

trigger on dependencies change
  .github/workflows/model_loading.yml
Due: none

Pass ModelMeta objects to filter by revision when rebuilding cache
  mteb/cache.py
Due: lint

fix fleurs loading
  mteb/tasks/audio/any_2_any_retrieval/fleurs.py
Due: lint, format-tasks-citations

add more stats
  mteb/descriptive_stats/AudioClassification/MInDS14.json
  mteb/descriptive_stats/AudioClassification/VoxCelebSA.json
  mteb/descriptive_stats/AudioClassification/VoxLingua107_Top10.json
  mteb/descriptive_stats/AudioClassification/VoxPopuliAccentID.json
  mteb/descriptive_stats/AudioClassification/VoxPopuliGenderID.json
  mteb/descriptive_stats/AudioClassification/VoxPopuliLanguageID.json
  mteb/descriptive_stats/AudioMultilabelClassification/AudioSetMini.json
Due: none

add more stats
  mteb/descriptive_stats/AudioMultilabelClassification/FSD50K.json
Due: none

add artifacts for llama-embed-nemotron-8b model
  mteb/models/model_implementations/nvidia_models.py
Due: lint

add more stats
  mteb/descriptive_stats/AudioClustering/AmbientAcousticContextClustering.json
  mteb/descriptive_stats/AudioClustering/CREMA_DClustering.json
  mteb/descriptive_stats/AudioClustering/GTZANGenreClustering.json
  mteb/descriptive_stats/AudioClustering/MusicGenreClustering.json
  mteb/descriptive_stats/AudioClustering/VehicleSoundClustering.json
  mteb/descriptive_stats/AudioClustering/VoxCelebClustering.json
  mteb/descriptive_stats/AudioClustering/VoxPopuliAccentClustering.json
  mteb/descriptive_stats/AudioClustering/VoxPopuliGenderClustering.json
  mteb/descriptive_stats/AudioPairClassification/CREMADPairClassification.json
  mteb/descriptive_stats/AudioPairClassification/NMSQAPairClassification.json
  mteb/descriptive_stats/AudioPairClassification/VocalSoundPairClassification.json
  mteb/descriptive_stats/AudioPairClassification/VoxPopuliAccentPairClassification.json
  mteb/descriptive_stats/AudioReranking/ESC50AudioReranking.json
  mteb/descriptive_stats/AudioReranking/FSDnoisy18kAudioReranking.json
  mteb/descriptive_stats/AudioReranking/GTZANAudioReranking.json
  mteb/descriptive_stats/AudioReranking/UrbanSound8KAudioReranking.json
  mteb/descriptive_stats/AudioReranking/VocalSoundAudioReranking.json
  mteb/descriptive_stats/AudioZeroshotClassification/SpeechCommandsZeroshotv0.01.json
  mteb/descriptive_stats/AudioZeroshotClassification/SpeechCommandsZeroshotv0.02.json
Due: none

update test
  mteb/tasks/audio/audio_zeroshot_classification/eng/ravdess.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

skip also svq for now
  tests/test_tasks/test_metadata.py
Due: lint

move ambient
  mteb/tasks/audio/audio_classification/eng/__init__.py
  mteb/tasks/audio/audio_classification/zxx/__init__.py
  mteb/tasks/audio/audio_classification/zxx/ambient_acoustic_context.py
Due: lint, format-tasks-citations

fix audioset revision
  mteb/tasks/audio/audio_multilabel_classification/eng/audio_set.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

Artifacts for llama-embed-nemotron-8b model (#3919)
  mteb/models/model_implementations/nvidia_models.py
Due: lint

fix: model load test (#3914)
  .github/workflows/model_loading.yml
  Makefile
  uv.lock
Due: none

move num proc to evaluate
  mteb/_create_dataloaders.py
  mteb/abstasks/abstask.py
  mteb/evaluate.py
Due: lint

2.6.9
  pyproject.toml
Due: none

fix unpack imports
  mteb/models/models_protocols.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

dataset: add ChemRxivRetrieval task to ChemTEB benchmark
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/chemrxiv.py
Due: lint, format-benchmarks-citations, format-tasks-citations

pass num proc everywhere
  mteb/_create_dataloaders.py
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/clustering_evaluator.py
  mteb/_evaluators/evaluator.py
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/_evaluators/retrieval_evaluator.py
  mteb/_evaluators/sklearn_evaluator.py
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/_evaluators/text/summarization_evaluator.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/abstasks/multilabel_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
  mteb/abstasks/text/bitext_mining.py
  mteb/abstasks/text/summarization.py
  mteb/abstasks/zeroshot_classification.py
  mteb/models/models_protocols.py
  mteb/models/search_wrappers.py
  tests/test_evaluate.py
  uv.lock
Due: lint

fix: add descriptive statistics
  mteb/descriptive_stats/Retrieval/ChemRxivRetrieval.json
Due: none

dataset: Add EuroPIRQRetrieval dataset
  mteb/descriptive_stats/Retrieval/EuroPIRQRetrieval.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/euro_pirq_retrieval.py
Due: lint, format-tasks-citations

fix tests
  mteb/models/model_implementations/bm25.py
  tests/test_evaluate.py
Due: lint

fix pylate
  mteb/models/model_implementations/pylate_models.py
Due: lint

Update the nemo retriever versions to fix the crash issue with visual_config
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

added superseeded_by
  mteb/models/model_implementations/voyage_models.py
Due: lint

Update mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

model: Adding voyage-4-large, voyage-4 and voyage-4-lite (#3885)
  mteb/models/model_implementations/voyage_models.py
Due: lint
