Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

answer-mode evaluation through the existing task machinery
  mteb/abstasks/answer.py
  mteb/models/answer_systems.py
  tests/test_abstasks/test_answer_task.py
Due: lint

fix: store VELOCITI videos as a parquet config instead of a zip asset
  mteb/tasks/pair_classification/eng/velociti.py
Due: lint, format-tasks-citations

docs: add ADVANCE dataset construction script to the PR
  scripts/build_advance_datasets.py
Due: lint

register Answer as a task type
  mteb/abstasks/task_metadata.py
  tests/test_abstasks/test_answer_task.py
Due: lint

rename Answer to QuestionAnswering, the standard task-type name
  mteb/abstasks/question_answering.py
  mteb/abstasks/task_metadata.py
  mteb/models/answer_systems.py
  tests/test_abstasks/test_question_answering_task.py
Due: lint

fix: deduplicate VELOCITI-PC (video, text) pairs, drop 1 label conflict
  mteb/tasks/pair_classification/eng/velociti.py
Due: lint, format-tasks-citations

add BrowseCompPlusQA
  mteb/tasks/QuestionAnswering/__init__.py
  mteb/tasks/QuestionAnswering/eng/__init__.py
  mteb/tasks/QuestionAnswering/eng/browse_comp_plus_qa.py
  mteb/tasks/__init__.py
Due: lint, format-tasks-citations

fix: set do_sample_frames=False once at init for ColQwen-Omni
  mteb/models/model_implementations/colqwen_models.py
Due: lint

map QuestionAnswering to the retrieval simplified type
  mteb/abstasks/task_metadata.py
Due: lint

spell out the index signature on all answer systems
  mteb/models/answer_systems.py
Due: lint

align override signatures with AbsTask and narrow the model type
  mteb/abstasks/question_answering.py
  mteb/tasks/__init__.py
Due: lint, format-tasks-citations

add descriptive stats for BrowseCompPlusQA
  mteb/descriptive_stats/QuestionAnswering/BrowseCompPlusQA.json
Due: none

fix: force fresh download of VELOCITI-PC metadata table
  mteb/tasks/pair_classification/eng/velociti.py
Due: lint, format-tasks-citations

include num_samples in QA descriptive stats
  mteb/abstasks/question_answering.py
Due: lint

regenerate QA stats with num_samples
  mteb/descriptive_stats/QuestionAnswering/BrowseCompPlusQA.json
Due: none

model: add ColQwen-Omni (vidore/colqwen-omni-v0.1) (#5115)
  mteb/models/model_implementations/colqwen_models.py
Due: lint

fix: resolve SONAR language codes from task metadata, eager-init speech model
  mteb/models/model_implementations/sonar_models.py
Due: lint

fix: add mean/std source comment, remove defensive tensor checks
  mteb/models/model_implementations/viclip_models.py
Due: lint

task: add ADVANCE audio-image retrieval (a2i, i2a) (#5119)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ADVANCEA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ADVANCEI2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/advance.py
  scripts/build_advance_datasets.py
Due: lint, format-tasks-citations

model: add Cosmos-Embed1 (nvidia/Cosmos-Embed1-224p/336p/448p)
  mteb/models/model_implementations/cosmos_embed_models.py
  pyproject.toml
Due: lint

model: add Cosmos-Embed1 (nvidia/Cosmos-Embed1-224p/336p/448p)
  mteb/models/model_implementations/cosmos_embed_models.py
Due: lint

dataset: add RAVENEA retrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/RAVENEAI2TRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/ravenea.py
  scripts/data/ravenea/create_data.py
  tests/test_tasks/test_ravenea.py
Due: lint, format-tasks-citations

dataset: add MixBench mixed-modality retrieval
  mteb/abstasks/retrieval.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MixBenchGoogleWIT.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MixBenchMSCOCO.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MixBenchOVEN.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MixBenchVisualNews.json
  mteb/models/instruct_wrapper.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/mixbench_retrieval.py
  mteb/types/statistics.py
  scripts/data/mixbench/validate.py
  tests/test_tasks/test_mixbench.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-benchmarks-citations, format-tasks-citations

dataset: load only MixBench retrieval parquets
  mteb/tasks/retrieval/eng/mixbench_retrieval.py
  tests/test_tasks/test_mixbench.py
Due: lint, format-tasks-citations

dataset: add Mars-VL-Pairs retrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MarsVLPairsI2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MarsVLPairsT2IRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/mars_vl_pairs.py
  scripts/data/mars_vl_pairs/README.md
  scripts/data/mars_vl_pairs/create_data.py
Due: lint, format-tasks-citations

dataset: scope sparse retrieval statistics
  mteb/abstasks/retrieval.py
  mteb/types/statistics.py
Due: lint

fix: break MRR ties by doc id to match pytrec_eval
  mteb/_evaluators/retrieval_metrics.py
Due: lint

test: cover MRR tie-break order-independence and pytrec_eval parity
  tests/test_evaluators/test_evaluation_metrics.py
Due: lint

fix: embed GreatestHits audio into the dataset (portability)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GreatestHitsA2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/GreatestHitsV2ARetrieval.json
  mteb/tasks/retrieval/eng/greatest_hits_retrieval.py
Due: lint, format-tasks-citations

Update mteb/models/model_implementations/audio_flamingo.py
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

Minor nits
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

Remove gradio lb tests and ci (#5103)
  .github/workflows/leaderboard_build.yml
  Makefile
  tests/conftest.py
  tests/test_leaderboard/__init__.py
  tests/test_leaderboard/conftest.py
  tests/test_leaderboard/test_event_logger.py
  tests/test_leaderboard/test_integration.py
  tests/test_leaderboard/test_leaderboard.py
  tests/test_result_cache.py
Due: lint

Add Flickr dataset I2A and A2I
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/data_creation.py
  mteb/tasks/retrieval/eng/flickr_audio_image_retrieval.py
Due: lint, format-tasks-citations

dataset: add MMLongBench-Doc
  mteb/descriptive_stats/Image/DocumentUnderstanding/MMLongBenchDocRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/mm_long_bench_doc_retrieval.py
Due: lint, format-tasks-citations

test: register MMLongBenchDocRetrieval duplicate images
  tests/test_tasks/test_task_quality.py
Due: lint

refactor and directory update
  scripts/data/flickr8kaudio/data_creation.py
Due: lint

fix: preserve instruct wrapper modality forwarding
  mteb/models/instruct_wrapper.py
  tests/test_tasks/test_mixbench.py
Due: lint

fix: GPU-path bugs in Cosmos-Embed1 (int device, dtype cast, mixed-resolution clips)
  mteb/models/model_implementations/cosmos_embed_models.py
Due: lint

meta: add citation and training datasets for Dasheng
  mteb/models/model_implementations/dasheng_models.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
