Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

add the model of boom
  mteb/models/model_implementations/boom_models.py
Due: lint

remove pylate from install
  Makefile
Due: none

get back as optional dependencies
  pyproject.toml
Due: none

Update .github/workflows/test.yml
  .github/workflows/test.yml
Due: none

remove encode kwargs in tests
  tests/test_tasks/test_maeb_datasets.py
Due: lint

Sort models_to_annotate alphabetically
  mteb/leaderboard/figures.py
Due: lint

ci: Pre-commit should not be forced (#4024)
  Makefile
Due: none

move maeb scripts to sep repo
  scripts/analyze_maeb_task_selection.py
  scripts/calculate_maeb_correlation.py
  scripts/generate_maeb_latex_table.py
  scripts/generate_maeb_overview_tables.py
  scripts/maeb_eval_time_analysis.py
  scripts/plot_maeb_language_counts.py
  scripts/print_maeb_domain_distribution.py
  scripts/task_selection/task_selection_maeb_corr_and_cluster_mieb_method.py
Due: lint

Address comments
  mteb/_evaluators/sklearn_evaluator.py
  mteb/abstasks/regression.py
  mteb/types/_encoder_io.py
Due: lint

fix: don't fill-missing metedata by default
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
Due: lint

set `fill_missing=False` for `from_{model}`
  mteb/models/model_meta.py
Due: lint

propegate deprecation
  mteb/models/model_meta.py
Due: lint

fix typechecking
  mteb/_evaluators/sklearn_evaluator.py
Due: lint

rename the file from boom_models.py to ict_time_and_querit_models.py, match MTEB task names, and remove the #
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

rename the file from boom_models.py to ict_time_and_querit_models.py, match MTEB task names, and remove the #
  mteb/models/model_implementations/boom_models.py
Due: lint

simplify typechecking
  mteb/_evaluators/sklearn_evaluator.py
  mteb/abstasks/_stratification.py
  pyproject.toml
Due: lint

lint
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

fix active parameter formatting on LB
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

dirctly use the InstructSentenceTransformerModel class
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

Remove unused boom_4b_v1_loader function
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

move maeb scripts to sep repo (#4028)
  scripts/analyze_maeb_task_selection.py
  scripts/calculate_maeb_correlation.py
  scripts/generate_maeb_latex_table.py
  scripts/generate_maeb_overview_tables.py
  scripts/maeb_eval_time_analysis.py
  scripts/plot_maeb_language_counts.py
  scripts/print_maeb_domain_distribution.py
  scripts/task_selection/task_selection_maeb_corr_and_cluster_mieb_method.py
Due: lint

Removed the commented code
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

try to fix windows
  .github/workflows/test.yml
Due: none

lint again
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

try to search missing for windows
  .github/workflows/test.yml
Due: none

try list dll dependencies more
  .github/workflows/test.yml
Due: none

comment
  .github/workflows/test.yml
Due: none

add framework default
  mteb/models/model_meta.py
Due: lint

Update mteb/tasks/reranking/eng/ecommerce_product_relevance_reranking.py
  mteb/tasks/reranking/eng/ecommerce_product_relevance_reranking.py
Due: lint, format-tasks-citations

Remove the description comment at the beginning
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

Remove the description comment at the beginning and update the n_parameters
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

Add adapted_from field to model metadata
  mteb/models/model_implementations/ict_time_and_querit_models.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
