Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

model: add LanguageBind video and audio wrapper
  VideoRetrieval.json
  model_meta.json
  mteb/models/model_implementations/language_bind_models.py
Due: lint

fix tests
  mteb/_reversible_workflow/git_utils.py
  tests/test_result_cache.py
Due: lint

fix zero shot modalities
  mteb/tasks/zeroshot_classification/eng/gtsrb.py
  mteb/tasks/zeroshot_classification/eng/kinetics400.py
Due: lint, format-tasks-citations

update: clarify that documents are real documents
  mteb/tasks/retrieval/eng/elastic_kb_retrieval.py
Due: lint, format-tasks-citations

fix zero shot modalities (#4556)
  mteb/tasks/zeroshot_classification/eng/gtsrb.py
  mteb/tasks/zeroshot_classification/eng/kinetics400.py
Due: lint, format-tasks-citations

Update mteb/tasks/zeroshot_classification/eng/music_avqa.py
  mteb/tasks/zeroshot_classification/eng/music_avqa.py
Due: lint, format-tasks-citations

Update mteb/tasks/zeroshot_classification/eng/something_something_v2_classification.py
  mteb/tasks/zeroshot_classification/eng/something_something_v2_classification.py
Due: lint, format-tasks-citations

[MVEB] Add MusicAVQACLS v2c and av2c zero-shot classification (#4555)
  mteb/tasks/zeroshot_classification/eng/__init__.py
  mteb/tasks/zeroshot_classification/eng/music_avqa.py
Due: lint, format-tasks-citations

fix task selection
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

update install for reference models
  .github/workflows/reference_models.yml
Due: none

fix install instructions and remove unused arg
  mteb/_reversible_workflow/git_utils.py
Due: lint

update mkdocs
  docs/get_started/advanced_usage/result_cache.md
  mkdocs.yml
Due: none

make messages private functions
  mteb/cache/result_cache.py
Due: lint

fix: ensure that rteb(english) only use the english subset of `CureV1` (#4543)
  .github/workflows/reference_models.yml
  mteb/benchmarks/benchmarks/rteb_benchmarks.py
Due: lint, format-benchmarks-citations

remove unused args and fix formatting
  mteb/_reversible_workflow/git_utils.py
Due: lint

2.12.34
  pyproject.toml
Due: none

updates docs and merge conflict tests
  docs/contributing/adding_a_model.md
  docs/get_started/advanced_usage/result_cache.md
  docs/whats_new.md
  mteb/_reversible_workflow/git_utils.py
  tests/test_result_cache.py
Due: lint

dataset: set date to collection date
  mteb/tasks/retrieval/multilingual/news_retrieval.py
Due: lint, format-tasks-citations

fix: inline metadata
  mteb/tasks/retrieval/multilingual/news_retrieval.py
Due: lint, format-tasks-citations

[MVEB] Add WorldSense1MinVideoAudioCentricQA task and fix modalities
  mteb/tasks/multichoice/eng/worldsense.py
Due: lint, format-tasks-citations

[MVEB] Add DailyOmniVideoAudioCentricQA task and fix modalities
  mteb/tasks/multichoice/eng/daily_omni.py
Due: lint, format-tasks-citations

add init
  mteb/tasks/multichoice/eng/__init__.py
Due: lint, format-tasks-citations

[MVEB] Add WorldSense 1min video-centric QA task (#4529)
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/worldsense.py
Due: lint, format-tasks-citations

refactor and update
  mteb/tasks/retrieval/dan/__init__.py
  mteb/tasks/retrieval/dan/lex_retrieval.py
  mteb/tasks/retrieval/dan/private_lex.py
  tests/test_abstasks/test_private_tasks.py
Due: lint, format-tasks-citations

[MVEB] MELD Clustering Task (#4534)
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/meld_clustering.py
Due: lint, format-tasks-citations

dataset: Added private lex retrieval task (#4521)
  mteb/descriptive_stats/Retrieval/GatedSyntheticLEXRetrieval.json
  mteb/tasks/retrieval/dan/__init__.py
  mteb/tasks/retrieval/dan/lex_retrieval.py
  tests/test_abstasks/test_private_tasks.py
Due: lint, format-tasks-citations

fix: ensure that get_model_metas raise an error if model name is incorrect
  mteb/models/get_model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

add IBM Granite multilingual r2 models
  mteb/models/model_implementations/ibm_granite_models.py
Due: lint

fix: Update error message on evaluate when only-cache is set
  mteb/evaluate.py
Due: lint

format
  tests/test_models/test_model_meta.py
Due: lint

fix: convert positional argument to a keyword argument preventing pylate bug
  mteb/models/model_implementations/pylate_models.py
Due: lint

fix typecheck
  mteb/models/get_model_meta.py
Due: lint

update test
  tests/test_evaluate.py
Due: lint

more fixes
  mteb/models/model_implementations/pylate_models.py
Due: lint

model: Add missing required dependencies to jina models
  mteb/models/model_implementations/jina_models.py
Due: lint

format
  mteb/models/model_implementations/ibm_granite_models.py
Due: lint

model: Add missing required dependencies to jina models (#4564)
  mteb/models/model_implementations/jina_models.py
Due: lint

fix citation test
  tests/test_get_tasks.py
Due: lint

add jepa
  mteb/models/model_implementations/facebook_jepa.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
