Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix init
  mteb/tasks/retrieval/multilingual/__init__.py
Due: lint, format-tasks-citations

use only one video per time
  mteb/models/model_implementations/random_baseline.py
  mteb/tasks/video/retrieval/eng/msr_vtt.py
  mteb/types/_encoder_io.py
Due: lint, format-tasks-citations

remove `__main__`
  mteb/tasks/video/retrieval/eng/msr_vtt.py
Due: lint, format-tasks-citations

remove PostProcessingCollator
  mteb/_create_dataloaders.py
Due: lint

fix private test
  tests/test_abstasks/test_private_tasks.py
Due: lint

add some tasks statics
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3ComputerScienceRetrieval.v2.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3EnergyRetrieval.v2.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3FinanceEnRetrieval.v2.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3FinanceFrRetrieval.v2.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3HrRetrieval.v2.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3IndustrialRetrieval.v2.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3PharmaceuticalsRetrieval.v2.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3PhysicsRetrieval.v2.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3TelecomRetrieval.v2.json
  mteb/tasks/retrieval/multilingual/vidore3_bench_retrieval.py
Due: lint, format-tasks-citations

add nuclear
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3NuclearRetrieval.v2.json
Due: none

fix fleurs
  mteb/tasks/retrieval/multilingual/fleurs.py
Due: lint, format-tasks-citations

fix dataset transform signature
  mteb/tasks/retrieval/multilingual/fleurs.py
Due: lint, format-tasks-citations

fix: Use processor.score instead of custom similarity in BiQwen2_5Wrapper
  mteb/models/model_implementations/nomic_multimodal.py
Due: lint

lint and test
  mteb/models/model_implementations/qwen3_vl_embedding_models.py
Due: lint

lint
  pyproject.toml
Due: none

fix: Use parent class methods instead of custom overrides in BiQwen2_5Wrapper
  mteb/models/model_implementations/nomic_multimodal.py
Due: lint

feat: Add ModelMeta for nomic-ai/nomic-embed-multimodal-3b
  mteb/models/model_implementations/nomic_multimodal.py
Due: lint

feat: Add nomic-ai/nomic-embed-multimodal-3b to test exceptions
  mteb/models/model_implementations/nomic_multimodal.py
  tests/test_models/test_model_meta.py
Due: lint

Adding video modality
  mteb/_create_dataloaders.py
  mteb/abstasks/retrieval_dataset_loaders.py
  mteb/abstasks/task_metadata.py
  mteb/types/_encoder_io.py
Due: lint

Add pe_av model
  mteb/models/model_implementations/pe_av_models.py
Due: lint

fix typo
  mteb/tasks/classification/eng/kinetics400_classification.py
Due: lint, format-tasks-citations

Add Kinetics-400 dataset
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/kinetics400_classification.py
Due: lint, format-tasks-citations

fix type error
  mteb/models/model_implementations/pe_av_models.py
Due: lint

add self kwarg to method
  mteb/models/model_implementations/pe_av_models.py
Due: lint

fix collator bug
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/pe_av_models.py
Due: lint

Properly handle frames in PE_AV
  mteb/models/model_implementations/pe_av_models.py
Due: lint

Add audio collator
  mteb/models/model_implementations/pe_av_models.py
Due: lint

Edit selecting column in classification abstask
  mteb/abstasks/classification.py
Due: lint

fix audio_video embeds object handling
  mteb/models/model_implementations/pe_av_models.py
Due: lint

fix task metadata
  mteb/tasks/clustering/eng/ravdess_av_clustering.py
Due: lint, format-tasks-citations

Add Ravdess_av clustering
  mteb/abstasks/clustering.py
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/ravdess_av_clustering.py
Due: lint, format-tasks-citations

start video integration
  mteb/_create_dataloaders.py
  mteb/tasks/video/retrieval/msr_vtt.py
  mteb/types/_encoder_io.py
Due: lint, format-tasks-citations

start video integration
  mteb/_create_dataloaders.py
  mteb/types/_encoder_io.py
Due: lint

upd task structure
  mteb/tasks/video/retrieval/msr_vtt.py
Due: lint, format-tasks-citations

upd video input type
  scripts/convert_cls_to_pair_cls.py
  scripts/convert_hac_to_pair_cls.py
Due: lint

combine video and audio to dict
  mteb/types/_encoder_io.py
Due: lint

lint
  mteb/tasks/video/classification/eng/kinetics400_classification.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
Due: lint, format-tasks-citations

fix task side
  mteb/abstasks/classification.py
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/video/__init__.py
  mteb/tasks/video/classification/__init__.py
  mteb/tasks/video/classification/eng/__init__.py
  mteb/tasks/video/classification/eng/kinetics400_classification.py
  mteb/tasks/video/clustering/__init__.py
  mteb/tasks/video/clustering/eng/__init__.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
Due: lint, format-tasks-citations

lower writer batch size
  mteb/tasks/video/classification/eng/kinetics400_classification.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
Due: lint, format-tasks-citations

fix col labels
  mteb/tasks/video/classification/eng/kinetics400_classification.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
Due: lint, format-tasks-citations

fix pe_av model
  mteb/models/model_implementations/pe_av_models.py
Due: lint

fix datasets metadata
  mteb/tasks/video/classification/eng/kinetics400_classification.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
