Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

fix
  mteb/models/model_implementations/bge_vl_models.py
Due: lint

fix image loading error
  mteb/models/model_implementations/bge_vl_models.py
Due: lint

fix typing
  mteb/benchmarks/leaderboard_menu.py
  pyproject.toml
Due: lint, format-benchmarks-citations

correct file format
  mteb/models/model_implementations/bge_vl_models.py
Due: lint

fix
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/bge_vl_models.py
Due: lint

fix typing
  mteb/abstasks/regression.py
Due: lint

limit args
  mteb/cli/generate_model_card.py
  mteb/models/model_meta.py
Due: lint

simplify pushing
  mteb/models/model_meta.py
Due: lint

docs: update links in README for task and usage sections
  README.md
Due: none

upd links
  README.md
Due: none

docs: update links in README for task and usage sections (#4342)
  README.md
Due: none

fix imports
  mteb/benchmarks/leaderboard_menu.py
  mteb/leaderboard/app.py
  mteb/leaderboard/benchmark_selector.py
Due: lint, format-benchmarks-citations

test lowest deps
  .github/workflows/test_lowest.yml
Due: none

custom cache
  .github/workflows/test_lowest.yml
Due: none

upd name
  .github/workflows/test_lowest.yml
Due: none

switch to pip
  .github/workflows/test_lowest.yml
Due: none

add venv creation
  .github/workflows/test_lowest.yml
Due: none

change resolution type
  .github/workflows/test_lowest.yml
Due: none

bump scipy
  pyproject.toml
Due: none

add transformers to dependencies
  pyproject.toml
Due: none

bump torch
  pyproject.toml
Due: none

lower transformers version
  pyproject.toml
Due: none

bump pydantic
  pyproject.toml
Due: none

try to fix
  mteb/models/compression_wrappers/compression_wrapper.py
  mteb/models/model_meta.py
  tests/test_abstasks/test_predictions.py
Due: lint

format
  mteb/models/model_meta.py
  tests/test_abstasks/test_predictions.py
Due: lint

make menu private
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmark.py
  mteb/leaderboard/app.py
  mteb/leaderboard/benchmark_selector.py
Due: lint, format-benchmarks-citations

2.12.9
  pyproject.toml
Due: none

fix branch history
  pyproject.toml
  tests/test_abstasks/test_task_metadata.py
  tests/test_integrations/test_dtype_encoders.py
  tests/test_integrations/test_encode_args_passed.py
  tests/test_integrations/test_image_model_task.py
  tests/test_integrations/test_integration_with_sentencetransformers.py
  tests/test_models/test_compression_wrapper.py
Due: lint

add comment to action
  .github/workflows/test_lowest.yml
Due: none

try to fix
  tests/test_integrations/test_dtype_encoders.py
Due: lint

add bitextparser
  pyproject.toml
Due: none

fix lint
  mteb/models/model_meta.py
Due: lint

merge main
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix display name
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

init benchmark eval results
  mteb/abstasks/abstask.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/models/model_meta.py
  mteb/results/model_result.py
Due: lint, format-benchmarks-citations

fix: remove unnecessary typos extend-words for language codes
  pyproject.toml
Due: none
