Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Add tests and documentation
  docs/usage/defining_the_model.md
  tests/test_models/test_model_loader_detection.py
Due: lint

model: added Querit/Querit (#3996)
  mteb/models/model_implementations/querit_models.py
Due: lint

build image on leaderboard refresh
  .github/workflows/leaderboard_refresh.yaml
Due: none

Build image on leaderboard refresh (#4015)
  .github/workflows/leaderboard_refresh.yaml
Due: none

lint
  mteb/abstasks/pair_classification.py
  mteb/models/model_implementations/salesforce_models.py
Due: lint

simplified tests
  tests/test_models/test_model_loader_detection.py
  tests/test_models/test_model_meta.py
Due: lint

updated docs
  docs/advanced_usage/two_stage_reranking.md
  docs/index.md
  docs/usage/defining_the_model.md
  docs/usage/get_started.md
  docs/usage/running_the_evaluation.md
  docs/usage/selecting_tasks.md
  mkdocs.yml
Due: none

fix docs
  docs/advanced_usage/two_stage_reranking.md
  docs/index.md
  docs/usage/defining_the_model.md
Due: none

fix
  docs/usage/defining_the_model.md
Due: none

2.7.13
  pyproject.toml
Due: none

fix grammar
  docs/advanced_usage/two_stage_reranking.md
Due: none

Update docs/usage/defining_the_model.md
  docs/usage/defining_the_model.md
Due: none

Update docs/advanced_usage/two_stage_reranking.md
  docs/advanced_usage/two_stage_reranking.md
Due: none

Update docs/index.md
  docs/index.md
Due: none

address comments
  docs/usage/defining_the_model.md
  mteb/models/model_meta.py
Due: lint

fix: Make `mteb.get_model` compatible with `CrossEncoders` (#3988)
  docs/advanced_usage/two_stage_reranking.md
  docs/index.md
  docs/usage/defining_the_model.md
  docs/usage/get_started.md
  docs/usage/running_the_evaluation.md
  docs/usage/selecting_tasks.md
  mkdocs.yml
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

Changed model_validate to model_validate_json
  mteb/results/model_result.py
  mteb/results/task_result.py
Due: lint

fix tests
  mteb/results/task_result.py
Due: lint

Add multilabel classification column to MAEB LaTeX table
  scripts/generate_maeb_latex_table.py
Due: lint

remove duplicate path
  mteb/results/model_result.py
Due: lint

Correct array typing
  mteb/_evaluators/classification_metrics.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/_evaluators/retrieval_metrics.py
  mteb/_evaluators/sklearn_evaluator.py
  mteb/abstasks/_stratification.py
  mteb/abstasks/classification.py
  mteb/abstasks/multilabel_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/regression.py
  mteb/models/cache_wrappers/cache_backend_protocol.py
  mteb/models/cache_wrappers/cache_backends/faiss_cache.py
  mteb/models/cache_wrappers/cache_backends/numpy_cache.py
  mteb/models/cache_wrappers/cache_wrapper.py
  mteb/models/model_implementations/bedrock_models.py
  mteb/models/model_implementations/mcinext_models.py
  mteb/models/model_implementations/openai_models.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/model_implementations/seed_models.py
  mteb/models/model_implementations/voyage_models.py
  mteb/types/_encoder_io.py
  tests/mock_models.py
  tests/test_evaluators/test_ClusteringEvaluator.py
Due: lint

revert typo fix
  mteb/models/model_implementations/salesforce_models.py
  pyproject.toml
Due: lint

rename Human to baseline/Human
  mteb/models/model_implementations/human.py
  mteb/models/model_meta.py
Due: lint

rename bm25s to baseline/bm25s (#4007)
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/bm25.py
  mteb/models/model_implementations/human.py
  mteb/models/model_meta.py
Due: lint

Fix support for datsets 4.5 with pandas 3 (#3983)
  mteb/abstasks/pair_classification.py
  mteb/tasks/pair_classification/fas/fars_tail.py
  pyproject.toml
  tests/test_search_index/test_search_index.py
Due: lint, format-tasks-citations

fix typing
  mteb/_create_dataloaders.py
  mteb/abstasks/classification.py
Due: lint

fix test import
  tests/test_integrations/test_encode_args_passed.py
Due: lint

Added arrat typing in docs
  docs/contributing/adding_a_model.md
  docs/usage/defining_the_model.md
Due: none

fix typechecking
  mteb/_evaluators/classification_metrics.py
Due: lint

Add to_disk and from_disk to ModelResults (#3973)
  mteb/results/model_result.py
  mteb/results/task_result.py
Due: lint

2.7.14
  pyproject.toml
Due: none

MAEB task selection (#3867)
  .gitignore
  Makefile
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/leaderboard/app.py
  mteb/leaderboard/benchmark_selector.py
  mteb/leaderboard/figures.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/__init__.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/jam_alt.py
  mteb/tasks/audio/audio_classification/zxx/__init__.py
  mteb/tasks/audio/audio_classification/zxx/urban_sound8k.py
  pyproject.toml
  scripts/analyze_maeb_task_selection.py
  scripts/calculate_eval_times.py
  scripts/calculate_maeb_correlation.py
  scripts/generate_maeb_latex_table.py
  scripts/generate_maeb_overview_tables.py
  scripts/maeb_eval_time_analysis.py
  scripts/plot_maeb_language_counts.py
  scripts/print_maeb_domain_distribution.py
  scripts/task_selection/benchmark_lite_vs_extended_correlation.py
  scripts/task_selection/task_selection_maeb_corr_and_cluster_mieb_method.py
Due: lint, format-benchmarks-citations, format-tasks-citations

ci: Pre-commit should not be forced
  Makefile
Due: none
