Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

run lint
  mteb/tasks/pair_classification/__init__.py
Due: lint, format-tasks-citations

Update Automated PR description content
  mteb/cache/result_cache.py
Due: lint

fix PR body content
  mteb/cache/result_cache.py
Due: lint

fix: Ensure that experiments_kwargs are passed for get_model_meta
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

Revert "fix: Ensure that experiments_kwargs are passed for get_model_meta"
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

fix: Ensure that experiments_kwargs are passed for get_model_meta
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

2.12.1
  pyproject.toml
Due: none

Fix tests
  tests/test_leaderboard/test_integration.py
  tests/test_result_cache_load_from_cache.py
Due: lint

Add models from BGE-VL family
  mteb/models/model_implementations/bge_vl_models.py
Due: lint

Add models to _MISSING_N_EMBEDDING_MODELS list
  mteb/models/model_implementations/bge_vl_models.py
  tests/test_models/test_model_meta.py
Due: lint

fix tests
  tests/test_result_cache.py
Due: lint

remove test files from tests
  .gitignore
Due: none

fix based on comment
  mteb/models/model_meta.py
Due: lint

fix: Add Thai to leaderboard language selector (#4265)
  mteb/leaderboard/benchmark_selector.py
Due: lint

ci: update actions for node v24 (#4303)
  .github/workflows/documentation.yml
  .github/workflows/hf_space_docker.yml
  .github/workflows/leaderboard_docker.yml
  .github/workflows/leaderboard_refresh.yaml
  .github/workflows/stale_pr.yml
  .github/workflows/test.yml
Due: none

make sure model meta is only assigned in load_model
  mteb/models/get_model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

2.12.2
  pyproject.toml
Due: none

re-add loader kwargs
  mteb/models/model_meta.py
Due: lint

Added checklist in PR body
  mteb/cache/result_cache.py
Due: lint

fix indentation
  mteb/cache/result_cache.py
Due: lint

add fixes from comments
  docs/overview/index.md
  mteb/abstasks/task_metadata.py
Due: lint

re-order and fix links
  docs/overview/index.md
  mkdocs.yml
Due: none

added description for tasks pages and removed autogenerated segments
  docs/overview/available_tasks/classification.md
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/pair-classification.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/semantic-similarity.md
Due: none

lint
  mteb/abstasks/task_metadata.py
Due: lint

2.12.3
  pyproject.toml
Due: none

docs: Simplify task types in documentation (#4212)
  .gitignore
  docs/overview/available_tasks/classification.md
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/pair-classification.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/semantic-similarity.md
  docs/overview/create_available_tasks.py
  docs/overview/index.md
  mkdocs.yml
  mteb/abstasks/task_metadata.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/models/model_meta.py
  pyproject.toml
  tests/mock_tasks.py
  tests/task_grid.py
  tests/test_tasks/test_metadata.py
Due: lint, format-benchmarks-citations

remove unused icon for models
  docs/overview/create_available_models.py
Due: lint

fix: update `public_training_code` for F2LLM models
  mteb/models/model_implementations/codefuse_models.py
Due: lint

docs: Remove unused icon for models (#4312)
  docs/overview/create_available_models.py
Due: lint

Make ModelMeta hashable
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

apply changes from copilot review
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

convert embed_dim to hashable
  mteb/models/model_meta.py
Due: lint

apply changes from review
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

activate t20 rules
  mteb/models/model_implementations/google_models.py
  mteb/tasks/classification/eng/iemocap_gender.py
  mteb/tasks/pair_classification/por/sick_br_pc.py
  mteb/tasks/retrieval/slk/sk_quad_retrieval.py
  pyproject.toml
  tests/test_abstasks/test_task_metadata.py
  tests/test_models/model_loading.py
Due: lint, format-tasks-citations

activate flake8-bandit rules
  mteb/_evaluators/_download.py
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/clustering.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/text/reranking.py
  mteb/cache.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/conan_models.py
  mteb/models/model_implementations/gme_v_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/listconranker.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/nvidia_nemotron_vl_models.py
  mteb/models/model_implementations/rerankers_custom.py
  mteb/models/model_implementations/rerankers_monot5_based.py
  mteb/models/model_implementations/seed_1_6_embedding_models.py
  mteb/models/model_implementations/seed_1_6_embedding_models_1215.py
  mteb/models/model_implementations/seed_models.py
  mteb/models/vllm_wrapper.py
  mteb/tasks/classification/ind/indonesian_mongabay_conservation_classification.py
  mteb/tasks/clustering/nob/snl_clustering.py
  mteb/tasks/clustering/nob/vg_clustering.py
  mteb/tasks/retrieval/deu/german_gov_service_retrieval.py
  pyproject.toml
Due: lint, format-tasks-citations

fix tests
  tests/test_evaluators/test_ClassificationEvaluator.py
  tests/test_evaluators/test_PairClassificationEvaluator.py
Due: lint
