Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

2.0.4
  pyproject.toml
Due: none

make mteb importable
  mteb/abstasks/audio/abs_task_adio_reranking.py
  mteb/abstasks/audio/abs_task_audio_clustering.py
  mteb/abstasks/audio/abs_task_audio_pair_classification.py
  mteb/abstasks/audio/abs_task_multilabel_classification.py
  mteb/abstasks/audio/abs_task_zero_shot_classification.py
  mteb/abstasks/image/abs_task_any2any_retrieval.py
  mteb/evaluation/evaluators/audio/audio_pair_classification_evaluator.py
  mteb/evaluation/evaluators/audio/classification_evaluator.py
  mteb/evaluation/evaluators/audio/clustering_evaluator.py
  mteb/evaluation/evaluators/audio/zeroshot_classification_evaluator.py
  mteb/evaluation/evaluators/image/any2any_retrieval_evaluator.py
  mteb/models/model_implementations/ast_model.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/encodec_model.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/msclap_models.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/unispeech_models.py
  mteb/models/model_implementations/vggish_models.py
  mteb/models/model_implementations/wav2clip_model.py
  mteb/models/model_implementations/wav2vec2_models.py
  mteb/models/model_implementations/yamnet_models.py
  mteb/tasks/classification/rus/__init__.py
  tests/test_models/test_encoder_interface.py
  tests/test_models/test_search_wrapper_encode.py
Due: lint, format-tasks-citations

add audio to test dependencies
  Makefile
Due: none

remove metadata_dict
  mteb/abstasks/audio/abs_task_adio_reranking.py
  mteb/abstasks/audio/abs_task_audio_classification.py
  mteb/abstasks/audio/abs_task_audio_clustering.py
  mteb/abstasks/audio/abs_task_audio_pair_classification.py
  mteb/abstasks/audio/abs_task_multilabel_classification.py
  mteb/abstasks/audio/abs_task_zero_shot_classification.py
  mteb/abstasks/image/abs_task_any2any_retrieval.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/jam_alt.py
  mteb/tasks/audio/audio_multilabel_classification/eng/fsd2019_kaggle.py
  tests/test_models/test_search_wrapper_encode.py
Due: lint, format-tasks-citations

Ignore overview docs
  .gitignore
  docs/overview/available_benchmarks.md
  docs/overview/available_models/image.md
  docs/overview/available_models/image_text.md
  docs/overview/available_models/text.md
  docs/overview/available_tasks/any2anymultilingualretrieval.md
  docs/overview/available_tasks/any2anyretrieval.md
  docs/overview/available_tasks/bitextmining.md
  docs/overview/available_tasks/classification.md
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/compositionality.md
  docs/overview/available_tasks/documentunderstanding.md
  docs/overview/available_tasks/imageclassification.md
  docs/overview/available_tasks/imageclustering.md
  docs/overview/available_tasks/instructionreranking.md
  docs/overview/available_tasks/instructionretrieval.md
  docs/overview/available_tasks/multilabelclassification.md
  docs/overview/available_tasks/pairclassification.md
  docs/overview/available_tasks/regression.md
  docs/overview/available_tasks/reranking.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/sts.md
  docs/overview/available_tasks/summarization.md
  docs/overview/available_tasks/visioncentricqa.md
  docs/overview/available_tasks/visualsts(eng).md
  docs/overview/available_tasks/visualsts(multi).md
  docs/overview/available_tasks/zeroshotclassification.md
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_models.py
  docs/overview/create_available_tasks.py
Due: lint

fix tests
  mteb/abstasks/audio/abs_task_audio_classification.py
  mteb/abstasks/audio/abs_task_audio_clustering.py
  mteb/abstasks/audio/abs_task_audio_pair_classification.py
  mteb/abstasks/audio/abs_task_multilabel_classification.py
  mteb/abstasks/audio/abs_task_zero_shot_classification.py
  mteb/tasks/classification/rus/inappropriateness_classification.py
Due: lint, format-tasks-citations

fix license
  pyproject.toml
Due: none

fix tests
  mteb/abstasks/image/abs_task_any2any_retrieval.py
  mteb/tasks/classification/rus/__init__.py
  tests/test_models/test_search_wrapper_encode.py
Due: lint, format-tasks-citations

make torchaudio optional
  mteb/evaluation/evaluators/audio/classification_evaluator.py
  mteb/evaluation/evaluators/dataset_utils.py
  mteb/models/model_implementations/ast_model.py
  mteb/models/model_implementations/clap_models.py
  mteb/models/model_implementations/cnn14_model.py
  mteb/models/model_implementations/data2vec_models.py
  mteb/models/model_implementations/encodec_model.py
  mteb/models/model_implementations/hubert_models.py
  mteb/models/model_implementations/mctct_model.py
  mteb/models/model_implementations/mms_models.py
  mteb/models/model_implementations/msclap_models.py
  mteb/models/model_implementations/muq_mulan_model.py
  mteb/models/model_implementations/qwen2_models.py
  mteb/models/model_implementations/seamlessm4t_models.py
  mteb/models/model_implementations/sewd_models.py
  mteb/models/model_implementations/speecht5_models.py
  mteb/models/model_implementations/wavlm_models.py
  mteb/models/model_implementations/whisper_models.py
  mteb/models/model_implementations/yamnet_models.py
Due: lint

fix retrieval init
  mteb/abstasks/image/abs_task_any2any_retrieval.py
Due: lint

fix imports
  mteb/evaluation/evaluators/audio/clustering_evaluator.py
  mteb/evaluation/evaluators/image/any2any_retrieval_evaluator.py
Due: lint

update root init
  mteb/__init__.py
Due: lint

fix retrieval task and torch audio
  mteb/evaluation/evaluators/image/any2any_retrieval_evaluator.py
  mteb/models/model_implementations/unispeech_models.py
Due: lint

Correcting the get_tasks filtering issue
  tests/test_overview_filters.py
Due: lint

Descriptive stats, last part
  mteb/descriptive_stats/Classification/ImdbClassification.json
  mteb/descriptive_stats/Clustering/ArxivClusteringP2P.json
  mteb/descriptive_stats/Clustering/ArxivClusteringP2P.v2.json
  mteb/descriptive_stats/Clustering/ArxivClusteringS2S.json
  mteb/descriptive_stats/Clustering/MLSUMClusteringP2P.json
  mteb/descriptive_stats/Clustering/RedditClusteringP2P.json
  mteb/descriptive_stats/Clustering/SNLClustering.json
  mteb/descriptive_stats/Clustering/VGClustering.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/WITT2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MemotionI2TRetrieval.json
  mteb/descriptive_stats/Image/ImageClassification/Imagenet1k.json
  mteb/descriptive_stats/Image/ZeroShotClassification/Imagenet1kZeroShot.json
  mteb/descriptive_stats/Reranking/MIRACLReranking.json
  mteb/descriptive_stats/Reranking/MindSmallReranking.json
  mteb/descriptive_stats/Retrieval/AlloprofRetrieval.json
  mteb/descriptive_stats/Retrieval/DanFEVER.json
  mteb/descriptive_stats/Retrieval/MIRACLRetrieval.json
  mteb/descriptive_stats/Retrieval/MSMARCO-Fa.json
  mteb/descriptive_stats/Retrieval/MSMARCO.json
  mteb/descriptive_stats/Retrieval/Touche2020.json
  mteb/descriptive_stats/Summarization/SummEval.json
  mteb/descriptive_stats/Summarization/SummEvalFr.json
Due: none

Descriptive stats, last part
  mteb/descriptive_stats/Image/DocumentUnderstanding/JinaVDRAirbnbSyntheticRetrieval.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/JinaVDRGitHubReadmeRetrieval.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/JinaVDRTweetStockSyntheticsRetrieval.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/JinaVDRWikimediaCommonsDocumentsRetrieval.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore2ESGReportsRetrieval.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore2EconomicsReportsRetrieval.json
  mteb/descriptive_stats/Retrieval/Code1Retrieval.json
  mteb/descriptive_stats/Retrieval/EnglishFinance1Retrieval.json
  mteb/descriptive_stats/Retrieval/EnglishFinance2Retrieval.json
  mteb/descriptive_stats/Retrieval/EnglishFinance3Retrieval.json
  mteb/descriptive_stats/Retrieval/EnglishFinance4Retrieval.json
  mteb/descriptive_stats/Retrieval/EnglishHealthcare1Retrieval.json
  mteb/descriptive_stats/Retrieval/French1Retrieval.json
  mteb/descriptive_stats/Retrieval/FrenchLegal1Retrieval.json
  mteb/descriptive_stats/Retrieval/German1Retrieval.json
  mteb/descriptive_stats/Retrieval/GermanHealthcare1Retrieval.json
  mteb/descriptive_stats/Retrieval/GermanLegal1Retrieval.json
  mteb/descriptive_stats/Retrieval/JapaneseCode1Retrieval.json
  mteb/descriptive_stats/Retrieval/JapaneseLegal1Retrieval.json
Due: none

move more torcaudio imports
  mteb/models/model_implementations/vggish_models.py
  mteb/models/model_implementations/wav2clip_model.py
  mteb/models/model_implementations/wav2vec2_models.py
Due: lint

readd
  mteb/models/model_implementations/kalm_models.py
Due: lint

model: Kalm model (#3461)
  mteb/models/model_implementations/kalm_models.py
Due: lint

add statistics
  mteb/descriptive_stats/BitextMining/BUCC.json
  mteb/descriptive_stats/Classification/DKHateClassification.json
  mteb/descriptive_stats/Classification/FinancialPhrasebankClassification.json
  mteb/descriptive_stats/Classification/KorHateClassification.json
  mteb/descriptive_stats/Clustering/SwednClustering.json
  mteb/tasks/bitext_mining/multilingual/bucc_bitext_mining.py
  mteb/tasks/classification/eng/financial_phrasebank_classification.py
  mteb/tasks/classification/kor/kor_hate_classification.py
  mteb/tasks/clustering/swe/swedn_clustering.py
  mteb/tasks/zeroshot_classification/eng/templates/PatchCamelyon_labels.txt
Due: lint, format-tasks-citations

add PatchCamelyonZeroShot stats
  mteb/descriptive_stats/Image/ZeroShotClassification/PatchCamelyonZeroShot.json
Due: none

Add more statistics (#3462)
  mteb/descriptive_stats/BitextMining/BUCC.json
  mteb/descriptive_stats/Classification/DKHateClassification.json
  mteb/descriptive_stats/Classification/FinancialPhrasebankClassification.json
  mteb/descriptive_stats/Classification/KorHateClassification.json
  mteb/descriptive_stats/Clustering/SwednClustering.json
  mteb/descriptive_stats/Image/ZeroShotClassification/PatchCamelyonZeroShot.json
  mteb/tasks/bitext_mining/multilingual/bucc_bitext_mining.py
  mteb/tasks/classification/eng/financial_phrasebank_classification.py
  mteb/tasks/classification/kor/kor_hate_classification.py
  mteb/tasks/clustering/swe/swedn_clustering.py
  mteb/tasks/zeroshot_classification/eng/templates/PatchCamelyon_labels.txt
Due: lint, format-tasks-citations

fix tasks
  mteb/tasks/retrieval/eng/oven_it2t_retrieval.py
  mteb/tasks/retrieval/multilingual/x_flickr30k_co_t2i_retrieval.py
  mteb/tasks/retrieval/multilingual/xm3600_t2i_retrieval.py
Due: lint, format-tasks-citations

clustering tasks for MTEB-NL
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/clustering/__init__.py
  mteb/tasks/clustering/nld/DutchNewsArticlesClusteringP2P.py
  mteb/tasks/clustering/nld/DutchNewsArticlesClusteringS2S.py
  mteb/tasks/clustering/nld/IconclassClusteringS2S.py
  mteb/tasks/clustering/nld/OpenTenderClusteringP2P.py
  mteb/tasks/clustering/nld/OpenTenderClusteringS2S.py
  mteb/tasks/clustering/nld/VABBClusteringP2P.py
  mteb/tasks/clustering/nld/VABBClusteringS2S.py
  mteb/tasks/clustering/nld/__init__.py
Due: lint, format-benchmarks-citations, format-tasks-citations

classification tasks for MTEB-NL
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/classification/nld/DutchColaClassification.py
  mteb/tasks/classification/nld/DutchGovernmentBiasClassification.py
  mteb/tasks/classification/nld/DutchNewsArticlesClassification.py
  mteb/tasks/classification/nld/DutchSarcasticHeadlinesClassification.py
  mteb/tasks/classification/nld/IconclassClassification.py
  mteb/tasks/classification/nld/OpenTenderClassification.py
  mteb/tasks/classification/nld/VaccinChatNLClassification.py
  mteb/tasks/classification/nld/__init__.py
Due: lint, format-benchmarks-citations, format-tasks-citations

pair classification tasks for MTEB-NL
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/pair_classification/__init__.py
  mteb/tasks/pair_classification/nld/SICKNLPairClassification.py
  mteb/tasks/pair_classification/nld/XLWICNLPairClassification.py
  mteb/tasks/pair_classification/nld/__init__.py
Due: lint, format-benchmarks-citations, format-tasks-citations

sts tasks for MTEB-NL
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/sts/__init__.py
  mteb/tasks/sts/nld/SICKNLSTS.py
  mteb/tasks/sts/nld/__init__.py
Due: lint, format-benchmarks-citations, format-tasks-citations

ml classification tasks for MTEB-NL
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/multilabel_classification/__init__.py
  mteb/tasks/multilabel_classification/nld/CovidDisinformationNLMultiLabelClassification.py
  mteb/tasks/multilabel_classification/nld/VABBMultiLabelClassification.py
  mteb/tasks/multilabel_classification/nld/__init__.py
Due: lint, format-benchmarks-citations, format-tasks-citations

final statistics
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/XFlickr30kCoT2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/XM3600T2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/OVENIT2TRetrieval.json
Due: none

cherry-picked commits from MTEB-NL for tasks
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/retrieval/nld/BBSARDNLRetrieval.py
  mteb/tasks/retrieval/nld/DutchNewsArticlesRetrieval.py
  mteb/tasks/retrieval/nld/LegalQANLRetrieval.py
  mteb/tasks/retrieval/nld/OpenTenderRetrieval.py
  mteb/tasks/retrieval/nld/VABBRetrieval.py
  mteb/tasks/retrieval/nld/__init__.py
Due: lint, format-benchmarks-citations, format-tasks-citations

descriptive stats for MTEB-NL
  mteb/descriptive_stats/Classification/DutchColaClassification.json
  mteb/descriptive_stats/Classification/DutchGovernmentBiasClassification.json
  mteb/descriptive_stats/Classification/DutchNewsArticlesClassification.json
  mteb/descriptive_stats/Classification/DutchSarcasticHeadlinesClassification.json
  mteb/descriptive_stats/Classification/IconclassClassification.json
  mteb/descriptive_stats/Classification/OpenTenderClassification.json
  mteb/descriptive_stats/Classification/VaccinChatNLClassification.json
  mteb/descriptive_stats/Clustering/DutchNewsArticlesClusteringP2P.json
  mteb/descriptive_stats/Clustering/DutchNewsArticlesClusteringS2S.json
  mteb/descriptive_stats/Clustering/IconclassClusteringS2S.json
  mteb/descriptive_stats/Clustering/OpenTenderClusteringP2P.json
  mteb/descriptive_stats/Clustering/OpenTenderClusteringS2S.json
  mteb/descriptive_stats/Clustering/VABBClusteringP2P.json
  mteb/descriptive_stats/Clustering/VABBClusteringS2S.json
  mteb/descriptive_stats/MultilabelClassification/CovidDisinformationNLMultiLabelClassification.json
  mteb/descriptive_stats/MultilabelClassification/VABBMultiLabelClassification.json
  mteb/descriptive_stats/PairClassification/SICKNLPairClassification.json
  mteb/descriptive_stats/PairClassification/XLWICNLPairClassification.json
  mteb/descriptive_stats/Retrieval/DutchNewsArticlesRetrieval.json
  mteb/descriptive_stats/Retrieval/LegalQANLRetrieval.json
  mteb/descriptive_stats/Retrieval/OpenTenderRetrieval.json
  mteb/descriptive_stats/Retrieval/VABBRetrieval.json
  mteb/descriptive_stats/Retrieval/bBSARDNLRetrieval.json
  mteb/descriptive_stats/STS/SICK-NL-STS.json
Due: none

Update mteb/tasks/classification/nld/DutchColaClassification.py
  mteb/tasks/classification/nld/DutchColaClassification.py
Due: lint, format-tasks-citations

Update mteb/tasks/sts/nld/SICKNLSTS.py
  mteb/tasks/sts/nld/SICKNLSTS.py
Due: lint, format-tasks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
