Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

fix: patch get_model_metas where it's looked up, not where it's defined
  tests/test_result_cache_load_from_cache.py
Due: lint

Update mteb/abstasks/task_metadata.py
  mteb/abstasks/task_metadata.py
Due: lint

fixed headings
  docs/overview/available_tasks/classification.md
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/pair-classification.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/semantic-similarity.md
  docs/overview/create_available_tasks.py
Due: lint

fix: use @deprecated decorator instead of warnings.warn
  mteb/models/sentence_transformer_wrapper.py
Due: lint

Update mteb/tasks/pair_classification/ukr/nli_translated.py
  mteb/tasks/pair_classification/ukr/nli_translated.py
Due: lint, format-tasks-citations

format
  docs/overview/available_tasks/classification.md
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/pair-classification.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/semantic-similarity.md
  docs/overview/create_available_tasks.py
  mteb/abstasks/task_metadata.py
  mteb/benchmarks/benchmarks/benchmarks.py
  pyproject.toml
  tests/mock_tasks.py
Due: lint, format-benchmarks-citations

fix: resolve API models in performance-over-time plot (#4276)
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/leaderboard/app.py
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
  scripts/make_leaderboard.py
Due: lint, format-benchmarks-citations

fix: resolve circular imports and add CI enforcement (#4277)
  mteb/abstasks/task_metadata.py
  mteb/benchmarks/_create_table.py
  mteb/cache.py
  mteb/deprecated_evaluator.py
  mteb/models/abs_encoder.py
  mteb/results/task_result.py
  tests/test_result_cache_load_from_cache.py
Due: lint, format-benchmarks-citations

fix: skip single-label cluster sets in legacy clustering evaluation (#4254)
  mteb/abstasks/clustering_legacy.py
Due: lint

2.11.8
  pyproject.toml
Due: none

update docs
  docs/get_started/advanced_usage/compress_embeddings.md
  docs/whats_new.md
Due: none

pin uv docker
  Dockerfile
Due: none

try
  Dockerfile
Due: none

Pin uv docker (#4301)
  Dockerfile
Due: none

fix: satisfy ruff TC001 for PromptType in VDRModel
  mteb/models/model_implementations/vdr_models.py
Due: lint

fix removed MockMultilingualImageMultilabelClassificationTask
  mteb/benchmarks/benchmarks/benchmarks.py
  tests/mock_tasks.py
  tests/task_grid.py
Due: lint, format-benchmarks-citations

fix: update dataset card with descriptive category and paper title reference (#4274)
  mteb/abstasks/task_metadata.py
Due: lint

2.11.9
  pyproject.toml
Due: none

fix spelling lint errors
  pyproject.toml
Due: none

spelling lint
  pyproject.toml
Due: none

better handle of kwargs
  mteb/models/compression_wrappers/compression_wrapper.py
Due: lint

2.11.10
  pyproject.toml
Due: none

fix typing
  mteb/models/compression_wrappers/compression_wrapper.py
Due: lint

Raise error on invalid clipping margins
  mteb/models/compression_wrappers/compression_wrapper.py
  tests/test_models/test_compression_wrapper.py
Due: lint

Fix lint
  tests/test_models/test_compression_wrapper.py
Due: lint

model: Add qihoo360/Zhinao-ChineseModernBert-Embedding (#4266)
  mteb/models/model_implementations/zhinao_modernbert_models.py
Due: lint

feat: Evaluate Compression Methods on Retrieval Tasks (#3950)
  docs/CONTRIBUTING.md
  docs/api/model.md
  docs/contributing/adding_a_model.md
  docs/get_started/advanced_usage/compress_embeddings.md
  docs/whats_new.md
  mteb/models/__init__.py
  mteb/models/compression_wrappers/__init__.py
  mteb/models/compression_wrappers/compression_wrapper.py
  mteb/models/model_implementations/cohere_models.py
  mteb/models/model_implementations/cohere_v.py
  mteb/models/model_implementations/voyage_models.py
  mteb/models/model_meta.py
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
  mteb/types/__init__.py
  mteb/types/_encoder_io.py
  tests/test_models/test_compression_wrapper.py
  tests/test_models/test_model_meta.py
Due: lint

2.12.0
  pyproject.toml
Due: none

update actions
  .github/workflows/documentation.yml
  .github/workflows/hf_space_docker.yml
  .github/workflows/leaderboard_docker.yml
  .github/workflows/leaderboard_refresh.yaml
  .github/workflows/stale_pr.yml
  .github/workflows/test.yml
Due: none

Showing loading screen while changing benchmark
  mteb/leaderboard/app.py
Due: lint

change to release version
  .github/workflows/documentation.yml
Due: none

change back to commit
  .github/workflows/documentation.yml
Due: none

Refactor using command pattern
  mteb/cache/__init__.py
  mteb/cache/_git_actions.py
  mteb/cache/_reversible_workflow.py
  mteb/cache/result_cache.py
  mteb/models/model_meta.py
  pyproject.toml
  tests/test_result_cache.py
Due: lint

Add experiment_kwargs in ModelMeta hash
  mteb/models/model_meta.py
Due: lint

fix fork command
  mteb/cache/result_cache.py
Due: lint

fix typechecking
  mteb/cache/result_cache.py
Due: lint
