Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix dataset card creation
  mteb/abstasks/task_metadata.py
Due: lint

Deployed 661b0f8a6 with MkDocs version: 1.6.1
  404.html
  api/benchmark/index.html
  api/index.html
  api/model/index.html
  api/results/index.html
  api/task/index.html
  api/types/index.html
  index.html
  installation/index.html
  objects.inv
  overview/available_tasks/index.html
  overview/create_available_tasks.py
  search/search_index.json
  sitemap.xml.gz
  usage/cli/index.html
  usage/defining_the_model/index.html
  usage/get_started/index.html
  usage/leaderboard/index.html
  usage/loading_results/index.html
  usage/running_the_evaluation/index.html
  usage/selecting_tasks/index.html
  whats_new/index.html
Due: lint

[v2]: Added task overview to docs
  .github/workflows/docs.yml
  .github/workflows/documentation.yml
  Makefile
  docs/overview/available_tasks.md
  docs/overview/create_available_tasks.py
  mkdocs.yml
Due: lint

[v2] Support dialogs with different lengths (#3156)
  mteb/create_dataloaders.py
  mteb/tasks/Classification/multilingual/IndicSentimentClassification.py
  tests/test_benchmark/mock_models.py
  tests/test_benchmark/mock_tasks.py
  tests/test_benchmark/test_benchmark_integration_with_datasets.py
Due: lint, format-tasks-citations

fix python script reference
  Makefile
Due: none

minor ci fiks
  .github/workflows/docs.yml
Due: none

fix dataset card creation (#3162)
  mteb/abstasks/task_metadata.py
Due: lint

fix dataset uploading
  mteb/abstasks/AbsTask.py
  mteb/abstasks/AbsTaskRetrieval.py
  mteb/abstasks/task_metadata.py
Due: lint

add `MulimodalSentenceTransformer` and `mme5` (#3159)
  mteb/models/model_implementations/mme5_models.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

ast model truncation fix
  mteb/models/ast_model.py
Due: lint

CNN14 truncation fix
  mteb/models/cnn14_model.py
Due: lint

data2vec truncation fix
  mteb/models/data2vec_models.py
Due: lint

data2vec + wav2vec truncation fixes
  mteb/models/data2vec_models.py
  mteb/models/wav2vec2_models.py
Due: lint

encodec truncation fixed
  mteb/models/encodec_model.py
Due: lint

encodec model truncation fix
  mteb/models/encodec_model.py
Due: lint

hubert model truncation fix
  mteb/models/hubert_models.py
Due: lint

mctct truncation fix
  mteb/models/mctct_model.py
Due: lint

mms model truncation fix
  mteb/models/mms_models.py
Due: lint

qwen2 + whisper truncation fixes
  mteb/models/qwen2_models.py
  mteb/models/whisper_models.py
Due: lint

sewd truncaton fix
  mteb/models/sewd_models.py
Due: lint

unispeech + wavlm truncation fix
  mteb/models/unispeech_models.py
  mteb/models/wavlm_models.py
Due: lint

yamnet and vggish model truncation
  mteb/models/vggish_models.py
  mteb/models/yamnet_models.py
Due: lint

lint
  mteb/models/encodec_model.py
  mteb/models/mctct_model.py
Due: lint

add dark theme
  mkdocs.yml
Due: none

restructure based on feedback
  docs/overview/available_models/any2anymultilingualretrieval.md
  docs/overview/available_tasks.md
  docs/overview/available_tasks/any2anymultilingualretrieval.md
  docs/overview/available_tasks/any2anyretrieval.md
  docs/overview/available_tasks/bitextmining.md
  docs/overview/available_tasks/classification.md
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/compositionality.md
  docs/overview/available_tasks/documentunderstanding.md
  docs/overview/available_tasks/imageclassification.md
  docs/overview/available_tasks/imageclustering.md
  docs/overview/available_tasks/instructionreranking.md
  docs/overview/available_tasks/instructionretrieval.md
  docs/overview/available_tasks/multilabelclassification.md
  docs/overview/available_tasks/pairclassification.md
  docs/overview/available_tasks/regression.md
  docs/overview/available_tasks/reranking.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/sts.md
  docs/overview/available_tasks/summarization.md
  docs/overview/available_tasks/visioncentricqa.md
  docs/overview/available_tasks/visualsts(eng).md
  docs/overview/available_tasks/visualsts(multi).md
  docs/overview/available_tasks/zeroshotclassification.md
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_models.py
  docs/overview/implemented_models.py
  docs/overview/index.md
  mkdocs.yml
  pyproject.toml
Due: lint

added models overview
  docs/overview/available_benchmarks.md
  docs/overview/available_models/any2anymultilingualretrieval.md
  docs/overview/available_models/image.md
  docs/overview/available_models/image_text.md
  docs/overview/available_models/text.md
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_models.py
  docs/overview/create_available_tasks.py
  docs/overview/implemented_models.py
  mkdocs.yml
Due: lint

upload bitext as parallel
  mteb/abstasks/AbsTaskBitextMining.py
Due: lint

add benchmark overview
  Makefile
  docs/overview/available_benchmarks.md
  docs/overview/create_available_benchmarks.py
  docs/overview/create_available_models.py
  docs/overview/create_available_tasks.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

minor
  docs/overview/available_benchmarks.md
  docs/overview/create_available_benchmarks.py
  mteb/overview.py
Due: lint

minor fixes to descriptions
  docs/overview/available_benchmarks.md
Due: none

Deployed 8db8aa753 with MkDocs version: 1.6.1
  overview/available_benchmarks/index.html
  search/search_index.json
Due: none

Deployed e70e83707 with MkDocs version: 1.6.1
  api/task/index.html
  search/search_index.json
Due: none

fix uploading
  mteb/abstasks/AbsTaskBitextMining.py
Due: lint

add dark theme (#3165)
  mkdocs.yml
Due: none

add PR link to benchmark desc
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

add fixes based on comments
  docs/overview/create_available_models.py
Due: lint

add fixes based on comments
  docs/overview/available_models/image.md
  docs/overview/available_models/image_text.md
  docs/overview/available_models/text.md
  docs/overview/create_available_models.py
Due: lint

Deployed bc5477fae with MkDocs version: 1.6.1
  overview/available_models/image/index.html
  overview/available_models/image_text/index.html
  overview/available_models/text/index.html
  overview/create_available_models.py
  search/search_index.json
Due: lint

don't add benchmarks to TOC
  docs/overview/available_benchmarks.md
  docs/overview/create_available_benchmarks.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
