Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

add test and updates metadata
  mteb/abstasks/abstask.py
  mteb/get_tasks.py
  mteb/tasks/classification/eng/kinetics400.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
  mteb/tasks/video/retrieval/eng/msr_vtt.py
  tests/test_get_tasks.py
Due: lint, format-tasks-citations

format
  mteb/abstasks/task_metadata.py
  mteb/filter_tasks.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
  tests/test_abstasks/test_task_metadata.py
  tests/test_get_tasks.py
Due: lint, format-tasks-citations

[MVEB] Adding WorldSense1Min Task (Clustering)
  mteb/descriptive_stats/VideoClustering/WorldSense1MinDomainClustering.json
  mteb/tasks/__init__.py
  mteb/tasks/video/clustering/eng/__init__.py
  mteb/tasks/video/clustering/eng/worldsense_1min_domain_clustering.py
  tests/tasks/test_worldsense_1min_domain_clustering.py
Due: lint, format-tasks-citations

re-enable tests for beta datasets
  tests/test_tasks/test_is_superseded.py
  tests/test_tasks/test_metadata.py
  tests/test_tasks/test_task_quality.py
Due: lint

remove local test
  tests/tasks/test_worldsense_1min_domain_clustering.py
Due: lint

format
  tests/test_tasks/test_metadata.py
  tests/test_tasks/test_task_quality.py
Due: lint

update meta
  mteb/models/model_implementations/saga_models.py
Due: lint

change parameters and memory usage
  mteb/models/model_implementations/saga_models.py
Due: lint

fix: Add `is_beta` to task metadata (#4392)
  mteb/abstasks/abstask.py
  mteb/abstasks/task_metadata.py
  mteb/filter_tasks.py
  mteb/get_tasks.py
  mteb/tasks/classification/eng/kinetics400.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
  mteb/tasks/video/retrieval/eng/msr_vtt.py
  tests/test_get_tasks.py
  tests/test_tasks/test_is_superseded.py
  tests/test_tasks/test_metadata.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

feat: comment out MVEB task types without existing tasks
  docs/overview/available_tasks/any2anymultilingualretrieval.md
  docs/overview/available_tasks/any2anyretrieval.md
  docs/overview/available_tasks/audioclassification.md
  docs/overview/available_tasks/audioclustering.md
  docs/overview/available_tasks/audiomultilabelclassification.md
  docs/overview/available_tasks/audiopairclassification.md
  docs/overview/available_tasks/audioreranking.md
  docs/overview/available_tasks/audiozeroshotclassification.md
  docs/overview/available_tasks/bitextmining.md
  docs/overview/available_tasks/classification.md
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/compositionality.md
  docs/overview/available_tasks/documentunderstanding.md
  docs/overview/available_tasks/imageclassification.md
  docs/overview/available_tasks/imageclustering.md
  docs/overview/available_tasks/instructionreranking.md
  docs/overview/available_tasks/instructionretrieval.md
  docs/overview/available_tasks/multilabelclassification.md
  docs/overview/available_tasks/pairclassification.md
  docs/overview/available_tasks/regression.md
  docs/overview/available_tasks/reranking.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/semantic-similarity.md
  docs/overview/available_tasks/sts.md
  docs/overview/available_tasks/summarization.md
  docs/overview/available_tasks/visioncentricqa.md
  docs/overview/available_tasks/visualsts(eng).md
  docs/overview/available_tasks/visualsts(multi).md
  docs/overview/available_tasks/zeroshotclassification.md
  mteb/abstasks/task_metadata.py
  pyproject.toml
Due: lint

docs: Update adding dataset checklist
  docs/contributing/adding_a_dataset.md
Due: none

fetch source model from hub
  mteb/models/model_meta.py
Due: lint

Update mteb/tasks/video/classification/eng/hmdb51_classification.py
  mteb/tasks/video/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

Add nicher92/saga-embed_v1 to MTEB models (#4371)
  mteb/models/model_implementations/saga_models.py
Due: lint

fix: allow beta-only task types in create_available_tasks.py
  docs/overview/create_available_tasks.py
Due: lint

fix tests
  tests/mock_models.py
Due: lint

fix: skip video tasks missing descriptive_stats in metadata test
  docs/overview/available_tasks/classification.md
  tests/test_tasks/test_metadata.py
Due: lint

add score reproduction to description
  .github/pull_request_template.md
  docs/contributing/adding_a_dataset.md
  docs/contributing/adding_a_model.md
Due: none

revert: restore docs/overview/available_tasks to main
  docs/overview/available_tasks/classification.md
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/pair-classification.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/semantic-similarity.md
Due: none

revert: remove all generated available_tasks changes from branch
  docs/overview/available_tasks/any2anymultilingualretrieval.md
  docs/overview/available_tasks/any2anyretrieval.md
  docs/overview/available_tasks/audioclassification.md
  docs/overview/available_tasks/audioclustering.md
  docs/overview/available_tasks/audiomultilabelclassification.md
  docs/overview/available_tasks/audiopairclassification.md
  docs/overview/available_tasks/audioreranking.md
  docs/overview/available_tasks/audiozeroshotclassification.md
  docs/overview/available_tasks/bitextmining.md
  docs/overview/available_tasks/compositionality.md
  docs/overview/available_tasks/documentunderstanding.md
  docs/overview/available_tasks/imageclassification.md
  docs/overview/available_tasks/imageclustering.md
  docs/overview/available_tasks/instructionreranking.md
  docs/overview/available_tasks/instructionretrieval.md
  docs/overview/available_tasks/multilabelclassification.md
  docs/overview/available_tasks/pairclassification.md
  docs/overview/available_tasks/regression.md
  docs/overview/available_tasks/reranking.md
  docs/overview/available_tasks/sts.md
  docs/overview/available_tasks/summarization.md
  docs/overview/available_tasks/visioncentricqa.md
  docs/overview/available_tasks/visualsts(eng).md
  docs/overview/available_tasks/visualsts(multi).md
  docs/overview/available_tasks/zeroshotclassification.md
Due: none

check if model has model card attr
  mteb/models/model_meta.py
Due: lint

docs: Add score reproduction to PR reqirenments (#4396)
  .github/pull_request_template.md
  docs/contributing/adding_a_dataset.md
  docs/contributing/adding_a_model.md
Due: none

fix unused param
  mteb/models/model_implementations/google_models.py
Due: lint

add mteb/HMDB51 dataset
  mteb/descriptive_stats/VideoClassification/HMDB51.json
  mteb/tasks/__init__.py
  mteb/tasks/video/classification/eng/__init__.py
  mteb/tasks/video/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

update
  mteb/abstasks/task_metadata.py
Due: lint

update
  mteb/descriptive_stats/VideoClassification/HMDB51.json
  mteb/tasks/video/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

add back
  mteb/tasks/__init__.py
Due: lint, format-tasks-citations

Revert "add back"
  mteb/tasks/__init__.py
Due: lint, format-tasks-citations

Update mteb/tasks/__init__.py
  mteb/tasks/__init__.py
Due: lint, format-tasks-citations

docs: Update adding dataset checklist (#4394)
  .github/pull_request_template.md
  docs/contributing/adding_a_dataset.md
  docs/contributing/adding_a_model.md
Due: none

Move Kinetics400 out of video and add zeroshot version (#4383)
  docs/overview/available_tasks/clustering.md
  docs/overview/available_tasks/pair-classification.md
  docs/overview/available_tasks/retrieval.md
  docs/overview/available_tasks/semantic-similarity.md
  docs/overview/create_available_tasks.py
  mteb/abstasks/abstask.py
  mteb/abstasks/task_metadata.py
  mteb/filter_tasks.py
  mteb/get_tasks.py
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/kinetics400.py
  mteb/tasks/video/classification/__init__.py
  mteb/tasks/video/classification/eng/__init__.py
  mteb/tasks/video/clustering/eng/ravdess_av_clustering.py
  mteb/tasks/video/retrieval/eng/msr_vtt.py
  mteb/tasks/zeroshot_classification/eng/__init__.py
  mteb/tasks/zeroshot_classification/eng/kinetics400.py
  pyproject.toml
  tests/test_get_tasks.py
  tests/test_tasks/test_is_superseded.py
  tests/test_tasks/test_metadata.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-tasks-citations

fix: Auto add base model to `ModelMeta` (#4395)
  mteb/models/model_meta.py
  tests/mock_models.py
Due: lint

model: Add Google Gemini embedding 2 (#4247)
  mteb/models/model_implementations/google_models.py
  pyproject.toml
Due: lint

removing stats
  mteb/descriptive_stats/VideoClustering/WorldSense1MinDomainClustering.json
Due: none

2.12.19
  pyproject.toml
Due: none

add HMDB51 dataset
  mteb/abstasks/task_metadata.py
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations

update
  mteb/tasks/classification/eng/hmdb51_classification.py
Due: lint, format-tasks-citations
