Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

dataset: add EVVE retrieval
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/EVVERetrieval.json
  mteb/tasks/retrieval/zxx/__init__.py
  mteb/tasks/retrieval/zxx/evve_retrieval.py
  scripts/data/evve/README.md
  scripts/data/evve/create_data.py
  scripts/data/evve/media-source-overrides.json
  scripts/data/evve/s2vs-2023-video-ids.txt
  scripts/data/evve/surviving-public-media-video-ids.txt
  tests/scripts/data/evve/test_create_data.py
  tests/test_tasks/test_evve_retrieval.py
Due: lint, format-tasks-citations

dataset: finalize EVVE review alignment
  mteb/tasks/retrieval/zxx/evve_retrieval.py
  scripts/data/evve/README.md
  scripts/data/evve/create_data.py
Due: lint, format-tasks-citations

dataset: align EVVE with review conventions
  mteb/tasks/retrieval/zxx/evve_retrieval.py
  scripts/data/evve/create_data.py
  tests/scripts/data/evve/test_create_data.py
  tests/test_tasks/test_evve_retrieval.py
Due: lint, format-tasks-citations

style: ruff format unite_models.py
  mteb/models/model_implementations/unite_models.py
Due: lint

refactor: drop unused num_frames param, fps mode only
  mteb/models/model_implementations/unite_models.py
Due: lint

model: add VideoPrism video encoders (base, large, LVT base, LVT large)
  mteb/models/model_implementations/videoprism_models.py
Due: lint

model: declare OmniRet training datasets
  mteb/models/model_implementations/omniret.py
Due: lint

don't convert to tensor/array explicitly
  mteb/abstasks/zeroshot_classification.py
Due: lint

fix: Add support for more metrics in ZeroShot classification (#5179)
  mteb/abstasks/zeroshot_classification.py
  tests/test_abstasks/test_zeroshot_classification.py
  tests/test_integrations/test_encode_args_passed.py
Due: lint

2.19.1
  pyproject.toml
Due: none

Update mteb/models/model_implementations/unite_models.py
  mteb/models/model_implementations/unite_models.py
Due: lint

docs: reference the transformers VideoPrism page and explain the pinned revisions
  mteb/models/model_implementations/videoprism_models.py
Due: lint

model: add fps/max_frames args and simplify the frame cast for VideoPrism
  mteb/models/model_implementations/videoprism_models.py
Due: lint

Update mteb/models/model_implementations/videoprism_models.py
  mteb/models/model_implementations/videoprism_models.py
Due: lint

Send custom-group task membership so the frontend can recompute under sidebar filters
  mteb/api/aggregators.py
  mteb/api/schemas.py
Due: lint

add persubset
  mteb/api/aggregators.py
  mteb/api/schemas.py
  mteb/benchmarks/_benchmark_metrics.py
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  tests/test_api/__init__.py
  tests/test_api/test_aggregators.py
  tests/test_benchmarks/test_benchmark_score.py
  tests/test_benchmarks/test_create_table.py
  tests/test_benchmarks/test_get_benchmarks.py
Due: lint, format-benchmarks-citations

model: move video cap into processor, batch encode
  mteb/models/model_implementations/unite_models.py
Due: lint

style: ruff format after docstring edit
  mteb/models/model_implementations/videoprism_models.py
Due: lint

fix: declare omniret as a conflicting extra
  pyproject.toml
Due: none

fix: add missing boto3 extras group
  pyproject.toml
Due: none

first commit
  mteb/models/model_implementations/rzen_embed_model.py
  results/mock_rzen/no_model_name_available/no_revision_available/model_meta.json
  results/mock_rzen/qihoo360__RzenEmbed/ea95c339008f9639420fcb33ba2ba606ea94be78/MockVisionCentricQA.json
  results/mock_rzen/qihoo360__RzenEmbed/ea95c339008f9639420fcb33ba2ba606ea94be78/model_meta.json
  tests/test_models/test_rzen_embed.py
  verify_rzen_it2i.py
Due: lint

handle empty task instruction
  mteb/models/model_implementations/rzen_embed_model.py
Due: lint

resolve naming discrepancy
  mteb/models/model_implementations/rzen_embed_model.py
  tests/test_models/test_rzen_embed.py
  verify_rzen_it2i.py
Due: lint

fix things
  mteb/models/model_implementations/rzen_embed_model.py
  tests/test_models/test_rzen_embed.py
  verify_rzen_it2i.py
Due: lint

add tensor support
  mteb/models/model_implementations/rzen_embed_model.py
  tests/test_models/test_rzen_embed.py
Due: lint

dimension handling
  mteb/models/model_implementations/rzen_embed_model.py
  tests/test_models/test_rzen_embed.py
Due: lint

changes from reviews, added all filters to single file, make all functions private, added modality check and threshold for min examples per label, update docs, and support for pair input tasks
  docs/get_started/advanced_usage/cleaning_task_data.md
  mteb/abstasks/abstask.py
  mteb/abstasks/sts.py
  mteb/evaluate.py
  mteb/quality/__init__.py
  mteb/quality/_apply.py
  mteb/quality/_classification.py
  mteb/quality/_deduplication.py
  mteb/quality/_filters.py
  mteb/quality/_retrieval.py
  mteb/quality/_row_filters.py
  tests/test_quality.py
Due: lint

fix: regenerate stale VELOCITI-PC descriptive stats
  mteb/descriptive_stats/VideoPairClassification/VELOCITIPairClassification.json
Due: none

model: add Amazon Nova Multimodal Embeddings (text, image)
  mteb/models/model_implementations/nova_multimodal_models.py
Due: lint

fix: set explicit query prefix for ColPali wrappers
  mteb/models/model_implementations/colpali_models.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/colsmol_models.py
Due: lint

fix: set explicit query prefix for ColPali wrappers (#5207)
  mteb/models/model_implementations/colpali_models.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/colsmol_models.py
Due: lint

2.19.2
  pyproject.toml
Due: none

style: satisfy ruff format and no-self-use
  mteb/models/model_implementations/nova_multimodal_models.py
Due: lint

fix: add missing boto3 extras group (#5203)
  pyproject.toml
Due: none

model: add VideoPrism video encoders (base, large, LVT base, LVT large) (#5193)
  mteb/models/model_implementations/videoprism_models.py
Due: lint

feat: record the resolved BM25 search configuration in retrieval results
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/retrieval.py
  mteb/models/model_implementations/bm25.py
Due: lint

fix: align M-BEIR main scores with source Recall metrics
  mteb/tasks/retrieval/eng/cirr_it2i_retrieval.py
  mteb/tasks/retrieval/eng/edis_t2it_retrieval.py
  mteb/tasks/retrieval/eng/fashion200k_i2t_retrieval.py
  mteb/tasks/retrieval/eng/fashion200k_t2i_retrieval.py
  mteb/tasks/retrieval/eng/fashion_iq_it2i_retrieval.py
  mteb/tasks/retrieval/eng/info_seek_it2it_retrieval.py
  mteb/tasks/retrieval/eng/info_seek_it2t_retrieval.py
  mteb/tasks/retrieval/eng/mscoco_i2t_retrieval.py
  mteb/tasks/retrieval/eng/mscoco_t2i_retrieval.py
  mteb/tasks/retrieval/eng/nights_i2i_retrieval.py
  mteb/tasks/retrieval/eng/oven_it2it_retrieval.py
  mteb/tasks/retrieval/eng/oven_it2t_retrieval.py
  mteb/tasks/retrieval/eng/visual_news_i2t_retrieval.py
  mteb/tasks/retrieval/eng/visual_news_t2i_retrieval.py
  mteb/tasks/retrieval/eng/web_qa_t2it_retrieval.py
  mteb/tasks/retrieval/eng/web_qa_t2t_retrieval.py
Due: lint, format-tasks-citations

fix error
  mteb/models/model_implementations/rzen_embed_model.py
Due: lint

made strict=False for BUCC
  mteb/abstasks/text/bitext_mining.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
