Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fully activate `N` (#3390)
  mteb/__init__.py
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/_stratification.py
  mteb/abstasks/abstask.py
  mteb/deprecated_evaluator.py
  mteb/models/model_implementations/conan_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
  pyproject.toml
  scripts/data/toxic_conversations_50k/create_data.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

import multilingual tasks
  mteb/tasks/aggregated_tasks/__init__.py
Due: lint, format-tasks-citations

restructure usage
  docs/advanced_usage/cache_embeddings.md
  docs/advanced_usage/two_stage_reranking.md
  docs/usage/running_the_evaluation.md
  docs/usage/two_stage_reranking.md
  mkdocs.yml
Due: none

Restructure agg tasks into lang subfolders (#3394)
  mteb/tasks/aggregated_tasks/__init__.py
  mteb/tasks/aggregated_tasks/eng/__init__.py
  mteb/tasks/aggregated_tasks/eng/cqadupstack_retrieval.py
  mteb/tasks/aggregated_tasks/eng/sts17_multilingual_visual_sts_eng.py
  mteb/tasks/aggregated_tasks/eng/sts_benchmark_multilingual_visual_sts_eng.py
  mteb/tasks/aggregated_tasks/fas/__init__.py
  mteb/tasks/aggregated_tasks/fas/cqadupstack_retrieval_fa.py
  mteb/tasks/aggregated_tasks/fas/syn_per_chatbot_conv_sa_classification.py
  mteb/tasks/aggregated_tasks/multilingual/__init__.py
  mteb/tasks/aggregated_tasks/multilingual/sts17_multilingual_vision_sts.py
  mteb/tasks/aggregated_tasks/multilingual/sts_benchmark_multilingual_visual_sts.py
  mteb/tasks/aggregated_tasks/nld/__init__.py
  mteb/tasks/aggregated_tasks/nld/cqadupstack_nl_retrieval.py
  mteb/tasks/aggregated_tasks/pol/__init__.py
  mteb/tasks/aggregated_tasks/pol/cqadupstack_retrieval_pl.py
Due: lint, format-tasks-citations

Apply suggestions from code review
  docs/advanced_usage/two_stage_reranking.md
Due: none

add contribution section to the docs
  docs/adding_a_dataset.md
  docs/adding_a_model.md
  mkdocs.yml
  mteb/abstasks/retrieval.py
Due: lint

fix indentation in whats new
  docs/whats_new.md
Due: none

Restructure usage examples (#3385)
  docs/advanced_usage/cache_embeddings.md
  docs/advanced_usage/two_stage_reranking.md
  docs/usage/running_the_evaluation.md
  mkdocs.yml
Due: none

Fix indent on what's news (#3397)
  docs/whats_new.md
Due: none

feat - issue #3381
  mteb/leaderboard/app.py
Due: lint

description of MTEB-NL added
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

move cache wrapper to different folder
  mteb/models/__init__.py
  mteb/models/cache_wrappers/cache_wrapper.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

upd docstring
  mteb/models/cache_wrappers/cache_wrapper.py
Due: lint

add missing init
  mteb/models/cache_wrappers/__init__.py
Due: lint

use model's similarity functions
  mteb/models/cache_wrappers/cache_wrapper.py
Due: lint

set OMP_NUM_THREADS during clustering to ensure reproducibility set OMP_NUM_THREADS during clustering to ensure reproducibility
  mteb/abstasks/clustering.py
Due: lint

Move cache wrapper (#3398)
  mteb/models/__init__.py
  mteb/models/cache_wrappers/__init__.py
  mteb/models/cache_wrappers/cache_wrapper.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

bBSARDNLRetrieval deduplicated
  mteb/descriptive_stats/Retrieval/bBSARDNLRetrieval.json
  mteb/tasks/retrieval/nld/bbsard_nl_retrieval.py
Due: lint, format-tasks-citations

add faiss cache backend
  mteb/models/cache_wrappers/cache_wrapper.py
  mteb/models/model_implementations/youtu_models.py
  pyproject.toml
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

add faiss cache backend
  mteb/models/cache_wrappers/cache_backend_protocol.py
  mteb/models/cache_wrappers/cache_backends/__init__.py
  mteb/models/cache_wrappers/cache_backends/_hash_utils.py
  mteb/models/cache_wrappers/cache_backends/cache_map.py
  mteb/models/cache_wrappers/cache_backends/faiss_cache.py
Due: lint

feat: rename TRECDLRetrieval.py to trecdl_retrieval.py
  mteb/tasks/Retrieval/eng/trecdl_retrieval.py
Due: lint, format-tasks-citations

make search encoder compatible with encoder
  mteb/models/search_wrappers.py
  tests/test_models/test_search_wrapper_encode.py
Due: lint

fix: replace relative imports from parent modules with absolute imports
  mteb/tasks/retrieval/eng/trecdl_retrieval.py
Due: lint, format-tasks-citations

make search encoder compatible with encoder (#3404)
  mteb/models/search_wrappers.py
  tests/test_models/test_search_wrapper_encode.py
Due: lint

Update mteb/models/cache_wrappers/cache_wrapper.py
  mteb/models/cache_wrappers/cache_wrapper.py
Due: lint

feat: add TRECDL retrieval tasks to English registry
  mteb/tasks/retrieval/eng/__init__.py
Due: lint, format-tasks-citations

fix: correct task category
  mteb/tasks/retrieval/eng/trecdl_retrieval.py
Due: lint, format-tasks-citations

feat: add TRECDL2019 and TRECDL2020 descriptive stats
  mteb/descriptive_stats/Retrieval/TRECDL2020.json
  mteb/descriptive_stats/Retrieval/TREDDL2019.json
Due: none

fix: recompute descriptive stats to match v2 format
  mteb/descriptive_stats/Retrieval/TRECDL2019.json
  mteb/descriptive_stats/Retrieval/TREDDL2019.json
Due: none

update cache index
  mteb/models/cache_wrappers/cache_backend_protocol.py
  mteb/models/cache_wrappers/cache_backends/faiss_cache.py
  mteb/models/cache_wrappers/cache_backends/numpy_cache.py
  mteb/models/cache_wrappers/cache_wrapper.py
  tests/test_models/test_cached_embedding_wrapper.py
Due: lint

add faiss to tests
  Makefile
Due: none

remove faiss gpu
  mteb/models/cache_wrappers/cache_backends/faiss_cache.py
  pyproject.toml
Due: lint

fix: use official judged queries for TREC-DL 2019/2020 datasets
  mteb/descriptive_stats/Retrieval/TRECDL2019.json
  mteb/descriptive_stats/Retrieval/TRECDL2020.json
  mteb/tasks/retrieval/eng/trecdl_retrieval.py
Due: lint, format-tasks-citations

add more changes to doc
  README.md
  docs/CONTRIBUTING.md
  docs/adding_a_benchmark.md
  docs/adding_a_dataset.md
  docs/adding_a_model.md
  docs/references.bib
  docs/whats_new.md
  mkdocs.yml
  mteb/abstasks/task_metadata.py
  mteb/models/model_meta.py
Due: lint

simply dataset doc
  docs/adding_a_dataset.md
Due: none

add llama-embed-nemotron-8b
  mteb/models/nvidia_models.py
  pyproject.toml
Due: lint

move pair classification from text folder
  mteb/_evaluators/__init__.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/abstasks/__init__.py
  mteb/abstasks/pair_classification.py
  mteb/tasks/pair_classification/ara/ar_entail.py
  mteb/tasks/pair_classification/ces/ctk_facts_nli.py
  mteb/tasks/pair_classification/dan/talemaader_pc.py
  mteb/tasks/pair_classification/deu/false_friends_de_en_pc.py
  mteb/tasks/pair_classification/eng/legal_bench_pc.py
  mteb/tasks/pair_classification/eng/pub_chem_ai_sentence_paraphrase_pc.py
  mteb/tasks/pair_classification/eng/pub_chem_smilespc.py
  mteb/tasks/pair_classification/eng/pub_chem_synonym_pc.py
  mteb/tasks/pair_classification/eng/pub_chem_wiki_paragraphs_pc.py
  mteb/tasks/pair_classification/eng/sprint_duplicate_questions_pc.py
  mteb/tasks/pair_classification/eng/twitter_sem_eval2015_pc.py
  mteb/tasks/pair_classification/eng/twitter_url_corpus_pc.py
  mteb/tasks/pair_classification/fas/fa_mteb_pair_classification.py
  mteb/tasks/pair_classification/fas/fars_tail.py
  mteb/tasks/pair_classification/hye/armenian_paraphrase_pc.py
  mteb/tasks/pair_classification/ind/indo_nli.py
  mteb/tasks/pair_classification/ita/dis_co_tex_pair_classification.py
  mteb/tasks/pair_classification/kor/klue_nli.py
  mteb/tasks/pair_classification/multilingual/indic_xnli_pair_classification.py
  mteb/tasks/pair_classification/multilingual/opusparcus_pc.py
  mteb/tasks/pair_classification/multilingual/paws_x_pair_classification.py
  mteb/tasks/pair_classification/multilingual/pub_chem_wiki_pair_classification.py
  mteb/tasks/pair_classification/multilingual/rte3.py
  mteb/tasks/pair_classification/multilingual/x_stance.py
  mteb/tasks/pair_classification/multilingual/xnli.py
  mteb/tasks/pair_classification/pol/polish_pc.py
  mteb/tasks/pair_classification/por/assin2_rte.py
  mteb/tasks/pair_classification/por/sick_br_pc.py
  mteb/tasks/pair_classification/rus/terra.py
  mteb/tasks/pair_classification/vie/sprint_duplicate_questions_pcvn.py
  mteb/tasks/pair_classification/vie/twitter_sem_eval2015_pcvn.py
  mteb/tasks/pair_classification/vie/twitter_url_corpus_pcvn.py
  mteb/tasks/pair_classification/zho/cmteb_pair_classification.py
  tests/mock_tasks.py
Due: lint, format-tasks-citations

take batch size from encode_kwargs + lint
  mteb/models/nvidia_models.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
