Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Update mteb/models/model_implementations/yuan_models_en.py
  mteb/models/model_implementations/yuan_models_en.py
Due: lint

Apply suggestions from code review
  mteb/models/model_implementations/yuan_models_en.py
Due: lint

feat: refacto language filtering support
  mteb/benchmarks/_create_table.py
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/results/benchmark_results.py
  mteb/results/model_result.py
Due: lint, format-benchmarks-citations

Update "speeding up"-section to include bumping version
  docs/usage/running_the_evaluation.md
Due: none

ruMTEB_v1.1 description and contacts
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

fix: Updated metadata on model memory (#3624)
  mteb/models/model_implementations/google_models.py
  mteb/models/model_implementations/nb_sbert.py
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
  mteb/models/model_implementations/nvidia_models.py
  mteb/models/model_implementations/ops_moa_models.py
  mteb/models/model_implementations/promptriever_models.py
  mteb/models/model_implementations/qwen3_models.py
  mteb/models/model_implementations/qzhou_models.py
Due: lint

Update docs/usage/running_the_evaluation.md
  docs/usage/running_the_evaluation.md
Due: none

ci: update action versions (#3623)
  .github/workflows/dataset_loading.yml
  .github/workflows/dataset_loading_pr.yml
  .github/workflows/documentation.yml
  .github/workflows/leaderboard_build.yml
  .github/workflows/lint.yml
  .github/workflows/model_loading.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

bump gradio
  pyproject.toml
Due: none

docs: Update "speeding up"-section to include bumping version (#3634)
  docs/usage/running_the_evaluation.md
Due: none

feat: add search encoder backend (#3492)
  Makefile
  docs/advanced_usage/retrieval_backend.md
  docs/api/model.md
  mkdocs.yml
  mteb/__init__.py
  mteb/models/__init__.py
  mteb/models/cache_wrappers/__init__.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/search_encoder_index/__init__.py
  mteb/models/search_encoder_index/search_backend_protocol.py
  mteb/models/search_encoder_index/search_indexes/__init__.py
  mteb/models/search_encoder_index/search_indexes/faiss_search_index.py
  mteb/models/search_wrappers.py
  mteb/similarity_functions.py
  tests/test_search_index/__init__.py
  tests/test_search_index/test_search_index.py
Due: lint

ci: Add HF_TOKEN to dataset loading and merge CI (#3622)
  .github/workflows/dataset_loading.yml
  .github/workflows/dataset_loading_pr.yml
Due: none

2.3.0
  pyproject.toml
Due: none

feat: update per-language table to support 'all' option and improve styling for wide tables
  mteb/benchmarks/_create_table.py
  mteb/leaderboard/table.py
Due: lint, format-benchmarks-citations

Update benchmarks.py
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Apply suggestions from code review
  mteb/evaluate.py
  tests/test_evaluate.py
Due: lint

Apply suggestions from code review
  tests/test_evaluate.py
Due: lint

remove test
  tests/test_evaluate.py
Due: lint

feat: simplify per-language table styling by rounding values for wide tables
  mteb/leaderboard/table.py
Due: lint

add adapted annotation
  mteb/tasks/retrieval/eng/vidore_bench_retrieval.py
  mteb/tasks/retrieval/multilingual/jina_vdr_bench_retrieval.py
Due: lint, format-tasks-citations

fix training set annotation
  mteb/models/model_implementations/colpali_models.py
  mteb/models/model_implementations/colqwen_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
Due: lint

update nemotriever datasets
  mteb/models/model_implementations/nvidia_llama_nemoretriever_colemb.py
  mteb/models/model_implementations/vdr_models.py
Due: lint

fix test
  tests/test_evaluate.py
Due: lint

docs(colqwen): update train data annotation
  mteb/models/model_implementations/colqwen_models.py
Due: lint

add model implementation
  mteb/models/model_implementations/euler_models.py
Due: lint

modify the correct model path
  mteb/models/model_implementations/euler_models.py
Due: lint

fix - task options bug
  mteb/leaderboard/app.py
Due: lint

Add descriptive stats for MultiLongDocReranking
  mteb/descriptive_stats/Reranking/MultiLongDocReranking.json
Due: none

Fix information
  mteb/tasks/reranking/multilingual/multi_long_doc_reranking.py
Due: lint, format-tasks-citations

reformat
  mteb/tasks/reranking/multilingual/multi_long_doc_reranking.py
Due: lint, format-tasks-citations

fix hash
  mteb/tasks/reranking/multilingual/multi_long_doc_reranking.py
Due: lint, format-tasks-citations

fix - fix task filter condition
  mteb/leaderboard/app.py
Due: lint

Update multi_long_doc_reranking.py
  mteb/tasks/reranking/multilingual/multi_long_doc_reranking.py
Due: lint, format-tasks-citations

lint
  mteb/tasks/reranking/multilingual/multi_long_doc_reranking.py
Due: lint, format-tasks-citations

dataset: MultiLongDocReranking (#3642)
  mteb/descriptive_stats/Reranking/MultiLongDocReranking.json
  mteb/tasks/reranking/multilingual/__init__.py
  mteb/tasks/reranking/multilingual/multi_long_doc_reranking.py
Due: lint, format-tasks-citations

Update mteb/models/model_implementations/euler_models.py
  mteb/models/model_implementations/euler_models.py
Due: lint

add: jina-reranker-v3
  mteb/models/model_implementations/jina_models.py
Due: lint

Update mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/jina_models.py
Due: lint
