Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix model class
  mteb/models/model_implementations/qwen_vl_lm.py
Due: lint

change to autoprocessor
  mteb/models/model_implementations/qwen_vl_lm.py
Due: lint

fix loader class
  mteb/models/model_implementations/qwen_vl_lm.py
Due: lint

remove model2vec from model load test
  Makefile
Due: none

fix: align dataset_transform signature with base class
  mteb/tasks/reranking/eng/ecommerce_product_relevance_reranking.py
Due: lint, format-tasks-citations

fix: dataset reuploaded, custom transformation removed
  mteb/tasks/reranking/eng/ecommerce_product_relevance_reranking.py
Due: lint, format-tasks-citations

fix: rev updated with title + text combination
  mteb/abstasks/task_metadata.py
  mteb/tasks/reranking/eng/ecommerce_product_relevance_reranking.py
Due: lint, format-tasks-citations

description moved away from docstring
  mteb/tasks/reranking/eng/ecommerce_product_relevance_reranking.py
Due: lint, format-tasks-citations

fix: add model_name arg to BedrockModel init to prevent multiple values for model_id
  mteb/models/model_implementations/bedrock_models.py
Due: lint

fix: `BedrockModel` initialization arguments (#3999)
  mteb/models/model_implementations/bedrock_models.py
Due: lint

Update MAEB benchmark implementation from 32 to 30 tasks
  mteb/benchmarks/benchmarks/benchmarks.py
  scripts/analyze_maeb_task_selection.py
  scripts/generate_maeb_latex_table.py
Due: lint, format-benchmarks-citations

Remove calculate_probs method and fix model name
  mteb/models/model_implementations/ops_colqwen3_models.py
Due: lint

2.7.11
  pyproject.toml
Due: none

fix: add num_proc arg to PubChemWikiPairClassification dataset_transform
  mteb/tasks/pair_classification/multilingual/pub_chem_wiki_pair_classification.py
Due: lint, format-tasks-citations

fix: `dataset_transform` signature in PubChemWikiPairClassification (#4001)
  mteb/tasks/pair_classification/multilingual/pub_chem_wiki_pair_classification.py
Due: lint, format-tasks-citations

fix dataset transform
  mteb/abstasks/abstask.py
  mteb/tasks/bitext_mining/multilingual/bible_nlp_bitext_mining.py
  mteb/tasks/classification/ben/bengali_document_classification.py
  mteb/tasks/classification/ces/czech_product_review_sentiment_classification.py
  mteb/tasks/classification/ces/czech_so_me_sentiment_classification.py
  mteb/tasks/classification/multilingual/hin_dialect_classification.py
  mteb/tasks/classification/multilingual/indic_lang_classification.py
  mteb/tasks/classification/multilingual/indic_sentiment_classification.py
  mteb/tasks/classification/multilingual/language_classification.py
  mteb/tasks/classification/multilingual/south_african_lang_classification.py
  mteb/tasks/classification/slk/slovak_movie_review_sentiment_classification.py
  mteb/tasks/classification/swa/swahili_news_classification.py
  mteb/tasks/clustering/deu/ten_k_gnad_clustering_p2p.py
  mteb/tasks/clustering/deu/ten_k_gnad_clustering_s2s.py
  mteb/tasks/clustering/nob/vg_hierarchical_clustering.py
  mteb/tasks/multilabel_classification/nld/covid_disinformation_nl_multi_label_classification.py
  mteb/tasks/pair_classification/multilingual/pub_chem_wiki_pair_classification.py
  mteb/tasks/retrieval/code/code_rag.py
  mteb/tasks/retrieval/dan/dan_fever_retrieval.py
  mteb/tasks/retrieval/dan/tv2_nordretrieval.py
  mteb/tasks/retrieval/dan/twitter_hjerne_retrieval.py
  mteb/tasks/retrieval/nob/norquad.py
  mteb/tasks/retrieval/nob/snl_retrieval.py
  mteb/tasks/sts/multilingual/sem_rel24_sts.py
  mteb/tasks/sts/multilingual/sts_benchmark_multilingual_sts.py
  mteb/tasks/sts/por/assin2_sts.py
Due: lint, format-tasks-citations

format
  mteb/models/model_implementations/ops_colqwen3_models.py
Due: lint

fix ds name
  mteb/models/model_implementations/ops_colqwen3_models.py
Due: lint

fix: all dataset transform (#4002)
  mteb/abstasks/abstask.py
  mteb/tasks/bitext_mining/multilingual/bible_nlp_bitext_mining.py
  mteb/tasks/classification/ben/bengali_document_classification.py
  mteb/tasks/classification/ces/czech_product_review_sentiment_classification.py
  mteb/tasks/classification/ces/czech_so_me_sentiment_classification.py
  mteb/tasks/classification/multilingual/hin_dialect_classification.py
  mteb/tasks/classification/multilingual/indic_lang_classification.py
  mteb/tasks/classification/multilingual/indic_sentiment_classification.py
  mteb/tasks/classification/multilingual/language_classification.py
  mteb/tasks/classification/multilingual/south_african_lang_classification.py
  mteb/tasks/classification/slk/slovak_movie_review_sentiment_classification.py
  mteb/tasks/classification/swa/swahili_news_classification.py
  mteb/tasks/clustering/deu/ten_k_gnad_clustering_p2p.py
  mteb/tasks/clustering/deu/ten_k_gnad_clustering_s2s.py
  mteb/tasks/clustering/nob/vg_hierarchical_clustering.py
  mteb/tasks/multilabel_classification/nld/covid_disinformation_nl_multi_label_classification.py
  mteb/tasks/pair_classification/multilingual/pub_chem_wiki_pair_classification.py
  mteb/tasks/retrieval/code/code_rag.py
  mteb/tasks/retrieval/dan/dan_fever_retrieval.py
  mteb/tasks/retrieval/dan/tv2_nordretrieval.py
  mteb/tasks/retrieval/dan/twitter_hjerne_retrieval.py
  mteb/tasks/retrieval/nob/norquad.py
  mteb/tasks/retrieval/nob/snl_retrieval.py
  mteb/tasks/sts/multilingual/sem_rel24_sts.py
  mteb/tasks/sts/multilingual/sts_benchmark_multilingual_sts.py
  mteb/tasks/sts/por/assin2_sts.py
Due: lint, format-tasks-citations

2.7.12
  pyproject.toml
Due: none

fix - format
  mteb/leaderboard/event_logger/models/events.py
  mteb/leaderboard/event_logger/storage/mongodb.py
Due: lint

model: Adding Ops-Colqwen3 models (#3987)
  mteb/models/model_implementations/ops_colqwen3_models.py
Due: lint

Querit_Models_Change
  mteb/models/model_implementations/querit_models.py
Due: lint

Update
  mteb/models/model_implementations/querit_models.py
Due: lint

format revise
  mteb/models/model_implementations/querit_models.py
Due: lint

fix ds name
  .github/workflows/test.yml
  Makefile
  pyproject.toml
Due: none

fix run command
  .github/workflows/test.yml
  Makefile
Due: none

fix test command
  Makefile
Due: none

add future
  mteb/models/model_implementations/querit_models.py
Due: lint

move mctct model import
  mteb/models/model_implementations/mctct_model.py
Due: lint

fix dataset processing
  tests/test_tasks/test_maeb_datasets.py
Due: lint

import torchcodec
  tests/test_tasks/test_maeb_datasets.py
Due: lint

fix nomic_embed_code
  mteb/models/model_implementations/nomic_models.py
Due: lint

import torchcodec
  tests/test_abstasks/test_task_metadata.py
Due: lint

add ffmpeg
  .github/workflows/test.yml
Due: none

lint
  mteb/models/model_implementations/nomic_models.py
Due: lint

change to snap
  .github/workflows/test.yml
Due: none

last format revison
  mteb/models/model_implementations/querit_models.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
