Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

docs: add icon to hybrid model page (#4915)
  docs/get_started/advanced_usage/hybrid_model.md
Due: none

minor fix
  tests/test_abstasks/test_aggregate_task.py
Due: lint

2.18.4
  pyproject.toml
Due: none

fix: correctly isolate splits when aggregating scores in aggregated tasks (#4897)
  mteb/abstasks/aggregated_task.py
  tests/test_abstasks/test_aggregate_task.py
Due: lint

add whats new
  docs/whats_new.md
Due: none

2.18.5
  pyproject.toml
Due: none

add mteb-pt to homepage
  mteb/benchmarks/_leaderboard_menu.py
Due: lint, format-benchmarks-citations

task: add CASTELLA audio moment retrieval (t2a)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/castella_amr.py
Due: lint, format-tasks-citations

model: add SigLIP2 family (15 checkpoints)
  mteb/models/model_implementations/siglip_models.py
Due: lint

model: add DINOv3 ViT family (6 checkpoints)
  mteb/models/model_implementations/dino_models.py
Due: lint

model: add GVE video embedding models (3B, 7B)
  mteb/models/model_implementations/gve_models.py
Due: lint

fix: cap GVE video pixel budget via processor size dict
  mteb/models/model_implementations/gve_models.py
Due: lint

Add new version for LCO-3B
  mteb/models/model_implementations/lco_embedding_models.py
Due: lint

Add voiceclap-large-v2
  mteb/models/model_implementations/clap_models.py
Due: lint

fix: denser default frame sampling for GVE (fps=2, max 32 frames)
  mteb/models/model_implementations/gve_models.py
Due: lint

fix: raise GVE max_length to 4096 for dense video batches
  mteb/models/model_implementations/gve_models.py
Due: lint

Update mteb/tasks/retrieval/eng/cld_at2a_retrieval.py
  mteb/tasks/retrieval/eng/cld_at2a_retrieval.py
Due: lint, format-tasks-citations

chore: add descriptive statistics for the MRMR tasks
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MRMRDesignRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MRMRKnowledgeRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MRMRNegationRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MRMRTheoremRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MRMRTrafficRetrieval.json
Due: none

chore: add descriptive statistics
  mteb/descriptive_stats/AudioClustering/VimSketchImitationClustering.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/VimSketchA2ARetrieval.json
Due: none

chore: add descriptive statistics
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpeechCocoA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpeechCocoI2ARetrieval.json
Due: none

chore: add descriptive statistics
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CLDAT2ARetrieval.json
Due: none

chore: add descriptive statistics
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SoundingEarthA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SoundingEarthI2ARetrieval.json
Due: none

chore: add descriptive statistics
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTI2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MomentSeekerTV2VRetrieval.json
Due: none

chore: add descriptive statistics
  mteb/descriptive_stats/Image/Any2AnyRetrieval/LoVRC2VRetrieval.json
Due: none

task: add SoundingEarth audio-image retrieval (a2i, i2a) (#4966)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SoundingEarthA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SoundingEarthI2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/sounding_earth.py
Due: lint, format-tasks-citations

style: apply ruff format to moment_seeker.py
  mteb/tasks/retrieval/eng/moment_seeker.py
Due: lint, format-tasks-citations

Load structural separator from full Hugging Face checkpoint
  mteb/models/model_implementations/bge_structural_separator.py
Due: lint

fix: Improve dataset descriptions for Slovak NLI, RTE, SkQuadReranking, SMESumRetrieval, and STS
  mteb/tasks/pair_classification/slk/slovak_nli.py
  mteb/tasks/pair_classification/slk/slovak_rte.py
  mteb/tasks/reranking/slk/sk_quad_reranking.py
  mteb/tasks/retrieval/slk/sme_sum_retrieval.py
  mteb/tasks/sts/slk/slovak_sts.py
Due: lint, format-tasks-citations

Add voiceclap-large-v2 (#4972)
  mteb/models/model_implementations/clap_models.py
Due: lint

dataset: add cleaned STSBenchmark v2 (#4876)
  mteb/descriptive_stats/STS/STSBenchmark.v2.json
  mteb/tasks/sts/eng/__init__.py
  mteb/tasks/sts/eng/sts_benchmark_sts.py
Due: lint, format-tasks-citations

model: add DINOv3 ViT family (6 checkpoints) (#4976)
  mteb/models/model_implementations/dino_models.py
Due: lint

Update citation
  mteb/tasks/retrieval/zxx/vim_sketch_retrieval.py
Due: lint, format-tasks-citations

task: align MRMR query prompts with the paper's evaluation instructions (Table 6)
  mteb/tasks/retrieval/eng/mrmr_retrieval.py
Due: lint, format-tasks-citations

style: ruff format mrmr_retrieval.py
  mteb/tasks/retrieval/eng/mrmr_retrieval.py
Due: lint, format-tasks-citations

task: add CLDA2TRetrieval, audio-to-text difference retrieval (a2t)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/cld_at2a_retrieval.py
Due: lint, format-tasks-citations

chore: add descriptive statistics for CLDA2TRetrieval
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CLDA2TRetrieval.json
Due: none

task: add SPEECH-COCO spoken-caption image retrieval (a2i, i2a) (#4964)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpeechCocoA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SpeechCocoI2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/speech_coco.py
Due: lint, format-tasks-citations

format
  mteb/tasks/retrieval/eng/__init__.py
Due: lint, format-tasks-citations

task: add CLD composed audio retrieval (at2a) (#4965)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CLDA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CLDAT2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/cld_at2a_retrieval.py
Due: lint, format-tasks-citations

fix: canonicalize VimSketch bibtex formatting for citation test
  mteb/tasks/retrieval/zxx/vim_sketch_retrieval.py
Due: lint, format-tasks-citations
