Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

model: add jina-reranker-v3.5 metadata
  mteb/models/model_implementations/jina_models.py
  tests/test_models/test_jina_reranker.py
Due: lint

Dump vLLM to v0.26.0 (#5022)
  docs/get_started/advanced_usage/vllm_wrapper.md
  docs/images/visualizations/half_precision_inference.png
  docs/images/visualizations/renderer_workers.png
  docs/images/visualizations/unpadding.png
  mteb/models/vllm_wrapper.py
  scripts/bench_vllm/dtype.py
  scripts/bench_vllm/renderer_num_workers.py
  scripts/bench_vllm/unpadding.py
Due: lint

fix: support jina reranker v3.5 API
  mteb/models/model_implementations/jina_models.py
  tests/test_models/test_jina_reranker.py
Due: lint

model: add the remaining DIVER-Retriever checkpoints
  mteb/models/model_implementations/aq_medai_models.py
Due: lint

[MOEB] Add new version of VGGSound
  mteb/descriptive_stats/Image/Any2AnyRetrieval/VGGSoundA2VRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/VGGSoundV2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/vggsound_retrieval.py
Due: lint, format-tasks-citations

remove tests
  tests/test_models/test_jina_reranker.py
Due: lint

model: Add jina-reranker-v3.5 metadata (#5041)
  mteb/models/model_implementations/jina_models.py
Due: lint

Revert "task: use natural domain names in BrightPro prompts"
  mteb/models/model_implementations/reasonir_model.py
  mteb/tasks/retrieval/eng/bright_pro_retrieval.py
Due: lint, format-tasks-citations

simplify mmvu with push_to_hub, adding create data for reference
  mteb/tasks/multichoice/eng/mmvu.py
  scripts/data/mmvu/create_data.py
Due: lint, format-tasks-citations

simplify sea_vl by pre-computing dataset
  mteb/tasks/retrieval/eng/sea_vl_crawling_retrieval.py
  scripts/data/sea_vl_crawling/create_data.py
Due: lint, format-tasks-citations

model: declare the loader explicitly instead of reusing q3e_instruct_loader
  mteb/models/model_implementations/aq_medai_models.py
  mteb/models/model_implementations/yale_nlp_models.py
Due: lint

minor error fix
  mteb/mocks/mock_tasks/sts.py
  mteb/mocks/mock_tasks/zeroshot_classification.py
Due: lint

docs(models): add Bekko paper citation
  mteb/models/model_implementations/bekko_models.py
Due: lint

feat(models): add Bekko embedding models
  mteb/models/model_implementations/bekko_models.py
Due: lint

fix(models): use Bekko public release date
  mteb/models/model_implementations/bekko_models.py
Due: lint

docs(models): clarify Bekko language metadata
  mteb/models/model_implementations/bekko_models.py
Due: lint

feat(models): register Bekko core languages
  mteb/models/model_implementations/bekko_models.py
Due: lint

Add ModelMeta for mixedbread-ai/deepset-mxbai-embed-de-large-v1
  mteb/models/model_implementations/mixedbread_ai_models.py
Due: lint

minor
  mteb/__init__.py
Due: lint

lintter
  mteb/__init__.py
Due: lint

Add ModelMeta for mixedbread-ai/deepset-mxbai-embed-de-large-v1 (#5044)
  mteb/models/model_implementations/mixedbread_ai_models.py
Due: lint

model: Change attention for codefuse models (#5032)
  mteb/models/model_implementations/codefuse_models.py
Due: lint

[MOEB] Add dataset SHS100K
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SHS100KA2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/shs100k_retrieval.py
  scripts/data/shs100k_retrieval/create_data.py
  scripts/data/shs100k_retrieval/create_subset.py
Due: lint, format-tasks-citations

add script
  scripts/data/vggsound_retrieval/create_data.py
Due: lint

fix first results issue
  mteb/tasks/retrieval/eng/covers80_retrieval.py
  mteb/tasks/retrieval/eng/shs100k_retrieval.py
Due: lint, format-tasks-citations

remove extra import
  mteb/tasks/retrieval/eng/__init__.py
Due: lint, format-tasks-citations

lint fix
  scripts/data/vggsound_retrieval/create_data.py
Due: lint

update GZTAN reference
  mteb/tasks/classification/zxx/gtzan_genre.py
Due: lint, format-tasks-citations

[MOEB] Add SEA-VL: Multicultural VL Dataset for Southeast Asia (#5040)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SeaVLCrawlingI2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SeaVLCrawlingT2IRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/sea_vl_crawling_retrieval.py
  scripts/data/sea_vl_crawling/create_data.py
Due: lint, format-tasks-citations

skip coderag
  tests/test_benchmarks/test_reference_models.py
Due: lint

fix: update BirdCLEF bibtex citation to Cañas et al. 2025
  mteb/tasks/clustering/zxx/bird_clef_clustering.py
Due: lint, format-tasks-citations

fix: correct bibtex field order for BirdCLEF citation
  mteb/tasks/clustering/zxx/bird_clef_clustering.py
Due: lint, format-tasks-citations

Apply suggestion from @Samoed
  mteb/tasks/multichoice/eng/mmvu.py
Due: lint, format-tasks-citations

[MOEB] Add MMVU dataset (#5038)
  mteb/descriptive_stats/VideoCentricQA/MMVUVideoCentricQA.json
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/mmvu.py
  scripts/data/mmvu/create_data.py
Due: lint, format-tasks-citations

Add BirdCLEF Species Audio Clustering task (closes #5017) (#5023)
  mteb/descriptive_stats/AudioClustering/BirdCLEFSpeciesClustering.json
  mteb/tasks/clustering/zxx/__init__.py
  mteb/tasks/clustering/zxx/bird_clef_clustering.py
Due: lint, format-tasks-citations

fix spelling lint issue
  pyproject.toml
Due: none

Updating GZTAN reference (#5047)
  mteb/tasks/classification/zxx/gtzan_genre.py
Due: lint, format-tasks-citations

model: add RTriever-4B and DIVER-Retriever-4B (#5039)
  mteb/models/model_implementations/aq_medai_models.py
  mteb/models/model_implementations/yale_nlp_models.py
Due: lint

[MVEB] Add STARBench video-centric QA task (#4746)
  mteb/descriptive_stats/VideoCentricQA/STARBenchFeasibilityVideoAudioCentricQA.json
  mteb/descriptive_stats/VideoCentricQA/STARBenchFeasibilityVideoCentricQA.json
  mteb/descriptive_stats/VideoCentricQA/STARBenchInteractionVideoAudioCentricQA.json
  mteb/descriptive_stats/VideoCentricQA/STARBenchInteractionVideoCentricQA.json
  mteb/descriptive_stats/VideoCentricQA/STARBenchPredictionVideoAudioCentricQA.json
  mteb/descriptive_stats/VideoCentricQA/STARBenchPredictionVideoCentricQA.json
  mteb/descriptive_stats/VideoCentricQA/STARBenchSequenceVideoAudioCentricQA.json
  mteb/descriptive_stats/VideoCentricQA/STARBenchSequenceVideoCentricQA.json
  mteb/tasks/multichoice/eng/__init__.py
  mteb/tasks/multichoice/eng/star_bench.py
Due: lint, format-tasks-citations

fix: avoid stacking variable-length tensors in JinaV4Wrapper.encode
  mteb/models/model_implementations/jina_models.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
