Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

Add depreciation warning
  mteb/models/instruct_wrapper.py
Due: lint

Reuse Loaded json
  mteb/models/model_meta.py
Due: lint

fix implementation
  mteb/models/model_implementations/qwen3_reranker.py
Due: lint

Update test.yml
  .github/workflows/test.yml
Due: none

use audiocollaor to process
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

dataset: Add AfriHateClassification dataset
  mteb/tasks/Classification/multilingual/AfriHateClassification.py
Due: lint, format-tasks-citations

dataset: Add AfriSentiClassification
  mteb/tasks/Classification/multilingual/AfriSentiClassification.py
Due: lint, format-tasks-citations

dataset: Add KinNewsClassification dataset
  mteb/tasks/Classification/multilingual/KinNewsClassification.py
Due: lint, format-tasks-citations

dataset: Add InjongoIntent dataset
  mteb/tasks/Classification/multilingual/InjongoIntent.py
Due: lint, format-tasks-citations

dataset: Add emotion analysis dataset
  mteb/tasks/MultiLabelClassification/multilingual/EmotionAnalysisPlus.py
Due: lint, format-tasks-citations

dataset: Add SIB200_14Classification dataset
  mteb/tasks/MultiLabelClassification/multilingual/SIB200_14Classes.py
Due: lint, format-tasks-citations

dataset: Add AfriXNLI dataset
  mteb/tasks/PairClassification/multilingual/AfriXNLI.py
Due: lint, format-tasks-citations

update init
  mteb/tasks/Classification/__init__.py
  mteb/tasks/MultiLabelClassification/__init__.py
  mteb/tasks/PairClassification/__init__.py
Due: lint, format-tasks-citations

model: Add AfriE5-Large-instruct
  mteb/models/e5_instruct.py
Due: lint

feat: register AfriMTEB benchmark
  mteb/benchmarks/benchmarks.py
  mteb/benchmarks/get_benchmark.py
Due: lint, format-benchmarks-citations

Fill up n_embedding_parameters value in ModelMeta (#4050)
  mteb/models/model_implementations/arctic_models.py
  mteb/models/model_implementations/codefuse_models.py
  mteb/models/model_implementations/ict_time_and_querit_models.py
  mteb/models/model_implementations/inf_models.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/kalm_models.py
  mteb/models/model_implementations/mixedbread_ai_models.py
  mteb/models/model_implementations/nomic_models.py
  mteb/models/model_implementations/nvidia_models.py
  mteb/models/model_implementations/nvidia_nemotron_colembed_vl.py
  mteb/models/model_implementations/pawan_models.py
  mteb/models/model_implementations/piccolo_models.py
  mteb/models/model_implementations/pylate_models.py
  mteb/models/model_implementations/qzhou_models.py
  mteb/models/model_implementations/repllama_models.py
  mteb/models/model_implementations/rerankers_monot5_based.py
  mteb/models/model_implementations/searchmap_models.py
  mteb/models/model_implementations/vlm2vec_models.py
  mteb/models/model_implementations/youtu_models.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

fill `n_embedding`
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

fix bitext false positive
  tests/test_get_tasks.py
Due: lint

fix lotte
  mteb/tasks/retrieval/eng/lotte_retrieval.py
Due: lint, format-tasks-citations

add max samples
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

Update mteb/models/model_implementations/qwen_omni_lm.py
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

Update mteb/abstasks/_eval/eval_model.py
  mteb/abstasks/_eval/eval_model.py
Due: lint

working version
  mteb/_hf_integration/__init__.py
  mteb/_hf_integration/eval_model.py
  mteb/_hf_integration/eval_result_model.py
  mteb/_hf_integration/hf_hub_utils.py
  mteb/abstasks/_eval/eval_model.py
  mteb/abstasks/_eval/eval_result_model.py
  mteb/abstasks/abstask.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
  mteb/results/model_result.py
  mteb/results/task_result.py
  tests/conftest.py
  tests/test_abstasks/test_task_metadata.py
  tests/test_results/test_task_results.py
Due: lint

add method to model meta for uploading
  mteb/models/model_meta.py
  mteb/results/task_result.py
Due: lint

fix tests
  mteb/abstasks/aggregated_task.py
  mteb/evaluate.py
  mteb/models/model_meta.py
  mteb/results/task_result.py
  tests/test_models/test_model_meta.py
  tests/test_results/test_task_results.py
Due: lint

update model revisions
  mteb/models/model_implementations/nvidia_nemotron_colembed_vl.py
Due: lint

2.8.4
  pyproject.toml
Due: none

Add embedding parameters to all models and fix citation
  mteb/models/model_implementations/qwen3_reranker.py
Due: lint

Add msmarco-minilm-v2 series
  mteb/models/model_implementations/rerankers_custom.py
Due: lint

fix metadata "n_embedding_param"
  mteb/models/model_implementations/rerankers_custom.py
Due: lint

Add msmarco-minilm-v2 series (#4132)
  mteb/models/model_implementations/rerankers_custom.py
Due: lint

test file dump in tests
  mteb/_hf_integration/eval_model.py
  mteb/_hf_integration/eval_result_model.py
  mteb/abstasks/abstask.py
  mteb/results/model_result.py
  mteb/results/task_result.py
  tests/test_abstasks/test_task_metadata.py
  tests/test_results/test_task_results.py
Due: lint

add what's new
  docs/whats_new.md
Due: none

fix function name
  mteb/_evaluators/retrieval_metrics.py
Due: lint

fix dumping
  mteb/results/model_result.py
Due: lint

Apply suggestions from code review
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

upd
  mteb/models/model_implementations/qwen_omni_lm.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
