Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

add mteb/DiDeMo dataset
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/didemo_v2t_retrieval.py
Due: lint, format-tasks-citations

fix: support ST multimodal wrapper for omni-embed-nemotron
  mteb/_create_dataloaders.py
  mteb/models/model_implementations/omni_embed_nemotron_models.py
  mteb/models/sentence_transformer_wrapper.py
  pyproject.toml
Due: lint

add: RAVDESS + MSRVTT results for omni-embed-nemotron (ST wrapper)
  results/nvidia__omni-embed-nemotron-3b/nvidia__omni-embed-nemotron-3b/e0e93aaaa65d2422a8a0c1284116e71f7a0fe966/MSRVTTV2T.json
  results/nvidia__omni-embed-nemotron-3b/nvidia__omni-embed-nemotron-3b/e0e93aaaa65d2422a8a0c1284116e71f7a0fe966/RAVDESSAVClustering.json
  results/nvidia__omni-embed-nemotron-3b/nvidia__omni-embed-nemotron-3b/e0e93aaaa65d2422a8a0c1284116e71f7a0fe966/model_meta.json
Due: none

change placement
  mteb/_create_dataloaders.py
  mteb/abstasks/clustering.py
Due: lint

refactor: filter non-modality keys in ST multimodal wrapper instead of per-task
  mteb/abstasks/clustering.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

add comb
  mteb/abstasks/task_metadata.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/didemo_a2t_retrieval.py
  mteb/tasks/retrieval/eng/didemo_t2a_retrieval.py
  mteb/tasks/retrieval/eng/didemo_t2v_retrieval.py
  mteb/tasks/retrieval/eng/msvd_t2v_retrieval.py
Due: lint, format-tasks-citations

update
  mteb/descriptive_stats/Image/Any2AnyRetrieval/DiDeMoA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/DiDeMoT2ARetrieval.json
Due: none

[MVEB] Adding MUSIC-AVQA Task (Clustering)
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/music_avqa_clustering.py
Due: lint, format-tasks-citations

Fix: move VATEXV2T to standard retrieval folder, remove VideoInputItem
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/vatex.py
  mteb/tasks/video/retrieval/eng/__init__.py
Due: lint, format-tasks-citations

fix test
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

Fix skip_first_result not applied to hit_rate metric
  mteb/_evaluators/retrieval_metrics.py
Due: lint

optionally check torchaudio in test
  tests/test_models/test_model_meta.py
Due: lint

format
  mteb/models/vllm_wrapper.py
Due: lint

lint
  mteb/_evaluators/retrieval_metrics.py
Due: lint

2.12.21
  pyproject.toml
Due: none

Update vllm_wrapper.py (#4418)
  mteb/models/vllm_wrapper.py
Due: lint

Add TUNA-Bench_1K video retrieval tasks (V2T and T2V)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/tuna_bench_t2v_retrieval.py
  mteb/tasks/retrieval/eng/tuna_bench_v2t_retrieval.py
Due: lint, format-tasks-citations

Add ActivityNet_Captions_val2 video retrieval tasks (V2T and T2V)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/activitynet_captions_t2v_retrieval.py
  mteb/tasks/retrieval/eng/activitynet_captions_v2t_retrieval.py
Due: lint, format-tasks-citations

Update mteb/tasks/__init__.py
  mteb/tasks/__init__.py
Due: lint, format-tasks-citations

add mteb/TUNA-Bench_1K dataset (#4428)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/tuna_bench_t2v_retrieval.py
  mteb/tasks/retrieval/eng/tuna_bench_v2t_retrieval.py
Due: lint, format-tasks-citations

Consolidate DiDeMo retrieval tasks into a single file
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/didemo_a2t_retrieval.py
  mteb/tasks/retrieval/eng/didemo_retrieval.py
  mteb/tasks/retrieval/eng/didemo_t2a_retrieval.py
  mteb/tasks/retrieval/eng/didemo_t2v_retrieval.py
  mteb/tasks/retrieval/eng/didemo_v2t_retrieval.py
Due: lint, format-tasks-citations

Fix __all__ sort order for isort-style linting (RUF033)
  mteb/tasks/retrieval/eng/__init__.py
Due: lint, format-tasks-citations

Remove unused Dataset import from didemo_retrieval
  mteb/tasks/retrieval/eng/didemo_retrieval.py
Due: lint, format-tasks-citations

add mteb/DiDeMo dataset (#4425)
  mteb/abstasks/task_metadata.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/DiDeMoA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/DiDeMoT2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/didemo_retrieval.py
  mteb/tasks/retrieval/eng/msvd_t2v_retrieval.py
Due: lint, format-tasks-citations

Update mteb/tasks/retrieval/eng/activitynet_captions_t2v_retrieval.py
  mteb/tasks/retrieval/eng/activitynet_captions_t2v_retrieval.py
Due: lint, format-tasks-citations

Consolidate ActivityNet Captions retrieval tasks into a single file
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/activitynet_captions_retrieval.py
  mteb/tasks/retrieval/eng/activitynet_captions_t2v_retrieval.py
  mteb/tasks/retrieval/eng/activitynet_captions_v2t_retrieval.py
Due: lint, format-tasks-citations

update query filtering
  mteb/abstasks/retrieval.py
  mteb/abstasks/retrieval_dataset_loaders.py
Due: lint

Add ActivityNet_Captions_val2 video retrieval tasks (V2T and T2V) (#4429)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/activitynet_captions_retrieval.py
Due: lint, format-tasks-citations

lint
  mteb/tasks/classification/eng/__init__.py
Due: lint, format-tasks-citations

Add YouCook2_val retrieval tasks (V2T, T2V, A2T, T2A)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
Due: lint, format-tasks-citations

Add VATEX_test_1k retrieval tasks (V2T, T2V, A2T, T2A)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/vatex_retrieval.py
Due: lint, format-tasks-citations

simplify description
  mteb/tasks/clustering/eng/music_avqa_clustering.py
Due: lint, format-tasks-citations

[MVEB] Add Breakfast video classification task (#4431)
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/breakfast_classification.py
Due: lint, format-tasks-citations

[MVEB] Adding MUSIC-AVQA Task (Clustering) (#4426)
  mteb/tasks/clustering/eng/__init__.py
  mteb/tasks/clustering/eng/music_avqa_clustering.py
Due: lint, format-tasks-citations

Update mteb/tasks/classification/multilingual/sib200_classification.py
  mteb/tasks/classification/multilingual/sib200_classification.py
Due: lint, format-tasks-citations

fix(benchmarks): register SIB200Classification.v2 supersession
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/classification/multilingual/__init__.py
  mteb/tasks/classification/multilingual/sib200_classification.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-benchmarks-citations, format-tasks-citations

Fix: apply skip_first_result when computing hit_rate metric (#4427)
  mteb/_evaluators/retrieval_metrics.py
Due: lint

refactor: clean up comments and docstring
  mteb/models/model_implementations/ebind_models.py
Due: lint
