Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Switch to mteb's repo
  mteb/tasks/retrieval/jpn/ja_cwir_retrieval_lite.py
  mteb/tasks/retrieval/jpn/jaqket_retrieval_lite.py
Due: lint, format-tasks-citations

update description
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

reference if repo exists
  mteb/models/model_meta.py
Due: lint

fix error
  mteb/models/model_meta.py
Due: lint

fix revision
  tests/mock_models.py
Due: lint

fix mock model
  mteb/models/model_meta.py
Due: lint

compute revision in `ModelMeta`
  mteb/evaluate.py
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
Due: lint

simplify calculations
  mteb/models/model_meta.py
Due: lint

fix tests
  mteb/models/model_meta.py
Due: lint

dataset: Add JMTEB-lite(v1) benchmark (#3738)
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/reranking/jpn/j_qa_ra_reranking_lite.py
  mteb/tasks/reranking/jpn/ja_cwir_reranking_lite.py
  mteb/tasks/retrieval/jpn/ja_cwir_retrieval_lite.py
  mteb/tasks/retrieval/jpn/jaqket_retrieval_lite.py
  mteb/tasks/retrieval/jpn/miracl_ja_retrieval_lite.py
  mteb/tasks/retrieval/jpn/mr_tydi_ja_retrieval_lite.py
Due: lint, format-benchmarks-citations, format-tasks-citations

Added feature to fetch release_date in model_meta (#3717)
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
Due: lint

model: Added nomic-ai/nomic-embed-text-v2-moe
  mteb/models/model_implementations/nomic_models.py
Due: lint

format
  mteb/models/model_implementations/nomic_models.py
Due: lint

docs: Added changelog
  docs/index.md
  docs/usage/defining_the_model.md
  docs/whats_new.md
  mkdocs.yml
  mteb/abstasks/classification.py
  mteb/abstasks/regression.py
  mteb/abstasks/retrieval.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/filter_tasks.py
  mteb/results/benchmark_results.py
  pyproject.toml
Due: lint, format-benchmarks-citations

minor fix
  docs/whats_new.md
Due: none

Update mteb/models/model_implementations/nomic_models.py
  mteb/models/model_implementations/nomic_models.py
Due: lint

model: Added nomic-ai/nomic-embed-text-v2-moe (#3740)
  mteb/models/model_implementations/nomic_models.py
Due: lint

fetch max tokens and embedding_dim
  mteb/models/model_meta.py
Due: lint

add `from_hub_for_sentence_transformer`
  mteb/models/model_meta.py
Due: lint

add doc
  docs/contributing/adding_a_model.md
  mteb/evaluate.py
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
Due: lint

add tests
  mteb/models/model_meta.py
  tests/test_integrations/test_integration_with_sentencetransformers.py
Due: lint

Create bica_model.py
  mteb/models/model_implementations/bica_model.py
Due: lint

fix autoconfig load
  mteb/models/model_meta.py
Due: lint

Update mteb/models/model_implementations/bica_model.py
  mteb/models/model_implementations/bica_model.py
Due: lint

fix tests
  mteb/models/model_meta.py
  tests/test_deprecated/test_MTEB_create_model_meta.py
Due: lint

upd docstring
  mteb/models/model_meta.py
Due: lint

Update bica_model.py
  mteb/models/model_implementations/bica_model.py
Due: lint

model: Add bisectgroup/BiCA-base (#3742)
  mteb/models/model_implementations/bica_model.py
Due: lint

use sentence transformer by default
  mteb/models/model_meta.py
  tests/test_integrations/test_integration_with_sentencetransformers.py
Due: lint

fix tests
  tests/test_integrations/test_encode_args_passed.py
Due: lint

fix typehint
  mteb/models/model_meta.py
Due: lint

added autogenerated changelog
  CHANGELOG.md
Due: none

rename
  CHANGELOG-default.md
Due: none

fix typehint
  mteb/_evaluators/evaluator.py
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/abstask.py
  mteb/abstasks/multilabel_classification.py
  mteb/abstasks/sts.py
  mteb/abstasks/text/summarization.py
  mteb/models/abs_encoder.py
  mteb/models/cache_wrappers/cache_backend_protocol.py
  mteb/models/cache_wrappers/cache_backends/_hash_utils.py
  mteb/models/cache_wrappers/cache_backends/numpy_cache.py
  mteb/models/cache_wrappers/cache_wrapper.py
  mteb/models/instruct_wrapper.py
  mteb/models/model_meta.py
Due: lint

fix doc
  docs/contributing/adding_a_model.md
Due: none

fix doc
  mteb/models/model_meta.py
Due: lint

feat: Add `.from_hf_hub()` and similar methods to `ModelMeta` (#3737)
  docs/contributing/adding_a_model.md
  mteb/deprecated_evaluator.py
  mteb/evaluate.py
  mteb/models/get_model_meta.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
  tests/mock_models.py
  tests/test_deprecated/test_MTEB_create_model_meta.py
  tests/test_integrations/test_encode_args_passed.py
  tests/test_integrations/test_integration_with_sentencetransformers.py
Due: lint

2.4.0
  pyproject.toml
Due: none

typechecking
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/evaluator.py
  mteb/_evaluators/image/imagetext_pairclassification_evaluator.py
  mteb/_evaluators/sklearn_evaluator.py
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/abstask.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/abstasks/multilabel_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/regression.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/text/bitext_mining.py
  mteb/deprecated_evaluator.py
  mteb/models/model_meta.py
  mteb/types/_result.py
Due: lint
