Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Add topk-io/Iso-ModernColBERT model meta (#4812)
  mteb/models/model_implementations/pylate_models.py
Due: lint

Update dependency to reuse an existing one
  mteb/models/model_implementations/mixedbread_ai_models.py
  pyproject.toml
Due: lint

model: add mixedbread-ai mxbai-rerank-base-v2 and mxbai-rerank-large-v2 (#4857)
  mteb/models/model_implementations/mixedbread_ai_models.py
Due: lint

model: add naver splade-code-06B and splade-code-8B
  mteb/models/model_implementations/splade_code_models.py
Due: lint

Add google/gemini-embedding-2 (GA)
  mteb/models/model_implementations/google_gemini.py
Due: lint

fix: functional_tensor shim for modern torchvision + pin transformers<4.46 + use get_model in tests
  mteb/models/model_implementations/language_bind_models.py
  pyproject.toml
  tests/test_models/test_language_bind.py
Due: lint

feat: add retrieval keyword overlap stats
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/retrieval.py
  mteb/types/statistics.py
  tests/mock_tasks.py
Due: lint

docs: clarify evaluation requests
  docs/contributing/adding_a_model.md
  docs/contributing/submitting_results.md
Due: none

Apply suggestions from code review
  docs/contributing/adding_a_model.md
Due: none

model: Add Prism reranker models (infgrad/Prism-Qwen3.5-Reranker) (#4823)
  mteb/models/model_implementations/prism_models.py
Due: lint

docs: Document evaluation request workflow (#4861)
  docs/contributing/adding_a_model.md
  docs/contributing/submitting_results.md
Due: none

model: add laion/voiceclap-large-v2
  mteb/models/model_implementations/voiceclap_models.py
Due: lint

model: Add VoiceNet voiceclap-large and voiceclap-small
  mteb/models/model_implementations/voiceclap_models.py
Due: lint

fix: load BelebeleRetrieval language configs
  mteb/tasks/retrieval/multilingual/belebele_retrieval.py
  tests/test_tasks/test_load_data.py
Due: lint, format-tasks-citations

Add structure-aware corpus-adaptive hybrid retriever
  mteb/models/model_implementations/structure_aware_hybrid.py
Due: lint

simplify
  mteb/tasks/retrieval/multilingual/belebele_retrieval.py
  tests/test_tasks/test_load_data.py
Due: lint, format-tasks-citations

fix: load BelebeleRetrieval language configs (#4866)
  mteb/tasks/retrieval/multilingual/belebele_retrieval.py
Due: lint, format-tasks-citations

2.16.2
  pyproject.toml
Due: none

Update mteb/models/model_implementations/byrne_models.py
  mteb/models/model_implementations/byrne_models.py
Due: lint

model: Add Byrne-Embed model implementation (#4847)
  mteb/models/model_implementations/byrne_models.py
Due: lint

agentic: add answer-mode retrieval core (contract, evaluator, baselines)
  mteb/agentic/__init__.py
  mteb/agentic/corpus.py
  mteb/agentic/data.py
  mteb/agentic/evaluator.py
  mteb/agentic/interface.py
  mteb/agentic/metrics.py
  mteb/agentic/systems/__init__.py
  mteb/agentic/systems/baselines.py
  tests/test_agentic.py
Due: lint

update formatting of terminal output as per review
  mteb/cli/build_cli.py
Due: lint

Add 7 Korean retrieval tasks to MTEB(kor, v1)
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Add Korean STS/NLI/clustering tasks to MTEB(kor, v1)
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Add ModelMeta for 9 Korean community embedding models
  mteb/models/model_implementations/korean_finetuned_models.py
Due: lint

Support Korean (kor) in bm25s baseline tokenization
  mteb/models/model_implementations/bm25.py
Due: lint

Address retrieval overlap review comments
  mteb/abstasks/_statistics_calculation.py
  mteb/types/statistics.py
  tests/mock_tasks.py
Due: lint

Fix aggregate overlap id mapping
  mteb/abstasks/retrieval.py
Due: lint

Format retrieval overlap aggregate fix
  mteb/abstasks/retrieval.py
Due: lint

Skip overlap maps for non-text retrieval stats
  mteb/abstasks/retrieval.py
Due: lint

fix(ebind): pad sub-window audio clips so short samples don't crash the batch
  mteb/models/model_implementations/ebind_models.py
Due: lint

fix(e5-omni): cap text encode length at 512 tokens (paper config)
  mteb/models/model_implementations/e5_omni_models.py
Due: lint

fix(lco-embedding): truncate text to 300 tokens matching author eval
  mteb/models/model_implementations/lco_embedding_models.py
Due: lint

fix(tevatron-omniembed): cap text encode length at 512 tokens
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

fix: reconstruct main_score for legacy reranking and pair-classification results
  mteb/results/task_result.py
  tests/historic_results/SciDocsRR.json
  tests/test_results/test_task_results.py
Due: lint

feat: auto-install optional model dependencies via MTEB_AUTO_INSTALL_EXTRAS
  docs/installation.md
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

dataset: add cleaned STSBenchmark v2
  mteb/descriptive_stats/STS/STSBenchmark.v2.json
  mteb/tasks/sts/eng/__init__.py
  mteb/tasks/sts/eng/sts_benchmark_sts.py
Due: lint, format-tasks-citations

Fix task crashes in EBind (short audio) (#4872)
  mteb/models/model_implementations/ebind_models.py
Due: lint

Add openness score to model metadata and documentation
  docs/overview/create_available_models.py
  mteb/api/schemas.py
  mteb/models/model_meta.py
  tests/test_models/test_model_meta.py
Due: lint
