Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

add section about converting old reranking dataset format
  docs/whats_new.md
Due: none

[v2]: Denote non-public functions (#3371)
  mteb/_evaluators/evaluator.py
  mteb/_set_seed.py
  mteb/abstasks/abstask.py
  mteb/cli/build_cli.py
  mteb/cli/generate_model_card.py
  mteb/leaderboard/app.py
  mteb/leaderboard/benchmark_selector.py
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
  mteb/similarity_functions.py
Due: lint

fixes
  mteb/create_dataloaders.py
  mteb/models/model_implementations/seed_models.py
Due: lint

remove unused imports
  scripts/format_citations.py
  tests/test_benchmarks/test_get_benchmarks.py
  tests/test_benchmarks/test_names_must_be unique.py
  tests/test_integrations/test_encode_args_passed.py
  tests/test_integrations/test_prompts.py
Due: lint

benchmark use cache directly
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

imports fixed for MTEB-NL
  mteb/tasks/classification/nld/DutchColaClassification.py
  mteb/tasks/classification/nld/DutchGovernmentBiasClassification.py
  mteb/tasks/classification/nld/DutchNewsArticlesClassification.py
  mteb/tasks/classification/nld/DutchSarcasticHeadlinesClassification.py
  mteb/tasks/classification/nld/IconclassClassification.py
  mteb/tasks/classification/nld/OpenTenderClassification.py
  mteb/tasks/classification/nld/VaccinChatNLClassification.py
  mteb/tasks/clustering/nld/DutchNewsArticlesClusteringP2P.py
  mteb/tasks/clustering/nld/DutchNewsArticlesClusteringS2S.py
  mteb/tasks/clustering/nld/IconclassClusteringS2S.py
  mteb/tasks/clustering/nld/OpenTenderClusteringP2P.py
  mteb/tasks/clustering/nld/OpenTenderClusteringS2S.py
  mteb/tasks/clustering/nld/VABBClusteringP2P.py
  mteb/tasks/clustering/nld/VABBClusteringS2S.py
  mteb/tasks/sts/nld/SICKNLSTS.py
Due: lint, format-tasks-citations

Add image regression
  mteb/abstasks/regression.py
  tests/mock_models.py
  tests/mock_tasks.py
  tests/task_grid.py
Due: lint

SICKNLPairClassification the HF location fixed
  mteb/tasks/pair_classification/nld/SICKNLPairClassification.py
Due: lint, format-tasks-citations

DutchColaClassification the HF location fixed
  mteb/tasks/classification/nld/DutchColaClassification.py
Due: lint, format-tasks-citations

DutchGovernmentBiasClassification the HF location fixed
  mteb/tasks/classification/nld/DutchGovernmentBiasClassification.py
Due: lint, format-tasks-citations

XLWICNLPairClassification the HF location fixed
  mteb/tasks/pair_classification/nld/XLWICNLPairClassification.py
Due: lint, format-tasks-citations

add result cache to doc
  docs/api/results.md
Due: none

fix :
  docs/api/results.md
Due: none

add link to whats new to cache
  docs/whats_new.md
Due: none

move regression task to different grid
  tests/task_grid.py
Due: lint

BBSARDNLRetrieval the HF location fixed
  mteb/tasks/pair_classification/nld/XLWICNLPairClassification.py
  mteb/tasks/retrieval/nld/BBSARDNLRetrieval.py
Due: lint, format-tasks-citations

LegalQANLRetrieval the HF location fixed
  mteb/tasks/retrieval/nld/LegalQANLRetrieval.py
Due: lint, format-tasks-citations

Add image regression (#3377)
  mteb/abstasks/regression.py
  tests/mock_models.py
  tests/mock_tasks.py
  tests/task_grid.py
Due: lint

Update mteb/models/model_implementations/vista_models.py
  mteb/models/model_implementations/vista_models.py
Due: lint

add result cache to doc (#3378)
  docs/api/results.md
  docs/whats_new.md
Due: none

Fix aggregate task filtering bug
  mteb/filter_tasks.py
  tests/test_filter_tasks.py
Due: lint

remove `benchmark.load_result`
  mteb/benchmarks/benchmark.py
  mteb/leaderboard/app.py
Due: lint, format-benchmarks-citations

deactivate `DOC` rule
  pyproject.toml
Due: none

feat: create TRECDLRetrieval
  mteb/tasks/Retrieval/eng/TRECDLRetrieval.py
Due: lint, format-tasks-citations

(v2.0.0) (bugfix) Correcting the task filtering issue (#3372)
  mteb/filter_tasks.py
  tests/test_filter_tasks.py
Due: lint

remove unec. tests
  tests/test_filter_tasks.py
Due: lint

Descriptive stats, part 1
  tests/test_filter_tasks.py
Due: lint

remove raises
  mteb/abstasks/_statistics_calculation.py
  mteb/benchmarks/get_benchmark.py
  mteb/languages/check_language_code.py
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/conan_models.py
  mteb/models/model_implementations/mcinext_models.py
  mteb/models/model_implementations/openai_models.py
  mteb/models/model_implementations/random_baseline.py
Due: lint, format-benchmarks-citations

Correcting the get_tasks filtering issue
  tests/test_overview_filters.py
Due: lint

Apply suggestions from code review
  docs/whats_new.md
  mteb/abstasks/classification.py
  mteb/models/model_implementations/openai_models.py
Due: lint

Update mteb/models/search_wrappers.py
  mteb/models/search_wrappers.py
Due: lint

fix load results naming
  mteb/cache.py
Due: lint

add two stage reranking doc
  docs/usage/two_stage_reranking.md
Due: none
