Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

make corpus_chunk_size tunable via encode_kwargs
  docs/get_started/usage/running_the_evaluation.md
  mteb/_evaluators/text/bitext_mining_evaluator.py
  mteb/abstasks/abstask.py
  mteb/abstasks/classification.py
  mteb/models/search_wrappers.py
  mteb/types/_encoder_io.py
  tests/test_evaluate.py
Due: lint

refactor: move FinQA, FinanceBench, HC3Finance and WikiSQL retrieval to v2 format
  mteb/tasks/retrieval/code/wiki_sql_retrieval.py
  mteb/tasks/retrieval/eng/fin_qa_retrieval.py
  mteb/tasks/retrieval/eng/finance_bench_retrieval.py
  mteb/tasks/retrieval/eng/hc3_finance_retrieval.py
Due: lint, format-tasks-citations

Address review: float-gain metric in the task module, full-corpus mode, loader parity
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/retrieval_float_gains.py
  mteb/descriptive_stats/Retrieval/BrightTheoremQAQuestionsRCPRetrieval.json
  mteb/descriptive_stats/Retrieval/BrightTheoremQATheoremsRCPRetrieval.json
  mteb/mocks/mock_tasks/retrieval.py
  mteb/tasks/retrieval/eng/bright_rcp_retrieval.py
  mteb/tasks/retrieval/eng/nano_beir_rcp_retrieval.py
  mteb/tasks/retrieval/multilingual/vidore3_rcp_retrieval.py
  tests/test_abstasks/test_retrieval_float_gains.py
  tests/test_evaluators/test_retrieval_metrics_float_gains.py
Due: lint, format-tasks-citations

Full-corpus mode: own task name and ndcg_at_10 main score; loader tests
  mteb/abstasks/retrieval_float_gains.py
  tests/test_abstasks/test_retrieval_float_gains.py
Due: lint

Full-corpus mode refuses cross-encoders; type the main-score override
  mteb/abstasks/retrieval_float_gains.py
  tests/test_abstasks/test_retrieval_float_gains.py
Due: lint

Update mteb/tasks/classification/multilingual/sib200_classification.py
  mteb/tasks/classification/multilingual/sib200_classification.py
Due: lint, format-tasks-citations

fix: check the cache before loading an image model for a video task
  mteb/evaluate.py
  mteb/models/video_wrappers/video2images_wrapper.py
  tests/test_models/test_video2images_wrapper.py
Due: lint

fix: only wrap dense image models for video tasks
  mteb/evaluate.py
  mteb/models/video_wrappers/video2images_wrapper.py
  tests/test_models/test_video2images_wrapper.py
Due: lint

model: add Linkup-Platform/linkup-sparseup-embed-v1
  mteb/models/model_implementations/linkup_models.py
Due: lint

fix: bge-small-en and bge-small-en-v1.5 embed_dim is 384, not 512
  mteb/models/model_implementations/bge_models.py
Due: lint

Add TREC-DL 2019/2020 RCP tasks and the TREC-DL(RCP) benchmark
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Retrieval/TRECDL2019RCPRetrieval.json
  mteb/descriptive_stats/Retrieval/TRECDL2020RCPRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/trecdl_rcp_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-benchmarks-citations, format-tasks-citations

ViDoRe RCP tasks: note six-language mean vs paper's native-language numbers
  mteb/tasks/retrieval/multilingual/vidore3_rcp_retrieval.py
Due: lint, format-tasks-citations

Float-gains metric: score 0 for a qrels query whose gains are all null
  mteb/abstasks/retrieval_float_gains.py
  tests/test_abstasks/test_retrieval_float_gains.py
Due: lint

Pin RCP datasets to current card revisions
  mteb/tasks/retrieval/eng/bright_rcp_retrieval.py
  mteb/tasks/retrieval/eng/nano_beir_rcp_retrieval.py
  mteb/tasks/retrieval/multilingual/vidore3_rcp_retrieval.py
Due: lint, format-tasks-citations

model: add RiverRider/motherlode-code-small-en-v0.1
  mteb/models/model_implementations/riverrider_models.py
Due: lint

fix: read task modalities in result filtering
  mteb/results/model_result.py
  mteb/results/task_result.py
  tests/test_results/test_model_results.py
Due: lint

fix: match black/white doc ids to prefixed qrels in multilingual stats
  mteb/abstasks/retrieval.py
  mteb/descriptive_stats/Image/Any2AnyMultilingualRetrieval/WITT2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/VisualNewsI2TRetrieval.json
  tests/test_abstasks/test_image_statistics.py
Due: lint

test: register WITT2IRetrieval duplicate images and captions as known
  tests/test_tasks/test_task_quality.py
Due: lint

Fix Querit model implementation: replace incomplete A0.4B model shard
  mteb/models/model_implementations/querit_models.py
Due: lint

fix: repair NanoVDR document encoding path
  mteb/models/model_implementations/nanovdr_models.py
Due: lint

refactor: drop the vendored Qwen3VL wrapper
  mteb/models/model_implementations/nanovdr_models.py
Due: lint

fix: repair NanoVDR document encoding path (#5552)
  mteb/models/model_implementations/nanovdr_models.py
Due: lint

2.21.9
  pyproject.toml
Due: none

fix: reject models that already support video in Video2ImagesWrapper
  mteb/models/video_wrappers/video2images_wrapper.py
  tests/test_models/test_video2images_wrapper.py
Due: lint

fix: only treat video as covered when it is alone in a dataloader
  mteb/evaluate.py
  mteb/models/video_wrappers/video2images_wrapper.py
  tests/test_models/test_video2images_wrapper.py
Due: lint

fix: register granite-vision embedding as late-interaction
  mteb/models/model_implementations/granite_vision_embedding_models.py
  tests/test_models/test_model_meta.py
Due: lint

Cite the published RCP-nDCG paper (arXiv:2609.35739)
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/tasks/retrieval/eng/bright_rcp_retrieval.py
  mteb/tasks/retrieval/eng/nano_beir_rcp_retrieval.py
  mteb/tasks/retrieval/eng/trecdl_rcp_retrieval.py
  mteb/tasks/retrieval/multilingual/vidore3_rcp_retrieval.py
  tests/test_validate_metadata/citation_allowlist.json
Due: lint, format-benchmarks-citations, format-tasks-citations

Add text-only OCR variants of the ViDoRe(v3, RCP) tasks
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3ComputerScienceRCPRetrievalOCR.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3EnergyRCPRetrievalOCR.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3FinanceEnRCPRetrievalOCR.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3FinanceFrRCPRetrievalOCR.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3HrRCPRetrievalOCR.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3IndustrialRCPRetrievalOCR.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3PharmaceuticalsRCPRetrievalOCR.json
  mteb/descriptive_stats/Image/DocumentUnderstanding/Vidore3PhysicsRCPRetrievalOCR.json
  mteb/tasks/retrieval/multilingual/__init__.py
  mteb/tasks/retrieval/multilingual/vidore3_rcp_retrieval.py
  tests/test_tasks/test_task_quality.py
Due: lint, format-benchmarks-citations, format-tasks-citations

docs: explain deterministic retrieval dataset downsampling
  docs/contributing/adding_a_dataset.md
  docs/contributing/downsampling.md
  mkdocs.yml
  tests/test_downsampling_docs.py
Due: lint

fix: read task modalities in result filtering (#5550)
  mteb/results/model_result.py
  mteb/results/task_result.py
  tests/test_results/test_model_results.py
Due: lint

fix: bge-small-en and bge-small-en-v1.5 embed_dim is 384, not 512 (#5548)
  mteb/models/model_implementations/bge_models.py
Due: lint

model: add RiverRider/motherlode-code-small-en-v0.1 (#5549)
  mteb/models/model_implementations/riverrider_models.py
Due: lint

model: add Linkup-Platform/linkup-sparseup-embed-v1 (#5547)
  mteb/models/model_implementations/linkup_models.py
Due: lint

refactor: move FinQA, FinanceBench, HC3Finance and WikiSQL retrieval to v2 format (#5546)
  mteb/tasks/retrieval/code/wiki_sql_retrieval.py
  mteb/tasks/retrieval/eng/fin_qa_retrieval.py
  mteb/tasks/retrieval/eng/finance_bench_retrieval.py
  mteb/tasks/retrieval/eng/hc3_finance_retrieval.py
Due: lint, format-tasks-citations

2.21.10
  pyproject.toml
Due: none

Relocate the float-gains metric and base class per review
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/retrieval_float_gains.py
  mteb/mocks/mock_tasks/retrieval.py
  mteb/tasks/retrieval/eng/bright_rcp_retrieval.py
  mteb/tasks/retrieval/eng/nano_beir_rcp_retrieval.py
  mteb/tasks/retrieval/eng/trecdl_rcp_retrieval.py
  mteb/tasks/retrieval/multilingual/vidore3_rcp_retrieval.py
  tests/test_abstasks/test_retrieval_float_gains.py
  tests/test_evaluators/test_retrieval_metrics_float_gains.py
Due: lint, format-tasks-citations

Compute ndcg_float_at_k in both modes; gains load lazily; main score never mutated (review)
  mteb/abstasks/retrieval.py
  tests/test_abstasks/test_retrieval_float_gains.py
Due: lint

Set restrict_corpus_to_top_ranked = False on the full-corpus variant
  mteb/abstasks/retrieval.py
  tests/test_abstasks/test_retrieval_float_gains.py
Due: lint

Move the descriptive-statistics guidance out of the attribute docstring
  mteb/abstasks/retrieval.py
Due: lint

Enforce the full-corpus view in descriptive statistics (review)
  mteb/abstasks/retrieval.py
Due: lint
