Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

Update pyproject.toml
  pyproject.toml
Due: none

docs: add benchmark filtering examples
  docs/usage/selecting_tasks.md
Due: none

fix: Update release_date to 2025-12-20
  mteb/models/model_implementations/slm_models.py
Due: lint

add annotations
  tests/mock_tasks.py
Due: lint

fix: lazy-load leaderboard to avoid requiring deps for CLI
  AGENTS.md
  mteb/cli/build_cli.py
  tests/test_cli.py
Due: lint

Update mteb/cli/build_cli.py
  mteb/cli/build_cli.py
Due: lint

make lint
  mteb/cli/build_cli.py
Due: lint

fix: resolve mkdocs strict mode errors
  docs/installation.md
  docs/usage/defining_the_model.md
  docs/whats_new.md
  mteb/models/model_implementations/pylate_models.py
  mteb/results/benchmark_results.py
Due: lint

fix: address review comments - remove partial, add adapted_from and training_datasets
  mteb/models/model_implementations/slm_models.py
Due: lint

[ADD] Vietnamese VN-MTEB TVPLRetrieval, NanoClimateFEVER-VN, NanoFEVER-VN, NanoDBPedia-VN, NanoNQ-VN, NanoHotpotQA-VN, NanoMSMARCO-VN
  mteb/tasks/retrieval/vie/__init__.py
  mteb/tasks/retrieval/vie/argu_ana_vn_retrieval.py
  mteb/tasks/retrieval/vie/climate_fevervn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_android_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_gis_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_mathematica_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_physics_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_programmers_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_stats_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_tex_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_unix_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_webmasters_vn_retrieval.py
  mteb/tasks/retrieval/vie/cqa_dupstack_wordpress_vn_retrieval.py
  mteb/tasks/retrieval/vie/db_pedia_vn_retrieval.py
  mteb/tasks/retrieval/vie/fevervn_retrieval.py
  mteb/tasks/retrieval/vie/fi_qa2018_vn_retrieval.py
  mteb/tasks/retrieval/vie/green_node_table_markdown_retrieval.py
  mteb/tasks/retrieval/vie/hotpot_qavn_retrieval.py
  mteb/tasks/retrieval/vie/msmarcovn_retrieval.py
  mteb/tasks/retrieval/vie/nf_corpus_vn_retrieval.py
  mteb/tasks/retrieval/vie/nqvn_retrieval.py
  mteb/tasks/retrieval/vie/quora_vn_retrieval.py
  mteb/tasks/retrieval/vie/sci_fact_vn_retrieval.py
  mteb/tasks/retrieval/vie/scidocsvn_retrieval.py
  mteb/tasks/retrieval/vie/touche2020_vn_retrieval.py
  mteb/tasks/retrieval/vie/treccovidvn_retrieval.py
  mteb/tasks/retrieval/vie/tvpl_retrieval.py
  mteb/tasks/retrieval/vie/vie_qu_ad_retrieval.py
  mteb/tasks/retrieval/vie/zac_legal_text_retrieval.py
Due: lint, format-tasks-citations

[UPDATE] descriptive stats
  mteb/descriptive_stats/Retrieval/NanoClimateFEVER-VN.json
  mteb/descriptive_stats/Retrieval/NanoDBPedia-VN.json
  mteb/descriptive_stats/Retrieval/NanoFEVER-VN.json
  mteb/descriptive_stats/Retrieval/NanoHotpotQA-VN.json
  mteb/descriptive_stats/Retrieval/NanoMSMARCO-VN.json
  mteb/descriptive_stats/Retrieval/NanoNQ-VN.json
  mteb/descriptive_stats/Retrieval/TVPLRetrieval.json
  mteb/tasks/retrieval/vie/tvpl_retrieval.py
Due: lint, format-tasks-citations

add tests
  tests/create_meta/model_card_benchmark_gold.md
  tests/test_results/test_benchmark_results.py
Due: lint

[UPDATE] bibtext
  mteb/tasks/retrieval/vie/zac_legal_text_retrieval.py
Due: lint, format-tasks-citations

add tabulate to test dependencies
  pyproject.toml
Due: none

fix: remove duplicate line in installation.md
  docs/installation.md
Due: none

add sentence transformers models
  mteb/models/model_implementations/sentence_transformers_models.py
Due: lint

Add function for creating mock images (#3803)
  tests/mock_tasks.py
Due: lint

build: add --strict flag to mkdocs build
  Makefile
Due: none

fix: resolve invalid BibTeX keys in task citations
  mteb/tasks/classification/kur/kurdish_sentiment_classification.py
  mteb/tasks/clustering/eng/hume_wiki_cities_clustering.py
  mteb/tasks/clustering/eng/wiki_cities_clustering.py
  mteb/tasks/clustering/zho/cmteb_clustering.py
  mteb/tasks/reranking/multilingual/wikipedia_reranking_multilingual.py
  mteb/tasks/retrieval/eng/cub200_i2i_retrieval.py
Due: lint, format-tasks-citations

refine docs
  benchmark_vllm3.1
  demo/benchmark_st.py
  demo/benchmark_st3.1
  demo/benchmark_st3.py
  demo/benchmark_vllm.py
  demo/benchmark_vllm3.1
  demo/benchmark_vllm3.py
  docs/advanced_usage/vllm_wrapper.md
  docs/images/visualizations/half_precision_Inference.png
  docs/images/visualizations/unpadding.png
Due: lint

Apply suggestion from @Samoed
  docs/usage/selecting_tasks.md
Due: none

remove AGENTS.md
  AGENTS.md
Due: none

move import to top of file
  tests/test_cli.py
Due: lint

log the default cache path
  mteb/cli/build_cli.py
Due: lint

docs: remove custom benchmarks subsection
  docs/usage/selecting_tasks.md
Due: none

Improve leaderboard tests to verify actual cache paths
  tests/test_cli.py
Due: lint

docs: expand filtering section with content tabs
  docs/usage/selecting_tasks.md
Due: none

Combine leaderboard cache tests using pytest parametrize
  tests/test_cli.py
Due: lint

add jina v2
  mteb/models/model_implementations/jina_clip.py
Due: lint

fix modalities
  mteb/models/model_implementations/jina_clip.py
Due: lint

docs: fix code block indentation in content tabs
  docs/usage/selecting_tasks.md
Due: none

Update make run-leaderboard to use new CLI and remove app.py main block
  Makefile
  mteb/leaderboard/app.py
Due: lint

fix typing
  demo/benchmark_vllm3.py
  mteb/models/vllm_wrapper.py
  pyproject.toml
Due: lint

build: include docs deps in dev group
  pyproject.toml
Due: none

move type ignore
  mteb/models/vllm_wrapper.py
Due: lint

fix from comments
  mteb/models/get_model_meta.py
Due: lint

rm AGENTS/,d
  AGENTS.md
Due: none

reduce number of excepts in app.py
  mteb/leaderboard/app.py
Due: lint

feat: add theme and head parameters to leaderboard CLI
  mteb/cli/build_cli.py
Due: lint

fix: suppress leaderboard warnings on CLI launch
  mteb/cli/build_cli.py
Due: lint
