Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

refactor: drop dead peft remap, fix install hint, add n_embedding_parameters
  mteb/models/model_implementations/internvideo2_models.py
Due: lint

Add auto cast
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

Convert embedding to float32 before returning
  mteb/models/model_implementations/audio_flamingo.py
Due: lint

address review: reuse Model2VecModel, declare model2vec extra, drop citation
  mteb/models/model_implementations/cnmoro_models.py
Due: lint

fix: add av to the video extra
  pyproject.toml
Due: none

improve model_meta
  mteb/models/model_implementations/jina_models.py
Due: lint

update after frontend testing
  mteb/cache/result_cache.py
  mteb/results/benchmark_results.py
Due: lint

fix: create v2 versions of Clotho retrieval tasks with empty-query fix
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ClothoA2TRetrieval.v2.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ClothoT2ARetrieval.v2.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/clotho.py
Due: lint, format-tasks-citations

Revert "fix: create v2 versions of Clotho retrieval tasks with empty-query fix"
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ClothoA2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ClothoA2TRetrieval.v2.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ClothoT2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/ClothoT2ARetrieval.v2.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/clotho.py
Due: lint, format-tasks-citations

add sparse encoder
  mteb/models/__init__.py
  mteb/models/model_implementations/opensearch_neural_sparse_models.py
  mteb/models/model_implementations/random_baseline.py
  mteb/models/model_implementations/splade_code_models.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
  mteb/similarity_functions.py
  tests/test_models/test_model_meta.py
Due: lint

keep device map
  mteb/models/model_implementations/jina_models.py
Due: lint

model: Split jinav4 models (#5082)
  mteb/models/model_implementations/jina_models.py
Due: lint

model: Add missing requirements for nomic models
  mteb/models/model_implementations/nomic_models.py
Due: lint

fix: count symmetric STS pairs once (#4958)
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/sts.py
  tests/test_abstasks/test_sts_statistics.py
Due: lint

2.18.13
  pyproject.toml
Due: none

use device during compute
  mteb/models/model_implementations/jina_models.py
Due: lint

add pr check
  .github/workflows/pr_description_length.yml
  docs/CONTRIBUTING.md
Due: none

remove edited
  .github/workflows/pr_description_length.yml
Due: none

EmotionAnalysisPlus: drop split pin and dataset_transform per review
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
Due: lint, format-tasks-citations

fix tests
  tests/test_abstasks/test_sts_statistics.py
Due: lint

Apply suggestions from code review
  .github/workflows/pr_description_length.yml
  docs/CONTRIBUTING.md
Due: none

fix experiment kwarg pass
  mteb/models/model_implementations/jina_models.py
Due: lint

don't close pr
  .github/workflows/pr_description_length.yml
Due: none

fix tests (#5089)
  tests/test_abstasks/test_sts_statistics.py
Due: lint

switch to sentence-transformers export static-nomic-384-pten-v2-st
  mteb/models/model_implementations/cnmoro_models.py
Due: lint

fix: mock zeroshot tasks must declare the text modality
  mteb/mocks/mock_tasks/zeroshot_classification.py
Due: lint

Shorten ClothoT2ARetrieval.v2 description
  mteb/tasks/retrieval/eng/clotho.py
Due: lint, format-tasks-citations

docs: shorten ClothoA2TRetrieval.v2 description
  mteb/tasks/retrieval/eng/clotho.py
Due: lint, format-tasks-citations

update quality check
  tests/test_tasks/test_task_quality.py
Due: lint

simplify comments
  tests/test_tasks/test_task_quality.py
Due: lint

Label PRs with long descriptions
  .github/workflows/pr_description_length.yml
Due: none

Add MLX builds of Nemotron-3-Embed-1B
  mteb/models/model_implementations/nemotron_mlx_models.py
  mteb/models/model_meta.py
  mteb_mock_run_results.md
  pyproject.toml
Due: lint

model: add VideoMAE and TimeSformer video encoders
  mteb/models/model_implementations/videomae_timesformer.py
Due: lint

fix: mock zeroshot tasks must declare the text modality (#5093)
  mteb/mocks/mock_tasks/zeroshot_classification.py
Due: lint

2.18.14
  pyproject.toml
Due: none

fix metrics
  mteb/_evaluators/retrieval_metrics.py
  tests/test_evaluators/test_RetrievalEvaluator.py
Due: lint

Update .github/workflows/pr_description_length.yml
  .github/workflows/pr_description_length.yml
Due: none

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
