Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: check-json
    -   id: pretty-format-json
        args:
          - "--autofix"
          - "--indent=4"
          - "--no-sort-keys"
    -   id: end-of-file-fixer # generated a lot of changes
    -   id: trailing-whitespace
    -   id: check-toml
  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
    - id: typos
      args: ["--diff"]

  - repo: local
    hooks:
      - id: lint
        name: lint
        description: "Run 'make lint'"
        entry: make lint
        language: python
        types_or: [python]
        minimum_pre_commit_version: "2.9.2"
      - id: format-benchmarks-citations
        name: format-benchmarks-citations
        description: "Format benchmarks citations"
        entry: python scripts/format_citations.py benchmarks --error-on-change
        language: system
        files: 'mteb/benchmarks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"
      - id: format-tasks-citations
        name: format-tasks-citations
        description: "Format tasks citations"
        entry: python scripts/format_citations.py tasks --error-on-change
        language: system
        files: 'mteb/tasks/'
        pass_filenames: false
        types_or: [ python ]
        minimum_pre_commit_version: "2.9.2"

2.10.0
  pyproject.toml
Due: none

add Matryoshka support
  mteb/models/get_model_meta.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_meta.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

raise error
  mteb/models/model_meta.py
Due: lint

upd embed_dim in leaderboard
  mteb/benchmarks/_create_table.py
Due: lint, format-benchmarks-citations

update path for zeroshot classification templates
  pyproject.toml
Due: none

fix path for zeroshot classification template
  pyproject.toml
Due: none

fix tests
  mteb/models/model_implementations/random_baseline.py
Due: lint

Update zeroshot classification template path for `pyproject.toml` (#4171)
  pyproject.toml
Due: none

fix prompt names
  mteb/models/model_implementations/gritlm_models.py
  mteb/tasks/classification/nld/dutch_book_review_sentiment_classification.py
  mteb/tasks/classification/nld/dutch_cola_classification.py
  mteb/tasks/classification/nld/dutch_government_bias_classification.py
  mteb/tasks/classification/nld/dutch_news_articles_classification.py
  mteb/tasks/classification/nld/dutch_sarcastic_headlines_classification.py
  mteb/tasks/classification/nld/iconclass_classification.py
  mteb/tasks/classification/nld/open_tender_classification.py
  mteb/tasks/classification/nld/vaccin_chat_nl_classification.py
  mteb/tasks/clustering/nld/dutch_news_articles_clustering_p2p.py
  mteb/tasks/clustering/nld/dutch_news_articles_clustering_s2s.py
  mteb/tasks/clustering/nld/iconclass_clustering_s2s.py
  mteb/tasks/clustering/nld/open_tender_clustering_p2p.py
  mteb/tasks/clustering/nld/open_tender_clustering_s2s.py
  mteb/tasks/clustering/nld/vabb_clustering_p2p.py
  mteb/tasks/clustering/nld/vabb_clustering_s2s.py
  mteb/tasks/multilabel_classification/nld/covid_disinformation_nl_multi_label_classification.py
  mteb/tasks/multilabel_classification/nld/vabb_multi_label_classification.py
  mteb/tasks/pair_classification/nld/sick_nl_pair_classification.py
  mteb/tasks/pair_classification/nld/xlwic_nl_pair_classification.py
  mteb/tasks/sts/nld/sick_nl_sts.py
  pyproject.toml
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

fix pyproject
  pyproject.toml
Due: none

rollback pyproject.toml
  pyproject.toml
Due: none

First draft of LateOn code models definition
  mteb/models/model_implementations/pylate_models.py
Due: lint

Fix reference for LateOn-Code
  mteb/models/model_implementations/pylate_models.py
Due: lint

Fix reference LateOn code edge pretrain
  mteb/models/model_implementations/pylate_models.py
Due: lint

fix: prompt type for non-retrieval types (#4174)
  mteb/models/model_implementations/gritlm_models.py
  mteb/tasks/classification/nld/dutch_book_review_sentiment_classification.py
  mteb/tasks/classification/nld/dutch_cola_classification.py
  mteb/tasks/classification/nld/dutch_government_bias_classification.py
  mteb/tasks/classification/nld/dutch_news_articles_classification.py
  mteb/tasks/classification/nld/dutch_sarcastic_headlines_classification.py
  mteb/tasks/classification/nld/iconclass_classification.py
  mteb/tasks/classification/nld/open_tender_classification.py
  mteb/tasks/classification/nld/vaccin_chat_nl_classification.py
  mteb/tasks/clustering/nld/dutch_news_articles_clustering_p2p.py
  mteb/tasks/clustering/nld/dutch_news_articles_clustering_s2s.py
  mteb/tasks/clustering/nld/iconclass_clustering_s2s.py
  mteb/tasks/clustering/nld/open_tender_clustering_p2p.py
  mteb/tasks/clustering/nld/open_tender_clustering_s2s.py
  mteb/tasks/clustering/nld/vabb_clustering_p2p.py
  mteb/tasks/clustering/nld/vabb_clustering_s2s.py
  mteb/tasks/multilabel_classification/nld/covid_disinformation_nl_multi_label_classification.py
  mteb/tasks/multilabel_classification/nld/vabb_multi_label_classification.py
  mteb/tasks/pair_classification/nld/sick_nl_pair_classification.py
  mteb/tasks/pair_classification/nld/xlwic_nl_pair_classification.py
  mteb/tasks/sts/nld/sick_nl_sts.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

2.10.1
  pyproject.toml
Due: none

add image to vdr
  mteb/models/instruct_wrapper.py
  mteb/models/model_implementations/vdr_models.py
Due: lint

upd lotte comment
  mteb/tasks/retrieval/eng/lotte_retrieval.py
Due: lint, format-tasks-citations

fix 3.10
  mteb/models/model_implementations/vdr_models.py
Due: lint

fix: add `hit_rate` to retrieval metrics and remove `cv_recall` (#4142)
  mteb/_evaluators/retrieval_metrics.py
  mteb/abstasks/retrieval.py
  mteb/tasks/retrieval/eng/audio_set_strong.py
  mteb/tasks/retrieval/eng/blink_it2i_retrieval.py
  mteb/tasks/retrieval/eng/blink_it2t_retrieval.py
  mteb/tasks/retrieval/eng/clotho.py
  mteb/tasks/retrieval/eng/cmu_arctic.py
  mteb/tasks/retrieval/eng/cub200_i2i_retrieval.py
  mteb/tasks/retrieval/eng/emo_vdb.py
  mteb/tasks/retrieval/eng/encyclopedia_vqa_it2it_retrieval.py
  mteb/tasks/retrieval/eng/forb_i2i_retrieval.py
  mteb/tasks/retrieval/eng/giga_speech.py
  mteb/tasks/retrieval/eng/hi_fi_tts.py
  mteb/tasks/retrieval/eng/image_co_de_t2i_retrieval.py
  mteb/tasks/retrieval/eng/jl_corpus.py
  mteb/tasks/retrieval/eng/lass.py
  mteb/tasks/retrieval/eng/libri_tts.py
  mteb/tasks/retrieval/eng/llava_it2t_retrieval.py
  mteb/tasks/retrieval/eng/lotte_retrieval.py
  mteb/tasks/retrieval/eng/macs.py
  mteb/tasks/retrieval/eng/met_i2i_retrieval.py
  mteb/tasks/retrieval/eng/okvqa_it2t_retrieval.py
  mteb/tasks/retrieval/eng/re_mu_q_it2t_retrieval.py
  mteb/tasks/retrieval/eng/rp2k_i2i_retrieval.py
  mteb/tasks/retrieval/eng/sketchy_i2i_retrieval.py
  mteb/tasks/retrieval/eng/sop_i2i_retrieval.py
  mteb/tasks/retrieval/eng/spoken_s_qu_ad.py
  mteb/tasks/retrieval/eng/stanford_cars_i2i_retrieval.py
  mteb/tasks/retrieval/multilingual/audio_caps.py
  mteb/tasks/retrieval/multilingual/common_voice.py
  mteb/tasks/retrieval/multilingual/fleurs.py
  mteb/tasks/retrieval/multilingual/google_svq.py
  mteb/tasks/retrieval/zxx/music_caps.py
  mteb/tasks/retrieval/zxx/sound_descs.py
  mteb/tasks/retrieval/zxx/urban_sound8k_retrieval.py
  mteb/types/_result.py
  tests/test_evaluators/test_RetrievalEvaluator.py
Due: lint, format-tasks-citations

2.10.2
  pyproject.toml
Due: none

format
  mteb/benchmarks/benchmark.py
Due: lint, format-benchmarks-citations

fix: Add repr to benchmarks to avoid excessive prints (#4180)
  mteb/benchmarks/benchmark.py
  mteb/benchmarks/get_benchmark.py
Due: lint, format-benchmarks-citations

fix: Enable OCR'ed text from images
  mteb/_create_dataloaders.py
  mteb/models/sentence_transformer_wrapper.py
Due: lint

updated typing
  mteb/types/_encoder_io.py
Due: lint

format
  mteb/types/_encoder_io.py
Due: lint

2.10.3
  pyproject.toml
Due: none

Update mteb/tasks/classification/multilingual/injongo_intent.py
  mteb/tasks/classification/multilingual/injongo_intent.py
Due: lint, format-tasks-citations

Update mteb/tasks/multilabel_classification/multilingual/sib200_14classes.py
  mteb/tasks/multilabel_classification/multilingual/sib200_14classes.py
Due: lint, format-tasks-citations

model: update AfriE5 model implementation and revision
  mteb/models/model_implementations/e5_instruct.py
Due: lint

dataset: refactor AfriHateClassification to v2 format
  mteb/tasks/classification/multilingual/afri_hate_classification.py
Due: lint, format-tasks-citations

dataset: refactor KinNewsClassification to v2 format
  mteb/tasks/classification/multilingual/kin_news_classification.py
Due: lint, format-tasks-citations

dataset: refactor InjongoIntent to v2 format and add stats
  mteb/descriptive_stats/Classification/InjongoIntent.json
  mteb/tasks/classification/multilingual/injongo_intent.py
Due: lint, format-tasks-citations

dataset: optimize and standardize AfriSentiClassification
  mteb/tasks/classification/multilingual/afri_senti_classification.py
Due: lint, format-tasks-citations

dataset: refactor AfriXNLI to v2 format and add stats
  mteb/descriptive_stats/PairClassification/AfriXNLI.json
  mteb/tasks/pair_classification/multilingual/afri_xnli.py
Due: lint, format-tasks-citations

dataset: refactor SIB200_14Classes to single-label and add stats
  mteb/descriptive_stats/Classification/SIB200-14Classes.json
  mteb/tasks/classification/multilingual/__init__.py
  mteb/tasks/classification/multilingual/sib200_14classes.py
  mteb/tasks/multilabel_classification/multilingual/__init__.py
  mteb/tasks/multilabel_classification/multilingual/sib200_14classes.py
Due: lint, format-tasks-citations

dataset: refactor EmotionAnalysisPlus to v2 format and add stats
  mteb/descriptive_stats/MultilabelClassification/EmotionAnalysisPlus.json
  mteb/tasks/multilabel_classification/multilingual/emotion_analysis_plus.py
Due: lint, format-tasks-citations
