Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

add v2a and a2v tasks to VALOR-32K
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/valor_32k_retrieval.py
Due: lint, format-tasks-citations

add v2a and a2v tasks to VATEX
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/vatex_retrieval.py
Due: lint, format-tasks-citations

add 'Cross-Modal Retrieval' to TaskSubtype allowed values
  mteb/abstasks/task_metadata.py
Due: lint

Add Axiotic Ogma model implementations
  mteb/models/model_implementations/axiotic_models.py
Due: lint

a but refactor
  mteb/_create_dataloaders.py
Due: lint

add to ignore newer datasets
  tests/test_tasks/test_metadata.py
Due: lint

Fix an incorrect retrieval example in docs
  docs/contributing/adding_a_dataset.md
Due: none

format
  docs/contributing/adding_a_dataset.md
Due: none

Fix an incorrect retrieval example in docs (#4496)
  docs/contributing/adding_a_dataset.md
Due: none

add v2a and a2v tasks for valid video retrieval datasets (#4494)
  mteb/abstasks/task_metadata.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/didemo_retrieval.py
  mteb/tasks/retrieval/eng/msr_vtt.py
  mteb/tasks/retrieval/eng/shot2story_retrieval.py
  mteb/tasks/retrieval/eng/valor_32k_retrieval.py
  mteb/tasks/retrieval/eng/vatex_retrieval.py
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
Due: lint, format-tasks-citations

Format Axiotic Ogma model implementation
  mteb/models/model_implementations/axiotic_models.py
Due: lint

downsample dataset
  mteb/tasks/classification/eng/ave_dataset_classification.py
Due: lint, format-tasks-citations

init, classification, and video classification class for music avqa
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/music_avqa_classification.py
Due: lint, format-tasks-citations

fix lint error
  mteb/tasks/classification/eng/ave_dataset_classification.py
Due: lint, format-tasks-citations

adding license info
  mteb/tasks/classification/eng/music_avqa_classification.py
Due: lint, format-tasks-citations

meld classification and video classification class + init
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/meld_classification.py
Due: lint, format-tasks-citations

remove duplicate MELDClassification from init
  mteb/tasks/classification/eng/__init__.py
Due: lint, format-tasks-citations

add downsampling
  mteb/tasks/classification/eng/meld_classification.py
Due: lint, format-tasks-citations

remove ave dataset from init
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/ave_dataset_classification.py
Due: lint, format-tasks-citations

remove trailing changes
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/ravdess_av_classification.py
  mteb/tasks/zeroshot_classification/eng/ravdess.py
Due: lint, format-tasks-citations

create worldsense classification, video classification classes and init
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/worldsense_classification.py
Due: lint, format-tasks-citations

add date and description metadata
  mteb/tasks/classification/eng/worldsense_classification.py
Due: lint, format-tasks-citations

avmeme_exam dataset classification and video classification class + init
  mteb/tasks/classification/eng/__init__.py
  mteb/tasks/classification/eng/avmeme_exam_classification.py
Due: lint, format-tasks-citations

fix lint issues
  mteb/tasks/classification/eng/__init__.py
Due: lint, format-tasks-citations

add v2a and a2v tasks for AudioCaps-AV, VGGSound-AV, AVMeme-Exam, Panda-70M
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
  mteb/tasks/retrieval/eng/avmeme_exam_retrieval.py
  mteb/tasks/retrieval/eng/panda70m_retrieval.py
  mteb/tasks/retrieval/eng/vggsound_av_retrieval.py
Due: lint, format-tasks-citations

remove v2a and a2v tasks from Panda-70M (captioning dataset, not AV-aligned)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/panda70m_retrieval.py
Due: lint, format-tasks-citations

fix ruff formatting in avmeme_exam_retrieval.py
  mteb/tasks/retrieval/eng/avmeme_exam_retrieval.py
Due: lint, format-tasks-citations

add remaining v2a and a2v tasks for video retrieval datasets (#4504)
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
  mteb/tasks/retrieval/eng/avmeme_exam_retrieval.py
  mteb/tasks/retrieval/eng/vggsound_av_retrieval.py
Due: lint, format-tasks-citations

refactor: rewrite Tevatron OmniEmbed as ST wrapper, rename file
  mteb/models/model_implementations/omni_embed_models.py
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

add vt2a and at2v retrieval tasks for 9 video-audio datasets
  mteb/abstasks/task_metadata.py
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/audiocaps_av_retrieval.py
  mteb/tasks/retrieval/eng/avmeme_exam_retrieval.py
  mteb/tasks/retrieval/eng/didemo_retrieval.py
  mteb/tasks/retrieval/eng/msr_vtt.py
  mteb/tasks/retrieval/eng/shot2story_retrieval.py
  mteb/tasks/retrieval/eng/valor_32k_retrieval.py
  mteb/tasks/retrieval/eng/vatex_retrieval.py
  mteb/tasks/retrieval/eng/vggsound_av_retrieval.py
  mteb/tasks/retrieval/eng/youcook2_retrieval.py
Due: lint, format-tasks-citations

fix import sort order in __init__.py (ruff I001)
  mteb/tasks/retrieval/eng/__init__.py
Due: lint, format-tasks-citations

fix: update revision hash and remove redundant attn_implementation
  mteb/models/model_implementations/tevatron_omni_embed_models.py
Due: lint

fix: rework gemini using asyncio
  mteb/models/model_implementations/google_embeddinggemma.py
  mteb/models/model_implementations/google_gemini.py
  mteb/models/model_implementations/google_models.py
  mteb/models/model_implementations/google_text_embedding.py
Due: lint

fix: Allow kwargs in `push_dataset_to_hub` to allow pushing a private dataset
  mteb/abstasks/abstask.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/image/image_text_pair_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
  mteb/abstasks/text/bitext_mining.py
  mteb/abstasks/zeroshot_classification.py
Due: lint

fix lint
  mteb/abstasks/classification.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
Due: lint

[MVEB] Add video statistics (#4456)
  mteb/_evaluators/any_sts_evaluator.py
  mteb/_evaluators/clustering_evaluator.py
  mteb/_evaluators/pair_classification_evaluator.py
  mteb/_evaluators/zeroshot_classification_evaluator.py
  mteb/abstasks/_statistics_calculation.py
  mteb/abstasks/classification.py
  mteb/abstasks/clustering.py
  mteb/abstasks/clustering_legacy.py
  mteb/abstasks/multilabel_classification.py
  mteb/abstasks/pair_classification.py
  mteb/abstasks/regression.py
  mteb/abstasks/retrieval.py
  mteb/abstasks/sts.py
  mteb/abstasks/task_metadata.py
  mteb/abstasks/zeroshot_classification.py
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MSRVTTT2V.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MSRVTTV2T.json
  mteb/types/_metadata.py
  mteb/types/statistics.py
  pyproject.toml
  tests/mock_tasks.py
  tests/task_grid.py
  tests/test_abstasks/test_task_metadata.py
  tests/test_evaluate.py
  tests/test_tasks/test_metadata.py
Due: lint

fix lint
  mteb/models/model_implementations/tipsv2_models.py
Due: lint

fix ci
  tests/test_tasks/test_metadata.py
Due: lint

Use AutoModel for Ogma wrapper
  mteb/models/model_implementations/axiotic_models.py
Due: lint

fix ci after video statistics merge (#4510)
  tests/test_tasks/test_metadata.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
