Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

Use standard encoder protocol
  mteb/models/model_implementations/bge_structural_separator.py
Due: lint

fix: avoid stacking variable-length tensors in JinaV4Wrapper.encode (#5050)
  mteb/models/model_implementations/jina_models.py
Due: lint

2.18.8
  pyproject.toml
Due: none

model: Add Bekko embedding models (#5043)
  mteb/models/model_implementations/bekko_models.py
Due: lint

model: Add mDenseOn/mLateOn definitions
  mteb/models/model_implementations/denseon_models.py
  mteb/models/model_implementations/pylate_models.py
Due: lint

[MOEB] Add MIAO-based datasets (#5001)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MIAOA2IRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/MIAOI2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/miao_retrieval.py
  scripts/data/miao_retrieval/create_data.py
Due: lint, format-tasks-citations

[MOEB] Add several FLARE-based tasks (#4991)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FLAREAudioT2VARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FLAREUnifiedT2VARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/FLAREVisionT2VRetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/flare_retrieval.py
  scripts/data/flare_retrieval/create_data.py
Due: lint, format-tasks-citations

model: Add mDenseOn/mLateOn definitions (#5048)
  mteb/models/model_implementations/denseon_models.py
  mteb/models/model_implementations/pylate_models.py
Due: lint

[MOEB] Add dataset SHS100K (#5045)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/SHS100KA2ARetrieval.json
  mteb/tasks/retrieval/eng/__init__.py
  mteb/tasks/retrieval/eng/covers80_retrieval.py
  mteb/tasks/retrieval/eng/shs100k_retrieval.py
  pyproject.toml
  scripts/data/shs100k_retrieval/create_data.py
  scripts/data/shs100k_retrieval/create_subset.py
Due: lint, format-tasks-citations

adding n_embedding parameter
  mteb/models/model_implementations/semantic_router_multimodal_models.py
Due: lint

remove processing
  mteb/descriptive_stats/Classification/AfriSentiLangClassification.json
  mteb/tasks/classification/multilingual/afri_senti_lang_classification.py
  mteb/tasks/multichoice/eng/mmvu.py
  tests/test_tasks/test_dataset_on_hf.py
Due: lint, format-tasks-citations

format
  mteb/similarity_functions.py
Due: lint

fix: upcast reranker logits to float32 before softmax (HPS) (#4934)
  mteb/models/model_implementations/qwen3_reranker.py
  mteb/models/model_implementations/rerankers_monot5_based.py
Due: lint

use benchmark/task combo
  tests/test_benchmarks/test_reference_models.py
Due: lint

format citations
  mteb/tasks/multichoice/eng/mmvu.py
  mteb/tasks/retrieval/eng/shs100k_retrieval.py
Due: lint, format-tasks-citations

2.18.9
  pyproject.toml
Due: none

fix: compute relevance scores in float32 to avoid low-precision ties (HPS) (#4933)
  mteb/similarity_functions.py
  tests/test_similarity_functions.py
Due: lint

model: Add BGE Small Structural Separator model implementation (#4928)
  mteb/models/model_implementations/bge_structural_separator.py
Due: lint

ci: test reference models on all benchmarks (#5030)
  mteb/tasks/multichoice/eng/mmvu.py
  mteb/tasks/retrieval/eng/shs100k_retrieval.py
  tests/test_benchmarks/test_reference_models.py
Due: lint, format-tasks-citations

2.18.10
  pyproject.toml
Due: none

fix low dependency
  tests/test_similarity_functions.py
Due: lint

fix low dependency (#5053)
  tests/test_similarity_functions.py
Due: lint

2.18.11
  pyproject.toml
Due: none

dataset: Repoint dead dataset to mteb's supported for AfriSentiLangClassification (#4912)
  mteb/descriptive_stats/Classification/AfriSentiLangClassification.json
  mteb/tasks/classification/multilingual/afri_senti_lang_classification.py
  tests/test_tasks/test_dataset_on_hf.py
Due: lint, format-tasks-citations

Switch single-label SciRepEval tasks to cross-validation
  mteb/descriptive_stats/Classification/SciRepEvalBiomimicryClassification.json
  mteb/descriptive_stats/Classification/SciRepEvalDRSMClassification.json
  mteb/descriptive_stats/Classification/SciRepEvalMeSHDescriptorsClassification.json
  mteb/tasks/classification/eng/scirepeval_biomimicry_classification.py
  mteb/tasks/classification/eng/scirepeval_drsm_classification.py
  mteb/tasks/classification/eng/scirepeval_mesh_descriptors_classification.py
Due: lint, format-tasks-citations

fix large model
  mteb/models/model_implementations/semantic_router_multimodal_models.py
  pyproject.toml
Due: lint

fix: pass dtype via model_kwargs and drop invalid normalized kwarg for AfriE5-Large-instruct
  mteb/models/model_implementations/e5_instruct.py
Due: lint

fix lint
  mteb/models/model_implementations/semantic_router_multimodal_models.py
Due: lint

robustness auto model or model
  mteb/models/model_implementations/semantic_router_multimodal_models.py
Due: lint

Add perplexity-ai/pplx-embed-v1-late-0.6b model meta (#4813)
  mteb/models/model_implementations/pylate_models.py
Due: lint

MTEB(kor): mark v1 superseded by v2, describe v1->v2 changes
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Register dragonkue/multilingual-e5-small-ko-v2 and sionic-ai/comsat-embed-ko-8b-preview
  mteb/models/model_implementations/korean_models.py
  mteb/models/model_implementations/sionic_models.py
Due: lint

docs: add multiple choice retrieval task example (#4931)
  docs/contributing/adding_a_dataset.md
Due: none

Address review: mark e5-small-ko superseded, trim comsat-ko comment
  mteb/models/model_implementations/korean_models.py
  mteb/models/model_implementations/sionic_models.py
Due: lint

model: Add dragonkue/multilingual-e5-small-ko-v2 and sionic-ai/comsat-e… (#5054)
  mteb/models/model_implementations/korean_models.py
  mteb/models/model_implementations/sionic_models.py
Due: lint

benchmark: Expand MTEB(kor, v*) with retrieval/STS/NLI/clustering tasks (#4870)
  mteb/benchmarks/_leaderboard_menu.py
  mteb/benchmarks/benchmarks/__init__.py
  mteb/benchmarks/benchmarks/benchmarks.py
  mteb/models/model_implementations/bge_models.py
  mteb/models/model_implementations/bm25.py
  mteb/models/model_implementations/jina_models.py
  mteb/models/model_implementations/ru_sentence_models.py
  mteb/models/model_implementations/vi_vn_models.py
Due: lint, format-benchmarks-citations

Move data to mteb HF repo (mmvu, covers80, flare, miao, seavl, shs100k)
  mteb/tasks/multichoice/eng/mmvu.py
  mteb/tasks/retrieval/eng/covers80_retrieval.py
  mteb/tasks/retrieval/eng/flare_retrieval.py
  mteb/tasks/retrieval/eng/miao_retrieval.py
  mteb/tasks/retrieval/eng/sea_vl_crawling_retrieval.py
  mteb/tasks/retrieval/eng/shs100k_retrieval.py
Due: lint, format-tasks-citations

model: add Qwen3-VL-Reranker (2B, 8B)
  mteb/models/model_implementations/qwen3_vl_reranker.py
Due: lint

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
