Repository embeddings-benchmark/mteb: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, format-benchmarks-citations, format-tasks-citations

lint:
  name: lint
  description: Run 'make lint'
  entry: make lint
  language: python
  minimum_pre_commit_version: 2.9.2

format-benchmarks-citations:
  name: format-benchmarks-citations
  description: Format benchmarks citations
  entry: python scripts/format_citations.py benchmarks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

format-tasks-citations:
  name: format-tasks-citations
  description: Format tasks citations
  entry: python scripts/format_citations.py tasks --error-on-change
  language: system
  pass_filenames: false
  minimum_pre_commit_version: 2.9.2

fix jam alt
  mteb/tasks/audio/any_2_any_retrieval/multilingual/jam_alt.py
Due: lint, format-tasks-citations

remove processing of audio caps
  mteb/tasks/audio/any_2_any_retrieval/multilingual/audio_caps.py
Due: lint, format-tasks-citations

fix clotho
  mteb/tasks/audio/any_2_any_retrieval/eng/clotho.py
Due: lint, format-tasks-citations

add test
  tests/test_tasks/test_load_data.py
Due: lint

fix: saving aggregated tasks (#3915)
  mteb/evaluate.py
Due: lint

2.7.6
  pyproject.toml
Due: none

model: Adding voyage-4-large (2048d) model configs (#3970)
  mteb/models/model_implementations/voyage_models.py
Due: lint

fix: Ensure that retrieval tasks only evaluate on specified subsets instead of all (#3946)
  mteb/abstasks/retrieval.py
  mteb/abstasks/retrieval_dataset_loaders.py
  tests/test_tasks/test_load_data.py
Due: lint

Update mteb/results/task_result.py
  mteb/results/task_result.py
Due: lint

change import to high-level
  mteb/results/model_result.py
Due: lint

add correct parameters for nomic-ai/nomic-embed-text-v2-moe
  mteb/models/model_implementations/nomic_models.py
Due: lint

fix: Add `fill_missing` parameter in `get_model_meta` (#3801)
  mteb/models/get_model_meta.py
  tests/test_models/test_model_meta.py
Due: lint

fix: leaderboard Nan handling (#3965)
  mteb/benchmarks/_create_table.py
  mteb/leaderboard/app.py
  mteb/results/task_result.py
Due: lint, format-benchmarks-citations

2.7.7
  pyproject.toml
Due: none

fix: Filled active_parameter_overiride for GritLM/GritLM-8x7B nomic-ai/nomic-embed-text-v2-moe (#3967)
  mteb/models/model_implementations/gritlm_models.py
  mteb/models/model_implementations/nomic_models.py
Due: lint

upd names
  mteb/tasks/audio/any_2_any_retrieval/multilingual/__init__.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/common_voice.py
Due: lint, format-tasks-citations

Filtered VocPopuliAccentPairCls Dataset
  mteb/tasks/audio/audio_pair_classification/eng/vox_populi_accent.py
Due: lint, format-tasks-citations

rename stats
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoiceMini17A2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoiceMini17T2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoiceMini21A2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoiceMini21T2ARetrieval.json
Due: none

2.7.8
  pyproject.toml
Due: none

Update MAEB benchmarks for threshold=0.85 task selection
  mteb/benchmarks/benchmarks/benchmarks.py
  scripts/analyze_maeb_task_selection.py
  scripts/generate_maeb_latex_table.py
Due: lint, format-benchmarks-citations

Format lco_embedding_models.py with ruff
  mteb/models/model_implementations/lco_embedding_models.py
Due: lint

Add mini to common voice tasks (#3964)
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoiceMini17A2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoiceMini17T2ARetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoiceMini21A2TRetrieval.json
  mteb/descriptive_stats/Image/Any2AnyRetrieval/CommonVoiceMini21T2ARetrieval.json
  mteb/tasks/audio/any_2_any_retrieval/multilingual/__init__.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/common_voice.py
Due: lint, format-tasks-citations

add test for emtpy len
  tests/test_tasks/test_task_quality.py
Due: lint

Move torchaudio import inside encode method
  mteb/models/model_implementations/lco_embedding_models.py
Due: lint

fix - Generate a fallback session ID based on request fingerprint
  mteb/leaderboard/app.py
Due: lint

fix subset loading
  mteb/tasks/audio/any_2_any_retrieval/multilingual/common_voice.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/fleurs.py
Due: lint, format-tasks-citations

Reupload tasks with trust remote code (#3961)
  mteb/tasks/audio/any_2_any_retrieval/multilingual/fleurs.py
  mteb/tasks/audio/audio_multilabel_classification/zxx/bird_set.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/ravdess.py
  mteb/tasks/audio/audio_zeroshot_classification/eng/speech_commands.py
  mteb/tasks/audio/clustering/eng/voice_gender.py
  tests/test_tasks/test_metadata.py
Due: lint, format-tasks-citations

add tqdm
  mteb/tasks/audio/any_2_any_retrieval/multilingual/fleurs.py
Due: lint, format-tasks-citations

Update Leaderboard - Remove Memory Usage column and Add active Parameters column
  mteb/benchmarks/_create_table.py
  mteb/leaderboard/figures.py
  mteb/leaderboard/table.py
  mteb/leaderboard/text_segments.py
Due: lint, format-benchmarks-citations

Add model metadata for nomic-embed-code
  mteb/models/model_implementations/nomic_models.py
Due: lint

[MAEB] Msclap Eval Error Fix (#3943)
  mteb/models/model_implementations/msclap_models.py
Due: lint

[MAEB] Filtered VoxPopuliAccentPairCls Dataset (#3976)
  mteb/tasks/audio/audio_pair_classification/eng/vox_populi_accent.py
Due: lint, format-tasks-citations

[MAEB] Speedup SVQ, Common voice, Clotho, Fleurs datasets loading (#3971)
  mteb/tasks/audio/any_2_any_retrieval/eng/clotho.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/audio_caps.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/common_voice.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/fleurs.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/google_svq.py
  mteb/tasks/audio/any_2_any_retrieval/multilingual/jam_alt.py
Due: lint, format-tasks-citations

upd voice gender
  mteb/descriptive_stats/AudioClustering/VoiceGenderClustering.json
Due: none

update statistic
  mteb/descriptive_stats/AudioPairClassification/VoxPopuliAccentPairClassification.json
  tests/test_tasks/test_task_quality.py
Due: lint

[MAEB] Find tasks with empty samples (#3978)
  mteb/descriptive_stats/AudioClustering/VoiceGenderClustering.json
  mteb/descriptive_stats/AudioPairClassification/VoxPopuliAccentPairClassification.json
  tests/test_tasks/test_task_quality.py
Due: lint

typo
  mteb/benchmarks/benchmarks/benchmarks.py
Due: lint, format-benchmarks-citations

Add English and Multilingual average columns to MAEB table
  mteb/benchmarks/benchmarks/benchmarks.py
  scripts/generate_maeb_latex_table.py
Due: lint, format-benchmarks-citations

Path conditions:
  lint: any of: \.py$
  format-benchmarks-citations: any of: mteb/benchmarks/ and \.py$
  format-tasks-citations: any of: mteb/tasks/ and \.py$
